<h6>Songs</h6>
<div class='table-responsive'>
  <table class='table table-hover table-sm'>
    <thead class='thead-light'>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.sortedSongs as |song|}}
        <tr>
          <td>
            <PowerSelect
              @options={{this.chartsList}}
              @selected={{song}}
              @onChange={{perform this.autosave song}}
              @placeholder="Choose Chart Title"
              @searchField='title'
              @allowClear={{false}}
              @disabled={{this.isDisabled}}
              as |chart|
            >
              Song {{song.num}}: {{chart.title}}
            </PowerSelect>
          </td>
        </tr>
      {{else}}
        <tr>
          <td>(No songs.)</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>