{{#if (eq model.status 'Verified')}}
  {{!-- Points: {{model.sumSongs}} --}}
{{/if}}
<ul class='list-inline'>
  <li>Grid:  {{#if model.grid.onstage}}{{moment-format model.grid.onstage "HH:mm"}}{{else}}N/A{{/if}}</li>
  <li>Actual:  {{moment-format model.actualStart "HH:mm"}}</li>
  {{!-- <li>Delta:  {{moment-diff model.slot.onstage model.actual_start}}</li> --}}
</ul>
