{{#if (eq model.status 'Verified')}}
  {{!-- Points: {{model.sumSongs}} --}}
{{/if}}
<ul class='list-inline'>
  <li>Grid:  {{#if model.grid.onstage}}{{moment-format model.grid.onstage "HH:mm"}}{{else}}N/A{{/if}}</li>
  <li>Actual:  {{moment-format model.actualStart "HH:mm"}}</li>
  {{!-- <li>Delta:  {{moment-diff model.slot.onstage model.actual_start}}</li> --}}
  {{!-- <li>
    {{input
      class='form-control text-right'
      type='tel'
      value=model.mos
      min=0
      max=100
      placeholder='Participants on Stage'
      change=(perform autosave value='target.value')
    }}
  </li> --}}
</ul>



<p>
  {{#if (eq model.status 'Verified')}}
    Competitor Scoring Analysis (PDF):&nbsp;<a href='{{model.competitor.csa}}'>{{fa-icon 'file-pdf-o'}}</a>
  {{else}}
    (Competitor Scoring Analysis will be available when the Appearance is Verified.)
  {{/if}}
</p>
