
<section>
  {{#if (eq this.model.kind 'Quartet')}}
    Participants: {{this.model.participants}}
  {{else}}
    Director(s): {{this.model.participants}}
  {{/if}}
</section>

<div class='form-inline'>
  <div class='form-group d-inline-block'>
    <input type="text" value={{if this.model.onstage (moment-format this.model.onstage 'HH:mm') 'Grid Time N/A'}} disabled={{true}} placeholder='Grid Time N/A' />
  </div>
  <div class='form-group d-inline-block'>
    <input type="text" value={{if this.model.actualStart (moment-format this.model.actualStart 'HH:mm') 'Actual Start Time'}} disabled={{true}} placeholder='Actual Start Time' />
  </div>
  <div class='form-group d-inline-block'>
    <input type="text" value={{if this.model.actualFinish (moment-format this.model.actualFinish 'HH:mm') 'Actual Finish Time'}} disabled={{true}} placeholder='Actual Finish Time' />
  </div>
  {{#if this.model.actualStart}}
    <div class='form-group'>
      &nbsp;&nbsp;&nbsp;{{!-- Delta:  {{moment-diff this.model.onstage this.model.actualStart precision='minutes'}} Minutes --}}
    </div>
  {{/if}}
</div>
{{#if (eq this.model.round.sessionKind 'Chorus')}}
  <br>
  <div class='form-inline row'>
    <div class='form-group col'>
      <label class="mr-2 col-form-label">Participants on Stage:</label>
      {{input
        class='form-control col-sm-1 text-right'
        type='tel'
        value=this.model.pos
        min=0
        disabled=isDisabled
        max=200
        key-press=(perform this.autosave value='target.value')
      }}
    </div>
  </div>
{{/if}}