<h6>
  Scores
</h6>
 <div class='table-responsive'>
  <table class='table table-hover table-sm'>
    <thead class='thead-light'>
      <tr>
        <th>
          Panelist
        </th>
        <th>
          Category
        </th>
        <th>
          Kind
        </th>
        <th class='text-center'>
          Num
        </th>
        <th class='text-right'>
          Points
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedPanelists as |panelist|}}
        <tr class={{panelist.rowClass}}>
          <td class='align-middle panelest-scoretext'>{{panelist.name}}</td>
          <td class='align-middle panelest-scoretext'>{{panelist.category}}</td>
          <td class='align-middle panelest-scoretext'>{{panelist.kind}}</td>
          <td class='align-middle panelest-scoretext text-center'>{{panelist.num}}</td>
          <td class='max-score'>{{panelist-scores model=panelist appearance=model}}</td>
        </tr>
      {{else}}
        <tr>
          (No panelists)
        </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        {{!-- <td colspan=4 class='text-right'>{{model.sumSongs}}</td> --}}
      </tr>
    </tfoot>
  </table>
</div>