
<section>
  {{cloudinary-image model.imageId (hash height=200) class='img-fluid img-rounded'}}<br>
  {{#if (eq model.kind 'Quartet')}}
    Participants: {{model.participants}}
  {{else}}
    Director(s): {{model.participants}}
  {{/if}}
</section>

<div class='form-inline'>
  <div class='form-group'>
    {{bs-datetimepicker
      date=model.onstage
      format="HH:mm"
      showIcon=true
      isTime=true
      disabled=true
      placeholder='Grid Time N/A'
    }}
  </div>
  <div class='form-group'>
    {{bs-datetimepicker
      date=model.actualStart
      format="HH:mm"
      showIcon=true
      isTime=true
      disabled=true
      placeholder='Actual Start Time'
    }}
  </div>
  <div class='form-group'>
    {{bs-datetimepicker
      date=model.actualFinish
      format="HH:mm"
      showIcon=true
      isTime=true
      disabled=true
      placeholder='Actual Finish Time'
    }}
  </div>
  {{#if model.actualStart}}
    <div class='form-group'>
      &nbsp;&nbsp;&nbsp;{{!-- Delta:  {{moment-diff model.onstage model.actualStart precision='minutes'}} Minutes --}}
    </div>
  {{/if}}
</div>
{{#if (eq model.round.sessionKind 'Chorus')}}
  <br>
  <div class='form-inline'>
    <div class='form-group'>
      {{input
        class='form-control text-right'
        type='tel'
        value=model.pos
        min=0
        disabled=model.isDisabled
        max=200
        placeholder='Participants on Stage'
        key-press=(perform autosave value='target.value')
      }}
    </div>
  </div>
{{/if}}