<BsButton
  @type='danger'
  @disabled={{false}}
  @onClick={{action (mut this.disqualifyAppearanceModal) true}}
>
  Disqualify Performance
</BsButton>
<BsModal
  @open={{this.disqualifyAppearanceModal}}
  @onHidden={{pipe-action (action (mut this.disqualifyAppearanceModal) false) (action (mut this.disqualifyAppearanceModalError) false)}}
  as |modal|
>
  <modal.header>
    <h4>Disqualify Performance</h4>
  </modal.header>
  <modal.body>
    <p>
      This will formally disqualify this competitor.<br><strong class="warning">This cannot be undone.</strong>
    </p>
    {{#if this.submitAppearanceModalError}}
    <p class='text-danger'>
      Could not disqualify appearance. Please contact support.
    </p>
    {{/if}}
  </modal.body>
  <modal.footer>
    <BsButton @onClick={{action modal.close}} type="default">Cancel</BsButton>
    <BsButton @type='danger' @onClick={{perform this.disqualifyAppearance}}>
      {{#if this.disqualifyAppearance.isRunning}}
        Disqualifing <FaIcon @icon="spinner" @spin={{true}} />
      {{else}}
        Disqualify Performance
      {{/if}}
    </BsButton>
  </modal.footer>
</BsModal>