<BsButton
  @type='danger'
  @disabled={{this.model.isDisabled}}
  onClick={{action (mut this.deleteAppearanceModal) true}}
>
  Delete Appearance
</BsButton>
<BsModal
  @open={{this.deleteAppearanceModal}}
  @onHidden={{pipe-action (action (mut this.deleteAppearanceModal) false) (action (mut this.deleteAppearanceModalError) false)}}
  as |modal|
>
  <modal.header>
    <h4>Delete Appearance</h4>
  </modal.header>
  <modal.body>
    <p>
      This will delete the Performance.  Generally used to remove a Mic Tester that will not be scored.
    </p>
    {{#if this.deleteAppearanceModalError}}
    <p class='text-danger'>
      Could not delete performance.  Please contact support.
    </p>
    {{/if}}
  </modal.body>
  <modal.footer>
    <BsButton @onClick={{action modal.close}} @type="default">Cancel</BsButton>
    <BsButton @type='danger' @onClick={{perform this.deleteAppearance}}>
      {{#if this.deleteAppearance.isRunning}}
        Deleting <FaIcon @icon="spinner" @spin={{true}} />
      {{else}}
        Delete Performance
      {{/if}}
    </BsButton>
  </modal.footer>
</BsModal>