<div class='card'>
  <div class='card-header'>
    <h3>
      Your Assignments
    </h3>
  </div>
  <div class='card-body'>
    <h6 class='card-title'>These are the conventions to which you are currently assigned.</h6>
    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr class='d-flex'>
            <th scope='col' class='col-1'>Image</th>
            <th scope='col' class='col-4'>Name</th>
            <th scope='col' class='col-2'>Category</th>
            <th scope='col' class='col-2'>Kind</th>
            <th scope='col' class='col-3'>Venue</th>
            <th scope='col' class='col-2'>Date</th>
            <th scope='col' class='col-1'>Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedAssignments as |assignment|}}
            <tr class='d-flex'>
              <td class='col-1'>
                {{#if assignment.convention.image}}
                  <img src={{assignment.convention.image}} class='img-fluid rounded'>
                {{else}}
                  <img src='/assets/no_image_available.jpg' class='img-fluid'>
                {{/if}}
              </td>
              <td class='col-4'>
                {{#link-to 'dashboard.conventions.convention.details' assignment.convention}}{{assignment.convention.name}}{{/link-to}}
              </td>
              <td class='col-2'>
                {{assignment.category}}
              </td>
              <td class='col-2'>
                {{assignment.kind}}
              </td>
              <td class='col-3'>
                {{assignment.convention.venue.name}}<br>
                {{assignment.convention.venue.city}},  {{assignment.convention.venue.state}}
              </td>
              <td class='col-2'>
                {{moment-format assignment.convention.startDate 'L'}} - {{moment-format assignment.convention.endDate 'L'}}
              </td>
              <td class='col-1'>
                {{assignment.status}}
              </td>
            </tr>
          {{else}}
            <tr>
              <td></td>
              <td>(You do not have any current assignments.  Please check with David Mills or Chris Buechler if you believe this is in error.)</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
