{{model}}
<div class='table-responsive'>
  <h3>Child Groups</h3>
  <table class='table table-hover table-sm'>
    <caption>The following groups are part of this Organization</caption>
    <thead class='thead-light'>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Kind</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedGroups as |group|}}
        <tr>
          <td>
            {{cloudinary-image group.imageId (hash width=64) class='img-fluid img-rounded'}}
          </td>
          <td>
            {{#link-to 'dashboard.groups.group.details' group}}{{{group.name}}}{{/link-to}}
          </td>
          <td>
            {{group.kind}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td>(You are not listed as an officer for any active groups.  Please check the {{member-center}}.)</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<section>
  <p>
    <strong>Note to New Quartets:</strong> Please be aware that newly registered quartets will not show in Barberscore until BHS headquarters has:
  </p>
  <ul class='list-styled'>
    <li>Approved the quartet name</li>
    <li>Processed the subscription fee</li>
    <li>Updated the Member Center record</li>
  </ul>
  <p>
    <em>This process can take up to 5 business days.</em>
  </p>
</section>