<section>
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th class='col-md-8'>
            Song
          </th>
          <th class='col-md-1'>
            MUS
          </th>
          <th class='col-md-1'>
            PER
          </th>
          <th class='col-md-1'>
            SNG
          </th>
          <th class='col-md-1'>
            TOT
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Total</td>
          <td>{{model.musPoints}}</td>
          <td>{{model.perPoints}}</td>
          <td>{{model.sngPoints}}</td>
          <td>{{model.totPoints}}</td>
        </tr>
        {{#each sortedAppearances as |appearance|}}
          <tr>
            <td>
              {{appearance.round.kind}}<br>
              {{#each appearance.songs as |song|}}
                {{song.chart.title}}<br>
              {{/each}}
            </td>
            <td>
              {{appearance.musPoints}}<br>
              {{#each appearance.songs as |song|}}
                {{song.musPoints}}<br>
              {{/each}}
            </td>
            <td>
              {{appearance.perPoints}}<br>
              {{#each appearance.songs as |song|}}
                {{song.perPoints}}<br>
              {{/each}}
            </td>
            <td>
              {{appearance.sngPoints}}<br>
              {{#each appearance.songs as |song|}}
                {{song.sngPoints}}<br>
              {{/each}}
            </td>
            <td>
              {{appearance.totPoints}}<br>
              {{#each appearance.songs as |song|}}
                {{song.totPoints}}<br>
              {{/each}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>