  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th class='col-md-10'>Song</th>
          <th>MUS</th>
          <th>PER</th>
          <th>SNG</th>
          <th>TOT</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Total</td>
          <td>{{model.musPoints}}</td>
          <td>{{model.perPoints}}</td>
          <td>{{model.sngPoints}}</td>
          <td>{{model.totPoints}}</td>
        </tr>
        {{#each sortedAppearances as |appearance|}}
          <tr>
            <td>
              {{appearance.round.kind}}<br>
              {{#each (sort-by "num" appearance.songs) as |song|}}
                {{song.chart.title}}<br>
              {{/each}}
            </td>
            <td>
              {{appearance.musPoints}}<br>
              {{#each (sort-by "num" appearance.songs) as |song|}}
                {{song.musPoints}} <em>({{single-fixed song.musScore}})</em><br>
              {{/each}}
            </td>
            <td>
              {{appearance.perPoints}}<br>
              {{#each (sort-by "num" appearance.songs) as |song|}}
                {{song.perPoints}}<br>
              {{/each}}
            </td>
            <td>
              {{appearance.sngPoints}}<br>
              {{#each (sort-by "num" appearance.songs) as |song|}}
                {{song.sngPoints}}<br>
              {{/each}}
            </td>
            <td>
              {{appearance.totPoints}}<br>
              {{#each (sort-by "num" appearance.songs) as |song|}}
                {{song.totPoints}}<br>
              {{/each}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
