<div class='panel panel-default'>
  <div class='panel-heading'>
    <h3>
      Conventions
    </h3>
  </div>
  <div class='panel-body'>
    <section>
      <div class='table-responsive'>
        <table class='table table-hover table-sm'>
          <caption>These are the active conventions.</caption>
          <thead class='thead-light'>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Venue</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedConventions as |convention|}}
              <tr>
                <td>
                  {{cloudinary-image convention.imageId (hash width=64) class='img-responsive img-rounded'}}
                </td>
                <td>
                  {{#link-to 'dashboard.conventions.convention.details' convention}}{{convention.__str__}}{{/link-to}}
                </td>
                <td>
                  {{if convention.venue.name convention.venue.name '(Unknown)'}}<br>
                  {{convention.location}}
                </td>
                <td>
                  {{moment-format convention.startDate 'L'}} - {{moment-format convention.endDate 'L'}}
                </td>
              </tr>
            {{else}}
              <tr>
                <td></td>
                <td>(You do not have any current assignments.  Please check with David Mills or Chris Buechler if you believe this is in error.)</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </section>
    <section>
      {{search-conventions}}
    </section>
  </div>
</div>