<section>
  <div class='row'>
    <div class='col-md-2'>
      {{#if session.convention.image}}
        <img src={{session.convention.image}} class='img-responsive img-rounded'>
      {{else}}
        <img src='/assets/no_image_available.jpg' class='img-responsive'>
      {{/if}}
    </div>
    <div class='col-md-10'>
      <ul class='list-unstyled'>
        <li><strong>{{model.venue.name}}</strong></li>
        <li>{{model.venue.city}}, {{model.venue.state}}</li>
        <li>Airport(s): {{model.venue.airport}}</li>
        <li>Timezone: {{model.venue.timezone}}</li>
      </ul>
    </div>
  </div>
  <hr>
  <div class='table-responsive'>
    <table class='table'>
      <caption>
        The Open and Close dates refer to the contest entry period.  The Start and End dates refer to the contest itself.
      </caption>
      <thead>
        <tr>
          <th>Event</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Open Date</td>
          <td>{{moment-format model.openDate 'LL'}}</td>
        </tr>
        <tr>
          <td>Close Date</td>
          <td>{{moment-format model.closeDate 'LL'}}</td>
        </tr>
        <tr>
          <td>Start Date</td>
          <td>{{moment-format model.startDate 'LL'}}</td>
        </tr>
        <tr>
          <td>End Date</td>
          <td>{{moment-format model.endDate 'LL'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
