<div class='card'>
  <div class='card-header'>
    <h3>
      Conventions
    </h3>
  </div>
  <div class='card-body'>
    <section>
      <div class='table-responsive'>
        <table class='table'>
          <h6 class='card-title'>These are the active conventions.</h6>
          <thead>
            <tr>
              <th class='col-md-1'>Image</th>
              <th>Name</th>
              <th>Venue</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedConventions as |convention|}}
              <tr>
                <td>
                  {{#if convention.image}}
                    <img src={{convention.image}} class='img-fluid rounded'>
                  {{else}}
                    <img src='/assets/no_image_available.jpg' class='img-fluid'>
                  {{/if}}
                </td>
                <td>
                  {{#link-to 'dashboard.conventions.convention.details' convention}}{{convention.name}}{{/link-to}}
                </td>
                <td>
                  {{if convention.venue.name convention.venue.name '(Unknown)'}}<br>
                  {{if convention.venue.city convention.venue.city '(Unknown)'}},  {{if convention.venue.state convention.venue.state '(Unknown)'}}
                </td>
                <td>
                  {{moment-format convention.startDate 'L'}} - {{moment-format convention.endDate 'L'}}
                </td>
              </tr>
            {{else}}
              <tr>
                <td></td>
                <td>(You do not have any current assignments.  Please check with David Mills or Chris Buechler if you believe this is in error.)</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </section>
    <section>
      {{search-conventions}}
    </section>
  </div>
</div>
