<section>
  <div class='media p-5'>
    {{#if model.image}}
      <img src={{model.image}} class='img-fluid' width=100>
    {{else}}
      <img src='/assets/no_image_available.jpg' class='align-self-center mr-3'>
    {{/if}}
    <div class='media-body'>
      {{#if model.venue}}
        <ul class='list-unstyled pl-4'>
          <li><strong>{{model.venue.name}}</strong></li>
          <li>{{model.venue.city}}, {{model.venue.state}}</li>
          <li>Airport(s): {{model.venue.airport}}</li>
          <li>Timezone: {{model.venue.timezone}}</li>
        </ul>
      {{else}}
        (No venue selected.)
      {{/if}}
    </div>
  </div>
  <h6>
    The Open and Close dates refer to the contest entry period.  The Start and End dates refer to the contest itself.
  </h6>
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th>Event</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Open Date</td>
          <td>{{moment-format model.openDate 'LL'}}</td>
        </tr>
        <tr>
          <td>Close Date</td>
          <td>{{moment-format model.closeDate 'LL'}}</td>
        </tr>
        <tr>
          <td>Start Date</td>
          <td>{{moment-format model.startDate 'LL'}}</td>
        </tr>
        <tr>
          <td>End Date</td>
          <td>{{moment-format model.endDate 'LL'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
