<div class='table-responsive py-5'>
  <h6>These are the assignments for this convention.</h6>
  <table class='table'>
    <thead>
      <tr class='d-flex'>
        <th class='col-1'>Image</th>
        <th class='col-2'>Person</th>
        <th class='col-2'>Kind</th>
        <th class='col-2'>Category</th>
        <th class='col-3'>Email</th>
        <th class='col-2'>Phone</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedAssignments as |assignment|}}
        <tr class='d-flex'>
          {{#if assignment.isLoading}}
            <td colspan=6>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
          {{else}}
            <td class='col-1'>
              {{#if assignment.person.image}}
                <img src={{assignment.person.image}} class='img-fluid rounded' width=100>
              {{else}}
                <img src='/assets/no_image_available.jpg' class='img-fluid' width=100>
              {{/if}}
            </td>
          {{#if assignment.person.isLoading}}
            <td colspan=1>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
          {{else}}
            <td class='col-2'>
              {{assignment.person.commonName}}
            </td>
          {{/if}}
            <td class='col-2'>
              {{assignment.kind}}
            </td>
            <td class='col-2'>
              {{assignment.category}}
            </td>
            <td class='col-3'><a href='mailto:{{assignment.person.email}}'>{{assignment.person.email}}</a></td>
            <td class='col-2'><a href='tel:{{assignment.person.cellPhone}}'>{{assignment.person.cellPhone}}</a></td>
          {{/if}}
        </tr>
      {{else}}
        <tr>
          <td>(You do not have any current assignments.  Please check with David Mills or Chris Buechler if you believe this is in error.)</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
