<div class='card'>
  <div class='card-header'>
    <div class='float-left pb-2'>
      {{cloudinary-image model.imageId (hash height=90) class='img-fluid img-rounded'}}
    </div>
    <div class='float-left pl-4'>
      {{#if model.venue}}
        <ul class='list-unstyled'>
          <li><strong>{{model.venue.name}}</strong></li>
          <li>{{model.location}}</li>
          <li>Airport(s): {{model.venue.airport}}</li>
          <li>Timezone: {{model.timezone}}</li>
        </ul>
      {{else}}
        (No venue selected.)
      {{/if}}
    </div>
  </div>
  <div class='table-responsive'>
    <table class='table table-hover table-sm '>
      <caption>
        The Open and Close dates refer to the contest entry period.  The Start and End dates refer to the contest itself.
      </caption>
      <thead class='thead-light'>
        <tr>
          <th>Event</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Open Date</td>
          <td>{{moment-format model.openDate 'LL'}}</td>
        </tr>
        <tr>
          <td>Close Date</td>
          <td>{{moment-format model.closeDate 'LL'}}</td>
        </tr>
        <tr>
          <td>Start Date</td>
          <td>{{moment-format model.startDate 'LL'}}</td>
        </tr>
        <tr>
          <td>End Date</td>
          <td>{{moment-format model.endDate 'LL'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>