<section>
  {{#bs-modal-simple
    open=openModal
    onHidden=(action "clearEntry")
    title="Create Entry"
    closeTitle="Cancel"
    submitTitle="Save"
    backdropClose=false
  }}
    {{#bs-form
      model=model
      formLayout='vertical'
      onSubmit=(action 'saveEntry')
      as |form|
    }}
      {{#form.element property='session' useIcons=false as |el|}}
          {{#power-select
            options=sessionOptions
            selected=el.value
            onchange=(action (mut el.value))
            placeholder="Enter Session"
            allowClear=true
            renderInPlace=true
            as |session|
          }}
            Session: {{session.nomen}}
          {{/power-select}}
      {{/form.element}}
      {{!-- {{#form.element property='representing' useIcons=false as |el|}}
          {{#power-select
            options=representingOptions
            selected=el.value
            searchField='name'
            onchange=(action (mut el.value))
            placeholder="Enter District/Division/Affiliate Representation"
            allowClear=true
            renderInPlace=true
            as |representing|
          }}
            Representing: {{representing.name}}
          {{/power-select}}
      {{/form.element}} --}}
      {{#form.element property='isEvaluation' as |el|}}
        {{#bs-button-group
          value=el.value
          type='radio'
          onChange=(action (mut el.value))
          as |bg|
        }}
          {{#bg.button type='default' value=false disabled=true}}Skip Eval{{/bg.button}}
          {{#bg.button type='default' value=true disabled=true}}Include Eval{{/bg.button}}
        {{/bs-button-group}}
      {{/form.element}}
      {{#form.element property='isPrivate' as |el|}}
        {{#bs-button-group
          value=el.value
          type='radio'
          onChange=(action (mut el.value))
          as |bg|
        }}
          {{#bg.button type='default' value=false disabled=true}}Make Scores Public{{/bg.button}}
          {{#bg.button type='default' value=true disabled=true}}Keep Scores Private{{/bg.button}}
        {{/bs-button-group}}
      {{/form.element}}
      {{#form.element property='director' useIcons=false as |el|}}
          {{#power-select
            search=(perform searchPerson)
            selected=el.value
            onchange=(action (mut el.value))
            placeholder="Enter Director Name"
            renderInPlace=true
            allowClear=true
            as |person|
          }}
            {{#if model.codirector}}Co-Director:{{else}}Director:{{/if}} {{person.commonName}}
          {{/power-select}}
      {{/form.element}}
      {{#form.element property='codirector' useIcons=false as |el|}}
          {{#power-select
            search=(perform searchPerson)
            selected=el.value
            onchange=(action (mut el.value))
            placeholder="Enter Co-Director Name (if applicable)"
            renderInPlace=true
            allowClear=true
            as |person|
          }}
            Co-Director: {{person.commonName}}
          {{/power-select}}
      {{/form.element}}
    {{/bs-form}}
  {{/bs-modal-simple}}
</section>