<section>
  {{#bs-modal-simple
    open=openModal
    onHidden=(action "clearChart")
    title="Create Chart"
    closeTitle="Cancel"
    submitTitle="Save"
    backdropClose=false
  }}
    {{#bs-form
      formLayout="vertical"
      model=model
      onSubmit=(action "saveChart")
      as |form|
    }}
      {{form.element
        controlType='text'
        placeholder='Title'
        renderInPlace=true
        property='title'
      }}
      {{form.element
        controlType='textarea'
        placeholder='Arranger(s)'
        renderInPlace=true
        property='arrangers'
      }}
      {{form.element
        controlType='textarea'
        placeholder='Composer(s)'
        renderInPlace=true
        property='composers'
      }}
      {{form.element
        controlType='textarea'
        placeholder='Lyricist(s)'
        renderInPlace=true
        property='lyricists'
      }}
      {{!-- {{form.element
        controlType='textarea'
        placeholder='Copyright Holder(s)'
        renderInPlace=true
        property='holders'
      }} --}}
    {{/bs-form}}
  {{/bs-modal-simple}}
</section>