<div class='download-oss-button-wrapper'>
  <BsDropdown as |dd|>
    {{#bs-button
      type='success'
      onClick=(perform oss)
    }}
      {{#if oss.isRunning}}
        Downloading {{fa-icon "spinner" spin=true}}
      {{else if oss.last.isError}}
        Error Downloading
      {{else}}
        {{#if (eq model.status 'Completed')}}
          Download <em>Draft</em> OSS&nbsp;&nbsp;{{fa-icon 'file-pdf-o'}}
        {{else}}
          Download <strong>Final</strong> OSS&nbsp;&nbsp;{{fa-icon 'file-pdf-o'}}
        {{/if}}
      {{/if}}
    {{/bs-button}}
    <dd.button @type="success"><span class="caret"></span></dd.button>
    <dd.menu as |menu|>
      <menu.item>
        <button class="dropdown-item" onclick={{perform oss 'Legal'}}>Download on Legal Paper</button>
      </menu.item>
      <menu.item>
        <button class="dropdown-item" onclick={{perform oss 'Letter'}}>Download on Letter Paper</button>
      </menu.item>
    </dd.menu>
  </BsDropdown>
</div>