{{#if (or (eq this.model.status 'New')(eq this.model.status 'Built')(eq this.model.status 'Started'))}}
<BsButton
  @type='success'
  @disabled={{this.model.isDisabled}}
  @onClick={{action (mut this.labelsModal) true}}
>
  Download Labels&nbsp;&nbsp;<FaIcon @icon='file-text' />
</BsButton>
{{/if}}
<BsModal
  @open={{this.labelsModal}}
  @onHidden={{pipe-action (action (mut this.labelsModal) false) (action (mut this.labelsModalError) false)}}
  as |modal|
>
  <modal.header>
    <h4>Contestant Labels</h4>
  </modal.header>
  <modal.body>

    <div class='form-group'>
      <label for="postfix">File Name Postfix</label>
      <small id="postfixHelp" class="text-muted">
        (e.g. "A.A.A.B.R.F")
      </small>
      <Input
        class='form-control'
        id='postfix'
        @type='text'
        disabled={{this.model.isDisabled}}
        placeholder='File postfix'
        required='true'
        @value={{this.postfix}}
      />
    </div>

    <div class='form-group'>
      <label for="judges">Judge(s)</label>
      <small id="judgesHelp" class="text-muted">
        Select all, one, or specific judges
      </small>
      <PowerSelectMultiple
        @options={{this.filteredPanelists}}
        id='judges'
        @selected={{this.judges}}
        @onChange={{action (mut this.judges)}}
        @placeholder="All Judges"
        @allowClear={{true}}
        @renderInPlace={{true}}
        @noMatchesMessage="We Could Not Find a judge with that name"
        as |judge|
      >
        {{judge.lastName}}, {{judge.firstName}} [{{judge.category}}] - {{judge.kind}}
      </PowerSelectMultiple>
    </div>

    <div class='form-group'>
      <label for="groups">Contestant(s)</label>
      <small id="groupsHelp" class="text-muted">
        Select all, one, or specific contestents
      </small>
      <PowerSelectMultiple
        @options={{this.appearances}}
        @id='groups'
        @selected={{this.groups}}
        @onChange={{action (mut this.groups)}}
        @placeholder="All Contestants"
        @allowClear={{true}}
        @renderInPlace={{true}}
        @noMatchesMessage="We Could Not Find a group with that name"
        as |group|
      >
        {{html-safe group.name}} [Draw: {{group.num}}]
      </PowerSelectMultiple>
    </div>

    <div class='form-group'>
      <label class="form-check-label" for="isReversed">Reverse Labels Order?</label>
      <small id="reverseOrderHelp" class="text-muted">
        Order of appearance will be high to low
      </small>
      <div class="custom-control custom-checkbox custom-control-inline">
        <Input
          class='custom-control-input'
          @type='checkbox'
          id='isReversed'
          @checked={{this.isReversed}}
          @key-press={{action (mut this.isReversed) true}}
        />
        <label class="custom-control-label" for="isReversed">Yes</label>
      </div>
    </div>

    {{#if this.labelsModalError}}
    <p class='text-danger'>
      Could not download labels.
    </p>
    {{/if}}
  </modal.body>
  <modal.footer>
    <BsButton @onClick={{action modal.close}} @type="default">Cancel</BsButton>
    <BsButton @type='success' @onClick={{perform this.labels}} disabled={{this.model.isError}}>
      {{#if this.labels.isRunning}}
        Downloading <FaIcon @icon="spinner" @spin={{true}} />
      {{else}}
        Download&nbsp;&nbsp;<FaIcon @icon='file-text' />
      {{/if}}
    </BsButton>
  </modal.footer>
</BsModal>