<div style="display: flex; align-items: center;">
  {{#bs-button
    type='success'
    onClick=(perform oss)
  }}
    {{#if oss.isRunning}}
      Downloading {{fa-icon "spinner" spin=true}}
    {{else if oss.last.isError}}
      Error Downloading
    {{else}}
      {{#if (eq model.status 'Completed')}}
        Download <em>Draft</em> OSS&nbsp;&nbsp;{{fa-icon 'file-pdf-o'}}
      {{else}}
        Download <strong>Final</strong> OSS&nbsp;&nbsp;{{fa-icon 'file-pdf-o'}}
      {{/if}}
    {{/if}}
  {{/bs-button}}

  <div style="margin-left:1em;">
    <em><small>Adjust included awards and display order from the {{#link-to "dashboard.conventions.convention.sessions.session.rounds.round.outcomes"}}Outcomes{{/link-to}} tab.</small></em>
  </div>
</div>