<div class='download-oss-button-wrapper'>
  <BsDropdown as |dd|>
    <BsButton
      @type='success'
      @onClick={{perform this.oss}}
    >
      {{#if this.oss.isRunning}}
        Downloading <FaIcon @icon="spinner" @spin={{true}} />
      {{else if this.oss.last.isError}}
        Error Downloading
      {{else}}
        {{#if (eq this.model.status 'Completed')}}
          Download <em>Draft</em> OSS&nbsp;&nbsp;<FaIcon @icon='file-text' />
        {{else}}
          Download <strong>Final</strong> OSS&nbsp;&nbsp;<FaIcon @icon='file-text' />
        {{/if}}
      {{/if}}
    </BsButton>
    <dd.button @type="success"><span class="caret"></span></dd.button>
    <dd.menu as |menu|>
      <menu.item>
        <button class="dropdown-item" onclick={{perform this.oss 'Legal'}}>Download on Legal Paper</button>
      </menu.item>
      <menu.item>
        <button class="dropdown-item" onclick={{perform this.oss 'Letter'}}>Download on Letter Paper</button>
      </menu.item>
    </dd.menu>
  </BsDropdown>
</div>