<BsForm
  @formLayout="vertical"
  @model={{this.model}}
  @disabled={{this.isDisabled}}
  as |form|
>
  <label {{action this.toggleProperty 'mtHelp'}}>Mic Tester: <FaIcon @icon='question-circle' /></label>
  <form.element @property='isMt' as |el|>
    <BsButtonGroup
      @value={{el.value}}
      @type='radio'
      @onChange={{perform this.autosave 'isMt'}}
      as |bg|
    >
      <bg.button @type='outline-dark' @value={{false}} disabled={{this.isDisabled}}>Not MicTester</bg.button>
      <bg.button @type='outline-dark' @value={{true}} disabled={{this.isDisabled}}>Is MicTester</bg.button>
    </BsButtonGroup>
  </form.element>

  <BsCollapse @collapsed={{this.mtHelp}}>
    <p>
      If this group is specified in advance to be a Mic Tester, please inidcate that here.
    </p>
  </BsCollapse>

  <label {{action this.toggleProperty 'prelimHelp'}}>Incoming Prelim Score: <FaIcon @icon='question-circle' /></label>
  <form.element @controlType='tel' @property='prelim' @onChange={{perform this.autosave 'prelim'}} as |el|>
    <el.control placeholder='Incoming prelim score (optional)' />
  </form.element>
  <BsCollapse @collapsed={{this.prelimHelp}}>
    <p>
      If desired, indicate the incoming prelim score here.  The prelim score may be useful in providing some guidance on groups likely to advance.
    </p>
  </BsCollapse>

  <label {{action this.toggleProperty 'baseHelp'}}>Incoming Base Score: <FaIcon @icon='question-circle' /></label>
  <form.element @controlType='tel' @property='base' @onChange={{perform this.autosave 'base'}} as |el|>
    <el.control placeholder='Incoming base score (conditional)' />
  </form.element>
  <BsCollapse @collapsed={{this.baseHelp}}>
    <p>
      The base score is what is used to calculate "Most-Improved" awards.  If you are offering a "most-improved" award this contest and the competitor is eligible, indicate the base score that will be used for determining this award here.
    </p>
  </BsCollapse>
</BsForm>