<div class='table-responsive'>
  <table class='table table-hover table-sm'>
    <thead class='thead-light'>
      <tr>
        <th>Include</th>
        <th>Name</th>
        <th>Description</th>
        <th>Single-Round?</th>
      </tr>
    </thead>
    <tbody>
      <Multiselect-checkboxes
        @tagName=''
        @options={{this.options}}
        @selection={{this.selectedContests}}
        @onchange={{perform this.updateSelection}}
        as |contest isSelected|
      >
        <tr>
          <td>
            {{#if this.lockContests}}
              {{#if isSelected}}
                <FaIcon @icon='check-circle' class='text-success' />
              {{/if}}
            {{else}}
              {{input type="checkbox" class='pl-2' disabled=this.isDisabled checked=isSelected}}
            {{/if}}
          </td>
          <td>
            {{contest.name}}
          </td>
          <td>
            {{contest.description}}
          </td>
          <td>
            {{boolean-helper contest.isSingle}}
          </td>
        </tr>
      </Multiselect-checkboxes>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>