{{#bs-form
  formLayout="vertical"
  model=model
  as |form|
}}
  {{#form.element property='isPrivate' as |el|}}
    {{#bs-button-group
      value=el.value
      type='radio'
      onChange=(perform autosave 'isPrivate')
      as |bg|
    }}
      {{#bg.button type='outline-dark' value=false disabled=isDisabled}}Compete for Award(s){{/bg.button}}
      {{#bg.button type='outline-dark' value=true disabled=isDisabled}}Score/Eval Only{{/bg.button}}
    {{/bs-button-group}}
  {{/form.element}}
  {{#form.element property='isEvaluation' as |el|}}
    {{#bs-button-group
      value=el.value
      type='radio'
      onChange=(perform autosave 'isEvaluation')
      as |bg|
    }}
      {{#bg.button type='outline-dark' value=true disabled=isDisabled}}Include Eval{{/bg.button}}
      {{#bg.button type='outline-dark' value=false disabled=isDisabled}}Skip Eval{{/bg.button}}
    {{/bs-button-group}}
  {{/form.element}}
  {{#if (eq model.groupKind 'Quartet')}}
    {{form.element controlType='text' disabled=isDisabled placeholder='Quartet Members Appearing on Stage, ordered TLBrBs, comma separated' label='Members: T, L, Br, Bs' property='participants' onChange=(perform autosave 'participants')}}
    <section>
      <p>
        {{#bs-button type='link' onClick=(toggle 'memberHelp' this)}}
          What is expected in the 'Members' box above? Click Here.
        {{/bs-button}}
      </p>
      {{#bs-collapse collapsed=memberHelp}}
        <p>
          Please indicate the names of your quartet that will be performing as you wish them to appear on the Official Scoring Summary (OSS). Names must be listed in order (T, L, Br, Bs) separated by commas. For example:
        </p>
        <p>
          <strong>Tim Waurick, Joe Connelly, Brandon Guyton, Brett Littlefield</strong>
        </p>
     {{/bs-collapse}}
    </section>
  {{else}}
    {{!-- {{form.element controlType='text' disabled=true placeholder='Chapter' label='Chapter' property='chapterCode'}} --}}
    {{form.element controlType='text' disabled=isDisabled placeholder='Director(s)' label='Director(s)' property='participants' onChange=(perform autosave 'participants')}}
    <section>
      <p>
        {{#bs-button type='link' onClick=(toggle 'directorHelp' this)}}
          What is expected in the 'Director(s)' box above? Click Here.
        {{/bs-button}}
      </p>
      {{#bs-collapse collapsed=directorHelp}}
        <p>
          Please indicate the name of your director as you wish it to appear on the Official Scoring Summary (OSS). If you will have no director, you must type the word 'None'. If more than one director will be performing (limit of 2 directors), separate the names by a comma and a space.
        </p>
       {{/bs-collapse}}
    </section>
    {{form.element controlType='tel' disabled=isDisabled placeholder='Estimated number of participants' label='Participants-On-Stage' property='pos' onChange=(perform autosave 'pos')}}
  {{/if}}
{{/bs-form}}