<BsButton
  @type='primary'
  @disabled={{this.model.isDisabled}}
  @onClick={{action (mut this.approveEntryModal) true}}
>
  {{#if (or (eq this.model.status 'Withdrawn')(eq this.model.status 'Approved'))}}Re-Approve Entry{{else}}Approve Entry{{/if}}
</BsButton>
<BsModal
  @open={{this.approveEntryModal}}
  @onHidden={{pipe-action (action (mut this.approveEntryModal) false) (action (mut this.approveEntryModalError) false)}}
  as |modal|
>
  <modal.header>
    <h4>Approve Entry</h4>
  </modal.header>
  <modal.body>
    <p>
      This approves (or re-approves) the entry for the group.  They will receive an email notifying them that they are all set for the contest.
    </p>
    {{#if this.approveEntryModalError}}
      <p class='text-danger'>
        Could not Approve entry.  Please check to ensure:
        <ul>
          <li>The group hasn't selected an Award while in Score/Eval-Only.</li>
          <li>The group has specified their Members/Director(s)</li>
          <li>The group has specified their Chapter(s)</li>
          <li>If a Chorus, the group has specified their Estimated participants on stage.</li>
        </ul>
        If you've verified all this and still can't approve, please let Chris Buechler or David Mills know -- it's bug we need to fix!
      </p>
    {{/if}}
  </modal.body>
  <modal.footer>
    <BsButton @onClick={{action modal.close}} @type="default">Cancel</BsButton>
    <BsButton @type='primary' @onClick={{perform approveEntry}}>
      {{#if this.approveEntry.isRunning}}
        Approving <FaIcon @icon="spinner" @spin={{true}} />
      {{else}}
        Approve Entry
      {{/if}}
    </BsButton>
  </modal.footer>
</BsModal>