<BsButton
  @type='danger'
  @disabled={{this.model.isDisabled}}
  @onClick={{action (mut this.deleteEntryModal) true}}
>
  Delete Entry
</BsButton>
<BsModal
  @open={{this.deleteEntryModal}}
  @onHidden={{pipe-action (action (mut this.deleteEntryModal) false) (action (mut this.deleteEntryModalError) false)}}
  as |modal|
>
  <modal.header>
    <h4>Delete Entry</h4>
  </modal.header>
  <modal.body>
    <p>
      This will delete the entry.  This should generally be used for errors or other cases where the entry should never have existed in the first place.)
    </p>
    {{#if this.deleteEntryModalError}}
    <p class='text-danger'>
      Could not delete entry.  Please contact support.
    </p>
    {{/if}}
  </modal.body>
  <modal.footer>
    <BsButton @onClick={{action modal.close}} type="default">Cancel</BsButton>
    <BsButton @type='danger' @onClick={{perform this.deleteEntry}}>
      {{#if this.deleteEntry.isRunning}}
        Deleting <FaIcon @icon="spinner" @spin={{true}} />
      {{else}}
        Delete Entry
      {{/if}}
    </BsButton>
  </modal.footer>
</BsModal>