<BsButton
  @type='danger'
  @disabled={{false}}
  @onClick={{action (mut this.withdrawEntryModal) true}}
>
  Withdraw Entry
</BsButton>
<BsModal
  @open={{this.withdrawEntryModal}}
  @onHidden={{pipe-action (action (mut this.withdrawEntryModal) false) (action (mut this.withdrawEntryModalError) false)}}
  as |modal|
>
  <modal.header>
    <h4>Withdraw Entry</h4>
  </modal.header>
  <modal.body>
    <p>
      This will formally withdraw your entry in this contest.  Any decision to re-enter the contest must be reviewed and approved by the DRCJ.
    </p>
    {{#if this.submitEntryModalError}}
    <p class='text-danger'>
      Could not withdraw entry.  Please contact support.
    </p>
    {{/if}}
  </modal.body>
  <modal.footer>
    <BsButton @onClick={{action modal.close}} type="default">Cancel</BsButton>
    <BsButton @type='danger' @onClick={{perform this.withdrawEntry}}>
      {{#if this.withdrawEntry.isRunning}}
        Withdrawing <FaIcon @icon="spinner" @spin={{true}} />
      {{else}}
        Withdraw Entry
      {{/if}}
    </BsButton>
  </modal.footer>
</BsModal>