<BsForm
  @formLayout="vertical"
  @model={{this.model}}
  @disabled={{this.isDisabled}}
  as |form|
>
  <label {{action this.toggleProperty 'scoringHelp' }}>Scoring Choice: <FaIcon @icon='question-circle' /></label>
  <form.element @property='isPrivate' as |el|>
    <BsButtonGroup
      @value={{el.value}}
      @type='radio'
      @onChange={{perform this.autosave 'isPrivate'}}
      as |bg|
    >
      <bg.button @type='outline-dark' @value={{false}} disabled={{this.isDisabled}}>Compete for Award(s)</bg.button>
      <bg.button @type='outline-dark' @value={{true}} disabled={{this.isDisabled}}>Score/Eval Only</bg.button>
    </BsButtonGroup>
  </form.element>

  <BsCollapse @collapsed={{this.scoringHelp}}>
    <p>
      Choose <strong>Compete for Awards</strong> if you are officially entering the contest session. You will then select to include one or more contests/awards (for which you are eligible) below in the <em>Contests Entered</em> section. Your group will be scored and appear on the Official Scoring Summary (OSS).
    </p>
    <p>
      Choose <strong>Score/Eval Only</strong> if you are NOT officially entering any contest. In this case, you cannot select ANY contests/awards below in the <em>Contests Entered</em> section. Instead, your group will be adjuducated and receive private unofficial score results. Your group will NOT appear on the Official Scoring Summary (OSS).
    </p>
  </BsCollapse>

  <label {{action this.toggleProperty 'evalHelp'}}>Evaluation Choice: <FaIcon @icon='question-circle' /></label>
  <form.element @property='isEvaluation' as |el|>
    <BsButtonGroup
      @value={{el.value}}
      @type='radio'
      @onChange={{perform this.autosave 'isEvaluation'}}
      as |bg|
    >
      <bg.button @type='outline-dark' @value={{true}} disabled={{this.isDisabled}}>Include Eval</bg.button>
      <bg.button @type='outline-dark' @value={{false}} disabled={{this.isDisabled}}>Skip Eval</bg.button>
    </BsButtonGroup>
  </form.element>

  <BsCollapse @collapsed={{this.evalHelp}}>
    <p>
      This is easy... does your group want to participate in an onsite evaluation by one or more judges after the contest? If you want your group to be included in the post-contest evaluation schedule, choose <strong>Include Eval</strong>.  If you'd like to skip the evaluations, choose <strong>Skip Eval</strong>.
    </p>
  </BsCollapse>
</BsForm>