{{#bs-form
  formLayout="vertical"
  model=model
  as |form|
}}
  <label {{action (toggle 'scoringHelp' this)}}>Scoring Choice {{fa-icon 'question-circle-o'}}</label>
  {{#form.element property='isPrivate' as |el|}}
    {{#bs-button-group
      value=el.value
      type='radio'
      onChange=(perform autosave 'isPrivate')
      as |bg|
    }}
      {{#bg.button type='outline-dark' value=false disabled=isDisabled}}Compete for Award(s){{/bg.button}}
      {{#bg.button type='outline-dark' value=true disabled=isDisabled}}Score/Eval Only{{/bg.button}}
    {{/bs-button-group}}
  {{/form.element}}

  {{#bs-collapse collapsed=scoringHelp}}
    <p>
      Choose <strong>Compete for Awards</strong> if you are officially entering the contest session. You will then select to include one or more contests/awards (for which you are eligible) below in the <em>Contests Entered</em> section. Your group will be scored and appear on the Official Scoring Summary (OSS).
    </p>
    <p>
      Choose <strong>Score/Eval Only</strong> if you are NOT officially entering any contest. In this case, you cannot select ANY contests/awards below in the <em>Contests Entered</em> section. Instead, your group will be adjuducated and receive private unofficial score results. Your group will NOT appear on the Official Scoring Summary (OSS).
    </p>
  {{/bs-collapse}}

  <label {{action (toggle 'evalHelp' this)}}>Evaluation Choice {{fa-icon 'question-circle-o'}}</label>
  {{#form.element property='isEvaluation' as |el|}}
    {{#bs-button-group
      value=el.value
      type='radio'
      onChange=(perform autosave 'isEvaluation')
      as |bg|
    }}
      {{#bg.button type='outline-dark' value=true disabled=isDisabled}}Include Eval{{/bg.button}}
      {{#bg.button type='outline-dark' value=false disabled=isDisabled}}Skip Eval{{/bg.button}}
    {{/bs-button-group}}
  {{/form.element}}

  {{#bs-collapse collapsed=evalHelp}}
    <p>
      This is easy... does your group want to participate in an onsite evaluation by one or more judges after the contest? If you want your group to be included in the post-contest evaluation schedule, choose <strong>Include Eval</strong>.  If you'd like to skip the evaluations, choose <strong>Skip Eval</strong>.
    </p>
  {{/bs-collapse}}



  {{#if (eq model.groupKind 'Quartet')}}

    <label {{action (toggle 'memberHelp' this)}}>Members: T, L, Br, Bs {{fa-icon 'question-circle-o'}}</label>
    {{form.element controlType='text' disabled=isDisabled placeholder='Quartet Members Appearing on Stage, ordered TLBrBs, comma separated' property='participants' onChange=(perform autosave 'participants')}}
    {{#bs-collapse collapsed=memberHelp}}
      <p>
        Please indicate the names of your quartet that will be performing as you wish them to appear on the Official Scoring Summary (OSS). Names must be listed in order (T, L, Br, Bs) separated by commas. For example:
      </p>
      <p>
        <strong>Tim Waurick, Joe Connelly, Brandon Guyton, Brett Littlefield</strong>
      </p>
    {{/bs-collapse}}

    <label {{action (toggle 'chapterHelp' this)}}>Chapters: {{fa-icon 'question-circle-o'}}</label>
    {{form.element controlType='text' disabled=isDisabled placeholder='Chapter membership(s) of the quartet participants.' property='chapters' onChange=(perform autosave 'chapters')}}
    {{#bs-collapse collapsed=chapterHelp}}
      <p>
        Please indicate the names of the Chapter(s) of your members, separated by commas. For example:
      </p>
      <p>
        <strong>Bay Area, Santa Fe, and Frank Thorne.</strong>
      </p>
    {{/bs-collapse}}

  {{else}}

    <label {{action (toggle 'memberHelp' this)}}>Director(s) {{fa-icon 'question-circle-o'}}</label>
    {{form.element controlType='text' disabled=isDisabled placeholder='Director(s)' property='participants' onChange=(perform autosave 'participants')}}
    {{#bs-collapse collapsed=memberHelp}}
      <p>
        Please indicate the name of your director as you wish it to appear on the Official Scoring Summary (OSS). If you will have no director, you must type the word 'None'. If more than one director will be performing (limit of 2 directors), separate the names by a comma and a space.
      </p>
    {{/bs-collapse}}

{{!--     {{form.element controlType='text' disabled=true placeholder='Chorus Parent Chapter' label='Chapter' property='chapters' onChange=(perform autosave 'chapters')}} --}}

    {{form.element controlType='tel' disabled=isDisabled placeholder='Estimated number of participants' label='Participants-On-Stage' property='pos' onChange=(perform autosave 'pos')}}

  {{/if}}
{{/bs-form}}