<div class='table-responsive'>
  <table class='table'>
    <thead>
      <tr>
        <th class='col-md-4'>Convention</th>
        <th class='col-md-4'>Venue</th>
        <th class='col-md-2'>Dates</th>
        <th class='col-md-2'>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedCompetitors as |competitor|}}
        <tr>
          {{#if competitor.isLoading}}
            <td colspan=1>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
          {{else}}
            <td>
              {{#link-to 'dashboard.groups.group.competitors.competitor' competitor}}{{competitor.session.convention.name}}{{/link-to}}
            </td>
            <td>
              {{competitor.session.convention.venue.name}}
            </td>
            <td>
              {{moment-format competitor.session.convention.startDate 'L'}} - {{moment-format competitor.session.convention.endDate 'L'}}
            </td>
            <td>
              {{competitor.status}}
            </td>
          {{/if}}
        </tr>
      {{else}}
        <tr>
          <td colspan=4>
            (Competitor Scoring Analysis will be available when you have finished performing.)
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
