<section>
  <div class='card'>
    <div class='card-header'>
      <h5>
        {{model.session.convention.nomen}} {{model.session.kind}}
      </h5>
    </div>
    <div class='card-body'>
      {{#if (eq model.status 'Approved')}}
        <section>
          Now that your entry has been approved by your DRCJ, you can no longer make edits to the entry itself. <em>However, updates to your repertory are allowed at any time.</em> Please contact your DRCJ directly if you need to make any other changes or wish to provide additional information.
        </section>
      {{/if}}
      <section>
        <p>
          Preferences
        </p>
        <p>
         {{#bs-button type='link' onClick=(toggle 'whichChoice' this)}}
      Which buttons should you select? Click Here.
    {{/bs-button}}
</p>
    {{#bs-collapse collapsed=whichChoice}}
<p>
<strong>Compete for Awards -OR- Score/Eval Only?</strong>
</p>
<p>Choose <strong>Compete for Awards</strong> if you are officially entering the contest session. You will then select to include one or more contests/awards (for which you are eligible) below in the <em>Contests Entered</em> section. Your group will be scored and appear on the Official Scoring Summary (OSS).
</p>
<p>
Choose <strong>Score/Eval Only</strong> if you are NOT officially entering any contest. In this case, you cannot select ANY contests/awards below in the <em>Contests Entered</em> section. Instead, your group will be adjuducated and receive private unofficial score results. Your group will NOT appear on the Official Scoring Summary (OSS).
</p>
<p>
<strong>Skip Eval -OR- Include Eval?</strong>
</p>
<p>
This is easy... does your group want to participate in an onsite evaluation by one or more judges after the contest? If you'd like to skip the evaluations, choose <strong>Skip Eval</strong>. If you want your group to be included in the post-contest evaluation schedule, choose <strong>Include Eval</strong>.
</p>
   {{/bs-collapse}}

        <p>
          {{entry-preferences model=model}}
        </p>
      </section>
      <hr>
      <section>
        <p>
          Contests Entered: {{model.includedContestantsCount}}
        </p>
        <p>
          {{entry-contestants model=model}}
        </p>
      </section>
      <hr>
      <section>
        <p>
          Active Members: {{model.activeMembersCount}} &nbsp;&nbsp;
          {{#bs-button type='outline-dark' size='sm' onClick=(toggle 'membersCollapsed' this)}}
            {{if membersCollapsed 'Show' 'Hide'}}
          {{/bs-button}}
        </p>
        {{#bs-collapse collapsed=membersCollapsed}}
          {{group-members model=model.group}}
          <p>
            <strong>Note:</strong>  If you need to make changes to your membership please contact {{customer-support}}.
          </p>
        {{/bs-collapse}}
      </section>
      <hr>
      <section>
          <p>
            Song Repertory: {{model.repertoryCount}} &nbsp;&nbsp;
          {{#bs-button type='outline-dark' size='sm' onClick=(toggle 'repertoryCollapsed' this)}}
            {{if repertoryCollapsed 'Show' 'Hide'}}
          {{/bs-button}}
        </p>
        {{#bs-collapse collapsed=repertoryCollapsed}}
          {{group-repertories model=model.group}}
          <p>
            <strong>Note:</strong>  Please make sure to enter your songs into your Repertory at least 7 days prior to the contest. You can add charts to your Repertory at any time (even after you submit your contest entry). Remember that any chart you perform on stage must be in your Repertory in advance, or you may be disqualified. Our system saves all of your chart entries, so feel free to add every contest song for which your group has copyright clearance (and legal copies of sheet music), you won't need to do it again for the next contest. For more information, please read the <a href="https://www.barberscore.com/faq">competitor FAQ</a> "What is the policy for adding song titles to our Chart Repertory?"
          </p>
        {{/bs-collapse}}
      </section>
      <hr>
      <section>
        <p>
          Additional Notes:
        </p>
        <div class='col-md-6'>
          {{entry-description model=model}}
        </div>
      </section>
    </div>

    <div class='card-footer'>
      <ul class='list-inline'>
        {{#if (eq model.status 'Built')}}
          <li class='list-inline-item'>{{entry-submit model=model callback='dashboard.groups.group.entries'}}</li>
          <li class='list-inline-item'>{{entry-delete model=model callback='dashboard.groups.group.entries'}}</li>
        {{else if (eq model.status 'Invited')}}
          <li class='list-inline-item'>{{entry-submit model=model callback='dashboard.groups.group.entries'}}</li>
          <li class='list-inline-item'>{{entry-withdraw model=model}}</li>
        {{else if (eq model.status 'Withdrawn')}}
          <li class='list-inline-item'>{{entry-submit model=model callback='dashboard.groups.group.entries'}}</li>
        {{else if (eq model.status 'Submitted')}}
          <li class='list-inline-item'>{{entry-submit model=model callback='dashboard.groups.group.entries'}}</li>
          <li class='list-inline-item'>{{entry-withdraw model=model}}</li>
        {{else if (eq model.status 'Approved')}}
          <li class='list-inline-item'>{{entry-withdraw model=model}}</li>
        {{/if}}
        <li class='pull-right'><h4>Entry Status: <strong>{{model.status}}</strong></h4></li>
      </ul>
    </div>
  </div>
</section>