  <div class='table-responsive'>
    <table class='table table-hover table-sm'>
      <thead class='thead-light'>
        <tr>
          <th>Title</th>
          <th>Arranger(s)</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedRepertories as |repertory|}}
          <tr>
            <td>{{repertory.title}}</td>
            <td>{{repertory.arrangers}}</td>
            <td>
              {{#bs-button type='danger' size='sm' disabled=model.isDisabled onClick=(perform deleteRepertory repertory)}}Remove Chart{{/bs-button}}
            </td>
          </tr>
        {{else}}
          <tr>
            <td>
              No songs in Repertory.
            </td>
          </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <p>
            {{#bs-button type='success' disabled=model.isDisabled onClick=(action (mut createRepertoryModal) true)}}Add New Chart{{/bs-button}}
          </p>
        </tr>
      </tfoot>
    </table>
  </div>
  <div>
    <ul class='list-unstyled'>
      <li>
        {{#bs-button type='link' onClick=(toggle 'customCollapsed2' this)}}
          What is the policy for adding a Chart? Click Here.
        {{/bs-button}}
        {{#bs-collapse collapsed=customCollapsed2}}
          <p>
            There is a reason why only a group admin (and no one else) can add charts to your group's repertory… because you are indeed “vouching” for the legality of the chart. To be clear, just because you can find a chart title in our Barberscore database does NOT mean that the chart is legal
            <strong>for your group</strong>. Below are some examples for you to consider:
          </p>
          <p>
            <em>Example #1:</em> A legal BHS Harmony Marketplace catalog arrangement
            <strong>must still be purchased by your group</strong> (or have been gifted to you by some other purchaser) for you to be able to “claim” it as a legal chart to be sung in contest. By adding that chart to your repertory, you are attesting to the fact that you own legal copies of the arrangement for every member of your group –
            <em>and not just obtained via a copy machine from someone else</em>.
          </p>
          <p>
            <em>Example #2:</em> A custom arrangement that was granted copyright clearance for another group and was added to that group’s repertory to sing in a previous contest. While that chart may be listed in our database -
            <strong>it will not be legal</strong> to be used by your group unless you have purchased it and have been granted clearance as well.
          </p>
          <p>
            <em>Example #3:</em> A chart that was legal many years ago may not be today. Again, it might be in our database because it was sung legally in a previous contest – but perhaps the copyright clearance permissions have now expired.
          </p>
          <p>
            Ultimately it is your group’s responsibility to select charts to be added to your repertory that you feel meet the basic criteria for being “legal” to perform. While there are some rare exceptions, here are the general guidelines:
          </p>
          <ul>
            <li>
              If you have purchased copies of a chart for every member of your group via the Harmony Marketplace, you’re all set.  <em>Or perhaps you now own older legally purchased copies that have since been gifted to you from someone else.</em>
            </li>
            <li>
              If you are performing a song that is in the public domain, you’re all set.  <em>The exception would be if someone created a custom arrangement of that song for another group, and your group has not purchased or sought permission from the arranger to perform that chart</em>.
            </li>
            <li>
              If you are performing any other custom arrangement (not obtained via the Harmony Marketplace), normally the arranger has already secured copyright permissions. In these cases, it is still your group’s responsibility to verify that the chart is legal (from the copyright holder’s perspective) – and of course you have legal copies of the arrangement.
            </li>
          </ul>
          <strong>Final Note: </strong>"We”
          <em>(BHS, C&J, and the Barberscore contest entry system)</em> do not require any proof (in advance) that any chart you sing in a BHS contest is “legal” for your group. To be clear, it is every group's responsibility for performing legally obtained music whether it is on a public show, a private performance, or a BHS contest. The only time the BHS Contest & Judging system will become involved in seeking validation for the legality of a chart, would be if a complaint was registered by the copyright owner, or an arranger, or some other valid stakeholder – alleging that a chart performed in a contest was illegally obtained. At that point (within 30 days after the contest) – a clear violation of the copyright rules could lead to a group’s disqualification for having competed with that chart.
        {{/bs-collapse}}
      </li>
      <li>
        {{#bs-button type='link' onClick=(toggle 'customCollapsed' this)}}
          Have a new custom chart or parody? Or - is your chart not showing up in your search? Click Here.
        {{/bs-button}}
        {{#bs-collapse collapsed=customCollapsed}}
          <p>
            We have many of the common charts already in the system. If you have a well-known chart that isn't showing up in your search, try a few variations such as entering just one or two words (instead of the whole title), or try searching on just the arranger's name. Also, just type in a word or two, then pause (don't press Enter)... the search executes automatically after you type in a few letters.
          </p>
          <p>
            If you intend to perform a parody of an existing chart, DO NOT add the original chart to your repertory. Instead, follow the process outlined below to have us add it as a "custom" chart. We will append "(Parody)" to the original title to distinguish it appropriately and add it to your repertory.
          </p>
          <p>
            If you have a new custom arrangement or parody - (or you can't find your chart despite your best efforts) - then you must send a copy of the sheet music or an image [acceptable formats: png/jpeg/pdf] of the first page (with the title, arranger, composer, and copyright info clearly visible) to <a href="mailto:charts@barberscore.com">charts@barberscore.com</a>. Our datamaster will get the information into the system as quickly as possible -- usually in less than 24 hours -- and add it to your repertory for you. If this chart is private or exclusive for your group, please indicate as such in your email, and we will mark it as "protected" in the Barberscore database.
          </p>
        {{/bs-collapse}}
      </li>
      <li>
        {{#if (eq model.kind 'Quartet')}}
          {{#bs-button type='link' onClick=(toggle 'customCollapsed4' this)}}
            "Add New Chart" button is disabled? Click Here.
          {{/bs-button}}
          {{#bs-collapse collapsed=customCollapsed4}}
            <p>
              You must be designated as your quartet contact (as indicated in the BHS {{member-center}}) in order to add charts to your official quartet repertory. At present, the MC allows for only one contact person per quartet. In order to change it to someone else, either the current quartet contact must login to MC to transfer admin rights to another member, or you will need to contact BHS Customer Service to convince them that the contact is unable to do so.
            </p>
            <p>
            If you are the quartet contact (and you’re still not able to edit), submit an inquiry to report the situation to {{customer-support}}.
            </p>
          {{/bs-collapse}}
        {{else}}
          {{#bs-button type='link' onClick=(toggle 'customCollapsed5' this)}}
            "Add New Chart" button is disabled? Click Here.
          {{/bs-button}}
          {{#bs-collapse collapsed=customCollapsed5}}
            <p>
            Previously, the chart repertory was managed by designated chapter leaders - this has changed!! Now, you must be a Chorus leader. Only the following Chorus Leader roles (as identified in the {{member-center}}) may add charts to the official chorus repertory: Chorus Director, Chorus Associate or Assistant Director, or Chorus Manager. If needed – please communicate with your Chapter President, Secretary, or Treasurer – as only those 3 individuals have the permissions to change or add Chorus Leaders in the BHS Member Center. If you are one of these chapter leaders (such as Chapter Secretary) and don't know how to add yourself as a Chorus Manager, then please contact {{customer-support}} for assistance.
            </p>
            <p>
            If you have been added to one of those roles (and you’re still not able to edit), submit an inquiry to report the situation to {{customer-support}}.
            </p>
          {{/bs-collapse}}
        {{/if}}
      </li>
    </ul>
  </div>
  <div>
    {{#bs-modal
      open=createRepertoryModal
      size='lg'
      onHidden=(pipe-action (action (mut createRepertoryModal) false) (action (mut createRepertoryModalError) false))
      as |modal|
    }}
      {{#modal.header}}
        <h4>Add New Chart to Repertory</h4>
      {{/modal.header}}
      {{#modal.body}}
        <p>
          Please select a chart to add.
        </p>
        {{#power-select
          search=(perform searchChart)
          selected=chart
          onchange=(action (mut chart))
          placeholder="Type in a partial title or arranger name"
          allowClear=true
          renderInPlace=true
          noMatchesMessage="No charts found matching the search text. Try typing a partial title"
          as |chart|
        }}
          Song: {{chart.title}} [{{chart.arrangers}}]
        {{/power-select}}
        {{#if createRepertoryModalError}}
        <p class='text-danger'>
          Could not add Chart to Repertory.  Please contact support.
        </p>
        {{/if}}
      {{/modal.body}}
      {{#modal.footer}}
        {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
        {{#bs-button type='success' onClick=(perform saveRepertory chart) }}
          {{#if saveRepertory.isRunning}}
            Adding... {{fa-icon "spinner" spin=true}}
          {{else}}
            Add Chart
          {{/if}}
        {{/bs-button}}
      {{/modal.footer}}
    {{/bs-modal}}
  </div>