<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4>
        {{model.session.convention.name}} {{model.session.kind}}
      </h4>
    </div>
    <div class='panel-body'>
      {{#if (eq model.status 'Finished')}}
        <div class='table-responsive'>
          <table class='table'>
            <thead>
              <tr>
                <th class='col-md-4'>Song</th>
                <th class='col-md-1'>TOT</th>
                <th class='col-md-1'>MUS</th>
                <th class='col-md-1'>PER</th>
                <th class='col-md-1'>SNG</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Total</td>
                <td>{{model.stats.tot.points}} <em>({{single-fixed model.stats.tot.score}})</em></td>
                <td>{{model.stats.mus.points}} <em>({{single-fixed model.stats.mus.score}})</em></td>
                <td>{{model.stats.per.points}} <em>({{single-fixed model.stats.per.score}})</em></td>
                <td>{{model.stats.sng.points}} <em>({{single-fixed model.stats.sng.score}})</em></td>
              </tr>
              {{#each sortedAppearances as |appearance|}}
                <tr>
                  <td>
                    {{appearance.round.kind}}{{!--  (Rank: {{appearance.stats.tot.rank}}) --}}<br>
                    {{#each (sort-by "num" appearance.songs) as |song|}}
                      {{song.chart.title}}<br>
                    {{/each}}
                  </td>
                  <td>
                    {{appearance.stats.tot.points}} <em>({{single-fixed appearance.stats.mus.score}})</em><br>
                    {{#each (sort-by "num" appearance.songs) as |song|}}
                      {{song.stats.tot.points}} <em>({{single-fixed song.stats.tot.score}})</em><br>
                    {{/each}}
                  </td>
                  <td>
                    {{appearance.stats.mus.points}} <em>({{single-fixed appearance.stats.mus.score}})</em><br>
                    {{#each (sort-by "num" appearance.songs) as |song|}}
                      {{song.stats.mus.points}} <em>({{single-fixed song.stats.mus.score}})</em><br>
                    {{/each}}
                  </td>
                  <td>
                    {{appearance.stats.per.points}} <em>({{single-fixed appearance.stats.mus.score}})</em><br>
                    {{#each (sort-by "num" appearance.songs) as |song|}}
                      {{song.stats.per.points}} <em>({{single-fixed song.stats.per.score}})</em><br>
                    {{/each}}
                  </td>
                  <td>
                    {{appearance.stats.sng.points}} <em>({{single-fixed appearance.stats.mus.score}})</em><br>
                    {{#each (sort-by "num" appearance.songs) as |song|}}
                      {{song.stats.sng.points}} <em>({{single-fixed song.stats.sng.score}})</em><br>
                    {{/each}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      {{else}}
        <section>
          <p>
            Competitor information available after round is completed.
          </p>
        </section>
      {{/if}}
    </div>
  </div>
</section>