<div class='table-responsive'>
  <table class='table'>
    <thead>
      <tr>
        <th class='col-md-3'>Person</th>
        <th class='col-md-2'>Office</th>
        <th class='col-md-2'>BHS ID</th>
        <th class='col-md-2'>Email</th>
        <th class='col-md-2'>Phone</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedOfficers as |officer|}}
        <tr>
          {{#if officer.isLoading}}
            <td colspan=4>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
          {{else}}
            {{#if officer.person.isLoading}}
              <td colspan=1>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
            {{else}}
              <td>{{officer.person.fullName}}</td>
            {{/if}}
            {{#if officer.office.isLoading}}
              <td colspan=1>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
            {{else}}
              <td>{{officer.office}}</td>
            {{/if}}
            <td>{{officer.person.bhsId}}</td>
            <td><a href='mailto:{{officer.person.email}}'>{{officer.person.email}}</a></td>
            <td><a href='tel:{{officer.person.cellPhone}}'>{{officer.person.cellPhone}}</a></td>
          {{/if}}
        </tr>
      {{else}}
        <tr>
          <td colspan=3>No officers.  Please check the {{member-center}} if you believe this is in error.</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>