<div class='panel panel-default'>
  <div class='panel-heading'>
    <h3>
      Your Groups
    </h3>
  </div>
  <div class='panel-body'>
    <div class='table-responsive'>
      <table class='table'>
        <caption>You are an officer of the following groups:</caption>
        <thead>
          <tr>
            <th class='col-md-1'>Image</th>
            <th>Name</th>
            <th>Kind</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedGroups as |group|}}
            <tr>
              <td>
                {{cloudinary-image group.imageId (hash width=64) class='img-responsive img-rounded'}}
              </td>
              <td>
                {{#link-to 'dashboard.groups.group.details' group}}{{group.name}}{{/link-to}}
              </td>
              <td>
                {{group.kind}}
              </td>
            </tr>
          {{else}}
            <tr>
              <td></td>
              <td>(You are not listed as an officer for any active groups.)</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <div class='panel-footer'>
  <section>
    <p>
      {{#bs-button type='link' onClick=(toggle 'collapsedNote' this)}}
        Your group not listed? Click here.
      {{/bs-button}}
    </p>
    {{#bs-collapse collapsed=collapsedNote}}
      <p>
        If your group is not listed, please review your memberships in the {{member-center}} and ensure you are the admin contact for your quartet or a designated Chapter Leader of your chorus (limited to: President, Secretary, Director, Assistant or Associate Director, and Chorus Manager).
      </p>
      <p>
        Also note that <em>newly registered quartets</em> will not show in Barberscore until BHS headquarters has:
      </p>
      <ul class='list-styled'>
        <li>Approved the quartet name</li>
        <li>Processed the subscription fee</li>
        <li>Updated the Member Center record</li>
      </ul>
      <p>
        <em>This process can take up to 5 business days, or longer during peak season.</em>  Once made active in the {{member-center}}, the group will appear in Barberscore the next day.
      </p>
    {{/bs-collapse}}
    </section>
  </div>
</div>