<h3>
  {{group.name}}
</h3>
<div>
  {{#if group.picture}}
      <img src='{{group.picture}}' class='img-responsive img-thumbnail'>
  {{else}}
      <img src='http://s3-us-west-1.amazonaws.com/barberscore/no_image_available.jpg' class='img-responsive img-thumbnail'>
  {{/if}}
</div>
<br><br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class='panel-title'>
      <a data-toggle="collapse" data-parent="#accordion" href="#aboutContestant">About</a>
    </h4>
  </div>
  <div id="aboutContestant" class="panel-collapse collapse in">
    <div class="panel-body">
      <ul class='list-unstyled list-inline'>
        {{#if group.website }}<li><a href='{{group.website}}'>{{group.website}}</a></li>{{/if}}
        {{#if group.facebook }}<li><a href='{{group.facebook}}'>{{group.facebook}}</a></li>{{/if}}
        {{#if group.twitter }}<li><a href='http://twitter.com/{{group.twitter}}'>{{group.twitter}}</a></li>{{/if}}
        {{#if group.phone }}<li>{{group.phone}}</li>{{/if}}
      </ul>
      <p>
        {{#if group.description }}{{group.description}}{{/if}}
      </p>
    </div>
  </div>
</div>
{{#if sess.isAuthenticated}}
<div>
  <form {{action "updateGroup" on="submit"}}>
  <h2>Edit Group</h2>
  <div class="form-group">
    <label for='website'>Website</label>
    {{input value=group.website id='website' class="form-control"}}
  </div>
  <div class="form-group">
    <label for='facebook'>Facebook</label>
    {{input value=group.facebook id='facebook' class="form-control"}}
  </div>
  <div class="form-group">
    <label for='twitter'>Twitter</label>
    {{input value=group.twitter id='twitter' class="form-control"}}
  </div>
  <div class="form-group">
    <label for='phone'>Phone</label>
    {{input value=group.phone id='phone' class="form-control"}}
  </div>
  <div class="form-group">
    <label for='description'>Description</label>
    {{input type='textarea' value=group.description id='description' class="form-control"}}
  </div>
  <button class="btn btn-primary btn-block" type="submit">Save</button>
</form>
</div>
{{/if}}