<div class='table-responsive'>
  <table class='table'>
    <thead>
      <tr>
        <th class='col-md-6'>Title</th>
        <th class='col-md-5'>Arranger(s)</th>
        <th class='col-md-1'>Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedRepertories as |repertory|}}
        <tr>
          {{#if repertory.isNew}}
            <td colspan=1>
              {{#power-select
                search=(perform searchChart)
                selected=repertory.chart
                onchange=(action (mut repertory.chart))
                placeholder="Type in Title or Arranger"
                allowClear=true
                renderInPlace=true
                noMatchesMessage="No Charts with that Title or Arranger Found."
                as |chart|
              }}
                Song: {{chart.nomen}}
              {{/power-select}}
            </td>
            <td colspan=2>
              {{#bs-button onClick=(action 'cancelRepertory' repertory) type="default"}}Cancel{{/bs-button}}
              {{#bs-button type='success'  onClick=(perform saveRepertory repertory) disabled=isDisabled}}Save{{/bs-button}}
            </td>
          {{else}}
            {{#if repertory.chart.isLoading}}
              <td colspan=2>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
            {{else}}
              <td>{{repertory.chart.title}}</td>
              <td>{{repertory.chart.arrangers}}</td>
              <td>
                {{#bs-button type='danger' size='xs' onClick=(perform deleteRepertory repertory) disabled=isDisabled}}Delete{{/bs-button}}
              </td>
            {{/if}}
          {{/if}}
        </tr>
      {{else}}
        <tr>
          <td>
            No songs in Repertory.  Please make sure to enter songs into your repertory before the Session is started or you may be disqualified.
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <p>
    {{#bs-button
      disabled=isDisabled
      onClick=(perform createRepertory)
      type='success'
    }}
      Add Chart to Repertory
    {{/bs-button}}
  </p>
  <p>
    {{#bs-button class='btn btn-link' onClick=(toggle 'customCollapsed' this)}}
      Have a custom chart?  Your chart not showing up in search? Click Here.
    {{/bs-button}}
  </p>
  {{#bs-collapse collapsed=customCollapsed}}
    <p>
      If you have a well-known chart that isn't showing up in search, try a few variations or search via the arranger's name.  We have most of the common charts already in the system.
    </p>
    <p>
      If you have a custom chart, or can't find your song despite your best efforts, then please send an image of the first page of the chart (with the title and arranger clearly visible) to <a href='mailto:charts@barberscore.com'>charts@barberscore.com</a>.  Our datamaster will get the information into the system as quickly as possible -- usually in less than 24 hours -- and then you'll be able to add that chart to your repertory.
    </p>
  {{/bs-collapse}}
</div>

