<div class='table-responsive'>
  <table class='table'>
    <thead>
      <tr>
        <th class='col-md-6'>Title</th>
        <th class='col-md-5'>Arranger(s)</th>
        <th class='col-md-1'>Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedRepertories as |repertory|}}
        <tr>
          {{#if repertory.chart.isLoading}}
            <td colspan=2>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
          {{else}}
            <td>{{repertory.chart.title}}</td>
            <td>{{repertory.chart.arrangers}}</td>
            <td>
              {{#bs-button type='danger' size='xs' onClick=(perform deleteRepertory repertory) disabled=isDisabled}}Delete{{/bs-button}}
            </td>
          {{/if}}
        </tr>
      {{else}}
        <tr>
          <td>
            No songs in Repertory.  Please make sure to enter songs into your repertory before the Session is started or you may be disqualified.
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div>
    <p>
    {{#bs-button type='success' disabled=model.isError onClick=(action (mut createRepertoryModal) true)}}Create New Repertory{{/bs-button}}
    </p>
  </div>
  <p>
    {{#bs-button class='btn btn-link' onClick=(toggle 'customCollapsed' this)}}
      Have a custom chart?  Your chart not showing up in search? Click Here.
    {{/bs-button}}
  </p>
  {{#bs-collapse collapsed=customCollapsed}}
    <p>
      If you have a well-known chart that isn't showing up in search, try a few variations or search via the arranger's name.  We have most of the common charts already in the system.
    </p>
    <p>
      If you have a custom chart, or can't find your song despite your best efforts, then please send an image of the first page of the chart (with the title and arranger clearly visible) to <a href='mailto:charts@barberscore.com'>charts@barberscore.com</a>.  Our datamaster will get the information into the system as quickly as possible -- usually in less than 24 hours -- and then you'll be able to add that chart to your repertory.
    </p>
  {{/bs-collapse}}
</div>
<div>
  {{#bs-modal
    open=createRepertoryModal
    onHidden=(pipe-action (action (mut createRepertoryModal) false) (action (mut createRepertoryModalError) false))
    as |modal|
  }}
    {{#modal.header}}
      <h4>New Repertory</h4>
    {{/modal.header}}
    {{#modal.body}}
      <p>
        Please pick a Chart to enter.
      </p>
      {{#power-select
        search=(perform searchChart)
        selected=chart
        onchange=(action (mut chart))
        placeholder="Type in Title or Arranger"
        allowClear=true
        renderInPlace=true
        noMatchesMessage="No Charts with that Title or Arranger Found."
        as |chart|
      }}
        Song: {{chart.nomen}}
      {{/power-select}}
      {{#if createRepertoryModalError}}
      <p class='text-danger'>
        Could not delete repertory.  Please contact support.
      </p>
      {{/if}}
    {{/modal.body}}
    {{#modal.footer}}
      {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
      {{#bs-button type='success' onClick=(perform saveRepertory chart) disabled=isDisabled}}
        {{#if saveRepertory.isRunning}}
          Creating {{fa-icon "spinner" spin=true}}
        {{else}}
          Create Repertory
        {{/if}}
      {{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
</div>

