<div class='table-responsive'>
  <table class='table'>
    <thead>
      <tr>
        <th class='col-md-3'>Person</th>
        {{#if (eq model.kind 'Quartet')}}
          <th class='col-md-1'>Part</th>
        {{/if}}
        {{!-- <th class='col-md-2'>Email</th> --}}
        {{!-- <th class='col-md-2'>Phone</th> --}}
        <th class='col-md-1'>DOB</th>
        <th class='col-md-1'>BHS ID</th>
        <th class='col-md-1'>BHS Status</th>
        <th class='col-md-1'>Current Through</th>
        {{!-- <th class='col-md-1'>Action</th> --}}
        {{!-- <th>Start</th> --}}
        {{!-- <th>End</th> --}}
      </tr>
    </thead>
    <tbody>
      {{#each sortedMembers as |member|}}
        <tr>
          {{#if member.isLoading}}
            <td colspan=4>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
          {{else}}
            {{#if member.person.isLoading}}
              <td colspan=1>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
            {{else}}
              <td>{{member.person.fullName}}</td>
            {{/if}}
            {{#if (eq model.kind 'Quartet')}}
              <td>{{#if member.part}}{{member.part}}{{else}}(Unknown){{/if}}</td>
            {{/if}}
            {{!-- <td><a href='mailto:{{member.person.email}}'>{{member.person.email}}</a></td> --}}
            {{!-- <td><a href='tel:{{member.person.cellPhone}}'>{{member.person.cellPhone}}</a></td> --}}
            <td>{{moment-format member.person.birthDate 'L'}}</td>
            <td>{{member.person.bhsId}}</td>
            {{#if member.person.user.isLoading}}
              <td colspan=2>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
            {{else}}
              <td>{{member.person.user.status}}</td>
              <td>{{moment-format member.person.currentThrough 'L'}}</td>
            {{/if}}
          {{/if}}
        </tr>
      {{else}}
        <tr>
          <td colspan=3>Membership Lists Temporarily Unavailable!  Please check on the <a href='https://members.barbershop.org'>Member Center</a> for current membership.  (You may still enter the contest as normal.) </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
