{{yield}}
  <td>
    {{model-picture picture=judge.person.picture}}
  </td>
  <td>
    {{#power-select
          search=(action "searchPerson")
          selected=judge.person
          onchange=(action (mut judge.person))
          placeholder="Enter Person Name"
          allowClear=true
          as |person|
    }}
      {{person.name}}
    {{/power-select}}
  </td>
  <td>
    {{#power-select
      options=categoryOptions
      selected=judge.category
      onchange=(action (mut judge.category))
      placeholder='Category'
      allowClear=true
      as |category|
    }}
      {{category}}
    {{/power-select}}
  </td>
  <td>
    {{#power-select
      options=kindOptions
      selected=judge.kind
      onchange=(action (mut judge.kind))
      placeholder='Kind'
      allowClear=true
      as |kind|
    }}
      {{kind}}
    {{/power-select}}
  </td>
  <td>
    {{#power-select
      options=statusOptions
      selected=judge.status
      onchange=(action (mut judge.status))
      placeholder='Status'
      allowClear=true
      as |status|
    }}
      {{status}}
    {{/power-select}}
  </td>
