<table class='table'>
  <thead>
  <tr>
  <th>Slot</th>
  <th>Judge</th>
  <th>Status</th>
  </tr>
  </thead>
  <tbody>
  {{#each judges as |judge|}}
    <tr>
    <td>{{judge.category}} {{judge.kind}} {{judge.slot}}</td>
    {{!-- <td>{{judge.person.name}}</td> --}}
    <td>{{#power-select
      search=(action "searchPerson")
      selected=judge.person
      onchange=(action "saveRecord")
      as |person|
    }}
      {{person.name}}
    {{/power-select}}
    </td>
    <td>{{#power-select
      options=judgeStatus
      selected=judge.status
      onchange=(action "saveRecord")
      as |status|
    }}
      {{status}}
    {{/power-select}}
    </td>
    </tr>
  {{/each}}
  </tbody>
</table>
