<div class='table-responsive'>
  <table class='table'>
    <caption>Activity</caption>
    <thead>
      <tr>
        <th>Transition</th>
        <th>By</th>
        <th>Description</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedLogs as |log|}}
        <tr>
          <td>{{titleize log.transition}}</td>
          <td>{{log.by.person.commonName}}</td>
          <td>{{log.description}}</td>
          <td>{{moment-format log.timestamp 'LL'}}</td>
        </tr>
      {{else}}
        <tr>
          <td>No transitions.</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
