<div class='panel panel-default'>
  <div class='panel-heading'>
    <h3>
      Your Memberships
    </h3>
  </div>
  <div class='panel-body'>
    <div class='table-responsive'>
      <table class='table'>
        <caption>These are the active groups of which you are currently a member. However, only members designated as a group admin will be able to edit and enter that group into a contest. All other members have view-only access. Please read the tutorials or FAQ to learn more.</caption>
        <thead>
          <tr>
            <th class='col-md-1'>Image</th>
            <th>Name</th>
            <th>Primary Voice Part</th>
            <th>Start Date</th>
            <th>End Date</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedMembers as |member|}}
            <tr>
              <td>
                {{cloudinary-image member.group.imageId (hash width=64) class='img-responsive img-rounded'}}
              </td>
              <td>
                {{#link-to 'dashboard.groups.group.details' member.group}}{{member.group.name}}{{/link-to}}
              </td>
              <td>
                {{#if member.part}}{{member.part}}{{else}}(Unknown){{/if}}
              </td>
              <td>
                {{moment-format member.startDate 'L'}}
              </td>
              <td>
                {{moment-format member.endDate 'L'}}
              </td>
            </tr>

          {{else}}
            <tr>
              <td></td>
              <td>(You do not have any current membership.  Please check with the {{member-center}} if you believe this is in error.)</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <div class='panel-footer'>
    <p>
      {{#bs-button class='btn btn-link' onClick=(toggle 'collapsedNote' this)}}
        Your group not listed? Click here.
      {{/bs-button}}
    </p>
    {{#bs-collapse collapsed=collapsedNote}}
      <p>
        This is the list of currently active groups for which you are an active member. Please access the BHS {{member-center}} and check your group subscription and membership status.
      </p>
      <p>
        If the Member Center shows that you are a current member and your district-affiliated group is not listed please submit an inquiry to report the situation to {{customer-support}}.  (Only groups with a district-affiliation appear in Barberscore.)
      </p>
      <p><strong>NOTE:</strong> Please be patient as <em>newly registered quartets</em> will not be displayed in Barberscore until BHS headquarters has:
      </p>
      <ul class='list-styled'>
        <li>Approved the quartet name</li>
        <li>Processed the subscription fee</li>
        <li>Finalized the Member Center record</li>
        <li>Assigned a district</li>
      </ul>
      <p>
        <em>That process can take up to 5 business days.</em>
      </p>
    {{/bs-collapse}}
  </div>
</div>