<div class='table-responsive'>
  <table class='table table-hover table-sm'>
    <thead class='thead-light'>
      <tr>
        <th>Action</th>
        <th>By</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.sortedStatelogs as |statelog|}}
        <tr>
          {{#if statelog.isLoading}}
            <td colspan=6>Loading&nbsp;<FaIcon @icon='spinner' @spin={{true}} /></td>
          {{else}}
            <td>
              {{capitalize-word statelog.transition}}
            </td>
            {{#if statelog.by.isLoading}}
              <td colspan=1>Loading&nbsp;<FaIcon @icon='spinner' @spin={{true}} /></td>
            {{else}}
              <td>{{statelog.by.name}}</td>
            {{/if}}
            <td>
              {{moment-format statelog.timestamp 'LLLL'}}
            </td>
          {{/if}}
        </tr>
      {{else}}
        <tr>
          <td>
            (No Logs.)
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>