<div class='table-responsive'>
  <table class='table'>
    <thead>
      <tr>
        <th class='col-md-1'>Action</th>
        <th class='col-md-2'>By</th>
        <th class='col-md-2'>Timestamp</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedStatelogs as |statelog|}}
        <tr>
          {{#if statelog.isLoading}}
            <td colspan=6>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
          {{else}}
            <td>
              {{capitalize-word statelog.transition}}
            </td>
            {{#if statelog.by.isLoading}}
              <td colspan=1>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
            {{else}}
              <td>{{statelog.by.person.commonName}}</td>
            {{/if}}
            <td>
              {{moment-format statelog.timestamp 'LLLL'}}
            </td>
          {{/if}}
        </tr>
      {{else}}
        <tr>
          <td>
            (No Logs.)
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>