<div class='card'>
  <div class='card-header'>
    <h3>
      Your Organizations
    </h3>
  </div>
  <div class='card-body'>
    <div class='table-responsive'>
      <table class='table table-hover table-sm'>
        <caption>You are an active officer for the following organizations:</caption>
        <thead class='thead-light'>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Kind</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedGroups as |group|}}
            <tr>
              <td>
                {{cloudinary-image group.imageId (hash width=64) class='img-fluid img-rounded'}}
              </td>
              <td>
                {{#link-to 'dashboard.groups.group.details' group}}{{html-safe group.name}}{{/link-to}}
              </td>
              <td>
                {{group.kind}}
              </td>
            </tr>
          {{else}}
            <tr>
              <td>(You are not listed as an officer for any active groups.  Please check the {{member-center}}.)</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>