<div class='panel panel-default'>
  <div class='panel-heading'>
    <h3>
      Your Organizations
    </h3>
  </div>
  <div class='panel-body'>
    <div class='table-responsive'>
      <table class='table'>
        <caption>You are an active officer for the following organizations:</caption>
        <thead>
          <tr>
            <th class='col-md-1'>Image</th>
            <th>Name</th>
            <th>Kind</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedGroups as |group|}}
            <tr>
              <td>
                {{#if group.image}}
                  <img src={{group.image}} class='img-responsive img-rounded'>
                {{else}}
                  <img src='/assets/no_image_available.jpg' class='img-responsive'>
                {{/if}}
              </td>
              <td>
                {{#link-to 'dashboard.groups.group.details' group}}{{group.name}}{{/link-to}}
              </td>
              <td>
                {{group.kind}}
              </td>
            </tr>
          {{else}}
            <tr>
              <td>(You are not listed as an officer for any active groups.  Please check the {{member-center}}.)</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
