<BsButton
  @type='danger'
  @disabled={{this.model.isDisabled}}
  @onClick={{action (mut this.deleteOutcomeModal) true}}
>
  Delete Outcome
</BsButton>
<BsModal
  @open={{this.deleteOutcomeModal}}
  @onHidden={{pipe-action (action (mut this.deleteOutcomeModal) false) (action (mut this.deleteOutcomeModalError) false)}}
  as |modal|
>
  <modal.header>
    <h4>Delete Outcome</h4>
  </modal.header>
  <modal.body>
    <p>
      This will delete the Outcome.  Generally used to remove a Contest added in error, or for which all contenders have scratched.
    </p>
    {{#if this.deleteOutcomeModalError}}
    <p class='text-danger'>
      Could not delete outcome.  Please contact support.
    </p>
    {{/if}}
  </modal.body>
  <modal.footer>
    <BsButton @onClick={{action modal.close}} type="default">Cancel</BsButton>
    <BsButton @type='danger' @onClick={{perform this.deleteOutcome}}>
      {{#if this.deleteOutcome.isRunning}}
        Deleting <FaIcon @icon="spinner" @spin={{true}} />
      {{else}}
        Delete Outcome
      {{/if}}
    </BsButton>
  </modal.footer>
</BsModal>