<BsButton
  @type='danger'
  @disabled={{this.model.isDisabled}}
  @onClick={{action (mut this.deletePanelistModal) true}}
>
  Remove Panelist
</BsButton>
<BsModal
  @open={{this.deletePanelistModal}}
  @onHidden={{pipe-action (action (mut this.deletePanelistModal) false) (action (mut this.deletePanelistModalError) false)}}
  as |modal|
>
  <modal.header>
    <h4>Remove Panelist</h4>
  </modal.header>
  <modal.body>
    <p>
      This will remove the judge from the panel.
    </p>
    {{#if this.deletePanelistModalError}}
    <p class='text-danger'>
      Could not remove panelist.  Please contact support.
    </p>
    {{/if}}
  </modal.body>
  <modal.footer>
    <BsButton @onClick={{action modal.close}} type="default">Cancel</BsButton>
    <BsButton @type='danger' @onClick={{perform this.deletePanelist}}>
      {{#if this.deletePanelist.isRunning}}
        Removing <FaIcon @icon="spinner" @spin={{true}} />
      {{else}}
        Remove Panelist
      {{/if}}
    </BsButton>
  </modal.footer>
</BsModal>