<td>{{performance.draw}}</td>
<td>{{moment-format performance.start_dt  'h:mm A'}}</td>
<td>{{#link-to 'convention.session.round.group' performance.performer.group}}{{performance.performer.group.name}}{{/link-to}}</td>
<td>
  {{#each performance.songs as |song|}}
    {{song.tune.name}}<br>
  {{/each}}
</td>
<td>{{single-fixed performance.performer.prelim}}</td>
