<BsButton
  @type='danger'
  @disabled={{this.model.isDisabled}}
  @onClick={{action (mut this.resetRoundModal) true}}
>
  Reset Round
</BsButton>
<BsModal
  @open={{this.resetRoundModal}}
  @onHidden={{pipe-action (action (mut this.resetRoundModal) false) (action (mut this.resetRoundModalError) false)}}
  as |modal|
>
  <modal.header>
    <h4>Reset Round</h4>
  </modal.header>
  <modal.body>
    <p>
        This Resets the Round, returning it to a "New" state. This deletes all information you have entered including Panelists, Appearances, Song Title, and Scores.
    </p>
    <p>
      <span class='text-danger'><strong>BE ABSOLUTELY CERTAIN YOU WISH TO RESET THE ROUND!</strong></span>
    </p>
    <p>
        This action is irreversible.  Once you click "Reset", you will need to Build the Round and re-confirm and re-enter all data.
    </p>

    {{#if this.resetRoundModalError}}
    <p class='text-danger'>
      Could not Reset Round.
    </p>
    {{/if}}
  </modal.body>
  <modal.footer>
    <BsButton @onClick={{action modal.close}} type="default">Cancel</BsButton>
    <BsButton @type='danger' @disabled={{this.model.isError}} @onClick={{perform this.resetRound}}>
      {{#if this.resetRound.isRunning}}
        Resetting <FaIcon @icon="spinner" @spin={{true}} />
      {{else}}
        Reset Round
      {{/if}}
    </BsButton>
  </modal.footer>
</BsModal>