<section>
  {{#if (eq model.kind 'Finals')}}
    <h4>
      (There is no next round to Draw.)
    </h4>
  {{else if (or (eq model.status 'New')(eq model.status 'Built')(eq model.status 'Started'))}}
    <h4>
      The Draw is available after the Round has Completed.
    </h4>
  {{else if (and isEditing (eq model.status 'Completed'))}}
    <div class='pb-2'>
      {{#bs-button type='outline-dark' disabled=model.isDisabled onClick=(action 'toggleDraw')}}{{#if isEditing}}Draw is Unlocked.  Click to Lock Draw{{else}}Draw is Locked.  Click to Unlock Draw{{/if}}{{/bs-button}}
    </div>
    <div class='table-responsive'>
      <table class='table table-hover'>
        <thead class='thead-light'>
          <tr>
            <th>OA</th>
            <th>Name</th>
            <th>Notes</th>
          </tr>
        </thead>
          <tr>
            <td>
              MT
            </td>
            <td>
              {{mt.0.group.name}}
            </td>
            <td>
            </td>
          </tr>
          {{#sortable-group tagName='tbody' onChange="reorderItems" as |group|}}
            {{#each sortedAppearances as |item|}}
              {{#sortable-item tagName="tr" model=item group=group class='handle' handle=".handle"}}
                <td>
                  {{item.draw}}
                </td>
                <td>
                  {{item.group.name}}
                </td>
                <td>{{item.description}}</td>
              {{/sortable-item}}
            {{else}}
              <tr>
                <td>(No appearances.)</td>
              </tr>
            {{/each}}
          {{/sortable-group}}
      </table>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <p><strong>Note:</strong> To adjust the draw, simply grab a row and reposition it to where you want.  To confirm this initial (random) draw, then grab a row and return to its original position.  Each move reorders the list and saves automatically.</p>
      </div>
    </div>
  {{else}}
    <div>
      {{#if (eq model.status 'Completed')}}
    <div class='pb-2'>
          <div class='col-md-6'>
            {{#bs-button type='outline-dark' disabled=model.isDisabled onClick=(action 'toggleDraw')}}{{#if isEditing}}Draw is Unlocked.  Click to Lock Draw{{else}}Draw is Locked.  Click to Unlock Draw{{/if}}{{/bs-button}}
          </div>
        </div>
      {{else}}
        <div class='row'>
          <div class='col-md-6'>
            Once the Round is Verified further changes are not possible.
          </div>
        </div>
      {{/if}}
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <table class='table table-hover'>
          <thead class='thead-light'>
            <tr>
              <th>Draw</th>
              <th>Name</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                MT
              </td>
              <td>
                {{mt.0.group.name}}
              </td>
              <td>
              </td>
            </tr>
            {{#each sortedAppearances as |appearance|}}
              <tr>
                <td>
                  {{appearance.draw}}
                </td>
                <td>
                  {{appearance.group.name}}
                </td>
                <td>
                  {{appearance.description}}
                </td>
              </tr>
            {{else}}
              <tr>
                <td>(No appearances.)</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    {{#if (eq model.status 'Completed')}}
      <div class='row'>
        <div class='col-md-6'>
          <p><strong>Note:</strong> If you wish to edit the draw, please click the "Unlock Draw" button.  You'll then be able to make adjustments, which will automatically save.</p>
        </div>
      </div>
    {{/if}}
  {{/if}}
</section>