{{#if (or (eq model.status 'Verified')(eq model.status 'Finished'))}}
  <div class='table-responsive'>
    <table class='table'>
        <caption>
          These are the contests for which you can select a winner.
        </caption>
      <thead>
        <tr>
          <th class='col-md-3'>Status</th>
          <th class='col-md-1'>Is Manual</th>
          <th class='col-md-1'>Num Rounds</th>
          <th class='col-md-2'>Name</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedContests as |contest|}}
          <tr>
            <td>
              {{#link-to 'dashboard.conventions.convention.sessions.session.rounds.round.contests.contest' contest}}{{contest.award.name}}{{/link-to}}
            </td>
            <td>
              {{#if (eq contest.award.level 'Manual')}}
                {{fa-icon 'check-circle' class='text-success'}}
              {{/if}}
            </td>
            <td>
              {{contest.award.rounds}}
            </td>
            <td>
              {{#if contest.includedContestantsCount}}
                {{#if contest.group}}
                  {{contest.group.name}}
                {{else}}
                  (Not Yet Determined/Select Manually.)
                {{/if}}
              {{else}}
                  (No contestants.)
              {{/if}}
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan=3>No contests.</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{else}}
  <h4>
    Winners are determined after the Round is Verified.
  </h4>
{{/if}}
