{{#if (eq model.status 'New')}}
    <h4>Standings are available after the Round is Started.</h4>
{{else}}
  {{#unless (eq model.kind 'Finals')}}
    <section>
        {{#bs-form
          formLayout="vertical"
          model=model
          as |form|
        }}
          {{form.element
            controlType='tel'
            disabled=isDisabled
            label='Spots Available in Next Round (blank for unlimited).'
            property='spots'
            size=10
            onChange=(perform autosave 'spots')}}
        {{/bs-form}}
    </section>
    <section>
      <div class='table-responsive'>
        <table class='table'>
          <caption>
            All multi-round competitors, ordered by rank.
          </caption>
          <thead>
            <tr>
              <th class='col-md-1'>Rank</th>
              <th class='col-md-7'>Name</th>
              <th class='col-md-1'>Points</th>
              <th class='col-md-1'>Score</th>
              <th class='col-md-1'>Status</th>
              <th class='col-md-2'>Draw</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedMultiAppearances as |appearance index|}}
              <tr class="{{if (and (eq index model.spots) (not-eq model.kind 'Finals')) 'border-top'}}">
                {{#if appearance.isLoading}}
                  <td colspan=8>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
                {{else}}
                  {{#if appearance.competitorstats.tot.score}}
                    <td>{{inc index}}</td>
                  {{else}}
                    <td></td>
                  {{/if}}
                  {{#if appearance.competitor.isLoading}}
                    <td>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
                  {{else}}
                    <td>{{#link-to 'dashboard.conventions.convention.sessions.session.rounds.round.competitors.competitor' appearance.competitor}}{{appearance.competitor.groupName}}{{/link-to}}</td>
                  {{/if}}
                  <td>{{#if appearance.competitorstats.tot.points}}{{appearance.competitorstats.tot.points}}{{else}}N/A{{/if}}</td>
                  <td>{{single-fixed appearance.competitorstats.tot.score}}</td>
                  <td>
                    {{appearance.status}}
                  </td>
                  <td>
                    {{#if (eq model.status 'Verified')}}
                      {{input
                        class='form-control text-right input-sm'
                        type='tel'
                        value=appearance.draw
                        min=0
                        disabled=model.isDisabled
                        max=100
                        change=(perform autosaveDraw appearance value='target.value')
                      }}
                    {{else}}
                      {{appearance.draw}}
                    {{/if}}
                  </td>
                {{/if}}
              </tr>
            {{else}}
              <tr>
                <td colspan=8>(No multi-round competitors.)</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </section>
    <section>
      <div class='table-responsive'>
        <table class='table'>
          <caption>
            All single-round competitors ordered by rank.
          </caption>
          <thead>
            <tr>
              <th class='col-md-1'>Rank</th>
              <th class='col-md-8'>Name</th>
              <th class='col-md-1'>Points</th>
              <th class='col-md-1'>Score</th>
              <th class='col-md-1'>Status</th>
              <th class='col-md-1'></th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedSingleAppearances as |appearance index|}}
              <tr class="{{if (and (eq index model.spots) (not-eq model.kind 'Finals')) 'border-top'}}">
                {{#if appearance.isLoading}}
                  <td colspan=8>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
                {{else}}
                  {{#if appearance.competitorstats.tot.score}}
                    <td>{{inc index}}</td>
                  {{else}}
                    <td></td>
                  {{/if}}
                  {{#if appearance.competitor.isLoading}}
                    <td>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
                  {{else}}
                    <td>{{#link-to 'dashboard.conventions.convention.sessions.session.rounds.round.competitors.competitor' appearance.competitor}}{{appearance.competitor.groupName}}{{/link-to}}</td>
                  {{/if}}
                  <td>{{#if appearance.competitorstats.tot.points}}{{appearance.competitorstats.tot.points}}{{else}}N/A{{/if}}</td>
                  <td>{{single-fixed appearance.competitorstats.tot.score}}</td>
                  <td>
                    {{appearance.status}}
                  </td>
                  <td></td>
                {{/if}}
              </tr>
            {{else}}
              <tr>
                <td colspan=8>(No single-round competitors.)</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </section>
  {{else}} {{!-- Finals --}}
    <section>
      <div class='table-responsive'>
        <table class='table'>
          <caption>
            All competitors in cumulative rank order.
          </caption>
          <thead>
            <tr>
              <th class='col-md-1'>Rank</th>
              <th class='col-md-8'>Name</th>
              <th class='col-md-1'>Points</th>
              <th class='col-md-1'>Score</th>
              <th class='col-md-1'>Status</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedAppearances as |appearance index|}}
              <tr class="{{if (and (eq index model.spots) (not-eq model.kind 'Finals')) 'border-top'}}">
                {{#if appearance.isLoading}}
                  <td colspan=8>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
                {{else}}
                  {{#if appearance.competitorstats.tot.score}}
                    <td>{{inc index}}</td>
                  {{else}}
                    <td></td>
                  {{/if}}
                  {{#if appearance.competitor.isLoading}}
                    <td>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
                  {{else}}
                    <td>{{#link-to 'dashboard.conventions.convention.sessions.session.rounds.round.competitors.competitor' appearance.competitor}}{{appearance.competitor.groupName}}{{/link-to}}</td>
                  {{/if}}
                  <td>{{#if appearance.competitorstats.tot.points}}{{appearance.competitorstats.tot.points}}{{else}}N/A{{/if}}</td>
                  <td>{{single-fixed appearance.competitorstats.tot.score}}</td>
                  <td>
                    {{appearance.status}}
                  </td>
                {{/if}}
              </tr>
            {{else}}
              <tr>
                <td colspan=8>(No competitors currently entered for this session.)</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </section>
  {{/unless}}
{{/if}}