<section>
  <div class='panel panel-default'>
    <div class='panel-heading fixed-panel-header'>
        {{prev-next model=model sortedArray=sortedPanelists}}
      <h4>
        {{model.person.commonName}}
      </h4>
    </div>
    <div class='panel-body'>
      <section>
        <div>
          {{#if model.person.image}}
            <img src={{model.person.image}} class='img-responsive img-rounded smallbox'>
          {{else}}
            <img src='/assets/no_image_available.jpg' class='img-responsive'>
          {{/if}}
        </div>
        <h4>
          {{model.kind}}&nbsp;{{model.category}}
        </h4>
      </section>
    </div>
    <div class='panel-footer fixed-panel-footer'>
      <ul class='list-inline'>
        {{#if (eq model.round.status 'Built')}}
          <li>{{panelist-delete model=model}}</li>
        {{else if (eq model.category 'CA')}}
          <li></li>
        {{else if (or (eq model.round.status 'Completed')(eq model.round.status 'Verified')(eq model.round.status 'Published'))}}
          <li>{{download-psa model=model}}</li>
        {{/if}}
        <li class='pull-right'><h4>Panelist Status: <strong>{{model.status}}</strong></h4></li>
      </ul>
    </div>
  </div>
</section>