<section>
  {{this.sortedPanelists}}
  <div class='card'>
    <div class='card-header'>
        <!-- {{prev-next model=this.model sortedArray=this.sortedPanelists}} -->
      <h4>
        {{this.model.name}}
      </h4>
    </div>
    <div class='card-body'>
      <section>
        {{#if this.model.imageId}}
        <div>
          <CloudinaryImage @publicId={{this.model.imageId}} @options={{hash height='64'}} class='img-fluid img-rounded' />
        </div>
        {{/if}}

        <div class='row'>
          <div class='col-sm-2'>
            <p>
              <label>Kind</label>
              <PowerSelect
              @disabled={{this.isDisabled}}
              @options={{this.kindOptions}}
              @selected={{this.model.kind}}
              @onChange={{perform this.autosave 'kind' value='target.value'}}
              @placeholder="Choose Kind"
              as |kind|
              >
              {{kind}}
            </PowerSelect>
            </p>

            <p>
              <label>Category</label>
              <PowerSelect
              @disabled={{this.isDisabled}}
              @options={{this.categoryOptions}}
              @selected={{this.model.category}}
              @onChange={{perform this.autosave 'category' value='target.value'}}
              @placeholder="Choose Category"
              @renderInPlace={{true}}
              as |category|
            >
              {{category}}
            </PowerSelect>

            </p>
          </div>
        </div>

        {{#if this.isScoringJudge}}
          <div class="form-row">
            <label class="mr-2 col-form-label">Number:</label>
            <Input
              class='form-control col-sm-1 text-right'
              type='tel'
              @value={{this.model.num}}
              min=0
              disabled={{this.isDisabled}}
              max=200
              onchange={{perform this.autosave value='target.value'}}
            />
          </div>
        {{/if}}
        {{#if this.savePanelistError}}
          <p class='text-danger'>
            {{this.savePanelistError}}
          </p>
        {{/if}}
      </section>
    </div>
    <div class='card-footer'>
      <ul class='list-inline'>
        {{#if (eq this.model.round.status 'Built')}}
          <li>{{panelist-delete model=this.model}}</li>
        {{else if (or (eq this.model.category 'PC')(eq this.model.category 'ADM')(eq this.model.category 'CA'))}}
          <li></li>
        {{else if (or (eq this.model.round.status 'Completed')(eq this.model.round.status 'Finalized')(eq this.model.round.status 'Published'))}}
          <li>{{download-psa model=this.model}}</li>
        {{/if}}
        <li class='float-end'><h4>Panelist Status: <strong>{{this.model.status}}</strong></h4></li>
      </ul>
    </div>
  </div>
</section>