<section id="appearance-detail">
  <div class='panel panel-default'>
    <div class='panel-heading fixed-panel-header'>
      <ul class='list-inline pull-right'>
        {{#if (has-previous model sortedAppearances)}}
          <li>
            {{#bs-button onClick=(action (mut model) (previous model sortedAppearances))}}
             Previous
            {{/bs-button}}
          </li>
        {{else}}
          <li>
            {{#bs-button disabled=true onClick=(action (mut model) (previous model sortedAppearances))}}
               Previous
            {{/bs-button}}
          </li>
        {{/if}}
        {{#if (has-next model sortedAppearances)}}
          <li>
            {{#bs-button onClick=(action (mut model) (next model sortedAppearances))}}
              Next
            {{/bs-button}}
          </li>
        {{else}}
          <li>
            {{#bs-button disabled=true onClick=(action (mut model) (next model sortedAppearances))}}
              Next
            {{/bs-button}}
          </li>
        {{/if}}
      </ul>
      <h4>
        #{{model.num}}: {{model.competitor.group.name}}
        {{#if (eq model.status 'Verified')}}
          {{#if model.isDetected}}
            <a href={{model.varianceReport}}><span class="label label-danger">Variance Detected</span></a>
          {{else}}
            {{fa-icon 'check-circle' class='text-success'}}
          {{/if}}
        {{/if}}
     </h4>
    </div>
    <div class='panel-body'>
      <section>
        {{appearance-details model=model}}
      </section>
      {{#if (or
        (eq model.status 'Started')
        (eq model.status 'Finished')
        (eq model.status 'Verified')
      )}}
        <hr>
        <section>
          {{appearance-songs model=model}}
        </section>
      {{/if}}
      {{#if (or
        (eq model.status 'Finished')
        (eq model.status 'Verified')
      )}}
        <hr>
        <section>
          {{appearance-panelists model=model}}
        </section>
      {{/if}}
      {{!-- <hr>
      <section>
        {{log-index model=model}}
      </section> --}}
    </div>
    <div class='panel-footer fixed-panel-footer'>
      <ul class='list-inline'>
        {{#if model.permissions.write}}
          {{#if (eq model.status 'Built')}}
            <li>{{appearance-start model=model}}</li>
          {{else if (eq model.status 'Started')}}
            <li>{{appearance-finish model=model}}</li>
          {{else if (or (eq model.status 'Verified')(eq model.status 'Finished'))}}
            <li>{{appearance-verify model=model}}</li>
            <li>Official Points: {{model.totPoints}}</li>
            <li>Practice Points: {{model.practicePoints}}</li>
          {{/if}}
        {{/if}}
        <li class='pull-right'><h4>Appearance Status: <strong>{{model.status}}</strong></h4></li>
      </ul>
    </div>
  </div>
</section>
