<div class='table-responsive'>
  <table class='table'>
    <h6 class='card-title'>
      The Overall Competitors.
    </h6>
    <thead>
      <tr>
        <th class='col-md-1'>Rank</th>
        <th class='col-md-4'>Name</th>
        <th class='col-md-1'>Points</th>
        <th class='col-md-1'>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedCompetitors as |competitor|}}
        <tr>
          {{#if competitor.isLoading}}
            <td colspan=8>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
          {{else}}
            {{!-- <td>
              {{input
                type='checkbox'
                checked=appearance.competitor.isIncluded
                disabled=appearance.competitor.isDisabled
                change=(perform toggleCompetitor appearance value='target.checked')
              }}
            </td> --}}
            <td>{{competitor.totRank}}</td>
            {{#if competitor.group.isLoading}}
              <td>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
            {{else}}
              <td>
                  {{competitor.group.name}}
              </td>
            {{/if}}
            <td>{{competitor.totPoints}}</td>
            <td>{{competitor.status}}</td>
          {{/if}}
        </tr>
      {{else}}
        <tr>
          <td>(No competitors currently entered for this session.)</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
