{{#if (eq model.status 'New')}}
    <h4>The Appearances are available after the Round is Built.</h4>
{{else}}
  <div class='table-responsive'>
    <table class='table'>
      <caption>
        The Order of Appearance for all competitors in this Round.  Click on a Competitor to enter scores.
      </caption>
      <thead>
        <tr>
          <th class='col-md-1'>OA</th>
          <th class='col-md-4'>Name</th>
          {{!-- <th class='col-md-1'>Round Points</th> --}}
          <th class='col-md-1'>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedAppearances as |appearance|}}
          <tr>
            {{#if appearance.isLoading}}
              <td colspan=8>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
            {{else}}
              {{!-- <td>
                {{input
                  type='checkbox'
                  checked=appearance.competitor.isIncluded
                  disabled=appearance.competitor.isDisabled
                  change=(perform toggleCompetitor appearance value='target.checked')
                }}
              </td> --}}
              <td>{{appearance.num}}</td>
              {{#if appearance.competitor.group.isLoading}}
                <td>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
              {{else}}
                <td>
                  {{#link-to
                    'dashboard.conventions.convention.sessions.session.rounds.round.appearances.appearance'
                    appearance
                  }}
                    {{appearance.competitor.group.name}}
                  {{/link-to}}
                  &nbsp;
                  {{#if (eq appearance.status 'Verified')}}
                    {{#if appearance.isDetected}}
                      <a href={{appearance.varianceReport}} target="_blank" ><span class="label label-danger">Variance Detected</span></a>
                    {{else}}
                      {{fa-icon 'check-circle' class='text-success'}}
                    {{/if}}
                  {{/if}}
                </td>
              {{/if}}
              {{!-- <td>{{appearance.totPoints}}</td> --}}
              <td>{{appearance.status}}</td>
            {{/if}}
          </tr>
        {{else}}
          <tr>
            <td>(No competitors currently entered for this session.)</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/if}}
