{{#unless isProduction}}
  <BsButton
  @type='outline-dark'
  @disabled={{this.model.isDisabled}}
  onClick={{action (mut this.mockRoundModal) true}}
  >
    Mock Round
  </BsButton>
  <BsModal
    @open={{this.mockRoundModal}}
    @onHidden={{pipe-action (action (mut this.mockRoundModal) false) (action (mut this.mockRoundModalError) false)}}
    as |modal|
  >
    <modal.header>
      <h4>Mock Round</h4>
    </modal.header>
    <modal.body>
      <p>
          Are you sure you would like to mock all scores for this round?
      </p>
      {{#if this.mockRoundModalError}}
      <p class='text-danger'>
        Could not mock Round.
      </p>
      {{/if}}
    </modal.body>
    <modal.footer>
      <BsButton @onClick={{action modal.close}} @type="default">Cancel</BsButton>
      <BsButton @type='primary' @disabled={{this.model.isError}} @onClick={{perform this.mockRound}}>
        {{#if this.mockRound.isRunning}}
          Mocking... <FaIcon @icon="spinner" @spin={{true}} />
        {{else}}
          Mock Round
        {{/if}}
      </BsButton>
    </modal.footer>
  </BsModal>
{{/unless}}