{{#if (eq this.model.status 'New')}}
    <h4>The Appearances are available after the Round is Built.</h4>
{{else}}
    {{#if (and this.isEditing (eq this.model.status 'Built'))}}
    <div class='row pb-2'>
      <div class='col-md-6'>
        <BsButton @type='outline-dark' @disabled={{this.model.isDisabled}} @onClick={{action 'toggleOrderOfAppearance'}}>{{#if isEditing}}Lock Appearance Order{{else}}Change Appearance Order{{/if}}</BsButton>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table table-hover table-sm'>
        <caption>
          The Order of Appearance for all groups in Round.  Click on a group to enter scores.
        </caption>
        <thead class='thead-light'>
          <tr>
            <th>OA</th>
            <th>Name</th>
            <th>Grid</th>
            <th>Actual</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
          <tr>
            <td>
              MT
            </td>
            <td>
              {{#if this.hasMt}}
                <LinkTo
                  @route='dashboard.conventions.convention.sessions.session.rounds.round.appearances.appearance'
                  @model={{mt}}
                >
                  {{html-safe mt.name}}
                </LinkTo>
              {{/if}}
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
              {{round-appearance-delete model=mt}}
            </td>
          </tr>
          {{#sortable-group tagName='tbody' onChange="reorderItems" as |group|}}
            {{#each this.model.appearances as |appearance|}}
              {{#if (gt appearance.num 0)}}
                {{#sortable-item tagName="tr" model=appearance group=group class='handle' handle=".handle"}}
                  {{#if appearance.isLoading}}
                    <td colspan=5>Loading&nbsp;<FaIcon @icon='spinner' @spin={{true}} /></td>
                  {{else}}
                    <td>{{appearance.num}}</td>
                    <td>
                      <LinkTo
                        @route='dashboard.conventions.convention.sessions.session.rounds.round.appearances.appearance'
                        @model={{appearance}}
                      >
                        {{html-safe appearance.name}}
                      </LinkTo>
                      &nbsp;
                      {{#if (eq appearance.status 'Verified')}}
                        {{fa-icon 'check-circle' class='text-success'}}
                      {{else if (eq appearance.status 'Variance')}}
                        {{download-variance model=appearance}}
                      {{/if}}
                    </td>
                    <td>{{moment-format appearance.onstage 'HH:mm' allow-empty=true}}</td>
                    <td>{{moment-format appearance.actualStart 'HH:mm' allow-empty=true}}</td>
                    <td>{{appearance.status}}</td>
                    <td>
                      {{round-appearance-delete model=appearance}}
                    </td>
                  {{/if}}
                {{/sortable-item}}
              {{/if}}
            {{else}}
              <tr>
                <td>(No groups currently entered for session.)</td>
              </tr>
            {{/each}}
          {{/sortable-group}}
      </table>
    </div>
    <div>
      {{#if (eq this.model.status 'Built')}}
        <p>
          <BsButton @type='success' @disabled={{this.model.isDisabled}} @onClick={{action (mut createAppearanceModal) true}}>Create New Appearance</BsButton>
        </p>
      {{/if}}
    </div>
    <div>
      <BsModal
        @open={{createAppearanceModal}}
        @onHidden={{pipe-action (action (mut createAppearanceModal) false) (action (mut createAppearanceModalError) false)}}
        as |modal|
      >
        <modal.header>
          <h4>New Appearance</h4>
        </modal.header>
        <modal.body>
          <p>
            Enter the details for the Appearance.
          </p>
          <p>
            {{input
              class='form-control'
              type='tel'
              placeholder='Enter Order of Appearance (0 = MT)'
              value=num
              min=-10
              max=99
            }}
          </p>
          <p>
            <PowerSelect
              @search={{perform searchGroup}}
              @selected={{group}}
              @onChange={{action (mut group)}}
              @placeholder="Enter Group Name"
              @allowClear={{true}}
              @renderInPlace={{true}}
              @noMatchesMessage="We Could Not Find a group with that name"
              as |group|
            >
              Group: {{html-safe group.name}} [{{#if group.bhs_id}}{{group.bhs_id}}{{else if group.code}}{{group.code}}{{/if}}]
            </PowerSelect>
          </p>
          {{#if createAppearanceModalError}}
          <p class='text-danger'>
            Could not create appearance.  Be sure the draw numbers are unique!  Otherwise, please contact support.
          </p>
          {{/if}}
        </modal.body>
        <modal.footer>
          <BsButton @onClick={{action modal.close}} @type="default">Cancel</BsButton>
          <BsButton @type='success' @onClick={{perform saveAppearance group num}} @disabled={{isDisabled}}>
            {{#if saveAppearance.isRunning}}
              Creating <FaIcon @icon="spinner" @spin={{true}} />
            {{else}}
              Create Appearance
            {{/if}}
          </BsButton>
        </modal.footer>
      </BsModal>
    </div>
  {{else}}
    {{#if (eq this.model.status 'Built')}}
    <div class='row pb-2'>
      <div class='col-md-6'>
        <BsButton @type='outline-dark' @disabled={{this.model.isDisabled}} @onClick={{action 'toggleOrderOfAppearance'}}>{{#if isEditing}}Lock Appearance Order{{else}}Change Appearance Order{{/if}}</BsButton>
      </div>
    </div>
    {{/if}}
    <div class='table-responsive'>
      <table class='table table-hover table-sm'>
        <caption>
          The Order of Appearance for all groups in Round.  Click on a group to enter scores.
        </caption>
        <thead class='thead-light'>
          <tr>
            <th>OA</th>
            <th>Name</th>
            <th>Grid</th>
            <th>Actual</th>
            <th>Status</th>
            <th class="actions"></th>
          </tr>
        </thead>
          <tr>
            <td>
              MT
            </td>
            <td>
              {{#if this.hasMt}}
                <LinkTo
                  @route='dashboard.conventions.convention.sessions.session.rounds.round.appearances.appearance'
                  @model={{mt}}
                >
                  {{html-safe mt.name}}
                </LinkTo>
              {{/if}}
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            {{#if (and this.hasMt (eq this.model.status 'Built'))}}
              <td>
                {{round-appearance-delete model=mt}}
              </td>
            {{/if}}
          </tr>
          <tbody>
          {{#each this.model.appearances as |appearance|}}
            {{#if (gt appearance.num 0)}}
              <tr>
                {{#if appearance.isLoading}}
                  <td colspan=5>Loading&nbsp;<FaIcon @icon='spinner' @spin={{true}} /></td>
                {{else}}
                  <td>{{appearance.num}}</td>
                  <td>
                    <LinkTo
                      @route='dashboard.conventions.convention.sessions.session.rounds.round.appearances.appearance'
                      @model={{appearance}}
                    >
                      {{html-safe appearance.name}}
                    </LinkTo>
                    &nbsp;
                    {{#if (eq appearance.status 'Verified')}}
                      <FaIcon @icon='check-circle' class='text-success' />
                    {{else if (eq appearance.status 'Variance')}}
                      {{download-variance model=appearance}}
                    {{/if}}
                  </td>
                  <td>{{moment-format appearance.onstage 'HH:mm' allow-empty=true}}</td>
                  <td>{{moment-format appearance.actualStart 'HH:mm' allow-empty=true}}</td>
                  <td>{{appearance.status}}</td>
                  {{#if (eq this.model.status 'Built')}}
                    <td>
                      {{round-appearance-delete model=appearance}}
                    </td>
                  {{/if}}
                {{/if}}
              </tr>
            {{/if}}
          {{else}}
            <tr>
              <td>(No groups currently entered for session.)</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div>
      {{#if (eq this.model.status 'Built')}}
        <p>
          <BsButton @type='success' @disabled={{this.model.isDisabled}} @onClick={{action (mut this.createAppearanceModal) true}}>Create New Appearance</BsButton>
        </p>
      {{/if}}
    </div>
    <div>
      <BsModal
        @open={{this.createAppearanceModal}}
        @onHidden={{pipe-action (action (mut this.createAppearanceModal) false) (action (mut this.createAppearanceModalError) false)}}
        as |modal|
      >
        <modal.header>
          <h4>New Appearance</h4>
        </modal.header>
        <modal.body>
          <p>
            Enter the details for the Appearance.
          </p>
          <p>
            {{input
              class='form-control'
              type='tel'
              placeholder='Enter Order of Appearance (0 = MT)'
              value=num
              min=-10
              max=99
            }}
          </p>
          <p>
            <PowerSelect
              @search={{perform searchGroup}}
              @selected={{group}}
              @onChange={{action (mut group)}}
              @placeholder="Enter Group Name"
              @allowClear={{true}}
              @renderInPlace={{true}}
              @noMatchesMessage="We Could Not Find a group with that name"
              as |group|
            >
              Group: {{html-safe group.name}} [{{#if group.bhs_id}}{{group.bhs_id}}{{else if group.code}}{{group.code}}{{/if}}]
            </PowerSelect>
          </p>
          {{#if createAppearanceModalError}}
          <p class='text-danger'>
            Could not create appearance.  Be sure the draw numbers are unique!  Otherwise, please contact support.
          </p>
          {{/if}}
        </modal.body>
        <modal.footer>
          <BsButton @onClick={{action modal.close}} @type="default">Cancel</BsButton>
          <BsButton @type='success' @onClick={{perform saveAppearance group num}} @disabled={{isDisabled}}>
            {{#if saveAppearance.isRunning}}
              Creating <FaIcon @icon="spinner" @spin={{true}} />
            {{else}}
              Create Appearance
            {{/if}}
          </BsButton>
        </modal.footer>
      </BsModal>
    </div>
  {{/if}}
{{/if}}