{{#if (eq this.model.status 'New')}}
    <h4>The Panelists are available after the Round is Built.</h4>
{{else}}
  <div class='table-responsive'>
    <table class='table table-hover table-sm'>
      <caption>
        If you need to change any panelists please do so before you start the Round.  Once the Round is started, you will not be able to change the Panelists.  (The Panelist Number will automatically be generated once the Round is Started.)
      </caption>
      <thead class='thead-light'>
        <tr>
          <th>Num</th>
          <th>Person</th>
          <th>Category</th>
          <th>Kind</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.sortedPanelists as |panelist|}}
          <tr>
            <td>{{panelist.num}}</td>
            <td><LinkTo @route='dashboard.conventions.convention.sessions.session.rounds.round.panelists.panelist' @model={{panelist}}>{{panelist.name}}</LinkTo></td>
            <td>{{panelist.category}}</td>
            <td>{{panelist.kind}}</td>
          </tr>
        {{else}}
          <tr>
            <td>(No panelists created)</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div>
    {{#if (eq this.model.status 'Built')}}
      <p>
        <BsButton @type='success' @disabled={{this.model.isDisabled}} @onClick={{action (mut this.createPanelistModal) true}}>Create New Panelist</BsButton>
      </p>
    {{/if}}
  </div>
  <div>
    <BsModal
      @open={{this.createPanelistModal}}
      @onHidden={{pipe-action (action (mut this.createPanelistModal) false) (action (mut this.createPanelistModalError) false)}}
      as |modal|
    >
      <modal.header>
        <h4>New Panelist</h4>
      </modal.header>
      <modal.body>
        <p>
          Enter the details for the Panelist.
        </p>
        <p>
          <Input
            class='form-control'
            type='tel'
            placeholder='Enter Number'
            @value={{this.num}}
            min=1
            max=99
          />
        </p>
        <p>
          <PowerSelect
            @search={{perform this.searchPerson}}
            @searchEnabled={{true}}
            @selected={{this.person}}
            @onChange={{action (mut this.person)}}
            @placeholder="Enter Person Name"
            @allowClear={{true}}
            @renderInPlace={{true}}
            @noMatchesMessage="We Could Not Find a person with that name"
            as |person|
          >
            Person: {{person.name}} [{{person.bhs_id}}]
          </PowerSelect>
        </p>
        <p>
          <PowerSelect
            @options={{this.categoryOptions}}
            @selected={{this.category}}
            @onChange={{action (mut this.category)}}
            @placeholder="Choose Category"
            @allowClear={{true}}
            @renderInPlace={{true}}
            as |category|
          >
            {{category}}
          </PowerSelect>
        </p>
        <p>
          <PowerSelect
            @options={{this.kindOptions}}
            @selected={{this.kind}}
            @onChange={{action (mut this.kind)}}
            @placeholder="Choose Kind"
            @allowClear={{true}}
            @renderInPlace={{true}}
            as |kind|
          >
            {{kind}}
          </PowerSelect>
        </p>
        {{#if this.createPanelistModalError}}
        <p class='text-danger'>
          {{this.createPanelistModalError}}
        </p>
        {{/if}}
      </modal.body>
      <modal.footer>
        <BsButton @onClick={{action modal.close}} @type="default">Cancel</BsButton>
        <BsButton @type='success' @onClick={{perform this.savePanelist this.person this.category this.kind this.num}} @disabled={{this.isDisabled}}>
          {{#if this.savePanelist.isRunning}}
            Creating <FaIcon @icon="spinner" @spin={{true}} />
          {{else}}
            Create Panelist
          {{/if}}
        </BsButton>
      </modal.footer>
    </BsModal>
  </div>
{{/if}}