<section>
  <div class='card'>
    <div class='card-header'>
        {{prev-next model=model sortedArray=sortedPanelists}}
      <h4>
        {{model.name}}
      </h4>
    </div>
    <div class='card-body'>
      <section>
        {{#if model.imageId}}
        <div>
          {{cloudinary-image model.imageId (hash width=64) class='img-fluid img-rounded'}}
        </div>
        {{/if}}

        <div class='row'>
          <div class='col-sm-2'>
            <p>
              <label>Kind</label>
            {{#power-select
              options=kindOptions
              selected=model.kind
              onchange=(perform autosave 'kind' value='target.value')
              placeholder="Choose Kind"
              as |kind|
            }}
              {{kind}}
            {{/power-select}}
            </p>

            <p>
              <label>Category</label>
            {{#power-select
              options=categoryOptions
              selected=model.category
              onchange=(perform autosave 'category' value='target.value')
              placeholder="Choose Category"
              renderInPlace=true
              as |category|
            }}
              {{category}}
            {{/power-select}}

            {{!-- {{#power-select
              search=false
              options=categoryOptions
              selected=model.category
              onchange=(action (mut group))
              as |cat|
            }}
              {{cat}}
            {{/power-select}} --}}
            </p>
          </div>
        </div>

        {{#if isScoringJudge}}
          <div class="form-row">
            <label class="mr-2 col-form-label">Number:</label>
            {{input
              class='form-control col-sm-1 text-right'
              type='tel'
              value=model.num
              min=0
              disabled=model.isDisabled
              max=200
              key-press=(perform autosave value='target.value')
            }}
          </div>
        {{/if}}
        {{#if savePanelistError}}
          <p class='text-danger'>
            {{savePanelistError}}
          </p>
        {{/if}}
      </section>
    </div>
    <div class='card-footer'>
      <ul class='list-inline'>
        {{#if (eq model.round.status 'Built')}}
          <li>{{panelist-delete model=model}}</li>
        {{else if (or (eq model.category 'PC')(eq model.category 'ADM')(eq model.category 'CA'))}}
          <li></li>
        {{else if (or (eq model.round.status 'Completed')(eq model.round.status 'Finalized')(eq model.round.status 'Published'))}}
          <li>{{download-psa model=model}}</li>
        {{/if}}
        <li class='pull-right'><h4>Panelist Status: <strong>{{model.status}}</strong></h4></li>
      </ul>
    </div>
  </div>
</section>