{{#if (eq model.status 'New')}}
    <h3>The Competitors are available after the prior round is finished.</h3>
{{else}}
  <div class='table-responsive'>
    <table class='table'>
      <caption>
        All competitors, ranked by total score.  Ranking is available after the Round is reviewed.
      </caption>
      <thead>
        <tr>
          <th class='col-md-1'>Rank</th>
          <th class='col-md-4'>Name</th>
          <th class='col-md-1'>Ranked</th>
          <th class='col-md-1'>Multi</th>
          <th class='col-md-1'>Points</th>
          <th class='col-md-1'>Score</th>
          <th class='col-md-1'>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedCompetitors as |competitor|}}
          <tr>
            {{#if competitor.isLoading}}
              <td colspan=8>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
            {{else}}
              <td>{{competitor.totRank}}</td>
              {{#if competitor.group.isLoading}}
                <td>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
              {{else}}
                <td>{{#link-to 'dashboard.conventions.convention.sessions.session.rounds.round.competitors.competitor' competitor}}{{competitor.group.name}}{{/link-to}}</td>
              {{/if}}
              <td>
                {{competitor.isRanked}}
              </td>
              <td>
                {{competitor.isMulti}}
              </td>
              <td>{{#if competitor.totPoints}}{{competitor.totPoints}}{{else}}N/A{{/if}}</td>
              <td>{{single-fixed competitor.totScore}}</td>
              <td>
                {{competitor.status}}
              </td>
            {{/if}}
          </tr>
        {{else}}
          <tr>
            <td>(No competitors currently entered for this session.)</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/if}}