<BsButton
  @type='danger btn-sm'
  @disabled={{this.model.isDisabled}}
  @onClick={{action (mut this.removeFromDrawModal) true}}
>
  Remove from Draw
</BsButton>
<BsModal
  @open={{this.removeFromDrawModal}}
  @onHidden={{pipe-action (action (mut this.removeFromDrawModal) false) (action (mut this.removeFromDrawModalError) false)}}
  as |modal|
>
  <modal.header>
    <h4>Delete From Draw</h4>
  </modal.header>
  <modal.body>
    <p>
      This will remove <strong>{{html-safe this.model.name}}</strong> from advancing.
    </p>
    {{#if this.removeFromDrawModalError}}
    <p class='text-danger'>
      Could not remove from draw.  Please contact support.
    </p>
    {{/if}}
  </modal.body>
  <modal.footer>
    <BsButton @onClick={{action modal.close}} @type="default">Cancel</BsButton>
    <BsButton @type='danger' @onClick={{perform this.removeFromDraw}}>
      {{#if this.removeFromDraw.isRunning}}
        Deleting <FaIcon @icon="spinner" @spin={{true}} />
      {{else}}
        Delete
      {{/if}}
    </BsButton>
  </modal.footer>
</BsModal>