{{#unless (eq model.status 'New')}}
  <div class='table-responsive'>
    <table class='table table-hover table-sm'>
        <caption>
          <small>Drag an outcome up or down in the list to change the order the outcomes will be printed on the OSS</small>
        </caption>
        <caption>
          Outcomes refers to the awards that will be announced out at the conclusion of this particular round. Winners are determined at Round Verification and can be overriden by the PC or ADM if necessary. <strong>NOTE:</strong> Awards that have a checkmark under the "Manual" column must be manually entered by the PC or ADM.
        </caption>
      <thead class='thead-light'>
        <tr>
          {{#unless (eq model.kind 'Finals')}}<th>Include on<br/>Finals OSS</th>{{/unless}}
          <th>Printed</th>
          <th>Contest</th>
          <th>Manual</th>
          <th>Result</th>
        </tr>
      </thead>
      {{#each sortedOutcomes as |outcome|}}
        {{#sortable-item tagName="tr" model=outcome group=group class='handle' handle=".handle"}}
            {{#unless (eq model.kind 'Finals')}}
            <td>
              {{input type="checkbox" class='pl-2' checked=outcome.printOnFinalsOss click=(perform autosave outcome)}}
            </td>
            {{/unless}}
            <td>
              {{input type="checkbox" class='pl-2' checked=outcome.printed click=(perform autosave outcome) disabled=outcome.printOnFinalsOss}}
            </td>
            <td>
              {{#link-to 'dashboard.conventions.convention.sessions.session.rounds.round.outcomes.outcome' outcome}}{{html-safe outcome.name}}{{/link-to}}
            </td>
            <td>
              {{#if (or (eq outcome.level 'Manual'))}}
                {{fa-icon 'check-circle' class='text-success'}}
              {{/if}}
            </td>
            <td>
              {{html-safe outcome.winner}}
            </td>
        {{/sortable-item}}
      {{else}}
        <tr>
          <td colspan=3>No award outcomes this round.</td>
        </tr>
      {{/each}}
    </table>
  </div>
  <div>
    {{#if (eq model.status 'Built')}}
      <p>
        {{#bs-button type='success' disabled=model.isDisabled onClick=(action (mut createOutcomeModal) true)}}Create New Outcome{{/bs-button}}
      </p>
    {{/if}}
  </div>
  <div>
    {{#bs-modal
      open=createOutcomeModal
      onHidden=(pipe-action (action (mut createOutcomeModal) false) (action (mut createOutcomeModalError) false))
      size='lg'
      as |modal|
    }}
      {{#modal.header}}
        <h4>New Outcome</h4>
      {{/modal.header}}
      {{#modal.body}}
        <p>
          Enter the details for the Outcome.
        </p>
        <p>
          {{input
            class='form-control'
            type='tel'
            placeholder='Enter Award Number'
            value=this.num
            min=-10
            max=99
          }}
        </p>
        <p>
          {{#power-select
            search=(perform searchAward)
            selected=award
            onchange=(action (mut award))
            placeholder="Enter Award Name"
            allowClear=true
            renderInPlace=true
            noMatchesMessage="We Could Not Find an Award with that Name"
            as |award|
          }}
            Award: {{html-safe award.name}}
          {{/power-select}}
        </p>
        {{#if createOutcomeModalError}}
        <p class='text-danger'>
          Could not create outcome. Be sure the draw numbers are unique! Otherwise, please contact support.
        </p>
        {{/if}}
      {{/modal.body}}
      {{#modal.footer}}
        {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
        {{#bs-button type='success' onClick=(perform saveOutcome award num) disabled=isDisabled}}
          {{#if saveOutcome.isRunning}}
            Creating {{fa-icon "spinner" spin=true}}
          {{else}}
            Create Outcome
          {{/if}}
        {{/bs-button}}
      {{/modal.footer}}
    {{/bs-modal}}
  </div>
{{else}}
  <h4>
    Outcomes are available after the Round is Built.
  </h4>
{{/unless}}