Disabled: {{ this.isDisabled }}
{{ this.model.disablePrinted }}
<section>
  <div class='card'>
    <div class='card-header'>
      <div class="row">
        <div class="col-md-6">
          <h4>
            {{html-safe this.model.name}}
          </h4>
        </div>
        <div class="col-md-6">
          {{prev-next model=this.model sortedArray=this.sortedOutcomes}}
        </div>
      </div>
    </div>
    <div class='card-body'>
      {{!-- <section>
      {{#if this.model.contest.notQualifier }}
        <PowerSelect
          @options={{this.model.contest.groupOptions}}
          @selected={{this.model.contest.group}}
          @onChange={{action (mut this.model.contest.group)}}
          @onClose={{action "saveModel" this.model.contest}}
          @placeholder="Choose Award Winner"
          @searchField='name'
          @allowClear={{true}}
          @disabled={{this.model.contest.isDisabled}}
          as |group|
        >
          Winner: {{html-safe group.name}}
        </PowerSelect>
      {{else}}
        (Qualifiers are determined by rule and appear on the OSS)
      {{/if }}
      </section> --}}

      <section>
          <p>
            <label>Result as Printed on OSS: </label>
            <Input
              class='form-control'
              @type='text'
              @value={{this.model.winner}}
              disabled={{this.isDisabled}}
              placeholder='Result populated on Round Completion'
              {{on "input" (perform this.autosave 'winner' value='target.value')}}
            />
          </p>

          {{#if (or (and this.model.isSingle (if this.model.isFinals false true)) this.model.isFinals) }}
          <p>
            <label>
            <Input
              @type='checkbox'
              @checked={{this.model.printed}}
              disabled={{this.model.disablePrinted}}
              {{on "input" (perform this.autosave this.model)}}
            /> Printed on OSS</label>
          </p>

          <p>
            <label>
            <Input
              disabled=this.isDisabled
              @type='checkbox'
              @checked={{this.model.printOnFinalsOss}}
              {{on "input" (perform this.autosave this.model)}}
            /> Include on Finals OSS</label>
          </p>
          {{/if}}
      </section>
      <section>
        <div class='table-responsive'>
          <table class='table table-hover table-sm'>
              <caption>
                Contenders for this particular award.
                {{#if (eq this.model.level 'Improved - Standard')}}
                  <br/><br/>
                  <p>Points minus base score, highest number is winner. (<em>Must have a positive differential</em>)<br/>
                  In the case of a tie, winner will be the group with lowest total score.</p>
                {{/if}}
                {{#if (eq this.model.level 'Improved - Raw')}}
                  <br/><br/>
                  <p>Points minus base score, highest number is winner. (<em>Can have a negative differential</em>)<br/>
                  In the case of a tie, winner will be the group with lowest total score.</p>
                {{/if}}
              </caption>
            <thead class='thead-light'>
              <tr>
                <th>Name</th>
                <th>Points</th>
                {{#if (or (eq this.model.level 'Improved - Standard')(eq this.model.level 'Improved - Raw'))}}
                  <th>Base Score</th>
                  <th>Difference</th>
                {{/if}}
              </tr>
            </thead>
            <tbody>
              {{#if (or (eq this.model.level 'Improved - Standard')(eq this.model.level 'Improved - Raw'))}}
                {{#each this.sortedImprovedContenders as |contender|}}
                    <tr>
                      <td>
                        {{html-safe contender.name}}
                      </td>
                      <td>
                        {{contender.runTotSum}}
                      </td>
                      {{#if (or (eq this.model.level 'Improved - Standard')(eq this.model.level 'Improved - Raw'))}}
                        <td>{{contender.base}}</td>
                        <td>{{contender.diff}}</td>
                      {{/if}}
                    </tr>
                {{else}}
                  <tr>
                    <td colspan=3>Standings not yet available.</td>
                  </tr>
                {{/each}}
              {{else}}
                {{#each this.sortedContenders as |contender|}}
                    <tr>
                      <td>
                        {{html-safe contender.name}}
                      </td>
                      <td>
                        {{contender.runTotSum}}
                      </td>
                    </tr>
                {{else}}
                  <tr>
                    <td colspan=3>Standings not yet available.</td>
                  </tr>
                {{/each}}
              {{/if}}
            </tbody>
          </table>
        </div>
      </section>
    </div>
    <div class='card-footer'>
      <ul class='list-inline'>
        {{#if (eq this.model.round.status 'Built')}}
          {{#if this.model.permissions.write}}
            <li>{{outcome-delete model=this.model}}</li>
          {{/if}}
        {{/if}}
        {{!-- <li class='pull-right'><h4>Contest Status: <strong>{{model.status}}</strong></h4></li> --}}
      </ul>
    </div>
  </div>
</section>