<section id="appearance-detail">
  <div class='card'>
    <div class='card-header'>
      {{prev-next model=model sortedArray=sortedCompetitors}}
      <h4>
        {{model.group.name}}&nbsp;({{model.entry.representing}})
      </h4>
    </div>
    <div class='card-body'>
      <section>
        <div class='row'>
          <div class='col-md-6'>
            {{#if model.group.image}}
              <img src={{model.group.image}} class='img-fluid rounded'>
            {{else}}
              <img src='/assets/no_image_available.jpg' class='img-fluid rounded'>
            {{/if}}
          </div>
          <div class='col-md-6'>
            <p>
              <strong>Preferences</strong>
            </p>
            <p>
              {{entry-preferences model=model.entry}}
            </p>
          </div>
        </div>
      </section>
      <section>
        {{competitor-contestants model=model}}
      </section>
      {{!-- <hr>
      <section>
        {{log-index model=model}}
      </section> --}}
    </div>
    <div class='card-footer'>
      <ul class='list-inline'>
        {{#if (eq model.status 'Built')}}
        {{else if (eq model.status 'Started')}}
          <li class='list-inline-item'>{{competitor-scratch model=model}}</li>
        {{else if (eq model.status 'Finished')}}
          <li class='list-inline-item'>{{competitor-scratch model=model}}</li>
        {{/if}}
        <li class='list-inline-item float-right'><h4>Competitor Status: <strong>{{model.status}}</strong></h4></li>
      </ul>
    </div>
  </div>
</section>
