{{#if (eq model.status 'New')}}
    <h4>The Appearances are available after the Round is Built.</h4>
{{else}}
  <div class='table-responsive'>
    <table class='table'>
      <caption>
        The Order of Appearance for all groups in this Round.  Click on a group to enter scores.
      </caption>
      <thead>
        <tr>
          <th class='col-md-1'>OA</th>
          <th class='col-md-8'>Name</th>
          <th class='col-md-1'>Grid</th>
          <th class='col-md-1'>Actual</th>
          <th class='col-md-1'>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedAppearances as |appearance|}}
          <tr>
            {{#if appearance.isLoading}}
              <td colspan=8>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
            {{else}}
              <td>{{appearance.num}}</td>
              {{#if appearance.group.isLoading}}
                <td>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
              {{else}}
                <td>
                  {{#link-to
                    'dashboard.conventions.convention.sessions.session.rounds.round.appearances.appearance'
                    appearance
                  }}
                    {{appearance.group.name}}
                  {{/link-to}}
                  &nbsp;
                  {{#if (eq appearance.status 'Verified')}}
                    {{fa-icon 'check-circle' class='text-success'}}
                  {{else if (eq appearance.status 'Variance')}}
                    {{download-variance model=appearance}}
                  {{/if}}
                </td>
              {{/if}}
              <td>{{moment-format appearance.grid.onstage 'HH:mm'}}</td>
              <td>{{moment-format appearance.actualStart 'HH:mm'}}</td>
              <td>{{appearance.status}}</td>
            {{/if}}
          </tr>
        {{else}}
          <tr>
            <td>(No groups currently entered for this session.)</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/if}}