<section>
    {{#if (eq model.status 'Finished')}}
      <ul class='list-styled'>
        <li>BBScores Excel Export: &nbsp;<a href='{{legacy}}'>{{legacy}}&nbsp;{{fa-icon 'file-excel-o'}}</a></li>
        <li>DRCJ Report Excel Export: &nbsp;<a href='{{drcj}}'>{{drcj}}&nbsp;{{fa-icon 'file-excel-o'}}</a></li>
        <li>Admin Emails Excel Export: <a href='{{contact}}'>&nbsp;{{contact}}&nbsp;{{fa-icon 'file-excel-o'}}</a></li>
      </ul>
    {{else}}
      <h4>
        Reports are available after the Round is Finished.
      </h4>
    {{/if}}
</section>
