{{#if (or (eq model.status 'New')(eq model.status 'Built'))}}
    <h4>Standings are available after the Round is Started.</h4>
{{else}}
  {{#unless (eq model.kind 'Finals')}}
    <section>
        {{#bs-form
          formLayout="vertical"
          model=model
          as |form|
        }}
          {{form.element
            controlType='tel'
            disabled=isAdvancingNumberDisabled
            label='Spots Available in Next Round (blank for unlimited).'
            property='spots'
            size=10
            onChange=(perform autosave 'spots')}}
        {{/bs-form}}
    </section>
    <section>
      <div class='table-responsive'>
        <table class='table table-hover table-sm'>
          <caption>
            All multi-round groups, ordered by rank (or prelim score if available).
          </caption>
          <thead class='thead-light'>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Points</th>
              <th>Score</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedMultiAppearances as |appearance index|}}
              <tr class="{{if (and (eq index model.spots) (not-eq model.kind 'Finals')) 'cut-line'}}">
                {{#if appearance.stats}}
                  <td>{{inc index}}</td>
                {{else}}
                  <td></td>
                {{/if}}
                <td>{{html-safe appearance.name}}</td>
                {{#if appearance.stats}}
                  <td>{{appearance.runTotSum}}</td>
                {{else}}
                  <td>N/A</td>
                {{/if}}
                {{#if appearance.stats}}
                  <td>{{single-fixed appearance.runTotAvg}}</td>
                    {{else}}
                  <td>N/A</td>
                {{/if}}
                <td>{{appearance.status}}</td>
              </tr>
            {{else}}
              <tr>
                <td colspan=8>(No multi-round groups.)</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </section>
    <section>
      <div class='table-responsive'>
        <table class='table table-hover table-sm'>
          <caption>
            All single-round groups ordered by rank (or prelim score if available).
          </caption>
          <thead class='thead-light'>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Points</th>
              <th>Score</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedSingleAppearances as |appearance index|}}
              <tr>
                {{#if appearance.stats}}
                  <td>{{inc index}}</td>
                {{else}}
                  <td></td>
                {{/if}}
                <td>{{html-safe appearance.name}}</td>
                <td>{{#if appearance.stats}}{{appearance.runTotSum}}{{else}}N/A{{/if}}</td>
                <td>{{#if appearance.stats}}{{single-fixed appearance.runTotAvg}}{{else}}N/A{{/if}}</td>
                <td>
                  {{appearance.status}}
                </td>
              </tr>
            {{else}}
              <tr>
                <td colspan=8>(No single-round groups.)</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </section>
  {{else}} {{!-- Finals --}}
    <section>
      <div class='table-responsive'>
        <table class='table table-hover table-sm'>
          <caption>
            All groups in cumulative rank order.<br/>
            Score adjustments made to previous rounds require a browser refresh in order to be displayed.
          </caption>
          <thead class='thead-light'>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Points</th>
              <th>Score</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedAppearances as |appearance index|}}
              <tr>
                {{#if appearance.stats}}
                  <td>{{inc index}}</td>
                {{else}}
                  <td></td>
                {{/if}}
                <td>{{html-safe appearance.name}}</td>
                <td>{{#if appearance.stats}}{{appearance.runTotSum}}{{else}}N/A{{/if}}</td>
                <td>{{#if appearance.stats}}{{single-fixed appearance.runTotAvg}}{{else}}N/A{{/if}}</td>
                <td>
                  {{appearance.status}}
                </td>
                <td></td>
              </tr>
            {{else}}
              <tr>
                <td colspan=8>(No groups currently entered for this session.)</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </section>
  {{/unless}}
{{/if}}