{{#if (or (eq model.status 'Verified')(eq model.status 'Finished'))}}
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th class='col-md-2'>Status</th>
          <th class='col-md-2'>Name</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedContests as |contest|}}
          <tr>
            <td>
              {{#link-to 'dashboard.conventions.convention.sessions.session.rounds.round.contests.contest' contest}}{{contest.award.name}}{{/link-to}}
            </td>
            <td>
              {{#if contest.group}}{{contest.group.name}}{{else}}(Not yet determined.){{/if}}
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan=3>No contests.</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{else}}
  <h4>
    Contests can only be selected after the Round is Verified.
  </h4>
{{/if}}
