<section>
  <div class='card'>
    <div class='card-header'>
        {{prev-next model=model sortedArray=sortedPanelists}}
      <h4>
        {{model.person.commonName}}
      </h4>
    </div>
    <div class='card-body'>
      <section>
        {{model.category}}
      </section>
    </div>
    <div class='card-footer'>
      <ul class='list-inline'>
        {{#if (eq model.round.status 'Built')}}
          <li class='list-inline-item'>{{panelist-delete model=model}}</li>
        {{/if}}
        <li class='list-inline-item float-right'><h4>Panelist Status: <strong>{{model.status}}</strong></h4></li>
      </ul>
    </div>
  </div>
</section>
