<section>
  {{#if (eq model.kind 'Finals')}}
    <h4>
      (There is no next round to Draw.)
    </h4>
  {{else if (or (eq model.status 'New')(eq model.status 'Built')(eq model.status 'Started'))}}
    <h4>
      The Draw is available after the Round has Completed.
    </h4>
  {{else if (and isEditing (eq model.status 'Completed'))}}
    <div class='pb-2'>
      {{#bs-button type='outline-dark' disabled=model.isDisabled onClick=(action 'toggleDraw')}}{{#if isEditing}}Draw is Unlocked.  Click to Lock Draw{{else}}Draw is Locked. Click to Unlock Draw{{/if}}{{/bs-button}}
    </div>
    <div class='table-responsive'>
      <table class='table table-hover'>
        <thead class='thead-light'>
          <tr>
            <th>OA</th>
            <th>Name</th>
            <th>Notes</th>
          </tr>
        </thead>
          <tr>
            <td>
              MT
            </td>
            <td>
              {{#if hasMt}}
                {{{mt.0.name}}}
              {{else}}
                No MT advanced
              {{/if}}
            </td>
            <td>
            </td>
          </tr>
          {{#sortable-group tagName='tbody' onChange="reorderItems" as |group|}}
            {{#each sortedAppearances as |item|}}
              {{#sortable-item tagName="tr" model=item group=group class='handle' handle=".handle"}}
                <td>
                  {{item.draw}}
                </td>
                <td>
                  {{{item.name}}}
                </td>
                <td>{{item.notes}}</td>
              {{/sortable-item}}
            {{else}}
              <tr>
                <td>(No appearances.)</td>
              </tr>
            {{/each}}
          {{/sortable-group}}
      </table>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <p><strong>Note:</strong> To adjust the draw, simply grab a row and reposition it to where you want.  To confirm this initial (random) draw, then grab a row and return to its original position.  Each move reorders the list and saves automatically.</p>
      </div>
    </div>
  {{else}}
    <div>
      {{#if (eq model.status 'Completed')}}
    <div class='pb-2'>
          <div class='col-md-6'>
            {{#bs-button type='outline-dark' disabled=model.isDisabled onClick=(action 'toggleDraw')}}{{#if isEditing}}Draw is Unlocked.  Click to Lock Draw{{else}}Draw is Locked.  Click to Unlock Draw{{/if}}{{/bs-button}}
          </div>
        </div>
      {{else}}
        <div class='row'>
          <div class='col-md-6'>
            Once the Round is Finalized further changes are not possible.
          </div>
        </div>
      {{/if}}
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <table class='table table-hover'>
          <thead class='thead-light'>
            <tr>
              <th>Draw</th>
              <th>Name</th>
              <th>Notes</th>
              <th class="actions">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                MT
              </td>
              <td>
                {{#if hasMt}}
                  {{{mt.0.name}}}
                {{/if}}
              </td>
              <td>
              </td>
              <td>
                {{#if hasMt}}
                  {{#each mt as |appearance|}}
                    {{round-draw-remove model=appearance}}
                  {{/each}}
                {{/if}}
              </td>
            </tr>
            {{#each sortedAppearances as |appearance|}}
              <tr>
                <td>
                  {{appearance.draw}}
                </td>
                <td>
                  {{{appearance.name}}}
                </td>
                <td>
                  {{appearance.notes}}
                </td>
                <td>
                  {{round-draw-remove model=appearance}}
                </td>
              </tr>
            {{else}}
              <tr>
                <td>(No appearances.)</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    {{#if (eq model.status 'Completed')}}
      <div class='row'>
        <div class='col-md-12'>
          <p>
            {{#bs-button type='success' disabled=model.isDisabled onClick=(action (mut advanceGroupModal) true)}}Add Advancing Group{{/bs-button}}
          </p>          
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <p><strong>Note:</strong> If you wish to edit the draw, please click the "Unlock Draw" button.  You'll then be able to make adjustments, which will automatically save.</p>
        </div>
      </div>
    {{/if}}
  {{/if}}
</section>
<div>
  {{#bs-modal
    open=advanceGroupModal
    onHidden=(pipe-action (action (mut advanceGroupModal) false) (action (mut advanceGroupModalError) false))
    as |modal|
  }}
    {{#modal.header}}
      <h4>Advance Group</h4>
    {{/modal.header}}
    {{#modal.body}}
      <p>
        Select the group to advance into the next round.
      </p>
      <p>
        {{input
          class='form-control'
          type='tel'
          placeholder='Enter Draw (0 = MT)'
          value=this.draw
          min=0
          max=99
        }}
      </p>
      <p>
        {{#power-select
          options=sortedRoundAppearances
          selected=group
          onchange=(action (mut group))
          placeholder="Enter Group Name"
          allowClear=true
          renderInPlace=true
          noMatchesMessage="We Could Not Find a group with that name"
          as |group|
        }}
          Group: {{{group.name}}} [{{group.bhsId}}]
        {{/power-select}}
      </p>
      {{#if advanceGroupModalError}}
      <p class='text-danger'>
        Could not create appearance.  Be sure the draw numbers are unique!  Otherwise, please contact support.
      </p>
      {{/if}}
    {{/modal.body}}
    {{#modal.footer}}
      {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
      {{#bs-button type='success' onClick=(perform advanceGroup group draw) disabled=isDisabled}}
        {{#if advanceGroup.isRunning}}
          Advancing {{fa-icon "spinner" spin=true}}
        {{else}}
          Advance Group
        {{/if}}
      {{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
</div>