{{#if (or (eq model.status 'New')(eq model.status 'Built'))}}
    <h4>Standings are available after the Round is Started.</h4>
{{else}}
  {{#unless (eq model.kind 'Finals')}}
    <section>
        {{#bs-form
          formLayout="vertical"
          model=model
          as |form|
        }}
          {{form.element
            controlType='tel'
            disabled=isDisabled
            label='Spots Available in Next Round (blank for unlimited).'
            property='spots'
            size=10
            onChange=(perform autosave 'spots')}}
        {{/bs-form}}
    </section>
    <section>
      <div class='table-responsive'>
        <table class='table'>
          <caption>
            All multi-round groups, ordered by rank.
          </caption>
          <thead>
            <tr>
              <th class='col-md-1'>Rank</th>
              <th class='col-md-8'>Name</th>
              <th class='col-md-1'>Points</th>
              <th class='col-md-1'>Score</th>
              <th class='col-md-1'>Status</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedMultiAppearances as |appearance index|}}
              <tr class="{{if (and (eq index model.spots) (not-eq model.kind 'Finals')) 'cut-line'}}">
                {{#if appearance.group.isLoading}}
                  <td colspan=8>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
                {{else}}
                  {{#if appearance.runTotal}}
                    <td>{{inc index}}</td>
                  {{else}}
                    <td></td>
                  {{/if}}
                  {{#if appearance.group.isLoading}}
                    <td>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
                  {{else}}
                    <td>{{appearance.group.name}}</td>
                  {{/if}}
                  <td>{{#if appearance.runTotal}}{{appearance.runTotal.sum}}{{else}}N/A{{/if}}</td>
                  <td>{{#if appearance.runTotal}}{{single-fixed appearance.runTotal.avg}}{{else}}N/A{{/if}}</td>
                  <td>
                    {{appearance.status}}
                  </td>
                {{/if}}
              </tr>
            {{else}}
              <tr>
                <td colspan=8>(No multi-round groups.)</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </section>
    <section>
      <div class='table-responsive'>
        <table class='table'>
          <caption>
            All single-round groups ordered by rank.
          </caption>
          <thead>
            <tr>
              <th class='col-md-1'>Rank</th>
              <th class='col-md-8'>Name</th>
              <th class='col-md-1'>Points</th>
              <th class='col-md-1'>Score</th>
              <th class='col-md-1'>Status</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedSingleAppearances as |appearance index|}}
              <tr>
                {{#if appearance.group.isLoading}}
                  <td colspan=8>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
                {{else}}
                  {{#if appearance.runTotal}}
                    <td>{{inc index}}</td>
                  {{else}}
                    <td></td>
                  {{/if}}
                  {{#if appearance.group.isLoading}}
                    <td>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
                  {{else}}
                    <td>{{appearance.group.name}}</td>
                  {{/if}}
                  <td>{{#if appearance.runTotal}}{{appearance.runTotal.sum}}{{else}}N/A{{/if}}</td>
                  <td>{{#if appearance.runTotal}}{{single-fixed appearance.runTotal.avg}}{{else}}N/A{{/if}}</td>
                  <td>
                    {{appearance.status}}
                  </td>
                {{/if}}
              </tr>
            {{else}}
              <tr>
                <td colspan=8>(No single-round groups.)</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </section>
  {{else}} {{!-- Finals --}}
    <section>
      <div class='table-responsive'>
        <table class='table'>
          <caption>
            All groups in cumulative rank order.
          </caption>
          <thead>
            <tr>
              <th class='col-md-1'>Rank</th>
              <th class='col-md-8'>Name</th>
              <th class='col-md-1'>Points</th>
              <th class='col-md-1'>Score</th>
              <th class='col-md-1'>Status</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedAppearances as |appearance index|}}
              <tr>
                {{#if appearance.group.isLoading}}
                  <td colspan=8>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
                {{else}}
                  {{#if appearance.runTotal}}
                    <td>{{inc index}}</td>
                  {{else}}
                    <td></td>
                  {{/if}}
                  {{#if appearance.group.isLoading}}
                    <td>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
                  {{else}}
                    <td>{{appearance.group.name}}</td>
                  {{/if}}
                  <td>{{#if appearance.runTotal}}{{appearance.runTotal.sum}}{{else}}N/A{{/if}}</td>
                  <td>{{#if appearance.runTotal}}{{single-fixed appearance.runTotal.avg}}{{else}}N/A{{/if}}</td>
                  <td>
                    {{appearance.status}}
                  </td>
                  <td></td>
                {{/if}}
              </tr>
            {{else}}
              <tr>
                <td colspan=8>(No groups currently entered for this session.)</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </section>
  {{/unless}}
{{/if}}