<BsButton
  @type='primary'
  @disabled={{this.model.isDisabled}}
  @onClick={{action (mut this.startRoundModal) true}}
>
  Start Round
</BsButton>
<BsModal
  @open={{this.startRoundModal}}
  @onHidden={{pipe-action (action (mut this.startRoundModal) false) (action (mut this.startRoundModalError) false)}}
  as |modal|
>
  <modal.header>
    <h4>Start Round</h4>
  </modal.header>
  <modal.body>
    <p>
        This officially Starts the Round.  Before Starting, be certain you have:
        <ul class='list-styled'>
          <li>Confirmed the Panelists</li>
          <li>Confirmed the Appearances</li>
          <li>Confirmed the Outcomes</li>
        </ul>
        You will not be able to change these once the Round is Started.
    </p>
    {{#if this.startRoundModalError}}
    <p class='text-danger'>
      Could not Start Round.
    </p>
    {{/if}}
  </modal.body>
  <modal.footer>
    <BsButton @onClick={{action modal.close}} type="default">Cancel</BsButton>
    <BsButton @type='primary' @disabled={{this.model.isError}} @onClick={{perform this.startRound}}>
      {{#if this.startRound.isRunning}}
        Starting <FaIcon @icon="spinner" @spin={{true}} />
      {{else}}
        Start Round
      {{/if}}
    </BsButton>
  </modal.footer>
</BsModal>