{{#if (or (eq model.status 'Reviewed')(eq model.status 'Finished'))}}
  <div class='table-responsive'>
    <table class='table'>
      <caption>
        The current standings and status of each competitor.
      </caption>
      <thead>
        <tr>
          <th class='col-md-1'>Rank</th>
          <th class='col-md-4'>Name</th>
          <th class='col-md-1'>Points</th>
          <th class='col-md-1'>Score</th>
          <th class='col-md-1'>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedCompetitors as |competitor|}}
          <tr>
            {{#if competitor.isLoading}}
              <td colspan=8>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
            {{else}}
              <td>{{#if competitor.rank}}{{competitor.rank}}{{else}}N/A{{/if}}</td>
              {{#if competitor.group.isLoading}}
                <td>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
              {{else}}
                <td>{{#link-to 'dashboard.conventions.convention.sessions.session.rounds.round.competitors.competitor' competitor}}{{competitor.group.name}}{{/link-to}}</td>
              {{/if}}
              <td>{{#if competitor.totPoints}}{{competitor.totPoints}}{{else}}N/A{{/if}}</td>
              <td>{{single-fixed competitor.totScore}}</td>
              <td>{{competitor.status}}</td>
            {{/if}}
          </tr>
        {{else}}
          <tr>
            <td>(No competitors currently entered for this session.)</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{else}}
  <p>
    The competitor standings are available after the Round has been Reviewed.
  </p>
{{/if}}