<section>
    {{#if (or (eq model.status 'Finished')(eq model.status 'Verified'))}}
      <ul class='list-styled'>
        <li>Announcements: {{fa-icon 'file-pdf-o'  size='2' click=(action 'clickAnnouncements') }}</li>
        <li>Official Scoring Summary: {{fa-icon 'file-pdf-o'  size='2' click=(action 'clickOss') }}</li>
        <li>Scoring Analysis: {{fa-icon 'file-pdf-o'  size='2' click=(action 'clickSa') }}</li>
        <li>Songs Sung Report: {{fa-icon 'file-pdf-o'  size='2' click=(action 'clickSung') }}</li>
      </ul>
    {{else}}
      <h4>
        Reports are available after the Round is Verified.
      </h4>
    {{/if}}
</section>
