<section id="appearance-detail">
  <div class='panel panel-default'>
    <div class='panel-heading fixed-panel-header'>
      <ul class='list-inline pull-right'>
        {{#if (has-previous model sortedCompetitors)}}
          <li>
            {{#bs-button onClick=(action (mut model) (previous model sortedCompetitors))}}
             Previous
            {{/bs-button}}
          </li>
        {{else}}
          <li>
            {{#bs-button disabled=true onClick=(action (mut model) (previous model sortedCompetitors))}}
               Previous
            {{/bs-button}}
          </li>
        {{/if}}
        {{#if (has-next model sortedCompetitors)}}
          <li>
            {{#bs-button onClick=(action (mut model) (next model sortedCompetitors))}}
              Next
            {{/bs-button}}
          </li>
        {{else}}
          <li>
            {{#bs-button disabled=true onClick=(action (mut model) (next model sortedCompetitors))}}
              Next
            {{/bs-button}}
          </li>
        {{/if}}
      </ul>
      <h4>
        {{model.group.name}}
     </h4>
    </div>
    <div class='panel-body'>
      <section>
        Body
      </section>
      {{!-- <hr>
      <section>
        {{log-index model=model}}
      </section> --}}
    </div>
    <div class='panel-footer fixed-panel-footer'>
      <ul class='list-inline'>
        {{#if model.permissions.write}}
          {{#if (eq model.status 'New')}}
            <li>{{competitor-start model=model}}</li>
          {{else if (eq model.status 'Built')}}
            <li>{{competitor-start model=model}}</li>
          {{else if (eq model.status 'Started')}}
            <li>{{competitor-scratch model=model}}</li>
            <li>{{competitor-disqualify model=model}}</li>
          {{/if}}
        {{/if}}
        <li class='pull-right'><h4>Competitor Status: <strong>{{model.status}}</strong></h4></li>
      </ul>
    </div>
  </div>
</section>
