<section>
  <div class='panel panel-default'>
    <div class='panel-heading fixed-panel-header'>
        {{prev-next model=model sortedArray=sortedPanelists}}
      <h4>
        {{model.person.commonName}}
      </h4>
    </div>
    <div class='panel-body'>
      <section>
        {{model.category}}
      </section>
    </div>
    <div class='panel-footer fixed-panel-footer'>
      <ul class='list-inline'>
        {{#if (eq model.round.status 'Built')}}
          <li>{{panelist-delete model=model}}</li>
        {{else if (or (eq model.round.status 'Finished')(eq model.round.status 'Verified')(eq model.round.status 'Published'))}}
          <li>{{download-psa model=model}}</li>
        {{/if}}
        <li class='pull-right'><h4>Panelist Status: <strong>{{model.status}}</strong></h4></li>
      </ul>
    </div>
  </div>
</section>