<BsButton
  @type='primary'
  @disabled={{this.model.isDisabled}}
  @onClick={{action (mut this.completeRoundModal) true}}
>
  Complete Round
</BsButton>
<BsModal
  @open={{this.completeRoundModal}}
  @onHidden={{pipe-action (action (mut this.completeRoundModal) false) (action (mut this.completeRoundModalError) false)}}
  as |modal|
>
  <modal.header>
    <h4>Complete Round</h4>
  </modal.header>
  <modal.body>
    <p>
        This concludes the scoring process. Completing the Round will produce the <em>draft</em> reports, award winners, and draw for the next round (if applicable). The PC or ADM will have the ability to make and any all adjustments to these private, draft results before publication.
    </p>
    <h4>
      The Round should not be "Completed" until all Appearances have been Verified!
    </h4>
    {{#if this.completeRoundModalError}}
      <p class='text-danger'>
        Could not Complete Round. Please ensure all Appearances have been Verified. Otherwise, contact support.
      </p>
    {{/if}}
  </modal.body>
  <modal.footer>
    <BsButton @onClick={{action modal.close}} @type="default">Cancel</BsButton>
    <BsButton @type='primary' @disabled={{this.model.isError}} @onClick={{perform this.completeRound}}>
      {{#if this.completeRound.isRunning}}
        Completing <FaIcon @icon="spinner" @spin={{true}} />
      {{else}}
        Complete Round
      {{/if}}
    </BsButton>
  </modal.footer>
</BsModal>