<BsButton
  @type='primary'
  @disabled={{this.model.isDisabled}}
  onClick={{action (mut this.buildRoundModal) true}}
>
  Build Round
</BsButton>
<BsModal
  @open={{this.buildRoundModal}}
  @onHidden={{pipe-action (action (mut this.buildRoundModal) false) (action (mut this.buildRoundModalError) false)}}
  as |modal|
>
  <modal.header>
    <h4>Build Round</h4>
  </modal.header>
  <modal.body>
    <p>
        Building the Round creates the Panelists, Appearances and Outcomes from the Packaged Session.  After Building you will have the opportunity to make adjustments as necessary.
    </p>
    {{#if this.buildRoundModalError}}
    <p class='text-danger'>
      {{ this.buildRoundModalErrorMessage }}
    </p>
    {{/if}}
  </modal.body>
  <modal.footer>
    <BsButton @onClick={{action modal.close}} @type="default">Cancel</BsButton>
    <BsButton @type='primary' @disabled={{this.model.isError}} @onClick={{perform this.buildRound}}>
      {{#if this.buildRound.isRunning}}
        Building <FaIcon @icon="spinner" @spin={{true}} />
      {{else}}
        Build Round
      {{/if}}
    </BsButton>
  </modal.footer>
</BsModal>