<section>
  <div class='card'>
    <div class='card-header'>
      {{prev-next model=model sortedArray=sortedOutcomes}}
      <h4>
        {{html-safe model.name}}
      </h4>
    </div>
    <div class='card-body'>
      {{!-- <section>
      {{#if model.contest.notQualifier }}
        {{#power-select
          options=model.contest.groupOptions
          selected=model.contest.group
          onchange=(action (mut model.contest.group))
          onclose=(action "saveModel" model.contest)
          placeholder="Choose Award Winner"
          searchField='name'
          allowClear=true
          disabled=model.contest.isDisabled
          as |group|
        }}
          Winner: {{html-safe group.name}}
        {{/power-select}}
      {{else}}
        (Qualifiers are determined by rule and appear on the OSS)
      {{/if }}
      </section> --}}

      <section>
          <p>
            <label>Result as Printed on OSS: </label>
            {{input
              class='form-control'
              type='text'
              value=model.winner
              disabled=model.isDisabled
              placeholder='Result populated on Round Completion'
              change=(perform autosave 'winner' value='target.value')
            }}
          </p>

          <p>
            <label>
            {{input
              type='checkbox'
              checked=model.printed
              click=(perform autosave model)
            }} Printed on OSS</label>
          </p>

          {{#unless model.isFinals}}
          <p>
            <label>
            {{input
              type='checkbox'
              checked=model.printOnFinalsOss
              click=(perform autosave model)
            }} Include on Finals OSS</label>
          </p>
          {{/unless}}
      </section>
      <section>
        <div class='table-responsive'>
          <table class='table table-hover table-sm'>
              <caption>
                Contenders for this particular award.
              </caption>
            <thead class='thead-light'>
              <tr>
                <th>Name</th>
                <th>Points</th>
              </tr>
            </thead>
            <tbody>
              {{#each sortedContenders as |contender|}}
                  <tr>
                    <td>
                      {{html-safe contender.name}}
                    </td>
                    <td>
                      {{contender.runTotSum}}
                    </td>
                  </tr>
              {{else}}
                <tr>
                  <td colspan=3>Standings not yet available.</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </section>
    </div>
    <div class='card-footer'>
      <ul class='list-inline'>
        {{#if (eq model.round.status 'Built')}}
          {{#if model.permissions.write}}
            <li>{{outcome-delete model=model}}</li>
          {{/if}}
        {{/if}}
        {{!-- <li class='pull-right'><h4>Contest Status: <strong>{{model.status}}</strong></h4></li> --}}
      </ul>
    </div>
  </div>
</section>