 <div class='table-responsive'>
  <table class='table'>
    <thead>
      <tr>
        <th class='col-md-3'>
          Panelist
        </th>
        <th class='col-md-2'>
          Category
        </th>
        <th class='col-md-5'>
          Kind
        </th>
        <th class='col-md-1'>
          Num
        </th>
        <th class='col-md-1'>
          Points
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedScores as |score|}}
        <tr class={{score.rowClass}}>
          <td>
            {{score.panelist.person.commonName}}
          </td>
          <td>
            {{score.category}}
          </td>
          <td>
            {{score.kind}}
          </td>
          <td>
            {{score.song.num}}
          </td>
          <td>
            {{input class='form-control' value=score.points}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td>
            (No scores.)
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div class='pull-right'>
    Score Total: {{sumScores}}
    {{#bs-button type='default' onClick=(perform saveScores)}}Save{{/bs-button}}
  </div>
</div>