{{#if (eq model.status 'New')}}
  <h4>
    Contests can only be selected after the Session has been Built.
  </h4>
{{else}}
  <div class='table-responsive'>
    <table class='table table-hover table-sm'>
      <thead class='thead-light'>
        <tr>
          <th>Status</th>
          <th>Name</th>
          <th>Description</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedContests as |contest|}}
          <tr>
            {{#if contest.isLoading}}
              <td colspan=1>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
            {{else}}
              <td>
                {{input
                  type='checkbox'
                  checked=contest.isIncluded
                  disabled=contest.isCheckboxDisabled
                  change=(perform toggleContest contest value='target.checked')
                }}
              </td>
              {{#if contest.award.isLoading}}
                <td colspan=1>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
              {{else}}
                <td>{{#link-to 'dashboard.conventions.convention.sessions.session.contests.contest' contest}}{{contest.awardName}}{{/link-to}}</td>
              {{/if}}
              <td>{{#if contest.awardDescription}}{{contest.awardDescription}}{{else}}(No description available){{/if}}</td>
              <td>{{contest.entriesCount}}</td>
            {{/if}}
          </tr>
        {{else}}
          <tr>
            <td colspan=3>No contests.</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/if}}