<BsButton
  @type='primary'
  @disabled={{this.model.isDisabled}}
  @onClick={{action (mut this.buildSessionModal) true}}
>
  Build Session
</BsButton>
<BsModal
  @open={{this.buildSessionModal}}
  @onHidden={{pipe-action (action (mut this.buildSessionModal) false) (action (mut this.buildSessionModalError) false)}}
  as |modal|
>
  <modal.header>
    <h4>Build Session</h4>
  </modal.header>
  <modal.body>
    <p>
      Building the Session allows you to choose the Awards that will be available for this session.
    </p>
    {{#if this.buildSessionModalError}}
    <p class='text-danger'>
      Could not Build Session.
    </p>
    {{/if}}
  </modal.body>
  <modal.footer>
    <BsButton @onClick={{action modal.close}} @type="default">Cancel</BsButton>
    <BsButton @type='primary' @disabled={{this.model.isError}} @onClick={{perform this.buildSession}}>
      {{#if this.buildSession.isRunning}}
        Building <FaIcon @icon="spinner" @spin={{true}} />
      {{else}}
        Build Session
      {{/if}}
    </BsButton>
  </modal.footer>
</BsModal>