<section>
  {{#if (or (eq model.status 'New')(eq model.status 'Built')(eq model.status 'Opened'))}}
    <h4>
      The Draw can only be adjusted after the Session has been Closed.
    </h4>
  {{else if (and isEditing (or (eq model.status 'Closed')(eq model.status 'Verified')))}}
    <div>
      {{#bs-button disabled=model.isDisabled onClick=(action 'toggleDraw')}}{{#if isEditing}}Draw is Unlocked.  Click to Lock Draw{{else}}Draw is Locked.  Click to Unlock Draw{{/if}}{{/bs-button}}
    </div>
    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <th class='col-md-1'>OA</th>
            <th class='col-md-3'>Name</th>
            <th class='col-md-8'>Notes</th>
          </tr>
        </thead>
        {{!-- <tbody> --}}
          {{#if mt}}
            <tr>
              <td>
                MT
              </td>
              <td>
                {{mt.0.group.name}}
              </td>
              <td>
                {{mt.0.description}}
              </td>
            </tr>
          {{/if}}
          {{#sortable-group tagName='tbody' onChange="reorderItems" as |group|}}
            {{#each sortedEntries as |item|}}
              {{#sortable-item tagName="tr" model=item group=group class='handle' handle=".handle"}}
                <td>
                  {{item.draw}}
                </td>
                <td>
                  {{item.group.name}}
                </td>
                <td>{{item.description}}</td>
              {{/sortable-item}}
            {{else}}
              <tr>
                <td>(No entries.)</td>
              </tr>
            {{/each}}
          {{/sortable-group}}
        {{!-- </tbody> --}}
      </table>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <p><strong>Note:</strong> To adjust the draw, simply grab a row and reposition it to where you want.  To confirm this initial (random) draw, then grab a row and return to its original position.  Each move reorders the list and saves automatically.</p>
      </div>
    </div>
  {{else}}
    <div>
      {{#if (or (eq model.status 'Closed')(eq model.status 'Verified'))}}
        <div class='row'>
          <div class='col-md-6'>
            {{#bs-button disabled=model.isDisabled onClick=(action 'toggleDraw')}}{{#if isEditing}}Draw is Unlocked.  Click to Lock Draw{{else}}Draw is Locked.  Click to Unlock Draw{{/if}}{{/bs-button}}
          </div>
        </div>
      {{/if}}
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <table class='table'>
          <thead>
            <tr>
              <th class='col-md-1'>OA</th>
              <th class='col-md-3'>Name</th>
              <th class='col-md-8'>Notes</th>
            </tr>
          </thead>
          <tbody>
            {{#if mt}}
              <tr>
                <td>
                  MT
                </td>
                <td>
                  {{mt.0.group.name}}
                </td>
                <td>
                  {{mt.0.description}}
                </td>
              </tr>
            {{/if}}
            {{#each sortedEntries as |entry|}}
              <tr>
                <td>
                  {{entry.draw}}
                </td>
                <td>
                  {{entry.group.name}}
                </td>
                <td>
                  {{entry.description}}
                </td>
              </tr>
            {{else}}
              <tr>
                <td>(No entries.)</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    {{#if (or (eq model.status 'Closed')(eq model.status 'Verified'))}}
      <div class='row'>
        <div class='col-md-6'>
          <p><strong>Note:</strong> If you wish to edit the draw, please click the "Unlock Draw" button.  You'll then be able to make adjustments, which will automatically save.</p>
        </div>
      </div>
    {{/if}}
  {{/if}}
</section>