<BsButton
  @type='primary'
  @disabled={{this.model.isDisabled}}
  @onClick={{action (mut this.openSessionModal) true}}
>
  Open Session
</BsButton>
<BsModal
  @open={{this.openSessionModal}}
  @onHidden={{pipe-action (action (mut this.openSessionModal) false) (action (mut this.openSessionModalError) false)}}
  as |modal|
>
  <modal.header>
    <h4>Open Session</h4>
  </modal.header>
  <modal.body>
    <p>
      Opening the Session allows Groups to enter the contest. If this Session is by Invitation-Only then you will need to add Entries manually.  Otherwise, clicking open will send an email to all Active groups within the District indicating they can now enter the contest.
    </p>
    <p>
      <strong>Important:</strong> Be sure the list of Awards on the "Contests" tab is correct prior to opening the Session.  You won't be able to change this later without significant effort.  If you need to add to or remove from this list please contact Chris Buechler.
    </p>
    {{#if this.openSessionModalError}}
    <p class='text-danger'>
      Could not Open Session.  Check to ensure you've selected contests and the open date is today or later.  Otherwise, contact support at {{customer-support}}.
    </p>
    {{/if}}
  </modal.body>
  <modal.footer>
    <BsButton @onClick={{action modal.close}} @type="default">Cancel</BsButton>
    <BsButton @type='primary' @disabled={{this.model.isError}} @onClick={{perform this.openSession}}>
      {{#if this.openSession.isRunning}}
        Opening <FaIcon @icon="spinner" @spin={{true}} />
      {{else}}
        Open Session
      {{/if}}
    </BsButton>
  </modal.footer>
</BsModal>