<section>
  {{#if (or (eq this.model.status 'New')(eq this.model.status 'Built')(eq this.model.status 'Opened'))}}
    <h4>
      The Draw can only be adjusted after the Session has been Closed.
    </h4>
  {{else if (and this.isEditing (or (eq this.model.status 'Closed')(eq this.model.status 'Packaged')))}}
    <div>
      <BsButton @type='outline-dark'  class='mb-4' @disabled={{this.model.isDisabled}} @onClick={{action 'toggleDraw'}}>{{#if this.isEditing}}Draw is Unlocked.  Click to Lock Draw{{else}}Draw is Locked.  Click to Unlock Draw{{/if}}</BsButton>
    </div>
    <div class='table-responsive'>
      <table class='table table-hover table-sm'>
        <thead class='thead-light'>
          <tr>
            <th>OA</th>
            <th>Name</th>
            <th>Notes</th>
          </tr>
        </thead>
        {{!-- <tbody> --}}
          {{#if this.mt}}
            {{#each this.mt as |mtObj|}}
              <tr>
                <td>
                  MT
                </td>
                <td>
                  {{html-safe mtObj.name}}
                </td>
                <td>
                </td>
              </tr>
            {{/each}}
          {{else}}
            No MT advanced
          {{/if}}
          <tbody {{sortable-group onChange=(action 'reorderItems')}}>
            {{#each this.sortedEntries as |item|}}
              <tr {{sortable-item model=item}} {{sortable-handle}} class="handle">
                <td>
                  {{item.draw}}
                </td>
                <td>
                  {{html-safe item.name}}
                </td>
                <td>{{item.notes}}</td>
              </tr>
            {{else}}
              <tr>
                <td>(No entries.)</td>
              </tr>
            {{/each}}
          </tbody>
        {{!-- </tbody> --}}
      </table>
    </div>
    {{#if (or (eq this.model.status 'Closed')(eq this.model.status 'Packaged'))}}
    <div class='row'>
      <div class='col-md-6'>
        <p><strong>Note:</strong> To adjust the draw, simply grab a row and reposition it to where you want.  To confirm this initial (random) draw, then grab a row and return to its original position.  Each move reorders the list and saves automatically.</p>
      </div>
    </div>
    {{/if}}
  {{else}}
    {{#unless this.model.roundsPublished }}
    <div>
      {{#if (or (eq this.model.status 'Packaged'))}}
        <div class='row'>
          <div class='col-md-6'>
            <BsButton @type='outline-dark' class='mb-4' @disabled={{this.model.isDisabled}} @onClick={{action 'toggleDraw'}}>{{#if this.isEditing}}Draw is Unlocked.  Click to Lock Draw{{else}}Draw is Locked.  Click to Unlock Draw{{/if}}</BsButton>
          </div>
        </div>
      {{/if}}
    </div>
    {{/unless}}
    <div class='row'>
      <div class='col-md-12'>
        <table class='table table-hover table-sm'>
          <thead class='thead-light'>
            <tr>
              <th>OA</th>
              <th>Name</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
            {{#if this.mt}}
              {{#each this.mt as |mtObj|}}
                <tr>
                  <td>
                    MT
                  </td>
                  <td>
                    {{html-safe mtObj.name}}
                  </td>
                  <td>
                  </td>
                </tr>
              {{/each}}
            {{else}}
              No MT advanced
            {{/if}}
            {{#each this.sortedEntries as |entry|}}
              <tr>
                <td>
                  {{entry.draw}}
                </td>
                <td>
                  {{html-safe entry.name}}
                </td>
                <td>
                  {{entry.notes}}
                </td>
              </tr>
            {{else}}
              <tr>
                <td>(No entries.)</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    {{#if (or (eq this.model.status 'Closed')(eq this.model.status 'Packaged'))}}
      <div class='row'>
        <div class='col-md-6'>
          <p><strong>Note:</strong> If you wish to edit the draw, please click the "Unlock Draw" button.  You'll then be able to make adjustments, which will automatically save.</p>
        </div>
      </div>
    {{/if}}
  {{/if}}
</section>