<section id="entry-detail">
  <div class='panel panel-default'>
    <div class='panel-heading fixed-panel-header'>
      {{prev-next model=model sortedArray=sortedEntries}}
      <h4>
        {{model.group.name}}&nbsp;({{model.representing}})&nbsp;{{#if model.group.bhsId}}[{{model.group.bhsId}}]{{/if}}{{#if model.prelim}}&nbsp;&mdash;&nbsp;{{single-fixed model.prelim}}{{/if}}&nbsp;{{#if model.group.isSenior}}<span class="label label-warning">Seniors</span>{{/if}}&nbsp;{{#if model.group.divizion}}<span class="label label-info">{{model.group.divizion}}</span>{{/if}}&nbsp;{{#if (eq model.group.status 'Active')}}<span class="label label-success">Active</span>{{else}}<span class="label label-danger">Inactive</span>{{/if}}
      </h4>
    </div>
    <div class='panel-body'>
      <section>
        <div class='row'>
          <div class='col-md-6'>
            {{#if model.group.image}}
              <img src={{model.group.image}} class='img-responsive img-rounded'>
            {{else}}
              <img src='/assets/no_image_available.jpg' class='img-responsive img-rounded'>
            {{/if}}
          </div>
          <div class='col-md-6'>
            <p>
              <strong>Preferences</strong>
            </p>
            <p>
              {{entry-preferences model=model}}
            </p>
            <p>
              {{#bs-button-group
                value=model.isMt
                type='radio'
                onChange=(perform autosave 'isMt')
                as |bg|
              }}
                {{#bg.button type='default' value=false disabled=model.isDisabled}}Not MicTester{{/bg.button}}
                {{#bg.button type='default' value=true disabled=model.isDisabled}}Is MicTester{{/bg.button}}
              {{/bs-button-group}}
            </p>
          </div>
        </div>
      </section>
      <hr>
      <section>
        <p>
          <strong>Contests Entered: {{model.includedContestantsCount}}</strong>
        </p>
        <p>
          {{entry-contestants model=model}}
        </p>
      </section>
      <hr>
      <section>
        <p>
          Group Officers:
          {{#bs-button class='btn' size='xs' onClick=(toggle 'officersCollapsed' this)}}
            {{if officersCollapsed 'Show' 'Hide'}}
          {{/bs-button}}
        </p>
        {{#bs-collapse collapsed=officersCollapsed}}
          {{group-officers model=model.group}}
        {{/bs-collapse}}
      </section>
      <hr>
      <section>
        <p>
          Group Members:
          {{#bs-button class='btn' size='xs' onClick=(toggle 'membersCollapsed' this)}}
            {{if membersCollapsed 'Show' 'Hide'}}
          {{/bs-button}}
        </p>
        {{#bs-collapse collapsed=membersCollapsed}}
          {{group-members model=model.group}}
        {{/bs-collapse}}
      </section>
      <hr>
      <section>
        <p>
          Repertory Songs:
          {{#bs-button class='btn' size='xs' onClick=(toggle 'repertoriesCollapsed' this)}}
            {{if repertoriesCollapsed 'Show' 'Hide'}}
          {{/bs-button}}
        </p>
        {{#bs-collapse collapsed=repertoriesCollapsed}}
          {{group-repertories model=model.group}}
        {{/bs-collapse}}
      </section>
      <hr>
      <section>
        <div class='row'>
          <div class='col-md-6'>
            <p>
              Additional Notes:
            </p>
            <p>
              {{entry-description model=model}}
            </p>
          </div>
        </div>
      </section>
      <hr>
      <section>
        {{model-statelogs model=model}}
      </section>
    </div>
    <div class='panel-footer fixed-panel-footer'>
      <ul class='list-inline'>
        {{#if (eq model.status 'New')}}
          <li>{{entry-delete model=model callback='dashboard.conventions.convention.sessions.session.entries'}}</li>
        {{else if (eq model.status 'Built')}}
          {{#if model.session.isInvitational}}
            <li>{{entry-invite model=model}}</li>
          {{else}}
            <li>{{entry-approve model=model}}</li>
          {{/if}}
          <li>{{entry-delete model=model callback='dashboard.conventions.convention.sessions.session.entries'}}</li>
        {{else if (eq model.status 'Invited')}}
          <li>{{entry-submit model=model}}</li>
          <li>{{entry-withdraw model=model}}</li>
        {{else if (eq model.status 'Submitted')}}
          <li>{{entry-approve model=model}}</li>
          <li>{{entry-withdraw model=model}}</li>
        {{else if (eq model.status 'Approved')}}
          <li>{{entry-approve model=model}}</li>
          <li>{{entry-withdraw model=model}}</li>
        {{else if (eq model.status 'Withdrawn')}}
          <li>{{entry-approve model=model}}</li>
        {{else if (eq model.status 'Scratched')}}
          <li>{{entry-approve model=model}}</li>
        {{/if}}
        <li class='pull-right'><h4>Entry Status: <strong>{{model.status}}</strong></h4></li>
      </ul>
    </div>
  </div>
</section>
