<section>
    {{#if (or
      (eq model.status 'Verified')
      (eq model.status 'Started')
      (eq model.status 'Finished')
    )}}
      <ul class='list-styled'>
        <li>BBScores Excel Export: &nbsp;<a href='{{legacy}}' target='_blank'>{{legacy}}&nbsp;{{fa-icon 'file-excel-o'}}</a></li>
        <li>DRCJ Report Excel Export: &nbsp;<a href='{{drcj}}' target='_blank'>{{drcj}}&nbsp;{{fa-icon 'file-excel-o'}}</a></li>
        <li>Admin Emails Excel Export: <a href='{{contact}}' target='_blank'>&nbsp;{{contact}}&nbsp;{{fa-icon 'file-excel-o'}}</a></li>
      </ul>
    {{else}}
      <h4>
        Reports are available after the session is Verified.
      </h4>
    {{/if}}
</section>
