{{#if (or (eq model.status 'New') (eq model.status 'Built'))}}
  <h4>
    Entries can only be added once the Session has been Opened.
  </h4>
{{else}}
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th class='col-md-4'>Name</th>
          <th class='col-md-1'>BHS Status</th>
          <th class='col-md-1'>Representing</th>
          <th class='col-md-1'>Contests Entered</th>
          <th class='col-md-1'>Songs in Repertory</th>
          {{#if (eq model.kind 'Chorus')}}
            <th class='col-md-1'>Participants on Stage</th>
          {{/if}}
          <th class='col-md-1'>Prelim</th>
          <th class='col-md-1'>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedEntries as |entry|}}
          <tr>
            {{#if entry.isLoading}}
              <td colspan=8>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
            {{else}}
              {{#if entry.group.isLoading}}
                <td>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
              {{else}}
                <td>{{#link-to 'dashboard.session-manager.session.entries.entry' entry}}{{entry.group.name}}{{/link-to}}</td>
              {{/if}}
              <td>{{entry.group.status}}</td>
              <td>{{entry.representing}}</td>
              <td>{{entry.includedContestantsCount}}</td>
              <td>{{entry.repertoryCount}}</td>
              {{#if (eq model.kind 'Chorus')}}
                <td>{{#if entry.mos}}{{entry.mos}}{{else}}N/A{{/if}}</td>
              {{/if}}
              <td>{{single-fixed entry.prelim}}</td>
              <td>{{entry.status}}</td>
            {{/if}}
          </tr>
        {{else}}
          <tr>
            <td>(No groups currently entered for this session.)</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div>
    <p>
      {{#bs-button
        type='success'
        disabled=isDisabled
        onClick=(action (mut createEntryModal) true)
      }}
        Create New Entry
      {{/bs-button}}
    </p>
  </div>
  {{#bs-modal
    open=createEntryModal
    onHidden=(pipe-action (action (mut createEntryModal) false) (action (mut createEntryModalError) false))
    as |modal|
  }}
    {{#modal.header}}
      <h4>New Entry</h4>
    {{/modal.header}}
    {{#modal.body}}
      <p>
        Select the group you wish to enter into the Session.
      </p>
      {{#power-select
        search=(perform searchGroup)
        selected=group
        onchange=(action (mut group))
        placeholder="Enter Group Name"
        allowClear=true
        renderInPlace=true
        noMatchesMessage="We Could Not Find an Active Group with that Name"
        as |group|
      }}
        Group: {{group.name}} {{#if group.parent.shortName}}({{group.parent.shortName}}){{/if}}
      {{/power-select}}
      {{#if createEntryModalError}}
      <p class='text-danger'>
        Could not delete entry.  Please contact support.
      </p>
      {{/if}}
    {{/modal.body}}
    {{#modal.footer}}
      {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
      {{#bs-button type='success' onClick=(perform saveEntry g) disabled=isDisabled}}
        {{#if saveEntry.isRunning}}
          Creating {{fa-icon "spinner" spin=true}}
        {{else}}
          Create Entry
        {{/if}}
      {{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
{{/if}}
