<section class='py-3'>
  <div class='row'>
    <div class='col-md-4'>
      <p>Invitational: {{boolean-helper model.isInvitational}}</p>
      <p>Number of Rounds: {{model.numRounds}}</p>
      <ul class="list-group">
        <li class="list-group-item">
          <h5>Counts</h5>
        </li>
        <li class="list-group-item">
          <span class="badge badge-light">{{model.newEntriesCount}}</span>
          New Entries
        </li>
        <li class="list-group-item">
          <span class="badge badge-light">{{model.builtEntriesCount}}</span>
          Built Entries
        </li>
        <li class="list-group-item">
          <span class="badge badge-light">{{model.invitedEntriesCount}}</span>
          Invited Entries
        </li>
        <li class="list-group-item">
          <span class="badge badge-light">{{model.submittedEntriesCount}}</span>
          Submitted Entries
        </li>
        <li class="list-group-item">
          <span class="badge badge-danger">{{model.withdrawnEntriesCount}}</span>
          Withdrawn Entries
        </li>
        <li class="list-group-item">
          <span class="badge badge-success">{{model.approvedEntriesCount}}</span>
          Approved Entries
        </li>
        <li class="list-group-item">
          <span class="badge badge-light">{{model.totalEntriesCount}}</span>
          Total Entries
        </li>
      </ul>
    </div>
  </div>
</section>

