<section>
  {{#if (or (eq model.status 'New')(eq model.status 'Built')(eq model.status 'Opened'))}}
    <h4>
      The Draw can only be adjusted after the Session has been Closed.
    </h4>
  {{else if (or (eq model.status 'Closed')(eq model.status 'Verified'))}}
    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <th class='col-md-1'>OA</th>
            <th class='col-md-3'>Name</th>
            <th class='col-md-8'>Notes</th>
          </tr>
        </thead>
          {{#sortable-group tagName='tbody' onChange="reorderItems" as |group|}}
            {{#each sortedEntries as |item|}}
              {{#sortable-item tagName="tr" model=item group=group class='handle' handle=".handle"}}
                <td>
                  {{item.draw}}
                </td>
                <td>
                  {{item.group.name}}
                </td>
                <td>{{item.description}}</td>
              {{/sortable-item}}
            {{else}}
              <tr>
                <td>(No entries.)</td>
              </tr>
            {{/each}}
          {{/sortable-group}}
      </table>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <strong>Note:</strong> To adjust the draw, simply grab a row and reposition it to where you want.  To confirm this initial (random) draw, then grab a row and return to its original position.  Each move reorders the list and saves automatically.
      </div>
    </div>
  {{else}}
    <div class='row'>
      <div class='col-md-12'>
        <table class='table'>
          <thead>
            <tr>
              <th class='col-md-1'>OA</th>
              <th class='col-md-3'>Name</th>
              <th class='col-md-8'>Notes</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedEntries as |entry|}}
              <tr>
                <td>
                  {{entry.draw}}
                </td>
                <td>
                  {{entry.group.name}}
                </td>
                <td>
                  {{entry.description}}
                </td>
              </tr>
            {{else}}
              <tr>
                <td>(No entries.)</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  {{/if}}
</section>
