<BsButton
  @type='primary'
  @disabled={{this.model.isDisabled}}
  @onClick={{action (mut this.packageSessionModal) true}}
>
  Package Session
</BsButton>
<BsModal
  @open={{this.packageSessionModal}}
  @onHidden={{pipe-action (action (mut this.packageSessionModal) false) (action (mut this.packageSessionModalError) false)}}
  as |modal|
>
  <modal.header>
    <h4>Package Session</h4>
  </modal.header>
  <modal.body>
    <p>
        This packages the Session and represents the official handoff from the DRCJ to the Panel Chair and Administrator. After the session is packaged it is put into a locked down state; you won't be able to add, withdraw, re-arrange the draw or take any actions. Any further changes must be handled by the PC or ADM.
    </p>
    {{#if this.packageSessionModalError}}
    <p class='text-danger'>
      Could not Package Session.
    </p>
    {{/if}}
  </modal.body>
  <modal.footer>
    <BsButton @onClick={{action modal.close}} @type="default">Cancel</BsButton>
    <BsButton @type='primary' @disabled={{this.model.isError}} @onClick={{perform this.packageSession}}>
      {{#if this.packageSession.isRunning}}
        Packaging <FaIcon @icon="spinner" @spin={{true}} />
      {{else}}
        Package Session
      {{/if}}
    </BsButton>
  </modal.footer>
</BsModal>