<div class='table-responsive'>
  <table class='table table-hover table-sm'>
    <thead class='thead-light'>
      <tr>
        <th>Name</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.sortedRounds as |round|}}
        <tr>
          {{#if round.isLoading}}
            <td colspan=2>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
          {{else}}
            <td><LinkTo @route='dashboard.conventions.convention.sessions.session.rounds.round.details' @model={{round}}>{{round.kind}}</LinkTo></td>
            <td>{{round.status}}</td>
          {{/if}}
        </tr>
      {{else}}
        <tr>
          <td>No active Rounds currently assigned to you.</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>