<section>
  <div class='card'>
    <div class='card-header'>
      {{prev-next model=model sortedArray=sortedContests}}

      <h4>
        {{model.award.name}}
      </h4>
    </div>
    <div class='card-body'>
      <div class='table-responsive'>
        <table class='table table-hover table-sm'>
          <caption>Contestants: {{model.includedContestantsCount}}</caption>
          <thead class='thead-light'>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedContestants as |contestant|}}
              <tr>
                <td>
                  {{contestant.entry.group.name}}
                </td>
              </tr>
            {{else}}
              <tr>
                <td>(No contestants entered for this contest.)</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>