<div class='table-responsive'>
  <table class='table'>
    <caption>Current Sessions</caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>Organization</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedSessions as |session|}}
        <tr>
          <td>{{#link-to 'dashboard.conventions.convention.sessions.session.details' session}}{{session.kind}}{{/link-to}}</td>
          {{#if session.groupName.isLoading}}
            <td colspan=2>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
          {{else}}
            <td>{{session.groupName}}</td>
          {{/if}}
          <td>{{session.status}}</td>
        </tr>
      {{else}}
        <tr>
          <td>No active Sessions currently assigned to you.</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
