{{#if (eq model.status 'New')}}
  <h4>
    Contests can only be selected after the Session has been Built.
  </h4>
{{else}}
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th class='col-md-1'>Status</th>
          <th class='col-md-4'>Name</th>
          <th class='col-md-5'>Description</th>
          <th class='col-md-1'>Count</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedContests as |contest|}}
          <tr>
            <td>
              {{input
                type='checkbox'
                checked=contest.isIncluded
                disabled=contest.isCheckboxDisabled
                change=(perform toggleContest contest value='target.checked')
              }}
            </td>
            <td>{{#link-to 'dashboard.conventions.convention.sessions.session.contests.contest' contest}}{{contest.award.name}}{{/link-to}}</td>
            <td>{{#if contest.award.description}}{{contest.award.description}}{{else}}(No description available){{/if}}</td>
            <td>{{contest.includedContestantsCount}}</td>
          </tr>
        {{else}}
          <tr>
            <td colspan=3>No contests.</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/if}}
