<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <ul class='list-inline pull-right'>
        {{#if (has-previous model sortedContests)}}
          <li>
            {{#bs-button onClick=(action (mut model) (previous model sortedContests))}}
             Previous
            {{/bs-button}}
          </li>
        {{else}}
          <li>
            {{#bs-button disabled=true onClick=(action (mut model) (previous model sortedContests))}}
               Previous
            {{/bs-button}}
          </li>
        {{/if}}
        {{#if (has-next model sortedContests)}}
          <li>
            {{#bs-button onClick=(action (mut model) (next model sortedContests))}}
              Next
            {{/bs-button}}
          </li>
        {{else}}
          <li>
            {{#bs-button disabled=true onClick=(action (mut model) (next model sortedContests))}}
              Next
            {{/bs-button}}
          </li>
        {{/if}}
      </ul>
      <h4>
        {{model.award.name}}
      </h4>
    </div>
    <div class='panel-body'>
      <div class='table-responsive'>
        <table class='table'>
          <caption>Contestants: {{model.includedContestantsCount}}</caption>
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedContestants as |contestant|}}
              <tr>
                <td>
                  {{contestant.entry.group.name}}
                </td>
              </tr>
            {{else}}
              <tr>
                <td>(No contestants entered for this contest.)</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>