<div class='card'>
  <div class='card-header'>
    <h3>
      Your Memberships
    </h3>
  </div>
  <div class='card-body'>
    <div class='table-responsive'>
      <table class='table table-hover table-sm'>
        <caption>You are a member of the following groups:</caption>
        <thead class='thead-light'>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Kind</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedMembers as |member|}}
            <tr>
              <td>
                {{cloudinary-image member.group.imageId (hash width=64) class='img-fluid img-rounded'}}
              </td>
              <td>
                {{#link-to 'dashboard.groups.group.details' member.group}}{{member.group.name}}{{/link-to}}
              </td>
              <td>
                {{member.group.kind}}
              </td>
            </tr>
          {{else}}
            <tr>
              <td></td>
              <td>(You are not listed as an officer for any active groups.)</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <div class='card-footer'>
    <p>
      {{#bs-button type='link' onClick=(toggle 'collapsedNote' this)}}
        Your group not listed? Click here.
      {{/bs-button}}
    </p>
    {{#bs-collapse collapsed=collapsedNote}}
      <p>
        This is the list of currently active groups for which you are listed as an officer.  To update your officer records, check the {{member-center}} and update accordingly.  Also note that <em>newly registered quartets</em> will not show in Barberscore until BHS headquarters has:
      </p>
      <ul class='list-styled'>
        <li>Approved the quartet name</li>
        <li>Processed the subscription fee</li>
        <li>Updated the Member Center record</li>
      </ul>
      <p>
        <em>This process can take up to 5 business days.</em>
      </p>
    {{/bs-collapse}}
  </div>
</div>