<div class='table-responsive'>
  <h3>Your Groups</h3>
  <table class='table'>
    <h6 class='card-title'>You are an active officer for the following groups:</h6>
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Group Status</th>
        <th>Office</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedOfficers as |officer|}}
        <tr>
          <td>
            <img src={{officer.group.image}} class='img-fluid rounded' width=64>
          </td>
          <td>
            {{#link-to 'dashboard.groups.group.details' officer.group}}{{officer.group.name}}{{/link-to}}
          </td>
          <td>
            {{officer.group.status}}
          </td>
          <td>
            {{officer.office.name}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td>(You are not listed as an officer for any active groups.  Please check the {{member-center}}.)</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<section>
  <p>
    <strong>Note to New Quartets:</strong> Please be aware that newly registered quartets will not show in Barberscore until BHS headquarters has:
  </p>
  <ul class='list-styled'>
    <li>Approved the quartet name</li>
    <li>Processed the subscription fee</li>
    <li>Updated the Member Center record</li>
  </ul>
  <p>
    <em>This process can take up to 5 business days.</em>
  </p>
</section>
