<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
<section>
  <div class='table-responsive'>
    <table class='table'>
      <caption>Current Sessions</caption>
      <thead>
        <tr>
          <th {{action 'sortBy' 'nomen'}}>Name</th>
          <th {{action 'sortBy' 'organization'}}>Organization</th>
          <th {{action 'sortBy' 'statusSort'}}>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedSessions as |session|}}
          <tr>
            <td>{{#link-to 'dashboard.session-manager.session.details' session}}{{session.nomen}}{{/link-to}}</td>
            <td>{{session.organizationNomen}}</td>
            <td>{{session.status}}</td>
          </tr>
        {{else}}
          <tr>
            <td>No active Sessions currently assigned to you.</td>
          </tr>
        {{/each}}
      </tbody>
      {{!-- <tfoot>
        <tr>
          <td colspan='2'>
            (Add Sessions from the {{#link-to 'dashboard.convention-manager'}}Convention Manager{{/link-to}})
          </td>
        </tr>
      </tfoot> --}}
    </table>
  </div>
</section>
