<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
<section>
  <div class='panel panel-default'>
    <div class='panel-heading fixed-panel-header'>
      <ul class='list-inline pull-right'>
        <li>{{#bs-button disabled=isPrevDisabled onClick=(action 'previousItem' model)}}Previous{{/bs-button}}</li>
        <li>{{#bs-button disabled=isNextDisabled onClick=(action 'nextItem' model)}}Next{{/bs-button}}</li>
      </ul>
      <h4>
        {{model.kind}} Session - {{model.convention.name}}
      </h4>
    </div>
    <div class='panel-body'>
      {{#bs-nav type='tabs' as |nav|}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.session-manager.session.details"}}Details{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.session-manager.session.contests"}}Contests{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.session-manager.session.entries"}}Entries{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.session-manager.session.draw"}}Draw{{/nav.link-to}}
        {{/nav.item}}
      {{/bs-nav}}
      {{outlet}}
    </div>
    <div class='panel-footer fixed-panel-footer'>
      <div class='pull-right'>
        <h4>
          Session Status: <strong>{{model.status}}</strong>
        </h4>
      </div>
      {{#if model.permissions.write}}
        <ul class='list-inline'>
          {{#if (eq model.status 'New')}}
            <li>{{#bs-button type='primary' disabled=model.isError onClick=(action (mut openSessionModal) true)}}Open Session{{/bs-button}}</li>
          {{else if (eq model.status 'Opened')}}
            <li>{{#bs-button type='primary' disabled=model.isError onClick=(action (mut closeSessionModal) true)}}Close Session{{/bs-button}}</li>
          {{else if (eq model.status 'Closed')}}
            <li>{{#bs-button type='primary' disabled=model.isError onClick=(action (mut verifySessionModal) true)}}Verify Session{{/bs-button}}</li>
          {{else if (eq model.status 'Verified')}}
            <li>{{#bs-button type='primary' disabled=model.isError onClick=(action (mut verifySessionModal) true)}}Re-Verify Session{{/bs-button}}</li>
            <li>{{#bs-button type='primary' disabled=model.isError onClick=(action (mut startSessionModal) true)}}Start Session{{/bs-button}}</li>
          {{/if}}
        </ul>
      {{/if}}
    </div>
  </div>
</section>
<section>
  {{#bs-modal
    open=openSessionModal
    onHidden=(pipe-action (action (mut openSessionModal) false) (action (mut openSessionModalError) false))
    as |modal|
  }}
    {{#modal.header}}
      <h4>Open Session</h4>
    {{/modal.header}}
    {{#modal.body}}
      <p>
        Opening the Session allows Groups to enter the contest. If this Session is by Invitation-Only then you will need to add Entries manually.  Otherwise, clicking open will send an email to all Active groups within the District indicating they can now enter the contest.
      </p>
      <p>
        <strong>Important:</strong> Be sure you have selected all the awards that may be given out during this session prior to opening it.  You won't be able to change this later without significant effort.  See the "Contests" tab in the session manager to include awards in this session.
      </p>
      {{#if openSessionModalError}}
      <p class='text-danger'>
        Could not Open Session.
      </p>
      {{/if}}
    {{/modal.body}}
    {{#modal.footer}}
      {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
      {{#bs-button type='primary' disabled=model.isError onClick=(perform openSession)}}
        {{#if openSession.isRunning}}
          Opening {{fa-icon "spinner" spin=true}}
        {{else}}
          Open Session
        {{/if}}
      {{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
</section>
<section>
  {{#bs-modal
    open=closeSessionModal
    onHidden=(pipe-action (action (mut closeSessionModal) false) (action (mut closeSessionModalError) false))
    as |modal|
  }}
    {{#modal.header}}
      <h4>Close Session</h4>
    {{/modal.header}}
    {{#modal.body}}
      <p>
        Prior to closing this session, ensure that all entries you wish to be included in the draw are now in the "Approved" status. This also closes the session to new entries (in the case of an "Open" session) and sets the initial draw randomly.  You will still be able to manually add entries or re-sort the draw.  Also, this is considered a "private" action; the draw and list of entries will not be made public until the next action (Verify) is taken.
      </p>
      {{#if closeSessionModalError}}
      <p class='text-danger'>
        Could not Close Session.
      </p>
      {{/if}}
    {{/modal.body}}
    {{#modal.footer}}
      {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
      {{#bs-button type='primary' disabled=model.isError onClick=(perform closeSession)}}
        {{#if closeSession.isRunning}}
          Closing {{fa-icon "spinner" spin=true}}
        {{else}}
          Close Session
        {{/if}}
      {{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
</section>
<section>
  {{#bs-modal
    open=verifySessionModal
    onHidden=(pipe-action (action (mut verifySessionModal) false) (action (mut verifySessionModalError) false))
    as |modal|
  }}
    {{#modal.header}}
      <h4>Verify Session</h4>
    {{/modal.header}}
    {{#modal.body}}
      <p>
        This action verifies a closed session and produces two XLSX files (which will be exposed via links on the Details tab). You can still manually add entries and/or rearrange the draw following verification if needed. If any changes are made, you should click "Re-Verify Session" to re-create those XLSX files. 
      </p>
      {{#if verifySessionModalError}}
      <p class='text-danger'>
        Could not Verify Session.
      </p>
      {{/if}}
    {{/modal.body}}
    {{#modal.footer}}
      {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
      {{#bs-button type='primary' disabled=model.isError onClick=(perform verifySession)}}
        {{#if verifySession.isRunning}}
          Verifying {{fa-icon "spinner" spin=true}}
        {{else}}
          Verify Session
        {{/if}}
      {{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
</section>
<section>
  {{#bs-modal
    open=startSessionModal
    onHidden=(pipe-action (action (mut startSessionModal) false) (action (mut startSessionModalError) false))
    as |modal|
  }}
    {{#modal.header}}
      <h4>Start Session</h4>
    {{/modal.header}}
    {{#modal.body}}
      <p>
        This officially starts the session and represents the official handoff from the DRCJ to the Contest Administrator.  After the session is started it is put into a locked down state; you won't be able to add, scratch, re-arrange the draw or take any actions.  Any changes subsequent to a session Start must be handled by the CA.
      </p>
      {{#if startSessionModalError}}
      <p class='text-danger'>
        Could not Start Session.
      </p>
      {{/if}}
    {{/modal.body}}
    {{#modal.footer}}
      {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
      {{#bs-button type='primary' disabled=model.isError onClick=(perform startSession)}}
        {{#if startSession.isRunning}}
          Starting {{fa-icon "spinner" spin=true}}
        {{else}}
          Start Session
        {{/if}}
      {{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
</section>
