<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
<section>
  <div class='panel panel-default'>
    <div class='panel-heading fixed-panel-header'>
      <ul class='list-inline pull-right'>
        <li>{{#bs-button disabled=isPrevDisabled onClick=(action 'previousItem' model)}}Previous{{/bs-button}}</li>
        <li>{{#bs-button disabled=isNextDisabled onClick=(action 'nextItem' model)}}Next{{/bs-button}}</li>
      </ul>
      <h4>
        {{model.name}}
      </h4>
    </div>
    <div class='panel-body'>
      {{#bs-nav type='tabs' as |nav|}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.convention-manager.convention.details"}}Details{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.convention-manager.convention.sessions"}}Sessions{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.convention-manager.convention.assignments"}}Assignments{{/nav.link-to}}
        {{/nav.item}}
      {{/bs-nav}}
      {{outlet}}
    </div>
    <div class='panel-footer fixed-panel-footer'>
      <div class='pull-right'>
        <h4>Convention Status: <strong>{{model.status}}</strong></h4>
      </div>
      <div>
        {{#if model.permissions.write}}
          {{#if (eq model.status 'New')}}
            {{#bs-button type='primary' disabled=model.isError onClick=(action (mut publishConventionModal) true)}}Publish Convention{{/bs-button}}
          {{else if (eq model.status 'Published')}}
            {{#bs-button type='warning' disabled=model.isError onClick=(action (mut archiveConventionModal) true)}}Archive Convention{{/bs-button}}
          {{else if (eq model.status 'Archived')}}
            {{#bs-button type='primary' disabled=model.isError onClick=(action (mut publishConventionModal) true)}}Publish Convention{{/bs-button}}
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</section>
<section>
  {{#bs-modal
    open=publishConventionModal
    onHidden=(pipe-action (action (mut publishConventionModal) false) (action (mut publishConventionModalError) false))
    as |modal|
  }}
    {{#modal.header}}
      <h4>Publish Convention</h4>
    {{/modal.header}}
    {{#modal.body}}
      <p>
        After you have published you won't be able to edit details easily.  Each session must also be published.
      </p>
      {{#if publishConventionModalError}}
      <p class='text-danger'>
        Could not publish Convention.  Are you sure all fields are entered and sessions are published?
      </p>
      {{/if}}
    {{/modal.body}}
    {{#modal.footer}}
      {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
      {{#bs-button type='primary' disabled=model.isError onClick=(perform publishConvention)}}
        {{#if publishConvention.isRunning}}
          Publishing {{fa-icon "spinner" spin=true}}
        {{else}}
          Publish Convention
        {{/if}}
      {{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
</section>
<section>
  {{#bs-modal
    open=archiveConventionModal
    onHidden=(pipe-action (action (mut archiveConventionModal) false) (action (mut archiveConventionModalError) false))
    as |modal|
  }}
    {{#modal.header}}
      <h4>Archive Convention</h4>
    {{/modal.header}}
    {{#modal.body}}
      <p>
        This will archive the convention.  It will still be searchable but won't appear in lists.
      </p>
      {{#if publishConventionModalError}}
      <p class='text-danger'>
        Could not archive Convention.
      </p>
      {{/if}}
    {{/modal.body}}
    {{#modal.footer}}
      {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
      {{#bs-button type='primary' disabled=model.isError onClick=(perform archiveConvention)}}
        {{#if archiveConvention.isRunning}}
          Archiving {{fa-icon "spinner" spin=true}}
        {{else}}
          Archive Convention
        {{/if}}
      {{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
</section>