<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
<section>
  <div class='panel panel-default'>
    <div class='panel-heading fixed-panel-header'>
      <h4>
        {{model.name}}
      </h4>
    </div>
    <div class='panel-body'>
      {{#bs-nav type='tabs' as |nav|}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.convention-manager.convention.details"}}Details{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.convention-manager.convention.sessions"}}Sessions{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.convention-manager.convention.assignments"}}Assignments{{/nav.link-to}}
        {{/nav.item}}
      {{/bs-nav}}
      {{outlet}}
    </div>
    <div class='panel-footer fixed-panel-footer'>
      <div class='pull-right'>
        <h4>Convention Status: <strong>{{model.status}}</strong></h4>
      </div>
      <div>
        {{#if model.permissions.write}}
          {{#if (eq model.status 'New')}}
            {{#bs-button type='primary' disabled=model.isError onClick=(perform publishConvention)}}
              {{#if publishConvention.isRunning}}
                Publishing {{fa-icon "spinner" spin=true}}
              {{else}}
                Publish Convention
              {{/if}}
            {{/bs-button}}
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</section>