<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
<section>
  <div class='table-responsive'>
    <table class='table'>
      <caption>Your Assigned Conventions</caption>
      <thead>
        <tr>
          <th {{action 'sortBy' 'name'}}>Name</th>
          <th {{action 'sortBy' 'organization'}}>Organization</th>
          <th {{action 'sortBy' 'season'}}>Season</th>
          <th {{action 'sortBy' 'location'}}>Location</th>
          <th {{action 'sortBy' 'openDate'}}>Open</th>
          <th {{action 'sortBy' 'closeDate'}}>Close</th>
          <th {{action 'sortBy' 'startDate'}}>Start</th>
          <th {{action 'sortBy' 'endDate'}}>End</th>
          <th {{action 'sortBy' 'panel'}}>Panel</th>
          <th {{action 'sortBy' 'status'}}>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedConventions as |convention|}}
          <tr>
            <td>{{#link-to 'dashboard.convention-manager.convention.details' convention}}{{convention.name}}{{/link-to}}</td>
            <td>{{convention.organization.shortName}}</td>
            <td>{{convention.season}}</td>
            <td>{{convention.location}}</td>
            <td>{{moment-format convention.openDate 'L'}}</td>
            <td>{{moment-format convention.closeDate 'L'}}</td>
            <td>{{moment-format convention.startDate 'L'}}</td>
            <td>{{moment-format convention.endDate 'L'}}</td>
            <td>{{convention.panel}}</td>
            <td>{{convention.status}}</td>
          </tr>
        {{else}}
          <tr>
            <td>No Active Conventions currently assigned to you.</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
<section>
  {{#bs-button onClick=(action 'createConvention') type='success'}}Create New Convention{{/bs-button}}
</section>