<section>
  {{#bs-form
    model=model
    formLayout='vertical'
    onSubmit=(action 'saveQuartet')
    as |form|
  }}
    {{form.element controlType='text' disabled=isDisabled placeholder='Organization Name' property='name'}}
    {{form.element controlType='text' disabled=isDisabled placeholder='Location' property='location'}}
    {{form.element controlType='url' disabled=isDisabled placeholder='Website' property='website'}}
    {{form.element controlType='email' disabled=isDisabled placeholder='Email' property='email'}}
    {{form.element controlType='phone' disabled=isDisabled placeholder='Phone' property='phone'}}
    {{form.element controlType='text' disabled=isDisabled placeholder='Facebook' property='facebook'}}
    {{form.element controlType='text' disabled=isDisabled placeholder='Twitter' property='twitter'}}
    {{form.element controlType='textarea' disabled=isDisabled placeholder='Description' property='description'}}
    {{#form.element}}
      {{#if isEditing}}
        {{#bs-button onClick=(action 'cancelQuartet')}}Cancel{{/bs-button}}
        {{#bs-button type="primary" buttonType="submit"}}Save{{/bs-button}}
        {{#bs-button onClick=(action 'deleteQuartet') class='pull-right btn-danger'}}Delete{{/bs-button}}
      {{else}}
        {{#bs-button onClick=(action 'editQuartet')}}Edit{{/bs-button}}
      {{/if}}
    {{/form.element}}
  {{/bs-form}}
</section>
