<section>
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th class='col-md-6'>Title</th>
          <th {{action "sortBy" "bhs_id"}}>BHS ID</th>
          <th {{action "sortBy" "arrangers"}}>Arranger(s)</th>
          <th {{action "sortBy" "is_medley"}}>Medley</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedRepertories as |repertory|}}
          <tr>
            <td>
              {{#link-to 'admin.catalog-manager.catalog.details' repertory.catalog}}{{repertory.catalog.title}}{{/link-to}}
            </td>
            <td>{{repertory.catalog.bhs_id}}</td>
            <td>{{repertory.catalog.arrangers}}</td>
            <td>{{repertory.catalog.is_medley}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
<section>
  {{#bs-button onClick=(action (mut openModal) true) type='success'}}Add Catalog to Repertory{{/bs-button}}
</section>
<section>
  {{#bs-modal-simple
    open=openModal
    onHidden=(action "clearRepertory")
    title="Add Repertory"
    closeTitle="Cancel"
    submitTitle="Save"
    backdropClose=false
  }}
    {{#bs-form
      model=this
      formLayout='vertical'
      onSubmit=(action 'createRepertory')
      as |form|
    }}
      {{#form.element property='catalog' useIcons=false as |el|}}
        {{#power-select
          search=(perform searchCatalog)
          selected=el.value
          renderInPlace=true
          onchange=(action (mut el.value))
          placeholder="Search by Song Name or BHS Catalog Number"
          allowClear=true
          as |catalog|
        }}
          Song: {{catalog.nomen}}  {{#if catalog.arrangers}}(arr. {{catalog.arrangers}}){{/if}}
        {{/power-select}}
      {{/form.element}}
        <p>
          <strong>NOTE:&nbsp;</strong><small>If you can't find your song then cancel this and add it through the catalog manager first.</small>
        </p>
    {{/bs-form}}
  {{/bs-modal-simple}}
</section>