<section>
  {{#bs-form formLayout="vertical" model=model.chart as |form|}}
    {{form.element controlType='text' placeholder='Title' disabled=true property='title'}}
    {{form.element controlType='text' placeholder='BHS ID' disabled=true property='bhs_id'}}
    {{form.element controlType='textarea' placeholder='Arrangers' disabled=true property='arrangers'}}
    {{form.element controlType='textarea' placeholder='Composers/Lyricists' disabled=true property='composers'}}
    {{form.element controlType='textarea' placeholder='Copyright Holders' disabled=true property='holders'}}
  {{/bs-form}}
</section>

