<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'conventions'}}Conventions{{/link-to}}</li>
    <li>{{#link-to 'conventions.convention' model.session.convention}}{{model.session.convention.name}}{{/link-to}}</li>
    <li>{{#link-to 'conventions.convention.session' model.session}}{{model.session.kind}}{{/link-to}}</li>
    <li class='active'>{{model.name}}</li>
  </ol>
</div>
<section class='panel panel-default'>
  <div class='panel-heading'>
    <h3>
      Judge Details
    </h3>
  </div>
  <div class='panel-body'>
    {{#if model.person.picture}}
        <img src='{{model.person.picture}}' class='img-responsive img-thumbnail'>
    {{else}}
        <img src='http://s3-us-west-1.amazonaws.com/barberscore/no_image_available.jpg' class='img-responsive img-thumbnail'>
    {{/if}}
    <h4>
      {{model.person.name}}
    </h4>
    <p>
      {{model.category}}
    </p>
    <p>
      {{model.person.location}}
    </p>
    <p>
      {{model.person.facebook}}
    </p>
    <p>
      {{model.person.twitter}}
    </p>
    <p>
      {{model.person.email}}
    </p>
    </div>
</section>