<section>
  <div class='panel panel-default'>
    <div class='panel-heading fixed-panel-header'>
      {{!-- <ul class='list-inline pull-right'>
        <li>{{#bs-button disabled=isPrevDisabled onClick=(action 'previousItem' model)}}Previous{{/bs-button}}</li>
        <li>{{#bs-button disabled=isNextDisabled onClick=(action 'nextItem' model)}}Next{{/bs-button}}</li>
      </ul> --}}
      <h4>
        {{model.person.commonName}}
      </h4>
    </div>
    <div class='panel-body'>
      <div>
        {{#bs-form
          formLayout="vertical"
          model=model
          as |form|
        }}
          {{#form.element property='person' as |el|}}
              {{#power-select
                search=(perform searchPerson)
                selected=el.value
                onchange=(perform autosave 'person')
                placeholder="Enter Judge Name"
                renderInPlace=true
                allowClear=true
                disabled=isDisabled
                as |person|
              }}
                Person: {{person.nomen}}
              {{/power-select}}
          {{/form.element}}
          {{#form.element property='category' useIcons=false as |el|}}
            {{#power-select
              options=categoryOptions
              selected=el.value
              onchange=(action (mut el.value))
              placeholder="Enter Category"
              disabled=isDisabled
              allowClear=true
              as |category|
            }}
              Category: {{category}}
            {{/power-select}}
          {{/form.element}}
          {{#form.element property='kind' useIcons=false as |el|}}
            {{#power-select
              options=kindOptions
              selected=el.value
              onchange=(action (mut el.value))
              placeholder="Enter Kind"
              disabled=isDisabled
              allowClear=true
              as |kind|
            }}
              Kind: {{kind}}
            {{/power-select}}
          {{/form.element}}
        {{/bs-form}}
      </div>
    </div>
    <div class='panel-footer fixed-panel-footer'>
      <ul class='list-inline'>
        {{#if model.permissions.write}}
          {{#if (eq model.status 'New')}}
            <li>{{#bs-button type='danger' disabled=model.isError onClick=(action (mut deletePanelistModal) true)}}Delete Panelist{{/bs-button}}</li>
          {{/if}}
        {{/if}}
        {{!-- <li class='pull-right'><h4>Panelist Status: <strong>{{model.status}}</strong></h4></li> --}}
      </ul>
    </div>
  </div>
</section>
<section>
  {{#bs-modal
    open=deletePanelistModal
    onHidden=(pipe-action (action (mut deletePanelistModal) false) (action (mut deletePanelistModalError) false))
    as |modal|
  }}
    {{#modal.header}}
      <h4>Delete Panelist</h4>
    {{/modal.header}}
    {{#modal.body}}
      <p>
        This will delete the panelist.  This should generally be used for errors or other cases where the panelist should never have existed in the first place.  If you don't have a full panel other errors will occur that aren't easily fixed.  Please be certain.
      </p>
      {{#if deletePanelistModalError}}
      <p class='text-danger'>
        Could not delete panelist.  Please contact support.
      </p>
      {{/if}}
    {{/modal.body}}
    {{#modal.footer}}
      {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
      {{#bs-button type='danger' onClick=(perform deletePanelist)}}
        {{#if deletePanelist.isRunning}}
          Deleting {{fa-icon "spinner" spin=true}}
        {{else}}
          Delete Panelist
        {{/if}}
      {{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
</section>
