<section>
  <div class='row'>
    <div class='col-md-2'>
      {{#if uploadPhoto.isRunning}}
        Uploading {{fa-icon "spinner" size=5 spin=true}}
      {{else}}
        {{#if model.image}}
          <img src={{model.image}} class='img-responsive'>
        {{else}}
          <img src='/assets/no_image_available.jpg' class='img-responsive'>
        {{/if}}
      {{/if}}
      {{#file-upload
        name="photos"
        accept="image/*"
        multiple=false
        disabled=isDisabled
        onfileadd=(perform uploadPhoto)
      }}
        <a id="upload-image" tabindex=0><small>Add/Replace Image</small></a>
      {{/file-upload}}
    </div>
  </div>
  {{#bs-form
    model=model
    formLayout='vertical'
    as |form|
  }}
    {{form.element controlType='text' disabled=true placeholder='Group Name' property='name'}}
    {{#form.element property='organization' useIcons=false as |el|}}
        {{#power-select
          options=representingOptions
          selected=el.value
          searchField='name'
          onchange=(perform autosave 'organization')
          placeholder="Enter 'Home' District/Division/Affiliate"
          allowClear=true
          disabled=true
          as |organization|
        }}
          Representing: {{organization.name}}
        {{/power-select}}
    {{/form.element}}
    {{form.element controlType='text' disabled=isDisabled placeholder='Location' property='location' onChange=(perform autosave 'location')}}
    {{form.element controlType='url' disabled=isDisabled placeholder='Website' property='website' onChange=(perform autosave 'website')}}
    {{form.element controlType='email' disabled=isDisabled placeholder='Email' property='email' onChange=(perform autosave 'email')}}
    {{form.element controlType='phone' disabled=isDisabled placeholder='Phone' property='phone' onChange=(perform autosave 'phone')}}
    {{form.element controlType='text' disabled=isDisabled placeholder='Facebook' property='facebook' onChange=(perform autosave 'facebook')}}
    {{form.element controlType='text' disabled=isDisabled placeholder='Twitter' property='twitter' onChange=(perform autosave 'twitter')}}
    {{form.element controlType='textarea' rows=6 disabled=isDisabled placeholder='Description - Write a few words to describe your group, suitable for a program description.' property='description' onChange=(perform autosave 'description')}}
  {{/bs-form}}
</section>