<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4>
          Submission Details: {{model.nomen}}
      </h4>
    </div>
    <div class='panel-body'>
      <div>
        {{#bs-form formLayout="vertical" model=model onSubmit=(action "saveSubmission") as |form|}}
          {{!-- {{#form.element property='is_private' as |el|}}
            {{#bs-button-group
              value=el.value
              type='radio'
              onChange=(action (mut el.value))
              as |bg|
            }}
              {{#bg.button type='default' value=false disabled=isDisabled}}Public Scores{{/bg.button}}
              {{#bg.button type='default' value=true disabled=isDisabled}}Private Scores{{/bg.button}}
            {{/bs-button-group}}
          {{/form.element}} --}}
          {{!-- {{#form.element property='tenor' useIcons=false as |el|}}
              {{#power-select
                    search=(perform searchTask)
                    selected=el.value
                    onchange=(action (mut el.value))
                    placeholder="Enter Person Name"
                    disabled=isDisabled
                    allowClear=true
                    as |person|
              }}
                Tenor: {{person.common_name}}
              {{/power-select}}
          {{/form.element}} --}}
          {{form.element controlType="text" placeholder="Song Title" property="title" disabled=isDisabled}}
          {{form.element controlType="text" placeholder="Arranger(s)" property="arrangers" disabled=isDisabled}}
          {{form.element controlType="text" placeholder="Composer(s) and/or Lyricist(s)" property="composers" disabled=isDisabled}}
          {{form.element controlType="text" placeholder="Copyright Holders(s)" property="holders" disabled=isDisabled}}
          {{#if isEditing}}
              {{#bs-button onClick=(action 'cancelSubmission')}}Cancel{{/bs-button}}
              {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
              {{#bs-button onClick=(action 'deleteSubmission') class='pull-right btn-danger'}}Delete{{/bs-button}}
          {{else}}
            {{#bs-button onClick=(action 'editSubmission')}}Edit{{/bs-button}}
          {{/if}}
        {{/bs-form}}
      </div>
    </div>
  </div>
</section>

