<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4 {{action 'collapseHeader'}}>
        {{#if isHeaderCollapsed}}{{fa-icon 'caret-right'}}{{else}}{{fa-icon 'caret-down'}}{{/if}}&nbsp;Entrants
      </h4>
    </div>
    {{#bs-collapse collapsed=isHeaderCollapsed}}
    <div class='panel-body'>
      <div class='table-responsive'>
        <table class='table'>
          <thead>
          <tr>
            <th{{action 'sortPerformersBy' 'group.name:asc'}}>Performer</th>
            <th{{action 'sortPerformersBy' 'status:asc'}}>Status</th>
          </tr>
          </thead>
          <tbody>
            {{#each sortedPerformers as |performer|}}
              <tr>
                <td>
                  {{#link-to 'admin.cm.session.performers.performer' performer}}{{performer.group.name}}{{/link-to}}&nbsp;({{performer.representing.short_name}})
                </td>
                <td>
                  {{performer.status}}
                </td>
                {{!-- <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li><a href='#' {{action 'deletePerformer' performer}}>Delete</a></li>
                      <li><a href='#' {{action 'penalizeEligibility' performer}}>Penalty - Eligibility</a></li>
                      <li><a href='#' {{action 'penalizeTardy' performer}}>Penalty - Tardiness</a></li>
                      <li><a href='#' {{action 'penalizeCopyright' performer}}>Penalty - Copyright</a></li>
                      <li><a href='#' {{action 'penalizeStaging' performer}}>Penalty - Staging</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td> --}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      {{add-performer session=model class='form-group'}}
    </div>
    {{/bs-collapse}}
  </div>
</section>
<section>
  {{outlet}}
</section>