{{#if (eq model.status 'New')}}
  <section>
    <div class='row'>
      <div class='col-md-12'>
        <div class='table-responsive'>
          <table class='table'>
            <caption>Available Awards</caption>
            <thead>
              <tr>
                <th>Status</th>
                <th {{action 'sortByAward' 'name'}}>Name</th>
                <th>Rounds</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {{#each sortedContests as |contest|}}
                  <tr>
                    {{#if contest.award.isLoading}}
                      <td colspan=2>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
                    {{else}}
                      <td>{{contest.status}}</td>
                      <td>{{contest.award.nomen}}</td>
                      <td>{{contest.award.rounds}}</td>
                      <td>{{toggle-contest model=contest}}</td>
                    {{/if}}
                  </tr>
              {{else}}
                <tr>
                  (No available awards.)
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
{{else}}
  <section>
    <div class='row'>
      <div class='col-md-6'>
        <table class='table'>
          <thead>
            <tr>
              <th  {{action 'sortBy' 'organizationKindSort'}} class='col-md-6'>Name</th>
              <th>Count</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedContests as |contest|}}
              <tr>
                <td>{{#link-to 'dashboard.session-manager.session.contests.contest' contest}}{{contest.award.name}}{{/link-to}}</td>
                <td>{{contest.includedContestantsCount}}
              </tr>
            {{else}}
              <tr>
                <td>No contests.</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </section>
{{/if}}
