<section>
  <div class='panel panel-default'>
    <div class='panel-heading fixed-panel-header'>
      <ul class='list-inline pull-right'>
        <li>{{#bs-button disabled=isPrevDisabled onClick=(action 'previousItem' model)}}Previous{{/bs-button}}</li>
        <li>{{#bs-button disabled=isNextDisabled onClick=(action 'nextItem' model)}}Next{{/bs-button}}</li>
      </ul>
      <h4>
        {{model.entry.entity.name}} {{#if (and hasVariance (eq model.status 'Finished'))}} <span class="label label-danger">Variance Detected</span>{{/if}}
      </h4>
    </div>
    {{!-- <div>
      Start:  {{moment-format model.actual_start 'LLL'}}
      Finish:  {{moment-format model.actual_finish 'LLL'}}
    </div> --}}
    <div class='panel-body'>
      <div class='table-responsive'>
        <table class='table'>
          <caption>Songs</caption>
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedSongs as |song|}}
              <tr>
                <td>
                  {{#power-select
                    options=model.chartOptions
                    selected=song.chart
                    onchange=(action (mut song.chart))
                    onclose=(action "saveSong" song)
                    placeholder="Choose Chart Title"
                    allowClear=true
                    disabled=false
                    as |chart|
                  }}
                    Song {{song.num}}: {{chart.title}}
                  {{/power-select}}
                </td>
              </tr>
            {{else}}
              <tr>
                <td>(No songs.)</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class='table-responsive'>
        <table class='table'>
          <caption>Scores</caption>
          <thead>
            <tr>
              <th>
                Panelist
              </th>
              <th>
                Category
              </th>
              <th>
                Kind
              </th>
              <th class='col-md-1'>
                Points
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedScores as |score|}}
              <tr>
                <td>
                  {{score.panelist.person.common_name}}
                </td>
                <td>
                  {{score.category}}
                </td>
                <td>
                  {{score.kind}}
                </td>
                <td>
                  {{enter-score score=score}}
                </td>
              </tr>
            {{else}}
              <tr>
                <td>
                  (No scores.)
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div class='panel-footer fixed-panel-footer'>
      {{#if model.permissions.write}}
        {{#if (eq model.status 'Scheduled')}}
          {{#bs-button type='primary' onClick=(perform startAppearance)}}
            {{#if startAppearance.isRunning}}
              Starting {{fa-icon "spinner" spin=true}}
            {{else}}
              Start Appearance
            {{/if}}
          {{/bs-button}}
          {{else if (eq model.status 'Started')}}
          {{#bs-button type='primary' onClick=(perform finishAppearance)}}
            {{#if finishAppearance.isRunning}}
              Finishing {{fa-icon "spinner" spin=true}}
            {{else}}
              Finish Appearance
            {{/if}}
          {{/bs-button}}
        {{else if (eq model.status 'Finished')}}
          {{#bs-button type='primary' onClick=(perform confirmAppearance)}}
            {{#if confirmAppearance.isRunning}}
              Confirming {{fa-icon "spinner" spin=true}}
            {{else}}
              Confirm Appearance
            {{/if}}
          {{/bs-button}}
        {{/if}}
      {{/if}}
      <div class='pull-right'>
        <h4>
          Appearance Status: <strong>{{model.status}}</strong>
        </h4>
      </div>
    </div>
  </div>
</section>