<section>
  <div class='row'>
    <div class='col-md-12'>
      {{#unless (eq model.status 'Started')}}
        {{#if isSorting}}
          {{#bs-button onClick=(action (mut isSorting) false)}}Cancel{{/bs-button}}
          {{#bs-button type='primary' onClick=(action 'saveOrder')}}Save{{/bs-button}}
        {{else}}
          {{#bs-button onClick=(action (mut isSorting) true)}}Sort{{/bs-button}}
        {{/if}}
      {{/unless}}
      <table class='table'>
        <thead>
          <tr>
            <th class='col-md-1'>OA</th>
            <th class='col-md-4'>Name</th>
            <th class='col-md-1'>Status</th>
            {{#if isSorting}}<th class='col-md-1'>Rearrange</th>{{/if}}
          </tr>
        </thead>
          {{#if isSorting}}
            {{#sortable-group tagName='tbody' onChange="reorderItems" as |group|}}
              {{#each sortedAppearances as |item|}}
                {{#sortable-item tagName="tr" model=item group=group handle=".handle"}}
                  <td>
                    {{item.num}}
                  </td>
                  <td>
                    {{item.entry.entity.name}}{{#if item.entry.is_mt}}&nbsp;*MT{{/if}}
                  </td>
                  <td>{{item.status}}</td>
                  <td><span class="handle" data-item="{{item}}">&vArr;</span></td>
                {{/sortable-item}}
              {{/each}}
            {{/sortable-group}}
          {{else}}
            <tbody>
              {{#each sortedAppearances as |appearance|}}
                <tr>
                  <td>{{appearance.num}}</td>
                  <td>{{#link-to 'dashboard.scoring-manager.round.appearances.appearance' appearance}}{{appearance.entry.entity.name}}{{#if appearance.entry.is_mt}}&nbsp;*MT{{/if}}{{/link-to}}</td>
                  <td>{{appearance.status}}</td>
                </tr>
              {{else}}
                <tr>
                  <td>(No entries.)</td>
                </tr>
              {{/each}}
            </tbody>
          {{/if}}
      </table>
    </div>
  </div>
</section>