<section>
  <div class='row'>
    <div class='col-md-12'>
      <table class='table'>
        <thead>
          <tr>
            <th class='col-md-1'>OA</th>
            <th class='col-md-1'>Grid</th>
            <th class='col-md-1'>Actual</th>
            <th class='col-md-4'>Name</th>
            <th class='col-md-1'>Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedAppearances as |appearance|}}
            <tr>
              <td>
                {{appearance.grid.num}}
              </td>
              <td>
                {{moment-format appearance.grid.onstage 'HH:mm'}}
              </td>
              <td>
                {{moment-format appearance.grid.start 'HH:mm'}}
              </td>
              <td>
                {{#link-to 'dashboard.scoring-manager.round.appearances.appearance' appearance}}{{appearance.competitor.group.name}}{{/link-to}}
              </td>
              <td>
                {{appearance.status}}
              </td>
            </tr>
          {{else}}
            <tr>
              <td>(No entries.)</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>