<section>
  <div class='row'>
    <div class='col-md-12'>
      <table class='table'>
        <thead>
          <tr>
            <th>Draw</th>
            <th>Name</th>
            {{!-- <th>Contests</th> --}}
            {{!-- <th>BHS ID</th> --}}
            <th>District</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedAppearances as |appearance|}}
            <tr>
              <td>{{appearance.num}}</td>
              <td>{{#link-to 'dashboard.scoring-manager.round.appearances.appearance' appearance}}{{appearance.entry.entity.name}}{{/link-to}}</td>
              {{!-- <td></td> --}}
              {{!-- <td>{{appearance.entry.entity.bhs_id}}</td> --}}
              <td>{{appearance.entry.representing.short_name}}</td>
            </tr>
          {{else}}
            <tr>
              <td>(Round will be empaneled when verified.)</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>