<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4>
        {{model.nomen}}
      </h4>
    </div>
    <div class='panel-body'>
      <div>
        {{#bs-form
          formLayout="vertical"
          model=model
          onSubmit=(action "saveMember")
          as |form|
        }}
          {{#form.element property='person' useIcons=false as |el|}}
            {{#power-select
              options=null
              selected=el.value
              disabled=true
              onchange=(action (mut el.value))
              as |person|
            }}
              Person: {{person.common_name}}
            {{/power-select}}
          {{/form.element}}
          {{#form.element property='part' useIcons=false as |el|}}
            {{#power-select
              options=model.partOptions
              selected=el.value
              disabled=true
              onchange=(action (mut el.value))
              placeholder="Enter Primary Part"
              disabled=isDisabled
              allowClear=true
              as |part|
            }}
              Part: {{part}}
            {{/power-select}}
          {{/form.element}}
            <div class='row'>
              <div class='col-md-3'>
                {{#form.element property='start_date' useIcons=false as |el|}}
                  {{bs-datetimepicker
                    date=el.value
                    format='YYYY-MM-DD'
                    updateDate=(action (mut el.value))
                    placeholder="Member Start Date"
                    disabled=isDisabled
                  }}
                {{/form.element}}
              </div>
              <div class='col-md-3'>
                {{#form.element property='end_date' useIcons=false as |el|}}
                  {{bs-datetimepicker
                    date=el.value
                    format='YYYY-MM-DD'
                    updateDate=(action (mut el.value))
                    placeholder="Member End Date"
                    clearBtn=true
                    disabled=isDisabled
                  }}
                {{/form.element}}
              </div>
            </div>
          {{#if model.permissions.write}}
            {{#if isEditing}}
                {{#bs-button onClick=(action 'cancelMember')}}Cancel{{/bs-button}}
                {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
                {{#bs-button onClick=(action 'deleteMember') class='pull-right btn-danger'}}Delete{{/bs-button}}
            {{else}}
              {{#bs-button onClick=(action 'editMember')}}Edit{{/bs-button}}
            {{/if}}
          {{/if}}
        {{/bs-form}}
      </div>
    </div>
  </div>
</section>