<section>
  {{#if (or (eq this.model.status 'Built')(eq this.model.status 'Started'))}}
    <ul class='list-unstyled'>
      <li class='double'>{{download-labels model=this.model}}</li>
    </ul>
  {{/if}}
  {{#if (or (eq this.model.status 'Completed')(eq this.model.status 'Finalized'))}}
    <ul class='list-unstyled'>
      <li class='double'>{{download-oss model=this.model}}</li>
      <li class='double'>{{download-sa model=this.model}}</li>
      <li class='double'>{{download-announcements model=this.model}}</li>
      {{#unless (eq this.model.kind 'Finals') }}
        <li class='double'>{{download-titles model=this.model}}</li>
      {{/unless}}
    </ul>
  {{else if (eq this.model.status 'Published')}}
    <ul class='list-unstyled'>
      <li class='double'>{{download-oss model=this.model}}</li>
      <li class='double'>{{download-sa model=this.model}}</li>
      <li class='double'>{{download-announcements model=this.model}}</li>
      {{#unless (eq this.model.kind 'Finals') }}
        <li class='double'>{{download-titles model=this.model}}</li>
      {{/unless}}
    </ul>
  {{else}}
    <p>
      OSS, SA, and Announcement Reports are available after the Round is Completed.
    </p>
  {{/if}}
</section>