<section>
  {{#if (or (eq model.status 'Built')(eq model.status 'Started'))}}
    <ul class='list-unstyled'>
      <li class='double'>{{download-labels model=model}}</li>
    </ul>
  {{/if}}
  {{#if (or (eq model.status 'Completed')(eq model.status 'Finalized'))}}
    <ul class='list-unstyled'>
      <li class='double'>{{download-oss model=model}}</li>
      <li class='double'>{{download-sa model=model}}</li>
      <li class='double'>{{download-announcements model=model}}</li>
      {{#unless (eq model.kind 'Finals') }}
        <li class='double'>{{download-titles model=model}}</li>
      {{/unless}}
    </ul>
  {{else if (eq model.status 'Published')}}
    <ul class='list-unstyled'>
      <li class='double'>{{download-oss model=model}}</li>
      <li class='double'>{{download-sa model=model}}</li>
      <li class='double'>{{download-announcements model=model}}</li>
    </ul>
  {{else}}
    <p>
      OSS, SA, and Announcement Reports are available after the Round is Completed.
    </p>
  {{/if}}
</section>