<section>
  <div class='table-responsive'>
        <table class='table'>
          <thead>
            <tr>
              {{!-- <th class='col-md-1'>Picture</th> --}}
              <th>Name</th>
              <th>Kind</th>
              <th>Status</th>
              {{!-- <th>Actions</th> --}}
            </tr>
          </thead>
          <tbody>
            {{#each model as |quartet|}}
              <tr>
                {{!-- <td>
                  {{person-picture person=judge.certification.person}}
                </td> --}}
                <td>
                  {{#link-to 'admin.qm.group' quartet}}{{quartet.name}}{{/link-to}}
                </td>
                <td>
                  {{quartet.kind}}
                </td>
                <td>
                  {{quartet.status}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        {{!-- {{add-judge model=model}} --}}
      </div>
  </section>
<section>
  {{outlet}}
</section>