<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <ul class='list-inline pull-right'>
        <li>{{#bs-button disabled=isPrevDisabled onClick=(action 'previousItem' model)}}Previous{{/bs-button}}</li>
        <li>{{#bs-button disabled=isNextDisabled onClick=(action 'nextItem' model)}}Next{{/bs-button}}</li>
      </ul>
      <h4>
        {{model.nomen}}
      </h4>
    </div>
    <div class='panel-body'>
      <section>
        {{#bs-form
          model=model
          formLayout='vertical'
          onSubmit=(action 'saveAward')
          as |form|
        }}
          <ul class='list-inline'>
            <li>
              {{#form.element}}
                {{#bs-button disabled=isDisabled active=model.is_primary onClick=(action (toggle 'is_primary' model))}}
                  Primary
                {{/bs-button}}
              {{/form.element}}
            </li>
            <li>
              {{#form.element}}
                {{#bs-button disabled=isDisabled active=model.is_novice onClick=(action (toggle 'is_novice' model))}}
                  Novice
                {{/bs-button}}
              {{/form.element}}
            </li>
            <li>
              {{#form.element}}
                {{#bs-button disabled=isDisabled active=model.is_improved onClick=(action (toggle 'is_improved' model))}}
                  Most-Improved
                {{/bs-button}}
              {{/form.element}}
            </li>
            <li>
              {{#form.element}}
                {{#bs-button disabled=isDisabled active=model.is_manual onClick=(action (toggle 'is_manual' model))}}
                  Manual
                {{/bs-button}}
              {{/form.element}}
            </li>
          </ul>
          {{#form.element property='kind' useIcons=false as |el|}}
            {{#power-select
                  options=model.kindOptions
                  selected=el.value
                  placeholder="Select Award Kind"
                  onchange=(action (mut el.value))
                  disabled=isDisabled
                  allowClear=true
                  as |kind|
            }}
              {{kind}}
            {{/power-select}}
          {{/form.element}}
          {{!-- {{#form.element property='season' useIcons=false as |el|}}
            {{#power-select
                  options=model.seasonOptions
                  selected=el.value
                  placeholder="Select Award Season"
                  onchange=(action (mut el.value))
                  disabled=isDisabled
                  allowClear=true
                  as |season|
            }}
              {{season}}
            {{/power-select}}
          {{/form.element}} --}}
          {{form.element
            controlType='tel'
            placeholder='Number of Championship Rounds'
            property='championship_rounds'
            disabled=isDisabled
          }}
          {{form.element
            controlType='tel'
            placeholder='Number of Qualifier Rounds'
            property='qualifier_rounds'
            disabled=isDisabled
          }}
          {{form.element
            controlType='tel'
            placeholder='Threshold'
            property='threshold'
            disabled=isDisabled
          }}
          {{form.element
            controlType='tel'
            placeholder='Minimum'
            property='minimum'
            disabled=isDisabled
          }}
          {{form.element
            controlType='tel'
            placeholder='Advance'
            property='advance'
            disabled=isDisabled
          }}
          {{form.element
            controlType='text'
            placeholder='Description'
            property='description'
            disabled=isDisabled
          }}
          {{#if isEditing}}
            {{#bs-button type='primary' buttonType="submit"}}Save{{/bs-button}}
            {{#bs-button type='default' onClick=(action 'cancelAward')}}Cancel{{/bs-button}}
            {{#bs-button type='danger' onClick=(action 'deleteAward') class='pull-right'}}Delete{{/bs-button}}
          {{else}}
            {{#bs-button onClick=(action 'editAward') disabled=isWrite}}Edit{{/bs-button}}
          {{/if}}
        {{/bs-form}}
      </section>
    </div>
  </div>
</section>
