<section>
  {{#bs-form
    model=model
    formLayout='vertical'
    onSubmit=(action 'saveAward')
    as |form|
  }}
    {{form.element
      controlType='text'
      placeholder='Award Name'
      property='name'
      disabled=isDisabled
    }}
    {{#form.element property='entity' useIcons=false as |el|}}
      {{#power-select
        renderInPlace=true
        options=entityOptions
        selected=el.value
        onchange=(action (mut el.value))
        placeholder="Choose Entity"
        allowClear=true
        disabled=isDisabled
        as |entity|
      }}
        Entity: {{entity.name}}
      {{/power-select}}
    {{/form.element}}
    {{#form.element property='kind' useIcons=false as |el|}}
      {{#power-select
        renderInPlace=true
        options=model.kindOptions
        selected=el.value
        onchange=(action (mut el.value))
        placeholder="Choose Award Kind"
        allowClear=true
        disabled=isDisabled
        as |kind|
      }}
        Kind: {{kind}}
      {{/power-select}}
    {{/form.element}}
    {{#form.element property='season' useIcons=false as |el|}}
      {{#power-select
        renderInPlace=true
        options=model.seasonOptions
        selected=el.value
        onchange=(action (mut el.value))
        placeholder="Choose Award Season"
        allowClear=true
        disabled=isDisabled
        as |season|
      }}
        Season: {{season}}
      {{/power-select}}
    {{/form.element}}
    {{#form.element property='rounds' useIcons=false as |el|}}
      {{#power-select
        renderInPlace=true
        options=model.roundOptions
        selected=el.value
        onchange=(action (mut el.value))
        placeholder="Choose Award Rounds"
        allowClear=true
        disabled=isDisabled
        as |rounds|
      }}
        Rounds: {{rounds}}
      {{/power-select}}
    {{/form.element}}
    {{#form.element property='is_qualifier' as |el|}}
      {{#bs-button-group
        value=el.value
        type='radio'
        onChange=(action (mut el.value))
        as |bg|
      }}
        {{#bg.button type='default' value=false disabled=isDisabled}}Championship{{/bg.button}}
        {{#bg.button type='default' value=true disabled=isDisabled}}Qualifier{{/bg.button}}
      {{/bs-button-group}}
    {{/form.element}}
    {{#form.element}}
      {{#if isEditing}}
        {{#bs-button onClick=(action 'cancelAward')}}Cancel{{/bs-button}}
        {{#bs-button type="primary" buttonType="submit"}}Save{{/bs-button}}
        {{#bs-button onClick=(action 'deleteAward') class='pull-right btn-danger'}}Delete{{/bs-button}}
      {{else}}
        {{#bs-button onClick=(action 'editAward')}}Edit{{/bs-button}}
      {{/if}}
    {{/form.element}}
  {{/bs-form}}
</section>
