<section>
    <div class='row'>
      <div class='col-md-12'>
        <table class='table'>
          <thead>
            <tr>
              <th class='col-md-1'>Rank</th>
              <th class='col-md-4'>Name</th>
              <th class='col-md-1'>Points</th>
              <th class='col-md-1'>Score</th>
            </tr>
          </thead>
            <tbody>
              {{#each sortedAppearances as |appearance|}}
                <tr>
                  <td>{{appearance.entry.totRank}}</td>
                  <td>{{appearance.entry.entity.name}}</td>
                  <td>{{appearance.entry.totPoints}}</td>
                  <td>{{appearance.entry.totScore}}</td>
                </tr>
              {{else}}
                <tr>
                  <td>(Standings not currently available.)</td>
                </tr>
              {{/each}}
            </tbody>
        </table>
      </div>
    </div>
</section>