<h3>Contest Administrator</h3>
<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'admin'}}Conventions{{/link-to}}</li>
    <li>{{#link-to 'admin.convention' model.round.session.convention}}{{model.round.session.convention.name}}{{/link-to}}</li>
    <li>{{#link-to 'admin.convention.session' model.round.session}}{{model.round.session.kind}}{{/link-to}}</li>
    <li>{{#link-to 'admin.convention.session.round' model.round}}{{model.round.kind}}{{/link-to}}</li>
    <li class='active'>Performance {{model.slot}}</li>
  </ol>
</div>
<ul class='list-inline'>
<li>{{#link-to 'admin.convention.session.round.performance' model.get_preceding tagName='button'}}Previous{{/link-to}}</li>
<li>{{#link-to 'admin.convention.session.round.performance' model.get_next tagName='button'}}Next{{/link-to}}</li>
<li>{{#bs-button action=(action 'dixonTest')}}Dixon Test{{/bs-button}}</li>
</ul>
<h4>
{{model.performer.group.name}}
</h4>
<div>
<p>
{{#each model.songs as |song|}}
    {{#power-select
        options=model.performer.submissions
        selectedItemComponent="selected-chart"
        selected=song.chart
        onchange=(action 'saveSong' song)
        as |submission|
    }}
      {{submission.chart.name}}
    {{/power-select}}
{{/each}}
</p>
</div>
{{#each sortedScores as |scores|}}
  {{scores}}
{{/each}}
<div>
<table class='table'>
  <thead>
  <tr>
  <th>Slot</th>
  <th>Score</th>
  <th>Dixon</th>
  <th>Asterisk</th>
  </tr>
  </thead>
  <tbody>
  {{#each sortedJudges as |judge|}}
    <tr>
    <td>
      {{judge.kind}} {{judge.category}} {{judge.slot}}<br>
      {{judge.person.name}}
    </td>
    <td>
    {{#each judge.scores as |score|}}
      {{#if (eq score.song.performance.id model.id)}}
       {{score-edit model=score points=score.points}}
      {{/if}}
    {{/each}}
    </td>
    <td>
    {{#each judge.scores as |score|}}
      {{#if (eq score.song.performance.id model.id)}}
       {{#if (eq score.dixon_test 'false')}}{{fa-icon 'minus-circle'}}{{/if}}<br>
      {{/if}}
    {{/each}}
    </td>
    <td>
    {{#each judge.scores as |score|}}
      {{#if (eq score.song.performance.id model.id)}}
       {{#if (eq score.asterisk_test 'false')}}{{fa-icon 'minus-circle'}}{{/if}}<br>
      {{/if}}
    {{/each}}
    </td>
    </tr>
  {{/each}}
  </tbody>
</table>
</div>
