<h3>Contest Administrator</h3>
<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'admin'}}Conventions{{/link-to}}</li>
    <li>{{#link-to 'admin.convention' model.round.session.convention}}{{model.round.session.convention.name}}{{/link-to}}</li>
    <li>{{#link-to 'admin.convention.session' model.round.session}}{{model.round.session.kind}}{{/link-to}}</li>
    <li>{{#link-to 'admin.convention.session.round' model.round}}{{model.round.kind}}{{/link-to}}</li>
    <li class='active'>Performance {{model.slot}}</li>
  </ol>
</div>
<div>
<h4>
{{model.performer.group.name}}
</h4>
</div>
f{{foos}}
<div>
<ul class='list-unstyled'>
{{#each songsSorted as |song|}}
  {{!-- <li>{{select-submission model=song options=foos selected=song.chart.name}}{{song.chart.name}}<br></li> --}}
  <li>
    {{#power-select
        options=model.foos
        selected=submission
        onchange=(action "saveRecord" song)
        as |submission|
    }}
      {{submission.chart.name}}
    {{/power-select}}
  </li>
<li>{{song.chart.name}}</li>
{{/each}}
</ul>
</div>
{{model.chart.name}}
<div>
<table class='table'>
  <thead>
  <tr>
  <th>Slot</th>
  <th>Score</th>
  <th>Status</th>
  </tr>
  </thead>
  <tbody>
  {{#each model.round.session.judges as |judge|}}
    <tr>
    <td>
      {{judge.kind}} {{judge.category}} {{judge.slot}}<br>
      {{judge.person.name}}
    </td>
    <td>
    {{#each judge.scores as |score|}}
      {{#if (eq score.song.performance.id model.id)}}
       {{score-edit model=score points=score.points}}
      {{/if}}
    {{/each}}
    </td>
    <td>
    </td>
    </tr>
  {{/each}}
  </tbody>
</table>
</div>
