<h3>Contest Administrator</h3>
<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'admin'}}Conventions{{/link-to}}</li>
    <li>{{#link-to 'admin.convention' model.round.session.convention}}{{model.round.session.convention.name}}{{/link-to}}</li>
    <li>{{#link-to 'admin.convention.session' model.round.session}}{{model.round.session.kind}}{{/link-to}}</li>
    <li>{{#link-to 'admin.convention.session.round' model.round}}{{model.round.kind}}{{/link-to}}</li>
    <li class='active'>Performance {{model.slot}}</li>
  </ol>
</div>
<section>
<h4>
{{model.performer.group.name}}
</h4>
</section>
<div class='table-responsive'>
<table class='table'>
  <thead>
  <tr>
  {{!-- <th>Group</th> --}}
  <th class="col-md-6">Songs</th>
  <th class='text-right'>MUS</th>
  <th class='text-right'>PRS</th>
  <th class='text-right'>SNG</th>
  <th class='text-right'>TOT</th>
  {{!-- <th class='text-right'>Total</th> --}}
  {{!-- {{#each model.contests as |contest|}}
    <th class='text-right'>{{contest.award.name}}</th>
  {{/each}} --}}
  </tr>
  </thead>
  <tbody>
    {{#each model.songs as |song|}}
      <tr>
        <td>
    {{#power-select
        options=model.performer.submissions
        selectedItemComponent="selected-chart"
        selected=song.chart
        onchange=(action 'saveSong' song)
        as |submission|
    }}
      {{submission.chart.name}}
    {{/power-select}}

        </td>
        <td class='text-right'>
          {{song.musPointsSum}}
        </td>
        <td class='text-right'>
          {{song.prsPointsSum}}
        </td>
        <td class='text-right'>
          {{song.sngPointsSum}}
        </td>
        <td class='text-right'>
          {{song.pointsSum}}
        </td>
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
  <tr>
        <th>
          Totals
        </th>
        <th class='text-right'>
          {{model.musPointsSum}}
        </th>
        <th class='text-right'>
          {{model.prsPointsSum}}
        </th>
        <th class='text-right'>
          {{model.sngPointsSum}}
        </th>
        <th class='text-right'>
          {{model.pointsSum}}
        </th>
    </tr>
  </tfoot>
</table>
</div>
<ul class='list-inline'>
<li>{{#link-to 'admin.convention.session.round.performance' model.get_preceding tagName='button'}}Previous{{/link-to}}</li>
<li>{{#link-to 'admin.convention.session.round.performance' model.get_next tagName='button'}}Next{{/link-to}}</li>
</ul>
<div>
<table class='table'>
  <thead>
  <tr>
  <th>Slot</th>
  <th>Score</th>
  <th>Review</th>
  </tr>
  </thead>
  <tbody>
  {{#each sortedJudges as |judge|}}
    <tr>
    <td>
      {{judge.kind}} {{judge.category}} {{judge.slot}}<br>
      {{judge.person.name}}
    </td>
    <td>
    {{#each judge.scores as |score|}}
      {{#if (eq score.song.performance.id model.id)}}
       {{score-edit model=score points=score.points}}
      {{/if}}
    {{/each}}
    </td>
    <td>
      Foo
    </td>
    </tr>
  {{/each}}
  </tbody>
</table>
</div>
