<section class='panel panel-default'>
  <div class='panel-heading'>
    <h3>
      Role Details
    </h3>
  </div>
  <div class='panel-body'>
  {{#if isEditing}}
      {{#bs-form action='saveRole'}}
      <p>
        <strong>Name: </strong>{{model.name}}
      </p>
        {{!-- {{#bs-form-group}}
          {{role-person person=model.person}}
        {{/bs-form-group}} --}}
        {{#bs-form-group}}
          {{role-status status=model.status}}
        {{/bs-form-group}}
        {{#bs-form-group}}
          {{role-part part=model.part}}
        {{/bs-form-group}}
        {{bs-button defaultText="Save" type="primary" buttonType="submit"}}
        {{#bs-button action=(action 'cancelRole')}}Cancel{{/bs-button}}
        {{#bs-button action=(action 'deleteRole') class='pull-right btn-danger'}}Delete{{/bs-button}}
      {{/bs-form}}
    {{else}}
      <p>
        <strong>Name: </strong>{{model.name}}
      </p>
      <p>
        <strong>Person: </strong>{{#link-to 'admin.persons.person' model.person}}{{model.person.name}}{{/link-to}}
      </p>
      <p>
      <strong>Status: </strong>{{model.status}}
      </p>
      <p>
      <strong>Part: </strong>{{model.part}}
      </p>
      <p>
      <strong>Date: </strong>{{date-range model.date}}
      </p>
      {{#bs-button action=(action 'editRole')}}Edit{{/bs-button}}
      {{#bs-button action=(action 'newRole') class='btn-primary pull-right'}}New{{/bs-button}}
    {{/if}}
  </div>
</section>
