<section>
  <p class='lead'>
    This information is specific to Barberscore and may be edited. It is needed primarily for the Official Scoring Summary (OSS) and announcements, and may also be used for the contest program and/or website.
  </p>
  {{cloudinary-image model.imageId (hash height=200) class='img-fluid img-rounded'}}
  <p>
    {{#bs-button type='link' onClick=(toggle 'collapsed' this)}}
      <p>
        Want to Add/Replace/Remove your image?  Click here.
      </p>
    {{/bs-button}}
    {{#bs-collapse collapsed=collapsed}}
      <p>
        To Add/Replace/Remove Your Image, send the image (maximum size 5MB) to {{barberscore-images}}.  We will update it within 24 hours.
      </p>
    {{/bs-collapse}}
  </p>
  {{#bs-form
    model=model
    formLayout='vertical'
    as |form|
  }}
    {{#if (eq model.kind 'Quartet') }}
      {{form.element
        controlType='text'
        disabled=model.isDisabled
        label='Active Members (TLBB)'
        placeholder='List your members in TLBB order as you\'d wish them to appear on the OSS.'
        property='participants'
        onChange=(perform autosave 'participants')
      }}
      {{form.element
        controlType='text'
        disabled=model.isDisabled
        label='Chapters'
        placeholder='List the chapter memberships of your quartet as you\'d wish them to be announced.'
        property='chapters'
        onChange=(perform autosave 'chapters')
      }}
    {{else}}
      {{form.element
        controlType='text'
        disabled=model.isDisabled
        label='Director(s)'
        placeholder='Please list your Director(s) as you\'d wish them to appear on the OSS.'
        property='participants'
        onChange=(perform autosave 'participants')
      }}
    {{/if}}
      {{form.element
        controlType='textarea'
        rows=6
        disabled=isDisabled
        label='Description'
        placeholder='Description - Write a few words to describe your group, suitable for a program description.'
        property='description'
        onChange=(perform autosave 'description')
      }}
  {{/bs-form}}
</section>
{{!-- <section>
  <p>
    <strong>Note:</strong>  You may only edit your picture, description and Current Members/Director(s).  To make changes to other fields please do so in {{member-center}}; they will be updated here generally within 24 hours.  If you are a non-BHS group and don't have access to the Member Center you may send your details to <a href='mailto:images@barberscore.com'>images@barberscore.com</a> and we'll update them for you.
  </p>
</section> --}}