<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'conventions'}}Conventions{{/link-to}}</li>
    <li>{{#link-to 'conventions.convention' model.convention}}{{model.convention.name}}{{/link-to}}</li>
    <li class='active'>{{model.kind}}</li>
  </ol>
</div>
<section class='panel panel-default'>
  <div class='panel-heading'>
    <h3>
      Session Details
    </h3>
  </div>
  <div class='panel-body'>
    <p>
      {{model.name}}
    </p>
    <p>
      {{#if model.administrator}}Contest Administrator: {{person-modal person=model.administrator}}{{/if}}
    </p>
    <p>
      {{#if model.aca}}ACA: {{person-modal person=model.aca}}{{/if}}
    </p>
  </div>
</section>
{{#if (eq model.status 'Final')}}
<section>
{{x-toggle showLabels=true offLabel='Points' onLabel='Score' toggle='letsGo' class='pull-right'}}
<div class='table-responsive'>
<table class='table'>
  <thead>
  <tr>
  <th>Group</th>
  <th>Songs</th>
  <th class='text-right'>MUS</th>
  <th class='text-right'>PRS</th>
  <th class='text-right'>SNG</th>
  <th class='text-right'>Total</th>
  {{!-- {{#each model.contests as |contest|}}
    <th class='text-right'>{{contest.award.name}}</th>
  {{/each}} --}}
  </tr>
  </thead>
  <tbody>
  {{#each model.performers as |performer|}}
    <tr>
    <td>
      {{!-- {{#link-to 'conventions.convention.session.performer' performer}}{{performer.group.name}}{{/link-to}} --}}
      {{group-modal group=performer.group}}
    </td>
    <td>
      {{#each performer.performances as |performance|}}
        {{#each performance.songs as |song|}}
          {{truncate-text song.chart.title limit=30}}<br>
        {{/each}}
        {{#if (not-eq performer.performances.length 1)}}<em>{{performance.round.kind}}</em><br>{{/if}}
      {{/each}}
      <strong>Total</strong>
    </td>
    <td class='text-right'>
      {{#each performer.performances as |performance|}}
        {{#each performance.songs as |song|}}
          {{#if isRaw}}{{song.mus_points}}{{else}}{{single-fixed song.mus_score}}{{/if}}<br>
        {{/each}}
        {{#if (not-eq performer.performances.length 1)}}<em>{{#if isRaw}}{{performance.mus_points}}{{else}}{{single-fixed performance.mus_score}}{{/if}}</em><br>{{/if}}
      {{/each}}
      <strong>{{#if isRaw}}{{performer.mus_points}}{{else}}{{single-fixed performer.mus_score}}{{/if}}</strong><br>

    </td>
    <td class='text-right'>
      {{#each performer.performances as |performance|}}
        {{#each performance.songs as |song|}}
          {{#if isRaw}}{{song.prs_points}}{{else}}{{single-fixed song.prs_score}}{{/if}}<br>
        {{/each}}
        {{#if (not-eq performer.performances.length 1)}}<em>{{#if isRaw}}{{performance.prs_points}}{{else}}{{single-fixed performance.prs_score}}{{/if}}</em><br>{{/if}}
      {{/each}}
      <strong>{{#if isRaw}}{{performer.prs_points}}{{else}}{{single-fixed performer.prs_score}}{{/if}}</strong><br>
    </td>
    <td class='text-right'>
      {{#each performer.performances as |performance|}}
        {{#each performance.songs as |song|}}
          {{#if isRaw}}{{song.sng_points}}{{else}}{{single-fixed song.sng_score}}{{/if}}<br>
        {{/each}}
        {{#if (not-eq performer.performances.length 1)}}<em>{{#if isRaw}}{{performance.sng_points}}{{else}}{{single-fixed performance.sng_score}}{{/if}}</em><br>{{/if}}
      {{/each}}
      <strong>{{#if isRaw}}{{performer.sng_points}}{{else}}{{single-fixed performer.sng_score}}{{/if}}</strong><br>
    </td>
    <td class='text-right'>
      {{#each performer.performances as |performance|}}
        {{#each performance.songs as |song|}}
          {{#if isRaw}}{{song.total_points}}{{else}}{{single-fixed song.total_score}}{{/if}}<br>
        {{/each}}
        {{#if (not-eq performer.performances.length 1)}}<em>{{#if isRaw}}{{performance.total_points}}{{else}}{{single-fixed performance.total_score}}{{/if}}</em><br>{{/if}}
      {{/each}}
      <strong>{{#if isRaw}}{{performer.total_points}}{{else}}{{single-fixed performer.total_score}}{{/if}}</strong><br>
    </td>
    {{!-- {{#each model.contests as |contest|}}
      <td class='text-right'>
      {{#each performer.contestants as |contestant|}}
        {{#if (eq contest.id contestant.contest.id)}}
          {{contestant.rank}}
        {{/if}}
      {{/each}}
      </td>
    {{/each}} --}}
    </tr>
  {{/each}}
  </tbody>
</table>
</div>
</section>
{{/if}}
<section>
 {{#bs-accordion selected=selected collapsed=collapsed}}
    {{#if (eq model.status 'New')}}

     {{#bs-accordion-item value="4" title="Performers"}}
        {{#if model.performers}}
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            {{#each performersSorted as |performer|}}
              <tr>
                <td>
                  {{group-modal group=performer.group}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        {{else}}
          <h4>Performers not yet selected.  Please check back later</h4>
        {{/if}}
     {{/bs-accordion-item}}
     {{else}}
     {{#bs-accordion-item value="2" title="Schedule"}}
        {{!-- <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.rounds as |round|}}
              <tr>
                <td>
                  {{#link-to 'conventions.convention.session.round' round}}{{round.kind}}{{/link-to}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table> --}}
        <ul class='list-inline'>
          {{#each model.rounds as |round|}}
            <li>{{#link-to 'conventions.convention.session.round' round}}{{round.kind}}{{/link-to}}</li>
          {{/each}}
        </ul>
     {{/bs-accordion-item}}
     {{/if}}
     {{#bs-accordion-item value="3" title="Judges"}}
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Category</th>
            </tr>
          </thead>
          <tbody>
            {{#each judgesSorted as |judge|}}
              {{#if (eq judge.kind 'Official')}}
              <tr>
                <td>
                  {{#if judge.person}}{{person-modal person=judge.person}}{{else}}(Not yet selected.){{/if}}
                </td>
                <td>
                  {{judge.category}}
                </td>
              </tr>
              {{/if}}
            {{/each}}
          </tbody>
        </table>
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="1" title="Contests"}}
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Champion/District Representative</th>
            </tr>
          </thead>
          <tbody>
            {{#each contestsSorted as |contest|}}
              <tr>
                <td>
                  {{contest.award.name}}{{#if contest.is_qualifier}} Qualifier{{else}} Championship{{/if}}
                </td>
                <td>
                  {{#if contest.champion}}{{contest.champion.performer.group.name}}{{else}}TBD{{/if}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
     {{/bs-accordion-item}}
 {{/bs-accordion}}
</section>
