<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'conventions'}}Conventions{{/link-to}}</li>
    <li>{{#link-to 'conventions.convention' model.convention}}{{model.convention.name}}{{/link-to}}</li>
    <li class='active'>{{model.kind}}</li>
  </ol>
</div>
<section class='panel panel-default'>
  <div class='panel-heading'>
    <h3>
      Session Details
    </h3>
  </div>
  <div class='panel-body'>
    <p>
      {{model.name}}
    </p>
    <p>
      {{#if model.administrator}}Contest Administrator: {{model.administrator.person.name}}{{/if}}
    </p>
  </div>
</section>
<section>
 {{#bs-accordion selected=selected collapsed=collapsed}}
     {{#bs-accordion-item value="2" title="Schedule"}}
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.rounds as |round|}}
              <tr>
                <td>
                  {{#link-to 'conventions.convention.session.round' round}}{{round.kind}}{{/link-to}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="3" title="Judges"}}
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Slot</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.judges as |judge|}}
              <tr>
                <td>
                  {{#link-to 'conventions.convention.session.judge' judge}}{{judge.person.name}}{{/link-to}}
                </td>
                <td>
                  {{judge.category}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="1" title="Contests"}}
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.contests as |contest|}}
              <tr>
                <td>
                  {{#link-to 'conventions.convention.session.contest' contest}}{{contest.award.name}}{{#if contest.is_qualifier}} Qualifier{{/if}}{{/link-to}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="4" title="Performers"}}
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.performers as |performer|}}
              <tr>
                <td>
                  {{#link-to 'conventions.convention.session.performer' performer}}{{performer.group.name}}{{/link-to}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
     {{/bs-accordion-item}}
 {{/bs-accordion}}
</section>
