  <section>
    {{#bs-form formLayout="vertical" model=model as |form|}}
      {{form.element
        controlType='text'
        placeholder='Award Name'
        property='name'
        onChange=(perform autosave 'name')
      }}
      {{#form.element property='entity' useIcons=false as |el|}}
        {{#power-select
          renderInPlace=true
          options=entityOptions
          selected=el.value
          onchange=(perform autosave 'entity')
          placeholder="Choose Owner (District or Division)"
          allowClear=true
          as |entity|
        }}
          Entity: {{entity.name}}
        {{/power-select}}
      {{/form.element}}
      {{#form.element property='kind' useIcons=false as |el|}}
        {{#power-select
          renderInPlace=true
          options=model.kindOptions
          selected=el.value
          onchange=(perform autosave 'kind')
          placeholder="Choose Award Kind"
          allowClear=true
          as |kind|
        }}
          Kind: {{kind}}
        {{/power-select}}
      {{/form.element}}
      {{#form.element property='season' useIcons=false as |el|}}
        {{#power-select
          renderInPlace=true
          options=model.seasonOptions
          selected=el.value
          onchange=(perform autosave 'season')
          placeholder="Choose Award Season"
          allowClear=true
          as |season|
        }}
          Season: {{season}}
        {{/power-select}}
      {{/form.element}}
      {{#form.element property='rounds' useIcons=false as |el|}}
        {{#power-select
          renderInPlace=true
          options=model.roundOptions
          selected=el.value
          onchange=(perform autosave 'rounds')
          placeholder="Choose Award Rounds"
          allowClear=true
          as |rounds|
        }}
          Rounds: {{rounds}}
        {{/power-select}}
      {{/form.element}}
      {{#form.element property='isManual' as |el|}}
        {{#bs-button-group
          value=el.value
          type='radio'
          onChange=(perform autosave 'isManual')
          as |bg|
        }}
          {{#bg.button type='default' value=false disabled=isDisabled}}Winner Determined by Highest Point Total{{/bg.button}}
          {{#bg.button type='default' value=true disabled=isDisabled}}Winner Determined Manually (ie, Most-Improved, etc.){{/bg.button}}
        {{/bs-button-group}}
      {{/form.element}}
      <hr>
      {{#form.element property='parent' useIcons=false as |el|}}
        {{#power-select
          renderInPlace=true
          options=awardOptions
          selected=el.value
          onchange=(perform autosave 'parent')
          placeholder="If a Qualifier Award, choose the Parent Award for which this award qualifies"
          allowClear=true
          as |award|
        }}
          Parent Award: {{award.name}}
        {{/power-select}}
      {{/form.element}}
      {{!-- {{#form.element property='isRepQualifies' as |el|}}
        {{#bs-button-group
          value=el.value
          type='radio'
          onChange=(perform autosave 'isRepQualifies')
          as |bg|
        }}
          {{#bg.button type='default' value=true disabled=isDisabled}}Rep Automatically Qualifies{{/bg.button}}
          {{#bg.button type='default' value=false disabled=isDisabled}}Rep Does Not Auto Qual{{/bg.button}}
        {{/bs-button-group}}
      {{/form.element}}
      {{form.element
        controlType='tel'
        placeholder='The score threshold for automatic qualification (if any.)'
        property='threshold'
        disabled=isDisabled
        onChange=(perform autosave 'threshold')
      }}
      {{form.element
        controlType='tel'
        placeholder='The minimum score required for qualification (if any.)'
        property='minimum'
        disabled=isDisabled
        onChange=(perform autosave 'minimum')
      }}
      {{form.element
        controlType='tel'
        placeholder='The score threshold to advance to next round (if any) in multi-round qualification.'
        property='advance'
        disabled=isDisabled
        onChange=(perform autosave 'advance')
      }} --}}
    {{/bs-form}}
  </section>