<section>
  <h3>
    Contestant Scoring Analysis
  </h3>
  <h3>
    {{model.group.name}}
  </h3>
  <h4>
      {{model.session.convention.name}}, {{model.session.convention.start_date}}
  </h4>
</section>
<section>
  {{#each model.contestants as |contestant|}}
    <h4>{{contestant.contest.award.name}}: {{contestant.rank}}</h4>
  {{/each}}
</section>

<section>
  {{!-- {{x-toggle showLabels=true offLabel='Points' onLabel='Score' toggle='letsGo'}} --}}
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th>Songs</th>
          <th class='text-right'>MUS</th>
          <th class='text-right'>PER</th>
          <th class='text-right'>SNG</th>
          <th class='text-right'>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{#each model.appearances as |appearance|}}
              {{#each appearance.songs as |song|}}
                {{truncate-text song.chart.title limit=50}}<br>
              {{/each}}
              {{#if (not-eq model.appearances.length 1)}}<em>{{appearance.round.kind}}</em><br>{{/if}}
            {{/each}}
            <strong>Total</strong>
          </td>
          <td class='text-right'>
            {{#each model.appearances as |appearance|}}
              {{#each appearance.songs as |song|}}
                {{#if isRaw}}{{song.songscƒ}}{{else}}{{song.songscƒ}}{{/if}}<br>
              {{/each}}
              {{#if (not-eq model.appearances.length 1)}}<em>{{#if isRaw}}{{appearance.appearanceprivate.mus_points}}{{else}}{{appearance.appearanceprivate.mus_score}}{{/if}}</em><br>{{/if}}
            {{/each}}
            <strong>{{#if isRaw}}{{model.entryprivate.mus_points}}{{else}}{{model.entryprivate.mus_score}}{{/if}}</strong><br>
          </td>
          <td class='text-right'>
            {{#each model.appearances as |appearance|}}
              {{#each appearance.songs as |song|}}
                {{#if isRaw}}{{song.songprivate.per_points}}{{else}}{{song.songprivate.per_score}}{{/if}}<br>
              {{/each}}
              {{#if (not-eq model.appearances.length 1)}}<em>{{#if isRaw}}{{appearance.appearanceprivate.per_points}}{{else}}{{appearance.appearanceprivate.per_score}}{{/if}}</em><br>{{/if}}
            {{/each}}
            <strong>{{#if isRaw}}{{model.entryprivate.per_points}}{{else}}{{model.entryprivate.per_score}}{{/if}}</strong><br>
          </td>
          <td class='text-right'>
            {{#each model.appearances as |appearance|}}
              {{#each appearance.songs as |song|}}
                {{#if isRaw}}{{song.songprivate.sng_points}}{{else}}{{song.songsccore.sng_score}}{{/if}}
              {{/each}}
              {{#if (not-eq model.appearances.length 1)}}<em>{{#if isRaw}}{{appearance.appearanceprivate.sng_points}}{{else}}{{appearance.appearanceprivate.sng_score}}{{/if}}</em><br>{{/if}}
            {{/each}}
            <strong>{{#if isRaw}}{{model.entryprivate.sng_points}}{{else}}{{model.entryprivate.sng_score}}{{/if}}</strong><br>
          </td>
          <td class='text-right'>
            {{#each model.appearances as |appearance|}}
              {{#each appearance.songs as |song|}}
                {{#if isRaw}}{{song.songprivate.total_points}}{{else}}{{song.songprivate.total_score}}{{/if}}<br>
              {{/each}}
              {{#if (not-eq model.appearances.length 1)}}<em>{{#if isRaw}}{{appearance.appearanceprivate.total_points}}{{else}}{{appearance.appearanceprivate.total_score}}{{/if}}</em><br>{{/if}}
            {{/each}}
            <strong>{{#if isRaw}}{{model.entryprivate.total_points}}{{else}}{{model.entryprivate.total_score}}{{/if}}</strong><br>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section>
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th>Songs</th>
          {{#each model.session.assignments as |assignment|}}
            {{#unless (eq assignment.category 'Admin')}}
              <th class='text-right'>{{assignment.designation}}</th>
            {{/unless}}
          {{/each}}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{#each model.appearances as |appearance|}}
              {{#each appearance.songs as |song|}}
                {{truncate-text song.chart.title limit=50}}<br>
              {{/each}}
              {{#if (not-eq model.appearances.length 1)}}<em>{{appearance.round.kind}}</em><br>{{/if}}
            {{/each}}
            <strong>Total</strong>
          </td>
          {{#each model.session.assignments as |assignment|}}
            {{#unless (eq assignment.category 'Admin')}}
              <td class='text-right'>
                {{#each model.appearances as |appearance|}}
                  {{#each appearance.songs as |song|}}
                    {{#each song.scores as |score|}}
                      {{#if (eq score.assignment.id assignment.id)}}{{score.points}}<br>{{/if}}
                    {{/each}}
                  {{/each}}
                {{/each}}
              </td>
            {{/unless}}
          {{/each}}
        </tr>
      </tbody>
    </table>
  </div>
</section>
<section>
  <h4>Assignments</h4>
    <ul class='list-unstyled'>
      {{#each model.session.assignments as |assignment|}}
        <li>{{assignment.designation}}: {{assignment.judge.person.commonName}}</li>
      {{/each}}
    </ul>
</section>