<section>
  <h3>
    Judging Scoring Analysis
  </h3>
  <h4>
    {{model.convention.name}}, {{model.convention.start_date}}
  </h4>
  <h4>
    {{model.name}}
  </h4>
</section>
<section>
  {{!-- {{x-toggle showLabels=true offLabel='Points' onLabel='Score' toggle='letsGo'}} --}}
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Songs</th>
          <th class='text-right'>MUS</th>
          <th class='text-right'>PER</th>
          <th class='text-right'>SNG</th>
          <th class='text-right'>Total</th>
          {{#each model.assignments as |assignment|}}
            {{#unless (eq assignment.category 'Admin')}}
              <th class='text-right'>{{assignment.designation}}</th>
            {{/unless}}
          {{/each}}
        </tr>
      </thead>
      <tbody>
      {{#each model.sortedEntries as |entry|}}
        <tr>
          <td>
            {{entry.entryprivate.rank}}
          </td>
          <td>
            {{entry.group.name}}<br>
            {{#if (eq entry.group.kind 'Chorus')}}{{entry.group.chapter.name}}{{/if}}
          </td>
          <td>
            {{#each entry.appearances as |appearance|}}
              {{#each appearance.songs as |song|}}
                {{truncate-text song.chart.title limit=50}}<br>
              {{/each}}
              {{#if (not-eq entry.appearances.length 1)}}<em>{{appearance.round.kind}}</em><br>{{/if}}
            {{/each}}
            <strong>Total</strong>
          </td>
          <td class='text-right'>
            {{#each entry.appearances as |appearance|}}
              {{#each appearance.songs as |song|}}
                {{#if isRaw}}{{song.songprivate.mus_points}}{{else}}{{song.ƒ}}{{/if}}<br>
              {{/each}}
              {{#if (not-eq entry.appearances.length 1)}}<em>{{#if isRaw}}{{appearance.appearanceprivate.mus_points}}{{else}}{{appearance.appearanceprivate.mus_score}}{{/if}}</em><br>{{/if}}
            {{/each}}
            <strong>{{#if isRaw}}{{entry.entryprivate.mus_points}}{{else}}{{entry.entryprivate.mus_score}}{{/if}}</strong><br>
          </td>
          <td class='text-right'>
            {{#each entry.appearances as |appearance|}}
              {{#each appearance.songs as |song|}}
                {{#if isRaw}}{{song.songprivate.per_points}}{{else}}{{song.songprivate.per_score}}{{/if}}<br>
              {{/each}}
              {{#if (not-eq entry.appearances.length 1)}}<em>{{#if isRaw}}{{appearance.appearanceprivate.per_points}}{{else}}{{appearance.appearanceprivate.per_score}}{{/if}}</em><br>{{/if}}
            {{/each}}
            <strong>{{#if isRaw}}{{entry.entryprivate.per_points}}{{else}}{{entry.entryprivate.per_score}}{{/if}}</strong><br>
          </td>
          <td class='text-right'>
            {{#each entry.appearances as |appearance|}}
              {{#each appearance.songs as |song|}}
                {{#if isRaw}}{{song.songprivate.sng_points}}{{else}}{{song.songprivate.sng_score}}{{/if}}<br>
              {{/each}}
              {{#if (not-eq entry.appearances.length 1)}}<em>{{#if isRaw}}{{appearance.appearanceprivate.sng_points}}{{else}}{{appearance.appearanceprivate.sng_score}}{{/if}}</em><br>{{/if}}
            {{/each}}
            <strong>{{#if isRaw}}{{entry.entryprivate.sng_points}}{{else}}{{entry.entryprivate.sng_score}}{{/if}}</strong><br>
          </td>
          <td class='text-right'>
            {{#each entry.appearances as |appearance|}}
              {{#each appearance.songs as |song|}}
                {{#if isRaw}}{{song.songprivate.total_points}}{{else}}{{song.songprivate.total_score}}{{/if}}<br>
              {{/each}}
              {{#if (not-eq entry.appearances.length 1)}}<em>{{#if isRaw}}{{appearance.appearanceprivate.total_points}}{{else}}{{appearance.appearanceprivate.total_score}}{{/if}}</em><br>{{/if}}
            {{/each}}
            <strong>{{#if isRaw}}{{entry.entryprivate.total_points}}{{else}}{{entry.entryprivate.total_score}}{{/if}}</strong><br>
          </td>
          {{#each model.assignments as |assignment|}}
            {{#unless (eq assignment.category 'Admin')}}
              <td class='text-right'>
                {{#each entry.appearances as |appearance|}}
                  {{#each appearance.songs as |song|}}
                    {{#each song.scores as |score|}}
                      {{#if (eq score.assignment.id assignment.id)}}{{score.points}}<br>{{/if}}
                    {{/each}}
                  {{/each}}
                {{/each}}
              </td>
            {{/unless}}
          {{/each}}
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</section>
<section>
  <h4>Assignments</h4>
    <ul class='list-unstyled'>
      {{#each model.assignments as |assignment|}}
        <li>{{assignment.designation}}: {{assignment.judge.person.commonName}}</li>
      {{/each}}
    </ul>
</section>