<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
<section>
  {{#power-select
    search=(perform searchOfficer)
    selected=officer
    onchange=(action "transitionJudge")
    placeholder="Search by Judge Name"
    allowClear=true
    as |officer|
  }}
    {{officer.person.common_name}} {{officer.office.name}}
  {{/power-select}}
</section>
<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4 class='pull-right'>
        Status: <strong>{{model.status}}</strong>
      </h4>
      <h4>
        Judge Roster
      </h4>
    </div>
    <div class='panel-body'>
      {{#bs-tab as |tab|}}
        {{#tab.pane title="SCJC"}}
          {{judge-list sortedJudges=sortedSCJC}}
        {{/tab.pane}}
        {{#tab.pane title="DRCJ"}}
          {{judge-list sortedJudges=sortedDRCJ}}
        {{/tab.pane}}
        {{#tab.pane title="CA"}}
          {{judge-list sortedJudges=sortedCA}}
        {{/tab.pane}}
        {{#tab.pane title="MUS"}}
          {{judge-list sortedJudges=sortedMUS}}
        {{/tab.pane}}
        {{#tab.pane title="PER"}}
          {{judge-list sortedJudges=sortedPER}}
        {{/tab.pane}}
        {{#tab.pane title="SNG"}}
          {{judge-list sortedJudges=sortedSNG}}
        {{/tab.pane}}
        {{#tab.pane title="Admin"}}
          {{judge-list sortedJudges=sortedAdmin}}
        {{/tab.pane}}
      {{/bs-tab}}
    </div>
  </div>
</section>
<section>
  {{#bs-button onClick=(action 'createJudge') type='success'}}Add New Judge{{/bs-button}}
</section>
{{create-judge openModal=openModal model=judge}}
