<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
<section>
  {{#power-select
    search=(perform searchOfficer)
    selected=officer
    onchange=(action "transitionJudge")
    placeholder="Search by Judge Name"
    allowClear=true
    as |officer|
  }}
    {{officer.person.common_name}} {{officer.office.name}}
  {{/power-select}}
</section>
<section>
  <div class='table-responsive'>
    <table class='table'>
      <caption>Credentials List</caption>
      <thead>
        <tr>
          <th  {{action 'sortBy' 'personName'}}>Name</th>
          <th  {{action 'sortBy' 'officeShortName'}}>Office</th>
          {{!-- <th>Entity</th> --}}
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedJudges as |judge|}}
          <tr>
            <td>{{#link-to 'dashboard.judge-manager.judge.details' judge}}{{judge.person.name}}{{/link-to}}</td>
            <td>{{judge.office.short_name}}</td>
            {{!-- <td>{{judge.entity.name}}</td> --}}
            <td>{{judge.status}}</td>
          </tr>
        {{else}}
          <tr>
            <td>No Judges in System.</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
{{!-- <section>
  {{page-numbers content=content}}
</section> --}}
<section>
  {{#bs-button onClick=(action 'createJudge') type='success'}}Add New Judge{{/bs-button}}
</section>
{{create-judge openModal=openModal model=judge}}
