<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
<section>
  <div class='panel panel-default'>
    <div class='panel-heading fixed-panel-header'>
      <h4>
        {{model.nomen}}
      </h4>
    </div>
    <div class='panel-body'>
      {{#bs-nav type='tabs' as |nav|}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.scoring-manager.round.details"}}Details{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.scoring-manager.round.panelists"}}Panelists{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.scoring-manager.round.appearances"}}Appearances{{/nav.link-to}}
        {{/nav.item}}
      {{/bs-nav}}
      {{outlet}}
    </div>
      {{#if model.permissions.write}}
    <div class='panel-footer fixed-panel-footer'>
        {{#if (eq model.status 'New')}}
          {{#bs-button type='primary' onClick=(perform openRound)}}
            {{#if openRound.isRunning}}
              Opening {{fa-icon "spinner" spin=true}}
            {{else}}
              Open Round
            {{/if}}
          {{/bs-button}}
        {{else if (eq model.status 'Opened')}}
          {{#bs-button type='primary' onClick=(perform closeRound)}}
            {{#if closeRound.isRunning}}
              Closing {{fa-icon "spinner" spin=true}}
            {{else}}
              Close Round
            {{/if}}
          {{/bs-button}}
        {{else if (eq model.status 'Closed')}}
          {{#bs-button type='primary' onClick=(perform verifyROund)}}
            {{#if verifyRound.isRunning}}
              Verifying {{fa-icon "spinner" spin=true}}
            {{else}}
              Verify Round
            {{/if}}
          {{/bs-button}}
        {{else}}
          &nbsp;
        {{/if}}
      {{else}}
        &nbsp;
      {{/if}}
      <div class='pull-right'>
        Round Status: <strong>{{model.status}}</strong>
      </div>
    </div>
  </div>
</section>