<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
<section>
  <div class='panel panel-default'>
    <div class='panel-heading fixed-panel-header'>
      <h4>
        {{model.nomen}}
      </h4>
    </div>
    <div class='panel-body'>
      {{#bs-nav type='tabs' as |nav|}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.scoring-manager.round.details"}}Details{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.scoring-manager.round.panelists"}}Panelists{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.scoring-manager.round.appearances"}}Appearances{{/nav.link-to}}
        {{/nav.item}}
      {{/bs-nav}}
      {{outlet}}
    </div>
    <div class='panel-footer fixed-panel-footer'>
      {{#if model.permissions.write}}
        {{#if (eq model.status 'New')}}
          {{#bs-button type='primary' onClick=(perform verifyRound)}}
            {{#if verifyRound.isRunning}}
              Verifying {{fa-icon "spinner" spin=true}}
            {{else}}
              Verify Round
            {{/if}}
          {{/bs-button}}
        {{/if}}
      {{/if}}
      <div class='pull-right'>
        <h4>
          Round Status: <strong>{{model.status}}</strong>
        </h4>
      </div>
    </div>
  </div>
</section>