<section>
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th class='col-md-6'>Title</th>
          <th>Arranger(s)</th>
          <th>BHS ID</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedRepertories as |repertory|}}
          <tr>
            <td>{{#link-to 'dashboard.chorus-manager.chorus.repertories.repertory' repertory}}{{repertory.chart.title}}{{/link-to}}</td>
            {{!-- <td>{{repertory.chart.title}}</td> --}}
            <td>{{repertory.chart.arrangers}}</td>
            <td>{{repertory.chart.bhs_id}}</td>
            <td>{{repertory.status}}</td>
          </tr>
        {{else}}
          <tr>
            <td>(No songs in repertory.)</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
<section>
  {{#bs-button onClick=(action 'createRepertory') type='success'}}Add Song to Repertory{{/bs-button}}
</section>
{{create-repertory openModal=openModal model=repertory}}
