<section>
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th class='col-md-6'>Title</th>
          <th>Arranger(s)</th>
          <th>BHS ID</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedRepertories as |repertory|}}
          <tr>
            <td>{{#link-to 'dashboard.chorus-manager.chorus.repertories.repertory.details' repertory}}{{repertory.chart.title}}{{/link-to}}</td>
            {{!-- <td>{{repertory.chart.title}}</td> --}}
            <td>{{repertory.chart.arrangers}}</td>
            <td>{{repertory.chart.bhs_id}}</td>
            <td>{{repertory.status}}</td>
          </tr>
        {{else}}
          <tr>
            <td>(No songs in repertory.)</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
<section>
  {{#bs-button onClick=(action (mut openModal) true) type='success'}}Add Chart to Repertory{{/bs-button}}
</section>
<section>
  {{#bs-modal-simple
    open=openModal
    onHidden=(action "clearRepertory")
    title="Add Repertory"
    closeTitle="Cancel"
    submitTitle="Save"
    backdropClose=false
  }}
    {{#bs-form
      model=this
      formLayout='vertical'
      onSubmit=(action 'createRepertory')
      as |form|
    }}
      {{#form.element property='chart' useIcons=false as |el|}}
        {{#power-select
          search=(perform searchChart)
          selected=el.value
          renderInPlace=true
          onchange=(action (mut el.value))
          placeholder="Search by Song Name or BHS Chart Number"
          allowClear=true
          as |chart|
        }}
          Song: {{chart.nomen}}  {{#if chart.arrangers}}(arr. {{chart.arrangers}}){{/if}}
        {{/power-select}}
      {{/form.element}}
        <p>
          <strong>NOTE:&nbsp;</strong><small>If you can't find your song then cancel this and add it through the chart manager first.</small>
        </p>
    {{/bs-form}}
  {{/bs-modal-simple}}
</section>
