<section>
  <div class='row'>
    <div class='col-md-12'>
      <table class='table'>
        {{!-- <caption>Awards</caption> --}}
        <thead>
          <tr>
            <th {{action 'sortBy' 'name'}}>Name</th>
            <th {{action 'sortBy' 'kindSort'}}>Kind</th>
            <th {{action 'sortBy' 'location'}}>Location</th>
            <th {{action 'sortBy' 'bhsId'}}>BHS ID</th>
            <th {{action 'sortBy' 'status'}}>Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedItems as |group|}}
            <tr>
              <td>{{#link-to 'dashboard.organization-manager.organization.groups.group' group}}{{group.nomen}}{{/link-to}}</td>
              <td>{{group.kind}}</td>
              <td>{{group.location}}</td>
              <td>{{group.bhsId}}</td>
              <td>{{group.status}}</td>
            </tr>
          {{else}}
            <tr>
              <td>No groups in this organization.</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class='col-md-6'>
      {{outlet}}
    </div>
  </div>
</section>