<section>
  <div class='panel panel-default'>
    <div class='panel-heading fixed-panel-header'>
      {{!-- <ul class='list-inline pull-right'>
        <li>{{#bs-button disabled=isPrevDisabled onClick=(action 'previousItem' model)}}Previous{{/bs-button}}</li>
        <li>{{#bs-button disabled=isNextDisabled onClick=(action 'nextItem' model)}}Next{{/bs-button}}</li>
      </ul> --}}
      <h4>
        {{model.kind}} Session
      </h4>
    </div>
    <div class='panel-body'>
      {{#bs-nav type='tabs' as |nav|}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.conventions.convention.sessions.session.details"}}Details{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.conventions.convention.sessions.session.contests"}}Contests{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.conventions.convention.sessions.session.entries"}}Entries{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.conventions.convention.sessions.session.draw"}}Draw{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.conventions.convention.sessions.session.rounds"}}Rounds{{/nav.link-to}}
        {{/nav.item}}
      {{/bs-nav}}
      {{outlet}}
    </div>
    <div class='panel-footer fixed-panel-footer'>
      <div class='pull-right'>
        <h4>
          Session Status: <strong>{{model.status}}</strong>
        </h4>
      </div>
      {{#if model.permissions.write}}
        <ul class='list-inline'>
          {{#if (eq model.status 'New')}}
            <li>{{session-build model=model}}</li>
          {{else if (eq model.status 'Built')}}
            <li>{{session-open model=model}}</li>
          {{else if (eq model.status 'Opened')}}
            <li>{{session-close model=model}}</li>
          {{else if (eq model.status 'Closed')}}
            <li>{{session-verify model=model}}</li>
          {{else if (eq model.status 'Verified')}}
            <li>{{session-verify model=model}}</li>
            <li>{{session-start model=model}}</li>
          {{/if}}
        </ul>
      {{/if}}
    </div>
  </div>
</section>
