<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4 class='pull-right'>
        Status: {{model.status}}
      </h4>
      <h4>
        {{model.nomen}}
      </h4>
    </div>
    <div class='panel-body'>
      <section>
        {{#bs-form
          formLayout="vertical"
          model=model
          onSubmit=(action "saveEntry")
          as |form|
        }}
          {{!-- {{#form.element property='representing' useIcons=false as |el|}}
            {{#power-select
              options=representingOptions
              selected=el.value
              searchField='name'
              onchange=(action (mut el.value))
              placeholder="Enter District/Division/Affiliate Representation"
              allowClear=true
              renderInPlace=true
              disabled=isDisabled
              as |representing|
            }}
              Representing: {{representing.name}}
            {{/power-select}}
          {{/form.element}} --}}
          {{#form.element property='is_evaluation' as |el|}}
            {{#bs-button-group
              value=el.value
              type='radio'
              onChange=(pipe-action (action (mut el.value)) (action 'saveEntry'))
              as |bg|
            }}
              {{#bg.button type='default' value=false disabled=true}}Skip Eval{{/bg.button}}
              {{#bg.button type='default' value=true disabled=true}}Include Eval{{/bg.button}}
            {{/bs-button-group}}
          {{/form.element}}
          {{#form.element property='is_private' as |el|}}
            {{#bs-button-group
              value=el.value
              type='radio'
              onChange=(pipe-action (action (mut el.value)) (action 'saveEntry'))
              as |bg|
            }}
              {{#bg.button type='default' value=false disabled=true}}Make Scores Public{{/bg.button}}
              {{#bg.button type='default' value=true disabled=true}}Keep Scores Private{{/bg.button}}
            {{/bs-button-group}}
          {{/form.element}}
          {{#if (eq model.entity.kind 'Chorus')}}
            {{#form.element property='director' useIcons=false as |el|}}
                {{#power-select
                  search=(perform searchTask)
                  selected=el.value
                  onchange=(pipe-action (action (mut el.value)) (action 'saveEntry'))
                  placeholder="Enter Director Name"
                  disabled=isDisabled
                  allowClear=true
                  as |person|
                }}
                  {{#if model.codirector}}Co-Director:{{else}}Director:{{/if}} {{person.common_name}} {{person.bhs_id}}
                {{/power-select}}
            {{/form.element}}
            {{#form.element property='codirector' useIcons=false as |el|}}
                {{#power-select
                  search=(perform searchTask)
                  selected=el.value
                  onchange=(pipe-action (action (mut el.value)) (action 'saveEntry'))
                  placeholder="Enter Co-Director Name (if applicable)"
                  disabled=isDisabled
                  allowClear=true
                  as |person|
                }}
                  Co-Director: {{person.common_name}} {{person.bhs_id}}
                {{/power-select}}
            {{/form.element}}
          {{/if}}
        {{/bs-form}}
      </section>
      <section>
        <p>
          You are eligble for the following awards:
        </p>
        {{multiselect-checkboxes
          options=contestOptions
          labelProperty='awardName'
          valueProperty='id'
          selection=model.selectedContests
          disabled=true
          updateSelectionValue=false
          onchange=(action "updateSelection")
        }}
      </section>
      <section>
        <p>
          Please select the group members who will be on stage for this appearance:
        </p>
        <p>Count: {{model.partCount}}</p>
        {{multiselect-checkboxes
          options=memberOptions
          labelProperty='personDetail'
          valueProperty='id'
          selection=model.selectedMembers
          updateSelectionValue=true
          onchange=(action "updateMembers")
          disabled=isDisabled
        }}
      </section>
    </div>
    <div class='panel-footer'>
      {{#if model.permissions.write}}
        {{#if (eq model.status 'New')}}
          {{#bs-button type='primary' onClick=(action (mut openModal) true)}}Review and Submit{{/bs-button}}
        {{else if (eq model.status 'Submitted')}}
          <strong>Status: <span class='text-primary'>Submitted and Pending Acceptance</span></strong>
        {{/if}}
      {{/if}}
    </div>
  </div>
</section>
<section class='col-md-8'>
    <p>
      <strong>Note:</strong>  After submitting, new changes must be made manually so please be sure the information is as accurate and up-to-date as possible before moving forward.  For choruses: if you are not fully certain who will be performing on stage then please error on the side of <em>inclusion</em>; it is easier/safer to remove those who wind up not participating than it is to add someone after submission.
    </p>
    <p>
      If you are missing members then please contact support@barberscore.com and we'll get them added so you can click their names.  However, the most likely reason for this is that their membership is not up to date, so please confirm that first before contacting support.
    </p>
    <p>
      Lastly, while the formal deadline is June 15, Dusty is pushing to have all entries completed by June 1.  Please do your best to meet this target and let support know if you have any problems.  Remember that you can add songs to your Repertory at any time so that task can be completed after submission if you wish.
    </p>
</section>
<section>
  {{#bs-modal
    open=openModal
    backdropClose=true
    onHidden=(action (mut openModal) false)
    onSubmit=(perform submitEntry)
    as |modal|
  }}
    {{#modal.header}}
      <h4>Submit Contest Entry</h4>
    {{/modal.header}}
    {{#modal.body}}
      <div>
        <p><strong>Note:</strong> By entering this contest you are agreeing/certifying to the following:</p>
        <ul class='list-styled'>
          <li>Agrees to the public exhibition on one or more occasions of motion picture films or a television program or programs using live broadcasts, video tapes, or films, or a combination of two or more of these, which will be made of us and other quartets and/or groupes during the international convention. We agree that all revenues received by the Society, or any of its affiliates, for same may be retained by the Society or affiliate. Agrees that the Society may record our portion of the contest for Society archives and Society use. Included in this agreement is permission to the Society to use available segments of our portion of the contest on recordings to be manufactured and sold by the Society.</li>
          <li>Certifying that each member of the quartet or group (including director) holds, or shall hold, a convention registration for said contest.</li>
          <li>Certifying that we have complied with copyright law in the acquisition, arranging, and learning of our contest songs/ arrangements and will perform only legally cleared songs in the contest. We understand that ineligibility or disqualification will be a consequence for violation of this statement.</li>
          <li>Certifying that we will perform songs listed in our song Repertory.  Any song performed that does not exist in the Repertory before the performance may result in disqualification.</li>
        </ul>
      </div>
    {{/modal.body}}
    {{#modal.footer}}
      {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
      {{#bs-button onClick=(action modal.submit) type="primary"}}
        {{#if submitEntry.isRunning}}
          Submitting {{fa-icon "spinner" spin=true}}
        {{else}}
          Submit
        {{/if}}
      {{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
</section>