<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4>
        {{model.nomen}}
      </h4>
    </div>
    <div class='panel-body'>
      <section>
        {{#bs-form
          formLayout="vertical"
          model=model
          onSubmit=(action "saveEntry")
          as |form|
        }}
          {{!-- {{#form.element property='representing' useIcons=false as |el|}}
            {{#power-select
              options=representingOptions
              selected=el.value
              searchField='name'
              onchange=(action (mut el.value))
              placeholder="Enter District/Division/Affiliate Representation"
              allowClear=true
              renderInPlace=true
              disabled=isDisabled
              as |representing|
            }}
              Representing: {{representing.name}}
            {{/power-select}}
          {{/form.element}} --}}
          {{#form.element property='is_evaluation' as |el|}}
            {{#bs-button-group
              value=el.value
              type='radio'
              onChange=(pipe-action (action (mut el.value)) (action 'saveEntry'))
              as |bg|
            }}
              {{#bg.button type='default' value=false disabled=true}}Skip Eval{{/bg.button}}
              {{#bg.button type='default' value=true disabled=true}}Include Eval{{/bg.button}}
            {{/bs-button-group}}
          {{/form.element}}
          {{#form.element property='is_private' as |el|}}
            {{#bs-button-group
              value=el.value
              type='radio'
              onChange=(pipe-action (action (mut el.value)) (action 'saveEntry'))
              as |bg|
            }}
              {{#bg.button type='default' value=false disabled=true}}Make Scores Public{{/bg.button}}
              {{#bg.button type='default' value=true disabled=true}}Keep Scores Private{{/bg.button}}
            {{/bs-button-group}}
          {{/form.element}}
          {{#if (eq model.entity.kind 'Chorus')}}
            {{#form.element property='director' useIcons=false as |el|}}
                {{#power-select
                  search=(perform searchTask)
                  selected=el.value
                  onchange=(pipe-action (action (mut el.value)) (action 'saveEntry'))
                  placeholder="Enter Director Name"
                  disabled=isDisabled
                  allowClear=true
                  as |person|
                }}
                  {{#if model.codirector}}Co-Director:{{else}}Director:{{/if}} {{person.common_name}} {{person.bhs_id}}
                {{/power-select}}
            {{/form.element}}
            {{#form.element property='codirector' useIcons=false as |el|}}
                {{#power-select
                  search=(perform searchTask)
                  selected=el.value
                  onchange=(pipe-action (action (mut el.value)) (action 'saveEntry'))
                  placeholder="Enter Co-Director Name (if applicable)"
                  disabled=isDisabled
                  allowClear=true
                  as |person|
                }}
                  Co-Director: {{person.common_name}} {{person.bhs_id}}
                {{/power-select}}
            {{/form.element}}
          {{/if}}
        {{/bs-form}}
      </section>
      <section>
        <p>
          You are eligible for the following awards:
        </p>
        {{multiselect-checkboxes
          options=contestOptions
          labelProperty='awardName'
          valueProperty='id'
          selection=model.selectedContests
          disabled=true
          updateSelectionValue=false
          onchange=(action "updateSelection")
        }}
      </section>
      <section>
        <p>
          Please select the group members who will be on stage for this appearance:
        </p>
        <p>Count: {{model.participantCount}}</p>
        {{multiselect-checkboxes
          options=memberOptions
          labelProperty='personDetail'
          valueProperty='id'
          selection=model.selectedMembers
          updateSelectionValue=true
          onchange=(action "updateMembers")
          disabled=false
        }}
      </section>
    </div>
    <div class='panel-footer fixed-panel-footer'>
      {{#if model.permissions.write}}
        {{#if (eq model.status 'Invited')}}
          {{#bs-button type='primary' onClick=(action (mut openModal) true)}}Review and Submit{{/bs-button}}
        {{else if (eq model.status 'Submitted')}}
          <strong>Status: <span class='text-primary'>Submitted and Pending Acceptance</span></strong>
        {{/if}}
      {{/if}}
      <div class='pull-right'>
        <h4>
          Entry Status: <strong>{{model.status}}</strong>
        </h4>
      </div>
    </div>
  </div>
</section>
<section>
  <div class='row'>
    <div class='col-md-6'>
      {{#if (eq model.status 'Invited')}}
        <p>
          <strong>Note:</strong>  If you are missing members, please first check the eBiz site to ensure those names are listed with unexpired memberships.  If that checks out, then contact support@barberscore.com with the names and/or BHS member numbers and we'll get that fixed.
        </p>
        <p>
          Also, due to popular demand we've recently made a change so that you can add/remove participating members all the way up to the day of the contest!   That said, please submit your entry with your best estimates.  We know that choruses need to be flexible as the participating roster changes leading up to the contest, but for planning purposes Dusty needs the counts to be at least close to whom you actually expect to be on stage.
        </p>
        <p>
          Lastly, while the formal deadline is June 15, Dusty was hoping that people could get things in by June 1.  Remember that you can add songs to your Repertory at any time, or also add/remove participants, so those tasks can be completed after submission if you wish.
        </p>
      {{else if (eq model.status 'Submitted')}}
        <p>
          <strong>Note:</strong>  The following participants' BHS memberships will expire before the contest.  Remember that all men on stage must have a current registration and BHS membership or you may be disqualified.  Please note this data may be a few days old; check with the EBiz site for the most up to date information.
        </p>
        <p>
          <strong>Not applicable for Affiliates or YBQC</strong>
        </p>
        <ul class='list-styled'>
          {{#each model.expiringMembers as |expiring|}}
            <li>{{expiring.member.person.nomen}}, Exp. {{moment-format expiring.member.person.dues_thru 'LL'}}</li>
          {{else}}
            All Selected Members are Current!
          {{/each}}
        </ul>
      {{/if}}
    </div>
    {{!-- <div class='col-md-6'>
      {{#bs-button class='pull-right' type=default size='xs' onClick=(toggle 'collapsed' this )}}Logs{{/bs-button}}
      {{#bs-collapse collapsed=collapsed}}
        <hr>
        <ul>
          {{#each model.logs as |log|}}
            <li>{{log.transition}} by {{log.by}}, {{moment-format log.timestamp 'LLL'}}</li>
          {{/each}}
        </ul>
      {{/bs-collapse}}
    </div> --}}
  </div>
</section>
<section>
  {{#bs-modal
    open=openModal
    backdropClose=true
    onHidden=(action (mut openModal) false)
    onSubmit=(perform submitEntry)
    as |modal|
  }}
    {{#modal.header}}
      <h4>Submit Contest Entry</h4>
    {{/modal.header}}
    {{#modal.body}}
      <div>
        <p><strong>Note:</strong> By entering this contest you are agreeing/certifying to the following:</p>
        <ul class='list-styled'>
          <li>Agrees to the public exhibition on one or more occasions of motion picture films or a television program or programs using live broadcasts, video tapes, or films, or a combination of two or more of these, which will be made of us and other quartets and/or groupes during the international convention. We agree that all revenues received by the Society, or any of its affiliates, for same may be retained by the Society or affiliate. Agrees that the Society may record our portion of the contest for Society archives and Society use. Included in this agreement is permission to the Society to use available segments of our portion of the contest on recordings to be manufactured and sold by the Society.</li>
          <li>Certifying that each member of the quartet or group (including director) holds, or shall hold, a convention registration for said contest.</li>
          <li>Certifying that we have complied with copyright law in the acquisition, arranging, and learning of our contest songs/ arrangements and will perform only legally cleared songs in the contest. We understand that ineligibility or disqualification will be a consequence for violation of this statement.</li>
          <li>Certifying that we will perform songs listed in our song Repertory.  Any song performed that does not exist in the Repertory before the performance may result in disqualification.</li>
        </ul>
      </div>
    {{/modal.body}}
    {{#modal.footer}}
      {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
      {{#bs-button onClick=(action modal.submit) type="primary"}}
        {{#if submitEntry.isRunning}}
          Submitting {{fa-icon "spinner" spin=true}}
        {{else}}
          Submit
        {{/if}}
      {{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
</section>