<section>
  <div class='row'>
    <div class='col-md-12'>
      <div class='table-responsive'>
        <table class='table'>
          <thead>
            <tr>
              <th class='col-md-4'>Entry</th>
              <th class='col-md-2'>Status</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedEntries as |entry|}}
              <tr>
                {{#if entry.isLoading}}
                  <td colspan=2>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
                {{else}}
                  <td>
                    {{#link-to 'dashboard.group-manager.group.entries.entry' entry}}{{entry.session.nomen}}{{/link-to}}
                  </td>
                  <td>
                    {{entry.status}}
                  </td>
                {{/if}}
              </tr>
            {{else}}
              <tr>
                <td>
                  (No current entries.)
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<section>
  {{#if model.permissions.write}}
    {{#bs-button onClick=(action "createEntry") type='success'}}Create New Entry{{/bs-button}}
  {{/if}}
</section>