<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4 class='pull-right'>
        Status: {{model.status}}
      </h4>
      <h4>
        {{model.nomen}}
      </h4>
    </div>
    <div class='panel-body'>
      <div>
        {{#bs-form
          formLayout="vertical"
          model=model
          onSubmit=(action "saveEntry")
          as |form|
        }}
          {{#form.element property='representing' useIcons=false as |el|}}
            {{#power-select
              options=representingOptions
              selected=el.value
              searchField='name'
              onchange=(action (mut el.value))
              placeholder="Enter District/Division/Affiliate Representation"
              allowClear=true
              renderInPlace=true
              disabled=isDisabled
              as |representing|
            }}
              Representing: {{representing.name}}
            {{/power-select}}
          {{/form.element}}
          {{#form.element property='is_evaluation' as |el|}}
            {{#bs-button-group
              value=el.value
              type='radio'
              onChange=(action (mut el.value))
              disabled=isDisabled
              as |bg|
            }}
              {{#bg.button type='default' value=false disabled=isDisabled}}Skip Eval{{/bg.button}}
              {{#bg.button type='default' value=true disabled=isDisabled}}Include Eval{{/bg.button}}
            {{/bs-button-group}}
          {{/form.element}}
          {{#form.element property='is_private' as |el|}}
            {{#bs-button-group
              value=el.value
              type='radio'
              onChange=(action (mut el.value))
              as |bg|
            }}
              {{#bg.button type='default' value=false disabled=isDisabled}}Make Scores Public{{/bg.button}}
              {{#bg.button type='default' value=true disabled=isDisabled}}Keep Scores Private{{/bg.button}}
            {{/bs-button-group}}
          {{/form.element}}
          {{#form.element property='director' useIcons=false as |el|}}
              {{#power-select
                search=(perform searchTask)
                selected=el.value
                onchange=(action (mut el.value))
                placeholder="Enter Director Name"
                disabled=isDisabled
                allowClear=true
                as |person|
              }}
                {{#if model.codirector}}Co-Director:{{else}}Director:{{/if}} {{person.common_name}}
              {{/power-select}}
          {{/form.element}}
          {{#form.element property='codirector' useIcons=false as |el|}}
              {{#power-select
                search=(perform searchTask)
                selected=el.value
                onchange=(action (mut el.value))
                placeholder="Enter Co-Director Name (if applicable)"
                disabled=isDisabled
                allowClear=true
                as |person|
              }}
                Co-Director: {{person.common_name}}
              {{/power-select}}
          {{/form.element}}
          {{!-- {{#if isEditing}}
              {{#bs-button onClick=(action 'cancelEntry')}}Cancel{{/bs-button}}
              {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
              {{#bs-button onClick=(action 'deleteEntry') class='pull-right btn-danger'}}Delete{{/bs-button}}
          {{else}}
            {{#bs-button onClick=(action 'editEntry')}}Edit{{/bs-button}}
          {{/if}} --}}
          <ul class='list-inline'>
            <li class='pull-right'>{{#bs-button onClick=(action 'deleteEntry') type='danger'}}Delete{{/bs-button}}</li>
          </ul>
        {{/bs-form}}
      </div>
    </div>
  </div>
  {{!-- <div>
    <p>
      Please select the Contests in which you wish to compete:
    </p>
    {{multiselect-checkboxes
      options=contestOptions
      labelProperty='awardName'
      valueProperty='id'
      selection=model.selectedContests
      updateSelectionValue=false
      onchange=(action "updateSelection")
    }}
  </div> --}}
</section>
