<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
<section>
  <div class='row'>
    <div class='col-md-6'>
    </div>
    <div class='col-md-offset-4 col-md-2'>
      {{#if currentUser.user.person.isDRCJ}}
        {{#bs-button onClick=(action "createAward") type='success'}}Create New Award{{/bs-button}}
      {{/if}}
    </div>
  </div>
</section>
<section>
  <div class='row'>
    <div class='col-md-6'>
      <div class='table-responsive'>
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedItems as |award|}}
              <tr>
                <td>{{#link-to 'dashboard.award-manager.award' award}}{{award.name}}{{/link-to}}</td>
                <td>{{award.status}}</td>
              </tr>
            {{else}}
              <tr>
                <td>(None)</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div class='col-md-6'>
      {{outlet}}
    </div>
  </div>
</section>