<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
<section>
  <div class='row'>
    <div class='col-md-6'>
      {{#power-select
        search=(perform searchChart)
        selected=selected
        onchange=(action "transitionChart")
        placeholder="Search Chart"
        allowClear=true
        as |chart|
      }}
        Title: {{chart.nomen}}
      {{/power-select}}
    </div>
    <div class='col-md-offset-4 col-md-2'>
      {{!-- {{#bs-button onClick=(action "createChart") type='success'}}Create New Chart{{/bs-button}} --}}
      {{!-- {{#link-to 'dashboard.chart-manager.new'}}New{{/link-to}} --}}
    </div>
  </div>
</section>
<section>
  <div class='row'>
    <div class='col-md-6'>
      <div class='table-responsive'>
        <table class='table'>
          <thead>
            <tr>
              <th>Chart</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedItems as |chart|}}
              <tr>
                <td>{{#link-to 'dashboard.chart-manager.chart' chart}}{{chart.nomen}}{{/link-to}}</td>
                <td>{{chart.status}}</td>
              </tr>
            {{else}}
              <tr>
                <td>(No Charts.)</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div class='col-md-6'>
      {{outlet}}
    </div>
  </div>
</section>
<section>
  {{page-numbers content=content}}
</section>