{{!-- <section>
  {{user-members model=currentUser.user}}
</section>
{{#if model.activeAssignments}}
  <section>
    {{user-assignments model=currentUser.user}}
  </section>
{{/if}}
{{outlet}}
 --}}

<section>
  <p>Welcome {{currentUser.user.person.commonName}}</p>
  <div class='row'>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'dashboard.members' tagName='button' disabled=true class='btn btn-default launcher'}}
        {{fa-icon 'users' size='5'}}<br>
        Memberships<br>(Formerly "Group Manager")<br>
        TEMPORARILY DISABLED
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'dashboard.assignments' tagName='button' disabled=assignmentDisabled class='btn btn-default launcher'}}
        {{fa-icon 'legal' size='5'}}<br>
        Assignments<br>(Formerly "Session Manager")
      {{/link-to}}
    </p>
  </div>
  {{!-- <div>
    <p>
      <strong>Note:</strong> If you are unable to click on Group Manager, please review your memberships in the <a href='https://members.barbershop.org'>BHS Member Center</a> and ensure you are an active member of your Quartet, or a Chapter Leader of your chorus.
    </p>
    <p>
      <strong>Note to New Quartets:</strong> Please be aware that newly registered quartets are not “completed” (fully registered) in the Member Center until BHS headquarters has: approved the quartet name; processed the subscription fee; and finished their final validation by updating the Member Center record. <em>This process can take up to 5 business days.</em>
    </p>
  </div> --}}
</section>
{{!-- <div {{action 'search'}}>Search</div> --}}
{{outlet}}
