<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
<section>
  <p>Welcome {{currentUser.user.name}}!</p>
</section>
<section>
  {{group-index model=model.activeGroups}}
</section>
<section>
  {{organization-index model=model.activeGroups}}
</section>
<section>
  {{assignment-index model=model.activeAssignments}}
</section>
{{outlet}}
