<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
<section>
<p>Welcome {{currentUser.user.name}}</p>
<div class='row'>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'dashboard.group-manager' tagName='button' class='btn btn-default launcher' disabled=isGroupManagerDisabled}}
        {{fa-icon 'users' size='5'}}<br>
        Group Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'dashboard.session-manager' tagName='button' class='btn btn-default launcher' disabled=isSessionManagerDisabled}}
        {{fa-icon 'microphone' size='5'}}<br>
        Session Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'dashboard.scoring-manager' tagName='button' class='btn btn-default launcher' disabled=isScoringManagerDisabled}}
        {{fa-icon 'calculator' size='5'}}<br>
        Scoring Manager
      {{/link-to}}
    </p>
  </div>
</section>
{{outlet}}
