{{!-- <section>
  {{user-members model=currentUser.user}}
</section>
{{#if model.activeAssignments}}
  <section>
    {{user-assignments model=currentUser.user}}
  </section>
{{/if}}
{{outlet}}
 --}}
{{!-- <section>
  <h3>
    Important Notice!
  </h3>
  <h5>
    Access is temporarily down while we upgrade systems in preparation for International.  If you are a group wishing to add charts to your repertory please send your request to {{barberscore-support}} and we'll process it manually.  Thank you.
  </h5>

</section> --}}


<section>
  <p>Welcome {{model.name}}</p>
  <div class='row'>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'dashboard.groups' tagName='button' disabled=groupsDisabled class='btn btn-light launcher'}}
        {{fa-icon 'users' size='5'}}<br>
        Memberships
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'dashboard.assignments' tagName='button' disabled=assignmentsDisabled class='btn btn-light launcher'}}
        {{fa-icon 'legal' size='5'}}<br>
        Assignments
      {{/link-to}}
    </p>
  </div>
  {{!-- <section>
    <p>
      {{#bs-button type='link' onClick=(toggle 'collapsedNote' this)}}
        A button is grayed out and not clickable; why?
      {{/bs-button}}
    </p>
    {{#bs-collapse collapsed=collapsedNote}}
      <p>
        The "Memberships" button is for certain group Officers, and the "Assignments" button is for Certified Judges.  If you believe to be one of those authorized persons, try refreshing your browser.  (This is always the first thing you should try when something appears to be not working.)  If that still doesn't work, and you should have access, please contact {{customer-support}}.
      </p>
    {{/bs-collapse}}
  </section> --}}
  {{!-- <div>
    <p>
      <strong>Note:</strong> If you are unable to click on Group Manager, please review your memberships in the <a href='https://members.barbershop.org'>BHS Member Center</a> and ensure you are an active member of your Quartet, or a Chapter Leader of your chorus.
    </p>
    <p>
      <strong>Note to New Quartets:</strong> Please be aware that newly registered quartets are not “completed” (fully registered) in the Member Center until BHS headquarters has: approved the quartet name; processed the subscription fee; and finished their final validation by updating the Member Center record. <em>This process can take up to 5 business days.</em>
    </p>
  </div> --}}
</section>
{{!-- <div {{action 'search'}}>Search</div> --}}
{{outlet}}