<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
<section>
<p>Welcome {{currentUser.user.person.common_name}}</p>
<div class='row'>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'dashboard.convention-manager' tagName='button' class='btn btn-default launcher' disabled=true}}
        {{fa-icon 'road' size=5}}<br>
        Convention Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'dashboard.session-manager' tagName='button' class='btn btn-default launcher' disabled=true}}
        {{fa-icon 'microphone' size=5}}<br>
        Session Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'dashboard.scoring-manager' tagName='button' class='btn btn-default launcher' disabled=true}}
        {{fa-icon 'calculator' size=5}}<br>
        Scoring Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'dashboard.person-manager' tagName='button' class='btn btn-default launcher' disabled=true}}
        {{fa-icon 'user' size=5}}<br>
        Person Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'dashboard.group-manager' tagName='button' class='btn btn-default launcher' disabled=false}}
        {{fa-icon 'users' size=5}}<br>
        Group Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'dashboard.organization-manager' tagName='button' class='btn btn-default launcher' disabled=true}}
        {{fa-icon 'bank' size=5}}<br>
        Organization Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'dashboard.award-manager' tagName='button' class='btn btn-default launcher' disabled=true}}
        {{fa-icon 'trophy' size=5}}<br>
        Award Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'dashboard.judge-manager'  tagName='button' class='btn btn-default launcher' disabled=true}}
        {{fa-icon 'balance-scale' size=5}}<br>
        Judge Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'dashboard.chart-manager' tagName='button' class='btn btn-default launcher' disabled=true}}
        {{fa-icon 'music' size=5}}<br>
        Chart Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'dashboard.person-manager' tagName='button' class='btn btn-default launcher' disabled=true}}
        {{fa-icon 'calendar' size=5}}<br>
        Schedule Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'dashboard.office-manager' tagName='button' class='btn btn-default launcher' disabled=true}}
        {{fa-icon 'codepen' size=5}}<br>
        Office Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'dashboard.venue-manager' tagName='button' class='btn btn-default launcher' disabled=true}}
        {{fa-icon 'building' size=5}}<br>
        Venue Manager
      {{/link-to}}
    </p>
  </div>
</section>
{{outlet}}