<section class='panel panel-default'>
  <div class='panel-heading'>
    <h4>
      Participant Detail
    </h4>
  </div>
  <div class='panel-body'>
  {{#if isEditing}}
    {{#bs-form action="saveParticipant"}}
      {{!-- {{#bs-form-group}}
        {{select-convention convention=model.convention}}
      {{/bs-form-group}} --}}
      {{#bs-form-group}}
        {{select-organization organization=model.organization}}
      {{/bs-form-group}}
      {{#bs-form-group}}
        {{x-toggle showLabels=true offLabel='Championship' onLabel='Qualifier' value=model.is_qualifier toggled=model.is_qualifier}}
      {{/bs-form-group}}
      {{bs-button defaultText="Save" type="primary" buttonType="submit"}}
      {{#bs-button action=(action 'cancelParticipant')}}Cancel{{/bs-button}}
      {{#bs-button action=(action 'deleteParticipant') class='pull-right btn-danger'}}Delete{{/bs-button}}
    {{/bs-form}}
  {{else}}
      <p>
        <strong>Name: </strong>{{model.name}}
      </p>
      {{!-- <p>
        <strong>Convention: </strong>{{#link-to 'admin.convention' model.convention}}{{model.convention.name}}{{/link-to}}
      </p> --}}
      <p>
        <strong>Organization: </strong>{{#link-to 'admin.organization' model.organization}}{{model.organization.name}}{{/link-to}}
      </p>
      <p>
        <strong>Qualifier: </strong>{{yn-boolean model.is_qualifier}}
      </p>
      {{#bs-button action=(action 'editParticipant')}}Edit{{/bs-button}}
      {{#bs-button action=(action 'newParticipant') class='btn-primary pull-right'}}New{{/bs-button}}
    {{/if}}
  </div>
</section>
