<section>
  <div class='row'>
    <div class='col-md-4'>
     {{#bs-accordion selected=selected collapsed=collapsed}}
       {{#bs-accordion-item value="9" title="Schedule"}}
          {{#each sortedRounds as |round|}}
            <h5>
              {{#link-to 'public.convention.session.round' round}}{{round.kind}}{{/link-to}}
            </h5>
            <div class='table-responsive'>
              <table class='table'>
                <thead>
                <tr>
                  <th>Slot</th>
                  <th>Performer</th>
                </tr>
                </thead>
                <tbody>
                  {{#each (sort-by 'slot' round.performances) as |performance|}}
                    <tr>
                      <td>
                        {{performance.slot}}
                      </td>
                      <td>
                        {{#link-to 'public.convention.session.current' performance}}{{performance.performer.group.name}}{{/link-to}}
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          {{/each}}
       {{/bs-accordion-item}}
       {{#bs-accordion-item value="5" title="Results"}}
          {{#if finishedPerformers}}
            <h5>
              {{#link-to 'public.convention.session.oss' model}}Official Scoring Summary{{/link-to}}
            </h5>
            <div class='table-responsive'>
              <table class='table'>
                <thead>
                <tr>
                  <th>Place</th>
                  <th>Performer</th>
                </tr>
                </thead>
                <tbody>
                  {{#each finishedPerformers as |performer|}}
                    <tr>
                      <td>
                        {{performer.rank}}
                      </td>
                      <td>
                        {{#link-to 'public.convention.session.performer' performer}}{{performer.group.name}}{{/link-to}}
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          {{else}}
            <p>
              No results yet.
            </p>
          {{/if}}
       {{/bs-accordion-item}}
     {{/bs-accordion}}
    </div>
    <div class='col-md-8'>
      {{outlet}}
    </div>
  </div>
</section>
