<section>
  {{#bs-form
    model=model
    formLayout='vertical'
    onSubmit=(action 'saveChorus')
    as |form|
  }}
    {{!-- {{#form.element}}
      Picture: {{file-upload disabled=isDisabled resource='entity' target=model.id}}
    {{/form.element}} --}}
    {{form.element controlType='text' disabled=true placeholder='Chorus Name' property='name'}}
    {{#form.element property='parent' useIcons=false as |el|}}
        {{#power-select
          options=representingOptions
          selected=el.value
          searchField='name'
          onchange=(action (mut el.value))
          placeholder="Enter 'Home' District/Division/Affiliate"
          allowClear=true
          disabled=true
          as |parent|
        }}
          Home: {{parent.name}}
        {{/power-select}}
    {{/form.element}}
    {{form.element controlType='text' disabled=true placeholder='Location' property='location'}}
    {{form.element controlType='url' disabled=isDisabled placeholder='Website' property='website'}}
    {{form.element controlType='email' disabled=isDisabled placeholder='Email' property='email'}}
    {{form.element controlType='phone' disabled=isDisabled placeholder='Phone' property='phone'}}
    {{form.element controlType='text' disabled=isDisabled placeholder='Facebook' property='facebook'}}
    {{form.element controlType='text' disabled=isDisabled placeholder='Twitter' property='twitter'}}
    {{form.element controlType='textarea' rows=6 disabled=isDisabled placeholder='Description' property='description'}}
    {{#form.element}}
      {{#if isEditing}}
        {{#bs-button onClick=(action 'cancelChorus')}}Cancel{{/bs-button}}
        {{#bs-button type="primary" buttonType="submit"}}Save{{/bs-button}}
        {{!-- {{#bs-button onClick=(action 'deleteChorus') class='pull-right btn-danger'}}Delete{{/bs-button}} --}}
      {{else}}
        {{#bs-button onClick=(action 'editChorus')}}Edit{{/bs-button}}
      {{/if}}
    {{/form.element}}
  {{/bs-form}}
</section>
