<section>
  <div class='row'>
    <div class='col-md-12'>
      <table class='table'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Convention</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedAssignments as |assignment|}}
            <tr>
              <td>{{assignment.person.common_name}}</td>
              <td>{{assignment.kind}}</td>
              <td>{{assignment.convention.name}}</td>
              <td>{{fa-icon 'times-circle' click=(action 'deleteAssignment' assignment) class='text-danger'}}</td>
            </tr>
          {{else}}
            <tr>
              <td colspan=3>No assignments</td>
            </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <td>
              {{#power-select
                options=adminOptions
                search=(perform searchTask)
                selected=person
                onchange=(action (mut person))
                placeholder="Enter New Assignment"
                allowClear=true
                as |person|
              }}
                {{person.common_name}}&nbsp;{{#if person.certifications}}{{person.certifications}}{{/if}}
              {{/power-select}}
            </td>
            <td>
              {{#power-select
                options=kindOptions
                selected=kind
                onchange=(action (mut kind))
                placeholder="Choose Kind"
                allowClear=true
                as |kind|
              }}
                {{kind}}
              {{/power-select}}
            </td>
            <td>
             {{fa-icon 'plus-circle' click=(action 'createAssignment' assignment) class='text-success'}}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>
