<section>
  {{#bs-form
    model=model
    formLayout='vertical'
    onSubmit=(action 'saveJudge')
    as |form|
  }}
    {{#form.element property='person' useIcons=false as |el|}}
        {{#power-select
          options=model.riserOptions
          selected=el.value
          onchange=(action (mut el.value))
          disabled=true
          as |person|
        }}
          Person: {{person.common_name}}
        {{/power-select}}
    {{/form.element}}
    {{#form.element property='office' useIcons=false as |el|}}
        {{#power-select
          options=model.panelOptions
          selected=el.value
          onchange=(action (mut el.value))
          disabled=true
          as |office|
        }}
          Office: {{office.name}}
        {{/power-select}}
    {{/form.element}}
    {{#form.element property='status' useIcons=false as |el|}}
      {{#power-select
        options=model.statusOptions
        selected=el.value
        onchange=(action (mut el.value))
        disabled=isDisabled
        allowClear=true
        as |status|
      }}
        Status: {{status}}
      {{/power-select}}
    {{/form.element}}
    {{#form.element property='entity' useIcons=false as |el|}}
      {{#power-select
        options=entityOptions
        selected=el.value
        onchange=(action (mut el.value))
        placeholder="Related Entity"
        disabled=isDisabled
        allowClear=true
        as |entity|
      }}
        Entity: {{entity.name}}
      {{/power-select}}
    {{/form.element}}
    {{#form.element property='start_date' useIcons=false as |el|}}
      {{bs-datetimepicker
        date=el.value
        format='YYYY-MM-DD'
        updateDate=(action (mut el.value))
        placeholder="Judge Start Date"
        disabled=isDisabled
      }}
    {{/form.element}}
    {{#form.element property='finish_date' useIcons=false as |el|}}
      {{bs-datetimepicker
        date=el.value
        format='YYYY-MM-DD'
        updateDate=(action (mut el.value))
        placeholder="Judge End Date"
        disabled=isDisabled
      }}
    {{/form.element}}
    {{#form.element}}
      {{#if isEditing}}
        {{#bs-button onClick=(action 'cancelJudge')}}Cancel{{/bs-button}}
        {{#bs-button type="primary" buttonType="submit"}}Save{{/bs-button}}
        {{#bs-button onClick=(action 'deleteJudge') class='pull-right btn-danger'}}Delete{{/bs-button}}
      {{else}}
        {{#bs-button onClick=(action 'editJudge')}}Edit{{/bs-button}}
      {{/if}}
    {{/form.element}}
  {{/bs-form}}
</section>
