<section>
  {{!-- <div class='row'> --}}
    {{outlet}}
    {{!-- <div class='col-md-8'> --}}
      <table class='table'>
        <caption><strong>Note:</strong> These are prelim (qualifying) scores.  Actual scores not available until contest is finished.</caption>
        <thead>
          <tr>
            <th class='col-md-1'>OA</th>
            <th class='col-md-1'>Prelims</th>
            <th class='col-md-1'>Scheduled</th>
            <th class='col-md-3'>Name</th>
            <th class='col-md-4'>Songs</th>
            {{!-- <th class='col-md-1'>Status</th> --}}
          </tr>
        </thead>
        <tbody>
          {{#each sortedAppearances as |appearance|}}
            <tr>
              <td>{{appearance.num}}</td>
              <td>{{single-fixed appearance.entry.prelim}}</td>
              <td>{{moment-format appearance.slot.onstage 'LT'}}</td>
              <td>{{#link-to 'rounds.round.appearances.appearance' appearance}}{{appearance.entry.entity.name}}{{/link-to}}&nbsp;({{appearance.entry.representing.short_name}})</td>
              <td>
                {{sorted-songs songs=appearance.songs}}
              </td>
            </tr>
          {{else}}
            <tr>
              <td>(No entries.)</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{!-- </div>
    <div class='col-md-4'>
    </div> --}}
  {{!-- </div> --}}
</section>