<section>
  {{!-- <div class='row'> --}}
    {{outlet}}
    {{!-- <div class='col-md-8'> --}}
      <table class='table'>
        <caption><strong>Note:</strong> These are prelim (qualifying) scores.  Actual scores not available until contest is finished.</caption>
        <thead>
          <tr>
            <th class='col-md-1'>Rank</th>
            <th class='col-md-3'>Name</th>
            <th class='col-md-3'>Songs</th>
            <th class='col-md-1'>Total</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedAppearances as |appearance|}}
            <tr>
              <td>
                {{appearance.groupRank}}
              </td>
              <td>
                {{appearance.entry.group.nomen}}
              </td>
              <td>
                {{sorted-songs songs=appearance.songs}}
              </td>
              <td>
                {{sorted-tpoints songs=appearance.songs}}
              </td>
            </tr>
          {{else}}
            <tr>
              <td>(No entries.)</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{!-- </div>
    <div class='col-md-4'>
    </div> --}}
  {{!-- </div> --}}
</section>