<section>
  <h3>
    Contestant Scoring Analysis
  </h3>
  <h3>
    {{model.group.name}}
  </h3>
  <h4>
      {{model.session.convention.name}}, {{model.session.convention.start_date}}
  </h4>
</section>
<section>
  {{#each model.sortedContestants as |contestant|}}
    <h4>{{contestant.contest.award.name}}: {{contestant.rank}}</h4>
  {{/each}}
</section>

<section>
  {{x-toggle showLabels=true offLabel='Points' onLabel='Score' toggle='letsGo'}}
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th>Songs</th>
          <th class='text-right'>MUS</th>
          <th class='text-right'>PRS</th>
          <th class='text-right'>SNG</th>
          <th class='text-right'>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{#each model.performances as |performance|}}
              {{#each performance.songs as |song|}}
                {{truncate-text song.submission.chart.title limit=50}}<br>
              {{/each}}
              {{#if (not-eq model.performances.length 1)}}<em>{{performance.round.kind}}</em><br>{{/if}}
            {{/each}}
            <strong>Total</strong>
          </td>
          <td class='text-right'>
            {{#each model.performances as |performance|}}
              {{#each performance.songs as |song|}}
                {{#if isRaw}}{{song.musPoints}}{{else}}{{song.musScore}}{{/if}}<br>
              {{/each}}
              {{#if (not-eq model.performances.length 1)}}<em>{{#if isRaw}}{{performance.musPoints}}{{else}}{{performance.musScore}}{{/if}}</em><br>{{/if}}
            {{/each}}
            <strong>{{#if isRaw}}{{model.musPoints}}{{else}}{{model.musScore}}{{/if}}</strong><br>
          </td>
          <td class='text-right'>
            {{#each model.performances as |performance|}}
              {{#each performance.songs as |song|}}
                {{#if isRaw}}{{song.prsPoints}}{{else}}{{song.prsScore}}{{/if}}<br>
              {{/each}}
              {{#if (not-eq model.performances.length 1)}}<em>{{#if isRaw}}{{performance.prsPoints}}{{else}}{{performance.prsScore}}{{/if}}</em><br>{{/if}}
            {{/each}}
            <strong>{{#if isRaw}}{{model.prsPoints}}{{else}}{{model.prsScore}}{{/if}}</strong><br>
          </td>
          <td class='text-right'>
            {{#each model.performances as |performance|}}
              {{#each performance.songs as |song|}}
                {{#if isRaw}}{{song.sngPoints}}{{else}}{{song.sngScore}}{{/if}}<br>
              {{/each}}
              {{#if (not-eq model.performances.length 1)}}<em>{{#if isRaw}}{{performance.sngPoints}}{{else}}{{performance.sngScore}}{{/if}}</em><br>{{/if}}
            {{/each}}
            <strong>{{#if isRaw}}{{model.sngPoints}}{{else}}{{model.sngScore}}{{/if}}</strong><br>
          </td>
          <td class='text-right'>
            {{#each model.performances as |performance|}}
              {{#each performance.songs as |song|}}
                {{#if isRaw}}{{song.totPoints}}{{else}}{{song.totScore}}{{/if}}<br>
              {{/each}}
              {{#if (not-eq model.performances.length 1)}}<em>{{#if isRaw}}{{performance.totPoints}}{{else}}{{performance.totScore}}{{/if}}</em><br>{{/if}}
            {{/each}}
            <strong>{{#if isRaw}}{{model.totPoints}}{{else}}{{model.totScore}}{{/if}}</strong><br>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section>
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th>Songs</th>
          {{#each model.session.sortedJudges as |judge|}}
            {{#unless (eq judge.category 'Admin')}}
              <th class='text-right'>{{judge.designation}}</th>
            {{/unless}}
          {{/each}}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{#each model.performances as |performance|}}
              {{#each performance.songs as |song|}}
                {{truncate-text song.submission.chart.title limit=50}}<br>
              {{/each}}
              {{#if (not-eq model.performances.length 1)}}<em>{{performance.round.kind}}</em><br>{{/if}}
            {{/each}}
            <strong>Total</strong>
          </td>
          {{#each model.session.sortedJudges as |judge|}}
            {{#unless (eq judge.category 'Admin')}}
              <td class='text-right'>
                {{#each model.performances as |performance|}}
                  {{#each performance.songs as |song|}}
                    {{#each song.scores as |score|}}
                      {{#if (eq score.judge.id judge.id)}}{{score.points}}<br>{{/if}}
                    {{/each}}
                  {{/each}}
                {{/each}}
              </td>
            {{/unless}}
          {{/each}}
        </tr>
      </tbody>
    </table>
  </div>
</section>
<section>
  <h4>Judges</h4>
    <ul class='list-unstyled'>
      {{#each model.session.sortedJudges as |judge|}}
        <li>{{judge.designation}}: {{judge.certification.person.common_name}}</li>
      {{/each}}
    </ul>
</section>

