<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4>Appearance</h4>
      <ul class='list-inline'>
        <li>{{#bs-button action=(action 'previousItem' sortedItems model)}}Previous{{/bs-button}}</li>
        <li>{{#bs-button action=(action 'nextItem' sortedItems model)}}Next{{/bs-button}}</li>
      </ul>
    </div>
    <div class='panel-body'>
      {{!-- <div class='row'> --}}
        <h3 class='form-group'>
          {{model.performer.group.name}}
        </h3>
        <h4 class='form-group'>
          {{#if model.performer.group.chapter}}{{model.performer.group.chapter.name}}{{/if}}
        </h4>
        <h4>
          Current OA: {{model.num}}
        </h4>
        <h4>
          Scheduled: {{moment-format model.slot.onstage 'HH:mm'}}
        </h4>
        <ul class='list-inline form-group'>
          <li>{{bs-datetimepicker date=model.actual_start forceDateOutput=true format='HH:mm' placeholder='Start' updateDate=(action "saveActualStart")}}</li>
          <li>{{bs-datetimepicker date=model.actual_finish forceDateOutput=true format='HH:mm' placeholder='Finish' updateDate=(action "saveActualFinish")}}</li>
          {{#if model.performer.group.chapter}}
            <li>{{mens-edit model=model men=model.performer.men}}</li>
          {{/if}}
        </ul>
      {{!-- </div> --}}
      <div class='table-responsive'>
        <table class='table'>
          <thead>
            <tr>
              <th class="col-md-8">Songs</th>
              <th class='text-right'></th>
              <th class='text-right'>MUS</th>
              <th class='text-right'>PRS</th>
              <th class='text-right'>SNG</th>
              <th class='text-right'>TOT</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedSongs as |song|}}
              <tr>
                <td>
                  {{select-submission model=song submission=song.submission}}
                </td>
                <td>
                  {{#if song.noVariance}}<span class="label label-danger">Variance</span>{{else}}{{/if}}
                </td>
                <td class='text-right'>
                  {{song.songscore.mus_points}}
                </td>
                <td class='text-right'>
                  {{song.songscore.prs_points}}
                </td>
                <td class='text-right'>
                  {{song.songscore.sng_points}}
                </td>
                <td class='text-right'>
                  {{song.songscore.total_points}}
                </td>
              </tr>
            {{/each}}
          </tbody>
          <tfoot>
          <tr>
              <th>
                Totals
              </th>
              <th></th>
              <th class='text-right'>
                {{model.performancescore.mus_points}}
              </th>
              <th class='text-right'>
                {{model.performancescore.prs_points}}
              </th>
              <th class='text-right'>
                {{model.performancescore.sng_points}}
              </th>
              <th class='text-right'>
                {{model.performancescore.total_points}}
              </th>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class='table-responsive'>
        <table class='table'>
          <thead>
            <tr>
              <th class='col-md-9'>Assignment</th>
              <th>Variance</th>
              <th class='col-md-1'>Score</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedAssignments as |assignment|}}
              {{#unless (eq assignment.category 'Admin')}}
                <tr class={{assignment.rowClass}}>
                  <td>
                    {{assignment.kind}} {{assignment.category}}<br>
                    {{assignment.judge.person.name}}
                  </td>
                  <td>
                    {{#each assignment.scores as |score|}}
                      {{#if (eq score.song.performance.id model.id)}}
                        {{#if score.highReview}}
                          <span class="label label-danger">High</span>
                        {{else}}
                          &nbsp;
                        {{/if}}
                        {{#if score.lowReview}}
                          <span class="label label-danger">Low</span>
                        {{else}}
                          &nbsp;
                        {{/if}}
                        <br>
                      {{/if}}
                    {{/each}}
                  </td>
                  <td>
                    {{#each (sort-by 'song.num' assignment.scores) as |score|}}
                      {{#if (eq score.song.performance.id model.id)}}
                        <div class={{score.hasVarianceClass}}>
                          {{score-edit model=score points=score.points}}
                        </div>
                      {{/if}}
                    {{/each}}
                  </td>
                  <td>
                    {{#each assignment.scores as |score|}}
                      {{#if (eq score.song.performance.id model.id)}}
                        {{#bs-dropdown class='form-group'}}
                          {{#bs-dropdown-button}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                          {{#bs-dropdown-menu}}
                            {{#if (eq score.category 'Music')}}
                              <li><a href='#' {{action 'penalizeRepetition' performance}}>Penalty - Repetition</a></li>
                              <li><a href='#' {{action 'penalizeAccompaniment' performance}}>Penalty - Accompaniment</a></li>
                            {{else if (eq score.category 'Presentation')}}
                              <li><a href='#' {{action 'penalizeContent' performance}}>Penalty - Patriotic/Religious</a></li>
                            {{else if (eq score.category 'Singing')}}
                              <li><a href='#' {{action 'penalizeEnhancement' performance}}>Penalty - Sound Enhancement</a></li>
                            {{/if}}
                          {{/bs-dropdown-menu}}
                        {{/bs-dropdown}}
                        <br>
                      {{/if}}
                    {{/each}}
                  </td>
                </tr>
              {{/unless}}
            {{/each}}
          </tbody>
        </table>
      </div>
      {{#bs-button action='savePerformance'}}Save{{/bs-button}}
    </div>
  </div>
</section>