<div class='panel panel-default'>
  <div class='panel-heading'>
    <h3>
      Assignment Details: {{model.nomen}}
    </h3>
  </div>
  <div class='panel-body'>
    {{#bs-form formLayout='vertical' model=this onSubmit=(action 'saveAssignment') as |form|}}
      {{#form.element property='person' useIcons=false as |el|}}
          {{#power-select
                search=(perform searchTask)
                selected=model.person
                onchange=(action (mut model.person))
                placeholder="Enter Person Name"
                disabled=isDisabled
                allowClear=true
                as |person|
          }}
            {{person.name}}
          {{/power-select}}
      {{/form.element}}
      {{!-- {{form.element controlType="email" label="Email" placeholder="Email" property="email"}} --}}
      {{!-- {{#bs-form-group}}
        {{model.nomen}}
      {{/bs-form-group}}
      {{#bs-form action='saveAssignment'}}
        {{#bs-form-group}}
          {{assignment-status status=model.status}}
        {{/bs-form-group}}
        {{#bs-form-group}}
          {{assignment-category category=model.category}}
        {{/bs-form-group}}
        {{#bs-form-group}}
          {{assignment-kind kind=model.kind}}
        {{/bs-form-group}}
        {{bs-button defaultText="Save" type="primary" buttonType="submit"}}
        {{#bs-button onClick=(action 'cancelAssignment')}}Cancel{{/bs-button}} --}}
        {{!-- {{#bs-button onClick=(action 'deleteAssignment') class='pull-right btn-danger'}}Delete{{/bs-button}} --}}
  {{#if isEditing}}
    {{#bs-button onClick=(action 'cancelAssignment')}}Cancel{{/bs-button}}
    {{bs-button defaultText="Save" type="primary" buttonType="submit"}}
    {{!-- {{#bs-button onClick=(action 'deleteAssignment') class='pull-right btn-danger'}}Delete{{/bs-button}} --}}
  {{else}}
    {{#bs-button onClick=(action 'editAssignment')}}Edit{{/bs-button}}
      {{!-- {{#bs-button onClick=(action 'newAssignment') class='btn-primary pull-right'}}New{{/bs-button}} --}}
  {{/if}}
    {{/bs-form}}
  </div>
</div>
