<div class='panel panel-default'>
  <div class='panel-heading'>
    <h3>
      Assignment Details: {{model.nomen}}
    </h3>
  </div>
  <div class='panel-body'>
  {{#if isEditing}}
      {{#bs-form-group}}
        {{model.judge.person.name}}
      {{/bs-form-group}}
      {{#bs-form action='saveAssignment'}}
        {{#bs-form-group}}
          {{assignment-status status=model.status}}
        {{/bs-form-group}}
        {{#bs-form-group}}
          {{assignment-category category=model.category}}
        {{/bs-form-group}}
        {{#bs-form-group}}
          {{assignment-kind kind=model.kind}}
        {{/bs-form-group}}
        {{bs-button defaultText="Save" type="primary" buttonType="submit"}}
        {{#bs-button action=(action 'cancelAssignment')}}Cancel{{/bs-button}}
        {{!-- {{#bs-button action=(action 'deleteAssignment') class='pull-right btn-danger'}}Delete{{/bs-button}} --}}
      {{/bs-form}}
    {{else}}
      {{!-- <p>
        {{person-picture person=model.judge.person}}
      </p> --}}
      <p>
        <strong>Person: </strong>{{#link-to 'admin.member-manager.member' model.judge.person}}{{model.judge.person.common_name}}{{/link-to}}
      </p>
      <p>
      <strong>Status: </strong>{{model.status}}
      </p>
      <p>
      <strong>Category: </strong>{{model.category}}
      </p>
      <p>
      <strong>Kind: </strong>{{model.kind}}
      </p>
      {{#bs-button action=(action 'editAssignment')}}Edit{{/bs-button}}
      {{!-- {{#bs-button action=(action 'newAssignment') class='btn-primary pull-right'}}New{{/bs-button}} --}}
    {{/if}}
  </div>
</div>
