<section>
  <div class='card'>
    <div class='card-header'>
      <h4>
        {{model.kind}}
      </h4>
    </div>
    <div class='card-body'>
      {{#bs-nav type='tabs' as |nav|}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.conventions.convention.sessions.session.rounds.round.details"}}Details{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.conventions.convention.sessions.session.rounds.round.panelists"}}Panelists{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.conventions.convention.sessions.session.rounds.round.appearances"}}Appearances{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.conventions.convention.sessions.session.rounds.round.competitors"}}Competitors{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.conventions.convention.sessions.session.rounds.round.contests"}}Contests{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.conventions.convention.sessions.session.rounds.round.reports"}}Reports{{/nav.link-to}}
        {{/nav.item}}
      {{/bs-nav}}
      {{outlet}}
    </div>
    <div class='card-footer'>
      <ul class='list-inline'>
        {{#if (eq model.status 'New')}}
          <li class='list-inline-item'>{{round-build model=model}}</li>
        {{else if (eq model.status 'Built')}}
          <li class='list-inline-item'>{{round-start model=model}}</li>
          <li class='list-inline-item'>{{round-reset model=model}}</li>
        {{else if (eq model.status 'Started')}}
          <li class='list-inline-item'>{{round-verify model=model}}</li>
          <li class='list-inline-item'>{{round-reset model=model}}</li>
        {{else if (eq model.status 'Verified')}}
          <li class='list-inline-item'>{{round-verify model=model}}</li>
          <li class='list-inline-item'>{{round-finish model=model}}</li>
        {{/if}}
        <li class='list-inline-item float-right'>Round Status: <strong>{{model.status}}</strong></li>
      </ul>
    </div>
  </div>
</section>