<section>
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th class='col-md-6'>Title</th>
          <th>Arranger(s)</th>
          <th>BHS ID</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedRepertories as |repertory|}}
          <tr>
            <td>{{#link-to 'dashboard.quartet-manager.quartet.repertories.repertory' repertory}}{{repertory.chart.title}}{{/link-to}}</td>
            {{!-- <td>{{repertory.chart.title}}</td> --}}
            <td>{{repertory.chart.arrangers}}</td>
            <td>{{repertory.chart.bhs_id}}</td>
            <td>{{repertory.status}}</td>
          </tr>
        {{else}}
          <tr>
            <td>(No songs in repertory.)</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
{{#if model.permissions.write}}
<section>
  <ul class='list-inline'>
    <li>{{#bs-button onClick=(action 'createRepertory') type='success'}}Add BHS Chart to Repertory{{/bs-button}}</li>
    <li>{{#bs-button onClick=(action 'createChart') type='primary'}}Add Custom Chart to Repertory{{/bs-button}}</li>
  </ul>
</section>
{{/if}}
{{create-repertory openModal=openModal model=repertory}}
{{create-chartrep openModal=openChartModal model=chart repertory=repertory}}