{{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
<section>
  <div class='table-responsive'>
        <table class='table'>
          <thead>
            <tr>
              {{!-- <th class='col-md-1'>Picture</th> --}}
              <th>Name</th>
              <th>Kind</th>
              <th>Status</th>
              {{!-- <th>Actions</th> --}}
            </tr>
          </thead>
          <tbody>
            {{#each model as |chorus|}}
              <tr>
                {{!-- <td>
                  {{person-picture person=assignment.judge.person}}
                </td> --}}
                <td>
                  {{#link-to 'admin.chorus-manager.chorus' chorus}}{{chorus.name}}{{/link-to}}
                </td>
                <td>
                  {{chorus.kind}}
                </td>
                <td>
                  {{chorus.status}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        {{!-- {{add-assignment model=model}} --}}
      </div>
  </section>
  {{outlet}}
