<h3>Contest Administrator</h3>
<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'admin'}}Conventions{{/link-to}}</li>
    <li>{{#link-to 'admin.convention' model.session.convention}}{{model.session.convention.name}}{{/link-to}}</li>
    <li>{{#link-to 'admin.convention.session' model.session}}{{model.session.kind}}{{/link-to}}</li>
    <li class='active'>{{model.kind}}</li>
  </ol>
</div>
<div>
<p>
{{model.name}}
</p>
</div>
<div>
<table class='table'>
  <thead>
  <tr>
  <th>Slot</th>
  <th>Scheduled</th>
  <th>Performance</th>
  <th>Status</th>
  </tr>
  </thead>
  <tbody>
  {{#each sortedPerformances as |performance|}}
    <tr>
    <td>
      {{performance.slot}}
    </td>
    <td>
      {{moment-format performance.scheduled.lower 'LT'}}
    </td>
    <td>
      {{#link-to 'admin.convention.session.round.performance' performance}}{{performance.performer.group.name}}{{/link-to}}
    </td>
    <td>
        {{performance.status}}
    </td>
    </tr>
  {{/each}}
  </tbody>
</table>
</div>
