<h3>Contest Administrator</h3>
<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'admin'}}Conventions{{/link-to}}</li>
    <li>{{#link-to 'admin.convention' model.session.convention}}{{model.session.convention.name}}{{/link-to}}</li>
    <li>{{#link-to 'admin.convention.session' model.session}}{{model.session.kind}}{{/link-to}}</li>
    <li class='active'>{{model.kind}}</li>
  </ol>
</div>
<section class='panel panel-default'>
  <div class='panel-heading'>
    <h3>
      Round Details
    </h3>
  </div>
  <div class='panel-body'>
      {{round-status model=model status=model.status class='form-group'}}
      {{date-range-picker
          start=model.date.lower
          end=model.date.upper
          ranges=null
          serverFormat='YYYY-MM-DD[T]HH:mm:ss.SSS[Z]'
          timePicker=true
          timePicker24Hour=true
          applyAction=(action 'saveDate')
      }}
      {{!-- {{#bs-button action=(action 'promoteRound') class='form-group'}}
        Promote
      {{/bs-button}}
      {{#bs-button action=(action 'drawRound') class='form-group'}}
        Draw
      {{/bs-button}}
      {{#bs-button action=(action 'resortRound') class='form-group'}}
        Resort
      {{/bs-button}} --}}
      {{#bs-button action=(action 'startRound') class='form-group'}}
        Start
      {{/bs-button}}
      {{#bs-button action=(action 'finishRound') class='form-group'}}
        Finish
      {{/bs-button}}
  </div>
</section>
<section>
 {{#bs-accordion selected=selected collapsed=collapsed}}
     {{#bs-accordion-item value="2" title="Performances"}}
        <div class='table-responsive'>
        <table class='table'>
          <thead>
          <tr>
          <th class='col-md-1'>Slot</th>
          {{!-- <th>Rank</th> --}}
          {{!-- <th>Scheduled</th> --}}
          <th>Performance</th>
          <th>Status</th>
          <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          {{#each sortedPerformances as |performance|}}
            <tr>
            <td>
              {{performance.slot}}
            </td>
            {{!-- <td>
              {{performance.rank}}
            </td> --}}
            {{!-- <td>
              {{moment-format performance.scheduled.lower 'LT'}}
            </td> --}}
            <td>
              {{#link-to 'admin.convention.session.round.performance' performance}}{{performance.performer.group.name}}{{/link-to}}
            </td>
            <td>
                {{performance-status model=performance status=performance.status}}
            </td>
            <td>
              {{#bs-dropdown}}
                {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                {{#bs-dropdown-menu}}
                  <li><a href='#' {{action 'moveTop' performance}}>Move to Top</a></li>
                  <li><a href='#' {{action 'moveUp' performance}}>Move Up</a></li>
                  <li><a href='#' {{action 'moveDown' performance}}>Move Down</a></li>
                  <li><a href='#' {{action 'moveBottom' performance}}>Move to Bottom</a></li>
                  <li><a href='#' {{action 'scratch' performance}}>Scratch</a></li>
                  <li><a href='#' {{action 'deletePerformance' performance}}>Delete</a></li>
                {{/bs-dropdown-menu}}
              {{/bs-dropdown}}
            </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
        </div>
        {{add-performance round=model}}
     {{/bs-accordion-item}}
 {{/bs-accordion}}
</section>