<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4 class='pull-right'>
        Status: <strong>{{model.status}}</strong>
      </h4>
      <h4>
        {{model.name}}
      </h4>
    </div>
    <div class='panel-body'>
      {{#bs-nav type='tabs' as |nav|}}
        {{#nav.item}}
          {{#nav.link-to "admin.convention-manager.convention.details"}}Details{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "admin.convention-manager.convention.sessions"}}Sessions{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "admin.convention-manager.convention.assignments"}}Assignments{{/nav.link-to}}
        {{/nav.item}}
        {{!-- {{#nav.item}}
          {{#nav.link-to "admin.convention-manager.convention.actions"}}Actions{{/nav.link-to}}
        {{/nav.item}} --}}
      {{/bs-nav}}
      {{outlet}}
    </div>
    <div class='panel-footer'>
      <ul class='list-inline'>
        <li>{{#bs-button onClick=(action (mut openSessionModal) true) type='success'}}Create New Session{{/bs-button}}</li>
        <li>{{#bs-button onClick=(action (mut openAssignmentModal) true) type='success'}}Create New Assignment{{/bs-button}}</li>
      </ul>
    </div>
  </div>
</section>
<section>
  {{#bs-modal-simple
    open=openSessionModal
    onHidden=(action "clearSessionForm")
    title="Create Session"
    closeTitle="Cancel"
    submitTitle="Save"
    backdropClose=false
  }}
    {{#bs-form
      model=this
      formLayout='vertical'
      onSubmit=(action 'createSession')
      as |form|
    }}
      {{#form.element property='kindSession' useIcons=false as |el|}}
        {{#power-select
          renderInPlace=true
          options=kindSessionOptions
          selected=el.value
          onchange=(action (mut el.value))
          placeholder="Choose Session Kind"
          allowClear=true
          as |kind|
        }}
          Session Kind:{{kind}}
        {{/power-select}}
      {{/form.element}}
      {{#form.element property='num_rounds' useIcons=false as |el|}}
        {{#power-select
          renderInPlace=true
          options=numOptions
          selected=el.value
          onchange=(action (mut el.value))
          placeholder="Choose Maximum Number of Rounds"
          allowClear=true
          as |num_rounds|
        }}
          Max Rounds:{{num_rounds}}
        {{/power-select}}
      {{/form.element}}
      {{#form.element property='awards' useIcons=false as |el|}}
        Choose Contests:
        {{multiselect-checkboxes
          options=awardOptions
          labelProperty='name'
          selection=el.value
          updateSelectionValue=false
          onchange=(action (mut el.value))
        }}
      {{/form.element}}
    {{/bs-form}}
  {{/bs-modal-simple}}
</section>
<section>
  {{#bs-modal-simple
    open=openAssignmentModal
    onHidden=(action "clearAssignmentForm")
    title="Create Assignment"
    closeTitle="Cancel"
    submitTitle="Save"
    backdropClose=false
  }}
    {{#bs-form
      model=this
      formLayout='vertical'
      onSubmit=(action 'createAssignment')
      as |form|
    }}
      {{#form.element property='person' useIcons=false as |el|}}
        {{#power-select
          renderInPlace=true
          options=adminOptions
          selected=el.value
          onchange=(action (mut el.value))
          placeholder="Choose Person for Assignment"
          allowClear=true
          as |person|
        }}
          Person:{{person.common_name}}
        {{/power-select}}
      {{/form.element}}
      {{#form.element property='kindAssignment' useIcons=false as |el|}}
        {{#power-select
          renderInPlace=true
          options=kindAssignmentOptions
          selected=el.value
          onchange=(action (mut el.value))
          placeholder="Choose Session Kind"
          allowClear=true
          as |kind|
        }}
          Kind:{{kind}}
        {{/power-select}}
      {{/form.element}}
    {{/bs-form}}
  {{/bs-modal-simple}}
</section>
