<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4>
        Assignments - {{isEditing}}
      </h4>
      {{#if isEditing}}
        {{#bs-button action=(action 'cancelEdits')}}Cancel{{/bs-button}}
        {{#bs-button action=(action 'saveEdits')}}Save{{/bs-button}}
      {{else}}
        {{#bs-button action=(action 'setEditing')}}Edit{{/bs-button}}
      {{/if}}
    </div>
      <div class='panel-body'>
        <table class='table'>
          <thead>
            <tr>
              <th>Assignment</th>
              <th>Judge</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.sortedAssignments as |assignment|}}
              {{#if isEditing}}
                {{edit-assignment model=assignment}}
              {{else}}
                {{show-assignment model=assignment}}
              {{/if}}
            {{/each}}
          </tbody>
        </table>
      </div>
  </div>
</section>
