<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4 {{action 'collapseHeader'}}>
        {{#if isHeaderCollapsed}}{{fa-icon 'caret-right'}}{{else}}{{fa-icon 'caret-down'}}{{/if}}&nbsp;Entrants
      </h4>
    </div>
    {{#bs-collapse collapsed=isHeaderCollapsed}}
    <div class='panel-body'>
      <div class='table-responsive'>
        <table class='table'>
          <thead>
          <tr>
            <th{{action 'sortPerformersBy' 'group.name:asc'}}>Performer</th>
            <th{{action 'sortPerformersBy' 'status:asc'}}>Status</th>
          </tr>
          </thead>
          <tbody>
            {{#each sortedPerformers as |performer|}}
              <tr>
                <td>
                  {{#link-to 'admin.contest-manager.session.performers.performer' performer}}{{performer.group.name}}{{/link-to}}{{#if performer.representing.short_name}}&nbsp;({{performer.representing.short_name}}){{/if}}
                </td>
                <td>
                  {{performer.status}}
                </td>
                {{!-- <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li><a href='#' {{action 'deletePerformer' performer}}>Delete</a></li>
                      <li><a href='#' {{action 'penalizeEligibility' performer}}>Penalty - Eligibility</a></li>
                      <li><a href='#' {{action 'penalizeTardy' performer}}>Penalty - Tardiness</a></li>
                      <li><a href='#' {{action 'penalizeCopyright' performer}}>Penalty - Copyright</a></li>
                      <li><a href='#' {{action 'penalizeStaging' performer}}>Penalty - Staging</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td> --}}
              </tr>
            {{/each}}
          </tbody>
          <tfoot>
            <tr>
            <td>
            {{#power-select
              search=(perform searchTask)
              placeholder='Enter a Group into this Session.'
              selected=group
              onchange=(action (mut group))
              as |group|
            }}
              {{group.name}}
            {{/power-select}}
            </td>
            <td>
            {{#bs-button onClick=(action 'addPerformer') class='btn btn-primary btn-sm'}}Add{{/bs-button}}
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    {{/bs-collapse}}
  </div>
</section>
<section>
  {{outlet}}
</section>