<section>
  <div class='row'>
    <div class='col-md-6'>
      <table class='table'>
        <thead>
          <tr>
            <th class='col-md-4'>Name</th>
            <th class='col-md-1'>Delete</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedPerformers as |performer|}}
            <tr>
              <td>{{#link-to 'admin.contest-manager.session.performers.performer' performer}}{{performer.entity.name}}{{/link-to}}</td>
              <td>{{fa-icon 'times-circle' click=(action 'deletePerformer' performer) class='text-danger'}}</td>
            </tr>
          {{else}}
            <tr>
              <td>(No groups currently registered for this session.)</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <section>
        {{#bs-button onClick=(action (mut openModal) true) type='success'}}Create New Registration{{/bs-button}}
      </section>
    </div>
    <div class='col-md-6'>
      {{outlet}}
    </div>
  </div>
</section>
<section>
  {{#bs-modal-simple
    open=openModal
    onHidden=(action "clearPerformer")
    title="Create Registration"
    closeTitle="Cancel"
    submitTitle="Save"
    backdropClose=false
  }}
    {{#bs-form
      model=this
      formLayout='vertical'
      onSubmit=(action 'createPerformer')
      as |form|
    }}
      {{#form.element property='entity' useIcons=false as |el|}}
        {{#power-select
          renderInPlace=true
          options=entityOptions
          search=(perform searchTask)
          selected=el.value
          onchange=(action (mut el.value))
          placeholder="Enter Group Name"
          allowClear=true
          as |entity|
        }}
          {{entity.name}}
        {{/power-select}}
      {{/form.element}}
    {{/bs-form}}
  {{/bs-modal-simple}}
</section>
