<section>
  <div class='row'>
    <div class='col-md-4'>
      <table class='table'>
        <thead>
          <tr>
            <th class='col-md-4'>Name</th>
            <th class='col-md-1'>Delete</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedPerformers as |performer|}}
            <tr>
              <td>{{#link-to 'admin.contest-manager.session.performers.performer' performer}}{{performer.entity.name}}{{/link-to}}</td>
              <td>{{fa-icon 'times-circle' click=(action 'deletePerformer' performer) class='text-danger'}}</td>
            </tr>
          {{else}}
            <tr>
              <td>No entrants.</td>
            </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <td>
              {{#power-select
                options=entityOptions
                search=(perform searchTask)
                selected=entity
                onchange=(action (mut entity))
                placeholder="Enter Group Name"
                allowClear=true
                as |entity|
              }}
                {{entity.name}}
              {{/power-select}}
            </td>
            <td>{{fa-icon 'plus-circle' click=(action 'addPerformer') class='text-success'}}</td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class='col-md-8'>
      {{outlet}}
    </div>
  </div>
</section>
{{!-- <section>
  <div class='row'>
    <div class='col-md-3'>
  {{#bs-nav type="pills" justified=false stacked=true as |nav|}}
    {{#each sortedPerformers as |performer|}}
      {{#nav.item}}
        {{#nav.link-to 'admin.contest-manager.convention.sessions.session.performers.performer' performer}}{{performer.entity.nomen}}{{/nav.link-to}}
      {{/nav.item}}
    {{/each}}
  {{/bs-nav}}
  <section>
    <div class='row'>
      <div class='col-md-10'>
        {{#power-select
          search=(perform searchTask)
          selected=entity
          onchange=(action (mut entity))
          placeholder="Enter Group into Session"
          disabled=isDisabled
          allowClear=true
          as |entity|
        }}
          {{entity.name}}
        {{/power-select}}
      </div>
      <div class='col-md-2'>
        {{#bs-button onClick=(action 'addPerformer') type='primary' size='sm'}}Add{{/bs-button}}
      </div>
    </div>
  </section>
  </div>
  <div class='col-md-9'>
    {{outlet}}
  </div>
  </div>
</section> --}}
