<section>
  {{#if (or (eq model.status 'New')(eq model.status 'Opened'))}}
    <h4>
      The Session can only be Drawn from the "Closed" or "Verified" state.
    </h4>
  {{else}}
    <div class='row'>
      <div class='col-md-12'>
        <table class='table'>
          <thead>
            <tr>
              <th class='col-md-1'>Number</th>
              <th class='col-md-4'>Name</th>
              <th class='col-md-1'>Status</th>
              <th class='col-md-1'>Rearrange</th>
            </tr>
          </thead>
            {{#sortable-group tagName='tbody' onChange="reorderItems" as |group|}}
              {{#each sortedEntries as |item|}}
                {{#sortable-item tagName="tr" model=item group=group handle=".handle"}}
                  <td>
                    {{item.draw}}
                  </td>
                  <td>
                    {{item.group.name}}
                  </td>
                  <td>{{item.status}}</td>
                  <td>{{#unless (eq model.status 'Started')}}<span class="handle" data-item="{{item}}">&vArr;</span>{{/unless}}</td>
                {{/sortable-item}}
              {{else}}
                <tr>
                  <td>(No entries.)</td>
                </tr>
              {{/each}}
            {{/sortable-group}}
        </table>
      </div>
    </div>
  {{/if}}
</section>
