<div class='panel panel-default'>
  <div class='panel-heading'>
    <ul class='list-inline pull-right'>
      <li>{{#bs-button onClick=(action 'previousItem' model)}}Previous{{/bs-button}}</li>
      <li>{{#bs-button onClick=(action 'nextItem' model)}}Next{{/bs-button}}</li>
    </ul>
    <h4>
      {{model.entity.name}}
    </h4>
  </div>
  <div class='panel-body'>
    <div>
      {{#bs-form formLayout="vertical" model=model onSubmit=(action "savePerformer") as |form|}}
        {{#form.element property='is_evaluation' useIcons=false as |el|}}
            {{x-toggle
              showLabels=true
              onLabel='Yes Evaluation::true'
              offLabel='No Evaluation::false'
              value=el.value
              onToggle=(mut el.value)
              disabled=isDisabled
            }}
        {{/form.element}}
        {{#form.element property='is_private' useIcons=false as |el|}}
            {{x-toggle
              showLabels=true
              onLabel='Keep Scores Private::true'
              offLabel='Make Scores Public::false'
              value=el.value
              onToggle=(mut el.value)
              disabled=isDisabled
            }}
        {{/form.element}}
        {{#form.element property='tenor' useIcons=false as |el|}}
            {{#power-select
              search=(perform searchTask)
              selected=el.value
              onchange=(action (mut el.value))
              placeholder="Enter Person Name"
              disabled=isDisabled
              allowClear=true
              as |person|
            }}
              Tenor: {{person.common_name}}
            {{/power-select}}
        {{/form.element}}
        {{#form.element property='lead' useIcons=false as |el|}}
            {{#power-select
              search=(perform searchTask)
              selected=el.value
              onchange=(action (mut el.value))
              placeholder="Enter Person Name"
              disabled=isDisabled
              allowClear=true
              as |person|
            }}
              Lead: {{person.common_name}}
            {{/power-select}}
        {{/form.element}}
        {{#form.element property='baritone' useIcons=false as |el|}}
            {{#power-select
                  search=(perform searchTask)
                  selected=el.value
                  onchange=(action (mut el.value))
                  placeholder="Enter Person Name"
                  disabled=isDisabled
                  allowClear=true
                  as |person|
            }}
              Baritone: {{person.common_name}}
            {{/power-select}}
        {{/form.element}}
        {{#form.element property='bass' useIcons=false as |el|}}
            {{#power-select
                  search=(perform searchTask)
                  selected=el.value
                  onchange=(action (mut el.value))
                  placeholder="Enter Person Name"
                  disabled=isDisabled
                  allowClear=true
                  as |person|
            }}
              Bass: {{person.common_name}}
            {{/power-select}}
        {{/form.element}}
        {{#if isEditing}}
            {{#bs-button onClick=(action 'cancelPerformer')}}Cancel{{/bs-button}}
            {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
            {{#bs-button onClick=(action 'deletePerformer') class='pull-right btn-danger'}}Delete{{/bs-button}}
        {{else}}
          {{#bs-button onClick=(action 'editPerformer')}}Edit{{/bs-button}}
        {{/if}}
      {{/bs-form}}
    </div>
  </div>
</div>
<div class='table-responsive'>
  <table class='table'>
    <caption>Song Submissions</caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedSubmissions as |submission|}}
        <tr>
          <td>{{submission.title}}</td>
          <td>{{submission.status}}</td>
          <td>{{fa-icon 'times-circle' click=(action 'deleteSubmission' submission) class='text-danger'}}</td>
        </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <td>{{input type="text" value=title}}</td>
        <td></td>
        <td>{{fa-icon 'plus-circle' click=(action 'createSubmission') class='text-success'}}</td>
      </tr>
    </tfoot>
  </table>
</div>
