<div class='panel panel-default'>
  <div class='panel-heading'>
    <h4 {{action "toggleDetails"}}>
        {{#if isDetailsCollapsed}}{{fa-icon 'caret-right'}}{{else}}{{fa-icon 'caret-down'}}{{/if}}&nbsp;<span>Entrant Details: {{model.nomen}}</span>
    </h4>
  </div>
  {{#bs-collapse collapsed=isDetailsCollapsed}}
    <div class='panel-body'>
      <p>{{model.name}}</p>
      {{#if isEditing}}
        {{#bs-form action='savePerformer'}}
{{!--           {{#bs-form-group}}
            {{performer-status status=model.status}}
          {{/bs-form-group}}
 --}}          {{#bs-form-group}}
            {{select-representing representing=model.representing}}
          {{/bs-form-group}}
          {{#bs-form-group}}
            {{x-toggle showLabels=true onLabel='Eval::true' offLabel='No Eval::false' value=model.is_evaluation onToggle=(mut model.is_evaluation)}}
          {{/bs-form-group}}
            {{#if (eq model.group.kind 'Chorus')}}
              {{#bs-form-group}}
                {{select-director model=model role=model.director}}
              {{/bs-form-group}}
              {{#bs-form-group}}
                {{select-codirector model=model role=model.codirector}}
              {{/bs-form-group}}
              {{#bs-form-group}}
                {{men-edit men=model.men}}
              {{/bs-form-group}}
              {{#bs-form-group}}
                {{select-risers model=model risers=model.risers}}
              {{/bs-form-group}}
            {{else}}
              {{#bs-form-group}}
                {{select-tenor model=model role=model.tenor}}
              {{/bs-form-group}}
              {{#bs-form-group}}
                {{select-lead model=model role=model.lead}}
              {{/bs-form-group}}
              {{#bs-form-group}}
                {{select-baritone model=model role=model.baritone}}
              {{/bs-form-group}}
              {{#bs-form-group}}
                {{select-bass model=model role=model.bass}}
              {{/bs-form-group}}
            {{/if}}
            {{bs-button defaultText="Save" type="primary" buttonType="submit"}}
            {{#bs-button onClick=(action 'cancelPerformer')}}Cancel{{/bs-button}}
            {{#bs-button onClick=(action 'deletePerformer') class='pull-right btn-danger'}}Delete{{/bs-button}}
        {{/bs-form}}
      {{else}}
        <p>
          <strong>Group: </strong>
          {{#if (eq model.group.kind 'Chorus') }}
            {{#link-to 'admin.chorus-manager.chorus' model.group}}{{model.group.name}}{{/link-to}}
          {{else}}
            {{#link-to 'admin.quartet-manager.quartet' model.group}}{{model.group.name}}{{/link-to}}
          {{/if}}
        </p>
        {{!-- <p>
          <strong>Status: </strong>{{model.status}}
        </p> --}}
        <p>
          <strong>Representing: </strong>{{model.representing.name}}
        </p>
        <p>
          <strong>Evaluation: </strong>{{#if model.is_evaluation}}Yes{{else}}No{{/if}}
        </p>
        {{#if (eq model.group.kind 'Chorus')}}
          <p><strong>Director: </strong>{{model.director.person.name}}</p>
          <p><strong>Co-Director: </strong>{{model.codirector.person.name}}</p>
          <p><strong>Men on Stage: </strong>{{model.men}}</p>
          <p><strong>Risers: </strong>{{model.risers}}</p>
        {{else}}
         <p><strong>Tenor: </strong>{{model.tenor.person.name}}</p>
         <p><strong>Lead: </strong>{{model.lead.person.name}}</p>
         <p><strong>Baritone: </strong>{{model.baritone.person.name}}</p>
         <p><strong>Bass: </strong>{{model.bass.person.name}}</p>
        {{/if}}
        {{#bs-button onClick=(action 'editPerformer')}}Edit{{/bs-button}}
        {{#bs-button onClick=(action 'newPerformer') class='btn-primary pull-right'}}New{{/bs-button}}
      {{/if}}
    </div>
  {{/bs-collapse}}
</div>
<!-- <section>
  <ul class='list-inline'>
    <li>{{#bs-button onClick=(action 'previousItem' sortedItems model)}}Previous{{/bs-button}}</li>
    <li>{{#bs-button onClick=(action 'nextItem' sortedItems model)}}Next{{/bs-button}}</li>
  </ul>
</section> -->
<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4 {{action "toggleContesting"}}>
        {{#if isContestingCollapsed}}{{fa-icon 'caret-right'}}{{else}}{{fa-icon 'caret-down'}}{{/if}}&nbsp;<span>Contesting</span>
      </h4>
    </div>
    {{#bs-collapse collapsed=isContestingCollapsed}}
      <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table'>
              <thead>
                <tr>
                  <th>Award</th>
                  <th>Qualifier</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {{#each model.contestants as |contestant|}}
                  <tr>
                    <td>
                      {{!-- {{#link-to 'admin.contest-manager.session.contests.contest' contestant.contest}}{{contestant.contest.award.name}}{{/link-to}} --}}
                      {{contestant.contest.award.name}}
                    </td>
                    <td>
                      {{#if contestant.contest.is_qualifier}}{{fa-icon 'check-circle'}}{{/if}}
                    </td>
                    <td>
                      {{contestant.status}}
                    </td>
                    <td>
                      {{#bs-dropdown}}
                        {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                        {{#bs-dropdown-menu}}
                          <li><a href='#' {{action 'deleteContestant' contestant}}>Delete</a></li>
                        {{/bs-dropdown-menu}}
                      {{/bs-dropdown}}
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        {{add-contestant-contest performer=model}}
      </div>
    {{/bs-collapse}}
  </div>
</section>
<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4 {{action "toggleSubmissions"}}>
        {{#if isSubmissionsCollapsed}}{{fa-icon 'caret-right'}}{{else}}{{fa-icon 'caret-down'}}{{/if}}&nbsp;<span>Submissions</span>
      </h4>
    </div>
    {{#bs-collapse collapsed=isSubmissionsCollapsed}}
    <div class='panel-body'>
      <div class='table-responsive'>
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.submissions as |submission|}}
              <tr>
                <td>
                  {{submission.title}}
                </td>
                <td>
                  {{submission.status}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li><a href='#' {{action 'deleteSubmission' submission}}>Delete</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      {{add-submission-performer performer=model}}
    </div>
  {{/bs-collapse}}
  </div>
</section>
