{{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
<section>
  <div>
    <table class='table'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Convention</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |session|}}
          <tr>
            <td>{{#link-to 'admin.sm.session' session}}{{session.name}}{{/link-to}}</td>
            <td>{{convention.name}}</td>
            <td>{{date-range convention.date}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{!-- {{add-convention}} --}}
  </div>
</section>
