<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4>
        Appearances
      </h4>
    </div>
      <div class='panel-body'>
        <table class='table'>
          <thead>
            <tr>
              <th>OA</th>
              <th>Name</th>
              <th>Songs</th>
              <th>MUS</th>
              <th>PER</th>
              <th>SNG</th>
              <th>TOT</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedAppearances as |appearance|}}
              <tr>
                <td>
                  {{appearance.num}}
                </td>
                <td>
                  {{#link-to 'dashboard.scoring-manager.session.rounds.round.appearances.appearance' appearance}}{{appearance.entry.group.name}}{{/link-to}}<br>
                  {{appearance.entry.group.chapter.name}}
                </td>
                <td>
                  {{#each appearance.songs as |song|}}
                    {{song.submission.title}}<br>
                  {{/each}}
                </td>
                <td>
                  {{#each appearance.songs as |song|}}
                    {{song.songprivate.mus_points}}<br>
                  {{/each}}
                  {{appearance.appearanceprivate.mus_points}}
                </td>
                <td>
                  {{#each appearance.songs as |song|}}
                    {{song.songprivate.per_points}}<br>
                  {{/each}}
                  {{appearance.appearanceprivate.per_points}}
                </td>
                <td>
                  {{#each appearance.songs as |song|}}
                    {{song.songprivate.sng_points}}<br>
                  {{/each}}
                  {{appearance.appearanceprivate.sng_points}}
                </td>
                <td>
                  {{#each appearance.songs as |song|}}
                    {{song.songprivate.total_points}}<br>
                  {{/each}}
                  {{appearance.appearanceprivate.total_points}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
  </div>
</section>
<section>
  {{outlet}}
</section>
