<section class='panel panel-default'>
  <div class='panel-heading'>
    <h4>
      Venue Detail
    </h4>
  </div>
  <div class='panel-body'>
  <strong>{{model.name}}</strong>
  <br><br>
  {{#if isEditing}}
    {{#bs-form action="saveVenue"}}
      {{#bs-form-group}}
        {{bs-input value=model.location placeholder='Venue Name'}}
      {{/bs-form-group}}
      {{#bs-form-group}}
        {{bs-input value=model.city placeholder='City'}}
      {{/bs-form-group}}
      {{#bs-form-group}}
        {{bs-input value=model.state placeholder='State/Province'}}
      {{/bs-form-group}}
      {{#bs-form-group}}
        {{bs-input value=model.airport placeholder='Airport Code'}}
      {{/bs-form-group}}
      {{#bs-form-group}}
        {{#power-select
          options=timezoneChoices
          placeholder='Pick Timezone.'
          selected=model.timezone
          onchange=(action (mut model.timezone))
          allowClear=true
          as |timezone|
        }}
          {{timezone}}
        {{/power-select}}
      {{/bs-form-group}}
      {{bs-button defaultText="Save" type="primary" buttonType="submit"}}
      {{#bs-button action=(action 'cancelVenue')}}Cancel{{/bs-button}}
      {{#bs-button action=(action 'deleteVenue') class='pull-right btn-danger'}}Delete{{/bs-button}}
    {{/bs-form}}
  {{else}}
      <p>
        {{model.location}}
      </p>
      <p>
        {{model.city}}
      </p>
      <p>
        {{model.state}}
      </p>
      <p>
        {{model.airport}}
      </p>
      <p>
        {{model.timezone}}
      </p>
      {{#bs-button action=(action 'editVenue')}}Edit{{/bs-button}}
      {{#bs-button action=(action 'newVenue') class='btn-primary pull-right'}}New{{/bs-button}}
    {{/if}}
  </div>
</section>

