{{!-- <section>
  <div class='row'>
    <div class='col-md-6'>
      {{#bs-nav type="pills" justified=false stacked=true as |nav|}}
        {{#each sortedAssignments as |assignment|}}
          {{#nav.item}}
            {{#nav.link-to 'admin.contest-manager.convention.assignments.assignment' assignment}}{{assignment.person.common_name}}{{/nav.link-to}}
          {{/nav.item}}
        {{/each}}
      {{/bs-nav}}
      <section>
        {{#bs-form
          model=this
          formLayout='vertical'
          onSubmit=(action 'addAssignment')
          as |form|
        }}
          {{#form.element property='person' useIcons=false as |el|}}
            {{#power-select
              options=adminOptions
              search=(perform searchTask)
              selected=el.value
              onchange=(action (mut el.value))
              placeholder="Enter Judge by Name"
              disabled=isDisabled
              allowClear=true
              as |person|
            }}
              {{person.common_name}}
            {{/power-select}}
          {{/form.element}}
          {{#form.element property='kind' useIcons=false as |el|}}
              {{#power-select
                    options=this.kindOptions
                    selected=el.value
                    onchange=(action (mut el.value))
                    placeholder="Choose Kind"
                    disabled=isDisabled
                    allowClear=true
                    as |kind|
              }}
                Kind: {{kind}}
              {{/power-select}}
          {{/form.element}}
          {{bs-button defaultText="Save" type="primary" buttonType="submit"}}
        {{/bs-form}}
      </section>
    </div>
    <div class='col-md-6'>
      {{outlet}}
    </div>
  </div>
</section> --}}

<section>
  <div class='row'>
    <div class='col-md-4'>
      <table class='table'>
        {{!-- <caption>Awards</caption> --}}
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedAssignments as |assignment|}}
            <tr>
              <td>{{#link-to 'admin.convention-manager.convention.assignments.assignment' assignment}}{{assignment.person.common_name}}{{/link-to}}</td>
              <td>{{assignment.kind}}</td>
            </tr>
          {{else}}
            <tr>
              <td>No assignments</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class='col-md-8'>
      {{outlet}}
    </div>
  </div>
</section>
