<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
<section>
  {{#power-select
    options=kindOptions
    selected=kind
    onchange=(action (mut kind))
    placeholder="Kind Filter"
    disabled=isDisabled
    allowClear=true
    as |kind|
  }}
    Kind: {{kind-transform kind}}
  {{/power-select}}
</section>
<section>
  <div class='table-responsive'>
    <table class='table'>
      <caption>Current Offices</caption>
      <thead>
        <tr>
          <th {{action "sortBy" "name"}}>Name</th>
          <th {{action "sortBy" "kind"}}>Kind</th>
          <th {{action "sortBy" "status"}}>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedItems as |office|}}
          <tr>
            <td>{{#link-to 'dashboard.office-manager.office.details' office}}{{office.name}}{{/link-to}}</td>
            <td>{{office.kind}}</td>
            <td>{{office.status}}</td>
          </tr>
        {{else}}
          <tr>
            <td>(None)</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
{{page-numbers content=content}}
