<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'conventions'}}Conventions{{/link-to}}</li>
    <li>{{#link-to 'conventions.convention' model.session.convention}}{{model.session.convention.name}}{{/link-to}}</li>
    <li>{{#link-to 'conventions.convention.session' model.session}}{{model.session.kind}}{{/link-to}}</li>
    <li class='active'>{{model.name}}</li>
  </ol>
</div>
<div>
{{x-toggle showLabels=true offLabel='Points' onLabel='Score' toggle='letsGo' class='pull-right'}}
<table class='table'>
  <thead>
  <tr>
  <th class='text-right'>{{#if model.is_qualifier}}Qualified{{else}}Rank{{/if}}</th>
  <th>Group</th>
  {{!-- <th>Songs</th>
  <th class='text-right'>MUS</th>
  <th class='text-right'>PRS</th>
  <th class='text-right'>SNG</th>
  <th class='text-right'>Total</th> --}}
  </tr>
  </thead>
  <tbody>
  {{#each model.contestants as |contestant|}}
    <tr>
    <td class='text-right'>
      {{#if contestant.contest.is_qualifier}}{{qualified-truth contestant.rank}}{{else}}{{contestant.rank}}{{/if}}
    </td>
    <td>
      {{group-modal group=contestant.performer.group}}
    </td>
    {{!-- <td>
      {{#each contestant.performer.performances as |performance|}}
        {{#each performance.songs as |song|}}
          {{song.chart.title}}<br>
        {{/each}}
        {{#if (not-eq contestant.contest.award.num_rounds 1)}}<em>{{performance.round.kind}}</em><br>{{/if}}
      {{/each}}
      <strong>Total</strong>
    </td>
    <td class='text-right'>
      {{#each contestant.performer.performances as |performance|}}
        {{#each performance.songs as |song|}}
          {{#if isRaw}}{{song.mus_points}}{{else}}{{single-fixed song.mus_score}}{{/if}}<br>
        {{/each}}
        {{#if (not-eq contestant.contest.award.num_rounds 1)}}<em>{{#if isRaw}}{{performance.mus_points}}{{else}}{{single-fixed performance.mus_score}}{{/if}}</em><br>{{/if}}
      {{/each}}
      <strong>{{#if isRaw}}{{contestant.mus_points}}{{else}}{{single-fixed contestant.mus_score}}{{/if}}</strong><br>

    </td>
    <td class='text-right'>
      {{#each contestant.performer.performances as |performance|}}
        {{#each performance.songs as |song|}}
          {{#if isRaw}}{{song.prs_points}}{{else}}{{single-fixed song.prs_score}}{{/if}}<br>
        {{/each}}
        {{#if (not-eq contestant.contest.award.num_rounds 1)}}<em>{{#if isRaw}}{{performance.prs_points}}{{else}}{{single-fixed performance.prs_score}}{{/if}}</em><br>{{/if}}
      {{/each}}
      <strong>{{#if isRaw}}{{contestant.prs_points}}{{else}}{{single-fixed contestant.prs_score}}{{/if}}</strong><br>
    </td>
    <td class='text-right'>
      {{#each contestant.performer.performances as |performance|}}
        {{#each performance.songs as |song|}}
          {{#if isRaw}}{{song.sng_points}}{{else}}{{single-fixed song.sng_score}}{{/if}}<br>
        {{/each}}
        {{#if (not-eq contestant.contest.award.num_rounds 1)}}<em>{{#if isRaw}}{{performance.sng_points}}{{else}}{{single-fixed performance.sng_score}}{{/if}}</em><br>{{/if}}
      {{/each}}
      <strong>{{#if isRaw}}{{contestant.sng_points}}{{else}}{{single-fixed contestant.sng_score}}{{/if}}</strong><br>
    </td>
    <td class='text-right'>
      {{#each contestant.performer.performances as |performance|}}
        {{#each performance.songs as |song|}}
          {{#if isRaw}}{{song.total_points}}{{else}}{{single-fixed song.total_score}}{{/if}}<br>
        {{/each}}
        {{#if (not-eq contestant.contest.award.num_rounds 1)}}<em>{{#if isRaw}}{{performance.total_points}}{{else}}{{single-fixed performance.total_score}}{{/if}}</em><br>{{/if}}
      {{/each}}
      <strong>{{#if isRaw}}{{contestant.total_points}}{{else}}{{single-fixed contestant.total_score}}{{/if}}</strong><br>
    </td> --}}
    </tr>
  {{/each}}
  </tbody>
</table>
</div>
