<section>
  <h3>
    Contestant Scoring Analysis
  </h3>
  <h3>
    {{model.group.name}}
  </h3>
  <h4>
      {{model.session.convention.name}}, {{model.session.convention.start_date}}
  </h4>
</section>
<section>
  {{#each model.sortedContestants as |contestant|}}
    <h4>{{contestant.contest.award.name}}: {{contestant.rank}}</h4>
  {{/each}}
</section>

<section>
  {{x-toggle showLabels=true offLabel='Points' onLabel='Score' toggle='letsGo'}}
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th>Songs</th>
          <th class='text-right'>MUS</th>
          <th class='text-right'>PRS</th>
          <th class='text-right'>SNG</th>
          <th class='text-right'>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{#each model.performances as |performance|}}
              {{#each performance.songs as |song|}}
                {{truncate-text song.submission.title limit=50}}<br>
              {{/each}}
              {{#if (not-eq model.performances.length 1)}}<em>{{performance.round.kind}}</em><br>{{/if}}
            {{/each}}
            <strong>Total</strong>
          </td>
          <td class='text-right'>
            {{#each model.performances as |performance|}}
              {{#each performance.songs as |song|}}
                {{#if isRaw}}{{song.songscƒ}}{{else}}{{song.songscƒ}}{{/if}}<br>
              {{/each}}
              {{#if (not-eq model.performances.length 1)}}<em>{{#if isRaw}}{{performance.performancescore.mus_points}}{{else}}{{performance.performancescore.mus_score}}{{/if}}</em><br>{{/if}}
            {{/each}}
            <strong>{{#if isRaw}}{{model.performerscore.mus_points}}{{else}}{{model.performerscore.mus_score}}{{/if}}</strong><br>
          </td>
          <td class='text-right'>
            {{#each model.performances as |performance|}}
              {{#each performance.songs as |song|}}
                {{#if isRaw}}{{song.songscore.prs_points}}{{else}}{{song.songscore.prs_score}}{{/if}}<br>
              {{/each}}
              {{#if (not-eq model.performances.length 1)}}<em>{{#if isRaw}}{{performance.performancescore.prs_points}}{{else}}{{performance.performancescore.prs_score}}{{/if}}</em><br>{{/if}}
            {{/each}}
            <strong>{{#if isRaw}}{{model.performerscore.prs_points}}{{else}}{{model.performerscore.prs_score}}{{/if}}</strong><br>
          </td>
          <td class='text-right'>
            {{#each model.performances as |performance|}}
              {{#each performance.songs as |song|}}
                {{#if isRaw}}{{song.songscore.sng_points}}{{else}}{{song.songsccore.sng_score}}{{/if}}
              {{/each}}
              {{#if (not-eq model.performances.length 1)}}<em>{{#if isRaw}}{{performance.performancescore.sng_points}}{{else}}{{performance.performancescore.sng_score}}{{/if}}</em><br>{{/if}}
            {{/each}}
            <strong>{{#if isRaw}}{{model.performerscore.sng_points}}{{else}}{{model.performerscore.sng_score}}{{/if}}</strong><br>
          </td>
          <td class='text-right'>
            {{#each model.performances as |performance|}}
              {{#each performance.songs as |song|}}
                {{#if isRaw}}{{song.songscore.total_points}}{{else}}{{song.songscore.total_score}}{{/if}}<br>
              {{/each}}
              {{#if (not-eq model.performances.length 1)}}<em>{{#if isRaw}}{{performance.performancescore.total_points}}{{else}}{{performance.performancescore.total_score}}{{/if}}</em><br>{{/if}}
            {{/each}}
            <strong>{{#if isRaw}}{{model.performerscore.total_points}}{{else}}{{model.performerscore.total_score}}{{/if}}</strong><br>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section>
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th>Songs</th>
          {{#each model.session.sortedAssignments as |assignment|}}
            {{#unless (eq assignment.category 'Admin')}}
              <th class='text-right'>{{assignment.designation}}</th>
            {{/unless}}
          {{/each}}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{#each model.performances as |performance|}}
              {{#each performance.songs as |song|}}
                {{truncate-text song.submission.title limit=50}}<br>
              {{/each}}
              {{#if (not-eq model.performances.length 1)}}<em>{{performance.round.kind}}</em><br>{{/if}}
            {{/each}}
            <strong>Total</strong>
          </td>
          {{#each model.session.sortedAssignments as |assignment|}}
            {{#unless (eq assignment.category 'Admin')}}
              <td class='text-right'>
                {{#each model.performances as |performance|}}
                  {{#each performance.songs as |song|}}
                    {{#each song.scores as |score|}}
                      {{#if (eq score.assignment.id assignment.id)}}{{score.points}}<br>{{/if}}
                    {{/each}}
                  {{/each}}
                {{/each}}
              </td>
            {{/unless}}
          {{/each}}
        </tr>
      </tbody>
    </table>
  </div>
</section>
<section>
  <h4>Assignments</h4>
    <ul class='list-unstyled'>
      {{#each model.session.sortedAssignments as |assignment|}}
        <li>{{assignment.designation}}: {{assignment.judge.person.common_name}}</li>
      {{/each}}
    </ul>
</section>

