<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4 {{action 'collapseHeader'}}>
        {{#if isCollapsed}}{{fa-icon 'caret-right'}}{{else}}{{fa-icon 'caret-down'}}{{/if}}&nbsp;Rounds
      </h4>
      <ul class='list-inline'>
        {{#each model.sortedRounds as |round|}}
          <li>{{#link-to 'admin.scoring-manager.session.rounds.round' round}}{{round.kind}}{{/link-to}}</li>
        {{/each}}
      </ul>
    </div>
    {{#bs-collapse collapsed=isCollapsed}}
      <div class='panel-body'>
        <p>
          (No additional content.s)
        </p>
      </div>
    {{/bs-collapse}}
  </div>
</section>
<section>
  {{outlet}}
</section>
