<section>
<h3>
  Official Scoring Summary
</h3>
</section>
<section>
{{!-- {{x-toggle showLabels=true offLabel='Points' onLabel='Score' toggle='letsGo'}} --}}
<div class='table-responsive'>
<table class='table'>
  <thead>
  <tr>
  <th>Rank</th>
  <th>Group</th>
  <th>Songs</th>
  <th class='text-right'>MUS</th>
  <th class='text-right'>PRS</th>
  <th class='text-right'>SNG</th>
  <th class='text-right'>Total</th>
  {{!-- {{#each model.contests as |contest|}}
    <th class='text-right'>{{contest.award.name}}</th>
  {{/each}} --}}
  </tr>
  </thead>
  <tbody>
  {{#each sortedEntries as |entry|}}
    <tr>
    <td>
      {{entry.entryscore.rank}}
    </td>
    <td>
      {{entry.group.name}}
      {{#if (eq entry.group.kind 'Chorus')}}{{entry.group.chapter.name}}{{/if}}
    </td>
    <td>
      {{#each entry.performances as |performance|}}
        {{#each performance.songs as |song|}}
          {{truncate-text song.submission.title limit=50}}<br>
        {{/each}}
        {{#if (not-eq entry.performances.length 1)}}<em>{{performance.round.kind}}</em><br>{{/if}}
      {{/each}}
      <strong>Total</strong>
    </td>
    <td class='text-right'>
      {{#each entry.performances as |performance|}}
        {{#each performance.songs as |song|}}
          {{#if isRaw}}{{song.songscore.mus_points}}{{else}}{{single-fixed song.songscore.mus_score}}{{/if}}<br>
        {{/each}}
        {{#if (not-eq entry.performances.length 1)}}<em>{{#if isRaw}}{{performance.performancescore.mus_points}}{{else}}{{single-fixed performance.performancescore.mus_score}}{{/if}}</em><br>{{/if}}
      {{/each}}
      <strong>{{#if isRaw}}{{entry.entryscore.mus_points}}{{else}}{{single-fixed entry.entryscore.mus_score}}{{/if}}</strong><br>

    </td>
    <td class='text-right'>
      {{#each entry.performances as |performance|}}
        {{#each performance.songs as |song|}}
          {{#if isRaw}}{{song.songscore.prs_points}}{{else}}{{single-fixed song.ƒ}}{{/if}}<br>
        {{/each}}
        {{#if (not-eq entry.performances.length 1)}}<em>{{#if isRaw}}{{performance.performancescore.prs_points}}{{else}}{{single-fixed performance.performancescore.prs_score}}{{/if}}</em><br>{{/if}}
      {{/each}}
      <strong>{{#if isRaw}}{{entry.entryscore.prs_points}}{{else}}{{single-fixed entry.entryscore.prs_score}}{{/if}}</strong><br>
    </td>
    <td class='text-right'>
      {{#each entry.performances as |performance|}}
        {{#each performance.songs as |song|}}
          {{#if isRaw}}{{song.songscore.sng_points}}{{else}}{{single-fixed song.songscore.sng_score}}{{/if}}<br>
        {{/each}}
        {{#if (not-eq entry.performances.length 1)}}<em>{{#if isRaw}}{{performance.performancescore.sng_points}}{{else}}{{single-fixed performance.performancescore.sng_score}}{{/if}}</em><br>{{/if}}
      {{/each}}
      <strong>{{#if isRaw}}{{entry.entryscore.sng_points}}{{else}}{{single-fixed entry.entryscore.sng_score}}{{/if}}</strong><br>
    </td>
    <td class='text-right'>
      {{#each entry.performances as |performance|}}
        {{#each performance.songs as |song|}}
          {{#if isRaw}}{{song.songscore.total_points}}{{else}}{{single-fixed song.songscore.total_score}}{{/if}}<br>
        {{/each}}
        {{#if (not-eq entry.performances.length 1)}}<em>{{#if isRaw}}{{performance.performancescore.total_points}}{{else}}{{single-fixed performance.performancescore.total_score}}{{/if}}</em><br>{{/if}}
      {{/each}}
      <strong>{{#if isRaw}}{{entry.entryscore.total_points}}{{else}}{{single-fixed entry.entryscore.total_score}}{{/if}}</strong><br>
    </td>
    </tr>
  {{/each}}
  </tbody>
</table>
</div>
</section>
<section>
  <h4>Contests</h4>
    <ul class='list-unstyled'>
      {{#each model.contests as |contest|}}
        <li>{{contest.award.name}} Champion: {{contest.contestscore.champion}}</li>
      {{/each}}
    </ul>
</section>
<section>
  <h4>Assignments</h4>
    <ul class='list-unstyled'>
      {{#each model.assignments as |assignment|}}
        <li>{{assignment.designation}}: {{assignment.judge.person.common_name}}</li>
      {{/each}}
    </ul>
</section>
