<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <div class='row'>
        <div class='col-md-2'>
          {{#if uploadPhoto.isRunning}}
            Uploading {{fa-icon "spinner" size=5 spin=true}}
          {{else}}
            {{#if model.image}}
              <img src={{model.image}} class='img-responsive'>
            {{else}}
              <img src='/assets/no_image_available.jpg' class='img-responsive'>
            {{/if}}
          {{/if}}
          {{#if model.permissions.write}}
            {{#file-upload
              name="photos"
              accept="image/*"
              multiple=false
              disabled=false
              onfileadd=(perform uploadPhoto)
            }}
              <a id="upload-image" tabindex=0><small>Add/Replace Image</small></a>
            {{/file-upload}}
          {{/if}}
        </div>
      </div>
      <h4>
        {{model.name}}
      </h4>
    </div>
    <div class='panel-body'>
      {{#bs-nav type='tabs' as |nav|}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.group-manager.group.details"}}Details{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.group-manager.group.members"}}Members{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.group-manager.group.repertories"}}Repertory{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.group-manager.group.entries"}}Entries{{/nav.link-to}}
        {{/nav.item}}
      {{/bs-nav}}
      {{outlet}}
    </div>
    <div class='panel-footer fixed-panel-footer'>
      <ul class='list-inline'>
        {{#if model.permissions.write}}
          {{#if (eq model.status 'New')}}
            <li>{{#bs-button type='primary' disabled=model.isError onClick=(action (mut activateGroupModal) true)}}Activate Group{{/bs-button}}</li>
            <li>{{#bs-button type='danger' disabled=model.isError onClick=(action (mut deactivateGroupModal) true)}}Deactivate Group{{/bs-button}}</li>
          {{else if (eq model.status 'Active')}}
            <li>{{#bs-button type='danger' disabled=model.isError onClick=(action (mut deactivateGroupModal) true)}}Deactivate Group{{/bs-button}}</li>
          {{else if (eq model.status 'Inactive')}}
            <li>{{#bs-button type='primary' disabled=model.isError onClick=(action (mut activateGroupModal) true)}}Activate Group{{/bs-button}}</li>
          {{/if}}
        {{/if}}
        <li class='pull-right'><h4>Group Status: <strong>{{model.status}}</strong></h4></li>
      </ul>
    </div>
  </div>
</section>
<section>
  {{#bs-modal
    open=activateGroupModal
    onHidden=(pipe-action (action (mut activateGroupModal) false) (action (mut activateGroupModalError) false))
    as |modal|
  }}
    {{#modal.header}}
      <h4>Activate Group</h4>
    {{/modal.header}}
    {{#modal.body}}
      <p>
        This will activate.
      </p>
      {{#if activateGroupModalError}}
      <p class='text-danger'>
        Could not activate group.
      </p>
      {{/if}}
    {{/modal.body}}
    {{#modal.footer}}
      {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
      {{#bs-button type='primary' onClick=(perform activateGroup)}}
        {{#if activateGroup.isRunning}}
          Activating {{fa-icon "spinner" spin=true}}
        {{else}}
          Activate Group
        {{/if}}
      {{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
</section>
<section>
  {{#bs-modal
    open=deactivateGroupModal
    onHidden=(pipe-action (action (mut deactivateGroupModal) false) (action (mut deactivateGroupModalError) false))
    as |modal|
  }}
    {{#modal.header}}
      <h4>Deactivate Group</h4>
    {{/modal.header}}
    {{#modal.body}}
      <p>
        This will deactivate.
      </p>
      {{#if deactivateGroupModalError}}
      <p class='text-danger'>
        Could not deactivate group.
      </p>
      {{/if}}
    {{/modal.body}}
    {{#modal.footer}}
      {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
      {{#bs-button type='primary' onClick=(perform deactivateGroup)}}
        {{#if deactivateGroup.isRunning}}
          Deactivating {{fa-icon "spinner" spin=true}}
        {{else}}
          Deactivate Group
        {{/if}}
      {{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
</section>