<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <div class='row'>
        <div class='col-md-2'>
          {{#if model.image}}
            <img src={{model.image}} class='img-responsive'>
          {{else}}
            <img src='/assets/no_image_available.jpg' class='img-responsive'>
          {{/if}}
          {{#if model.permissions.write}}
            {{file-upload disabled=false resource='chart' target=model.id model=model}}
          {{/if}}
        </div>
      </div>
      <h4>
        {{model.name}}
      </h4>
    </div>
    <div class='panel-body'>
      {{#bs-nav type='tabs' as |nav|}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.group-manager.group.details"}}Details{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.group-manager.group.officers"}}Officers{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.group-manager.group.members"}}Members{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.group-manager.group.repertories"}}Repertory{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.group-manager.group.entries"}}Entries{{/nav.link-to}}
        {{/nav.item}}
      {{/bs-nav}}
      {{outlet}}
    </div>
    <div class='panel-footer fixed-panel-footer'>
      {{!-- {{#if model.permissions.write}}
        {{#if (eq model.status 'New')}}
          {{#bs-button type='primary' onClick=(perform openSession)}}
            {{#if openSession.isRunning}}
              Opening {{fa-icon "spinner" spin=true}}
            {{else}}
              Open Session
            {{/if}}
          {{/bs-button}}
        {{else if (eq model.status 'Opened')}}
          {{#bs-button type='primary' onClick=(perform closeSession)}}
            {{#if closeSession.isRunning}}
              Closing {{fa-icon "spinner" spin=true}}
            {{else}}
              Close Session
            {{/if}}
          {{/bs-button}}
        {{else if (eq model.status 'Closed')}}
          {{#bs-button type='primary' onClick=(perform verifySession)}}
            {{#if verifySession.isRunning}}
              Verifying {{fa-icon "spinner" spin=true}}
            {{else}}
              Verify Session
            {{/if}}
          {{/bs-button}}
        {{else}}
          &nbsp;
        {{/if}}
      {{else}}
        &nbsp;
      {{/if}} --}}
      <div class='pull-right'>
        <h4>
          Group Status: <strong>{{model.status}}</strong>
        </h4>
      </div>
    </div>
  </div>
</section>