<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
<section>
  <div class='table-responsive'>
    <table class='table'>
      <caption>Your Groups</caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Kind</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedMembers as |member|}}
          <tr>
            <td>{{#link-to 'dashboard.group-manager.group.details' member.group}}{{member.group.name}}{{/link-to}}</td>
            <td>{{member.group.kind}}</td>
            <td>{{member.group.status}}</td>
          </tr>
        {{else}}
          <tr>
            <td>(You are not listed as an Admin for any group.  Please contact support for assistance.)</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
<section>
  <div>
    <p>
      <strong>Note:</strong> If your group is not listed, please review your memberships in the <a href='https://members.barbershop.org'>BHS Member Center</a> and ensure you are an active member of your Quartet or a Chapter Leader of your chorus.
    </p>
    <p>
      <strong>Note to New Quartets:</strong> Please be aware that newly registered quartets are not “completed” (fully registered) in the Member Center until BHS headquarters has: approved the quartet name; processed the subscription fee; and finished their final validation by updating the Member Center record. <em>This process can take up to 5 business days.</em>
    </p>
  </div>
</section>
