<section class='panel panel-default'>
  <div class='panel-heading'>
    <h3>
      Judge Details
    </h3>
  </div>
  <div class='panel-body'>
  <p>
    {{#link-to 'admin.person' model.person}}{{model.person.name}}{{/link-to}}
  </p>
  <p>
  {{model.status}}
  </p>
  <p>
  {{model.category}}
  </p>
  <p>
  {{model.kind}}
  </p>
  </div>
</section>
<section>
<h4>Scores</h4>
  <ul class='list-unstyled'>

{{#each model.scores as |score|}}
<li>{{score.song.performer}}</li>
{{/each}}
  </ul>
</section>