<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'admin'}}Conventions{{/link-to}}</li>
    <li>{{#link-to 'admin.convention' model.session.convention}}{{model.session.convention.name}}{{/link-to}}</li>
    <li>{{#link-to 'admin.convention.session' model.session}}{{model.session.kind}}{{/link-to}}</li>
    <li class='active'>{{model.group.name}}</li>
  </ol>
</div>
<section class='panel panel-default'>
  <div class='panel-heading'>
    <h3>
      Judge Details
    </h3>
  </div>
  <div class='panel-body'>
  {{model.name}}
  </div>
</section>
<section>
<h4>Scores</h4>
  <ul class='list-unstyled'>

{{#each model.scores as |score|}}
<li>{{score.song.performer}}</li>
{{/each}}
  </ul>
</section>