<section>
  <div class='panel panel-default'>
    <div class='panel-heading fixed-panel-header'>
      <ul class='list-inline pull-right'>
        <li>{{#bs-button disabled=isPrevDisabled onClick=(action 'previousItem' model)}}Previous{{/bs-button}}</li>
        <li>{{#bs-button disabled=isNextDisabled onClick=(action 'nextItem' model)}}Next{{/bs-button}}</li>
      </ul>
      <h4>
        {{model.nomen}}
      </h4>
    </div>
    <div class='panel-body'>
      <section>
        {{#bs-form formLayout="vertical" model=model as |form|}}
          {{form.element
            controlType='text'
            placeholder='Title'
            disabled=isDisabled
            property='title'
            onChange=(perform autosave 'title')
          }}
          {{form.element
            controlType='text'
            placeholder='Arrangers'
            disabled=isDisabled
            property='arrangers'
            onChange=(perform autosave 'arrangers')
          }}
          {{form.element
            controlType='text'
            placeholder='Composers'
            disabled=isDisabled
            property='composers'
            onChange=(perform autosave 'composers')
          }}
          {{form.element
            controlType='text'
            placeholder='Lyricists'
            disabled=isDisabled
            property='lyricists'
            onChange=(perform autosave 'lyricists')
          }}
        {{/bs-form}}
        <div class='col-md-6'>
          {{#if uploadPhoto.isRunning}}
            Uploading {{fa-icon "spinner" size=5 spin=true}}
          {{else}}
            {{#if model.chartPre}}
              <a href={{model.image}}><img src={{model.chartPre}} class='img-responsive'></a>
            {{else}}
              <img src='/assets/no_image_available.jpg' class='img-responsive'>
            {{/if}}
          {{/if}}
          {{#if model.permissions.write}}
            {{#file-upload
              name="photos"
              accept="image/*"
              multiple=false
              disabled=false
              onfileadd=(perform uploadPhoto)
            }}
              <a id="upload-image" tabindex=0><small>Add/Replace Chart</small></a>
            {{/file-upload}}
          {{/if}}
        </div>
      </section>
    </div>
    <div class='panel-footer fixed-panel-footer'>
      <div class='pull-right'>
        <h4>
          Status: <strong>{{model.status}}</strong>
        </h4>
      </div>
      <div>
        {{#if model.permissions.write}}
          <ul class='list-inline'>
            {{#if (or (eq model.status 'New')(eq model.status 'Inactive'))}}
              <li>{{#bs-button type='primary'  disabled=model.isError onClick=(perform activateChart)}}
                {{#if activateChart.isRunning}}
                  Activating {{fa-icon "spinner" spin=true}}
                {{else}}
                  Activate Chart
                {{/if}}
              {{/bs-button}}</li>
            {{/if}}
            {{#if (or (eq model.status 'New')(eq model.status 'Active'))}}
              <li>{{#bs-button type='danger' disabled=model.isError onClick=(perform dectivateChart)}}
                {{#if dectivateChart.isRunning}}
                  Deactivating {{fa-icon "spinner" spin=true}}
                {{else}}
                  Deactivate Chart
                {{/if}}
              {{/bs-button}}</li>
            {{/if}}
          </ul>
        {{/if}}
      </div>
    </div>
  </div>
</section>