<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
<section>
  {{#power-select
    search=(perform searchChart)
    selected=chart
    onchange=(action "transitionChart")
    placeholder="Search Chart"
    allowClear=true
    as |chart|
  }}
    Title: {{chart.nomen}}  {{#if chart.arrangers}}(arr. {{chart.arrangers}}){{/if}}
  {{/power-select}}
</section>
<section>
  {{#bs-button onClick=(action (mut openModal) true) type='success'}}Create New Chart{{/bs-button}}
</section>
<section>
  <div class='table-responsive'>
    <table class='table'>
      <caption>Current Chart</caption>
      <thead>
        <tr>
          <th class='col-md-6'>Title</th>
          <th class='col-md-1'>BHS ID</th>
          <th class='col-md-5'>Arranger(s)</th>
          {{!-- <th {{action "sortBy" "gender"}}>Gender</th> --}}
          {{!-- <th {{action "sortBy" "voicing"}}>Voicing</th> --}}
          {{!-- <th {{action "sortBy" "difficulty"}}>Difficulty</th> --}}
          {{!-- <th {{action "sortBy" "tempo"}}>Tempo</th> --}}
          {{!-- <th {{action "sortBy" "is_medley"}}>Medley</th> --}}
        </tr>
      </thead>
      <tbody>
        {{#each sortedItems as |chart|}}
          <tr>
            <td>{{#link-to 'dashboard.chart-manager.chart.details' chart}}{{chart.title}}{{/link-to}}</td>
            <td>{{chart.bhs_id}}</td>
            <td>{{chart.arrangers}}</td>
            {{!-- <td>{{chart.gender}}</td> --}}
            {{!-- <td>{{chart.difficulty}}</td> --}}
            {{!-- <td>{{chart.tempo}}</td> --}}
            {{!-- <td>{{chart.is_medley}}</td> --}}
          </tr>
        {{else}}
          <tr>
            <td>(None)</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
<section>
  {{page-numbers content=content}}
</section>
<section>
  {{#bs-modal-simple
    open=openModal
    onHidden=(action "clearChart")
    title="Create Chart"
    closeTitle="Cancel"
    submitTitle="Save"
    backdropClose=false
  }}
    {{#bs-form
      formLayout="vertical"
      model=this
      onSubmit=(action "createChart")
      as |form|
    }}
      {{form.element
        controlType='text'
        placeholder='Title'
        renderInPlace=true
        property='title'
      }}
      {{form.element
        controlType='textarea'
        placeholder='Arranger(s)'
        renderInPlace=true
        property='arrangers'
      }}
      {{form.element
        controlType='textarea'
        placeholder='Composer(s)/Lyricist(s)'
        renderInPlace=true
        property='composers'
      }}
      {{form.element
        controlType='textarea'
        placeholder='Copyright Holder(s)'
        renderInPlace=true
        property='holders'
      }}
    {{/bs-form}}
  {{/bs-modal-simple}}
</section>
