<section>
  {{#bs-form
    model=model
    formLayout='vertical'
    as |form|
  }}
    {{form.element controlType='text' disabled=true placeholder='Person Name' property='name'}}
    {{form.element controlType='email' disabled=true placeholder='Email' property='email'}}
    {{#form.element property='birth_date' useIcons=false as |el|}}
      {{bs-datetimepicker
        date=el.value
        format='YYYY-MM-DD'
        updateDate=(action (mut el.value))
        placeholder="Birthdate"
        disabled=true
      }}
    {{/form.element}}
    {{#form.element property='representing' useIcons=false as |el|}}
      {{#power-select
        options=representingOptions
        selected=el.value
        searchField='name'
        onchange=(perform autosave 'parent')
        placeholder="Enter Best Choice for Home Chapter/Division/District"
        allowClear=true
        disabled=isDisabled
        as |representing|
      }}
        Home: {{representing.nomen}}
      {{/power-select}}
    {{/form.element}}
    {{form.element controlType='text' disabled=isDisabled placeholder='Significant Other' property='spouse' onChange=(perform autosave 'spouse')}}
    {{form.element controlType='text' disabled=isDisabled placeholder='Location' property='location' onChange=(perform autosave 'location')}}
    {{form.element controlType='url' disabled=isDisabled placeholder='Website' property='website' onChange=(perform autosave 'website')}}
    {{form.element controlType='phone' disabled=isDisabled placeholder='Phone' property='phone' onChange=(perform autosave 'phone')}}
    {{form.element controlType='text' disabled=isDisabled placeholder='Facebook' property='facebook' onChange=(perform autosave 'facebook')}}
    {{form.element controlType='text' disabled=isDisabled placeholder='Twitter' property='twitter' onChange=(perform autosave 'twitter')}}
    {{form.element controlType='textarea' rows=6 disabled=isDisabled placeholder='Description - Write a few words to serve as a bio, suitable for a program description.' property='description' onChange=(perform autosave 'description')}}
  {{/bs-form}}
</section>