<section>
  <div class='panel panel-default'>
    <div class='panel-heading panel-header-fixed'>
      <h4 class='pull-right'>
        Status: <strong>{{model.status}}</strong>
      </h4>
      <h4>
        {{model.nomen}}
      </h4>
    </div>
    <div class='panel-body'>
      <section>
        {{#bs-form formLayout="vertical" model=model.chart as |form|}}
          {{form.element controlType='text' placeholder='Title' disabled=true property='title'}}
          {{form.element controlType='text' placeholder='Arrangers' disabled=true property='arrangers'}}
        {{/bs-form}}
      </section>
    </div>
    <div class='panel-footer fixed-panel-footer'>
      <ul class='list-inline'>
        {{#if model.permissions.write}}
          {{#if (eq model.status 'New')}}
            <li>{{#bs-button type='primary' disabled=model.isError onClick=(action (mut activateRepertoryModal) true)}}Activate Repertory{{/bs-button}}</li>
            <li>{{#bs-button type='danger' disabled=model.isError onClick=(action (mut deactivateRepertoryModal) true)}}Deactivate Repertory{{/bs-button}}</li>
          {{else if (eq model.status 'Active')}}
            <li>{{#bs-button type='danger' disabled=model.isError onClick=(action (mut deactivateRepertoryModal) true)}}Deactivate Repertory{{/bs-button}}</li>
          {{else if (eq model.status 'Inactive')}}
            <li>{{#bs-button type='primary' disabled=model.isError onClick=(action (mut activateRepertoryModal) true)}}Activate Repertory{{/bs-button}}</li>
          {{/if}}
        {{/if}}
        <li class='pull-right'><h4>Repertory Status: <strong>{{model.status}}</strong></h4></li>
      </ul>
    </div>
  </div>
</section>
<section>
  {{#bs-modal
    open=activateRepertoryModal
    onHidden=(pipe-action (action (mut activateRepertoryModal) false) (action (mut activateRepertoryModalError) false))
    as |modal|
  }}
    {{#modal.header}}
      <h4>Activate Repertory</h4>
    {{/modal.header}}
    {{#modal.body}}
      <p>
        This will activate.
      </p>
      {{#if activateRepertoryModalError}}
      <p class='text-danger'>
        Could not activate repertory.
      </p>
      {{/if}}
    {{/modal.body}}
    {{#modal.footer}}
      {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
      {{#bs-button type='primary' onClick=(perform activateRepertory)}}
        {{#if activateRepertory.isRunning}}
          Activating {{fa-icon "spinner" spin=true}}
        {{else}}
          Activate Repertory
        {{/if}}
      {{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
</section>
<section>
  {{#bs-modal
    open=deactivateRepertoryModal
    onHidden=(pipe-action (action (mut deactivateRepertoryModal) false) (action (mut deactivateRepertoryModalError) false))
    as |modal|
  }}
    {{#modal.header}}
      <h4>Deactivate Repertory</h4>
    {{/modal.header}}
    {{#modal.body}}
      <p>
        This will deactivate.
      </p>
      {{#if deactivateRepertoryModalError}}
      <p class='text-danger'>
        Could not deactivate repertory.
      </p>
      {{/if}}
    {{/modal.body}}
    {{#modal.footer}}
      {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
      {{#bs-button type='primary' onClick=(perform deactivateRepertory)}}
        {{#if deactivateRepertory.isRunning}}
          Deactivating {{fa-icon "spinner" spin=true}}
        {{else}}
          Deactivate Repertory
        {{/if}}
      {{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
</section>