{{!-- {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}} --}}
<section>
  <div>
  {{#bs-button action=(action 'toggleEdit') class='btn btn-default' }}Edit{{/bs-button}}
  {{#bs-button action=(action 'newJudge') class='btn btn-primary' }}New{{/bs-button}}
  </div>
  <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <th class='col-md-1'>Picture</th>
            <th {{action 'sortBy' 'person.name:asc'}}>Name</th>
            <th {{action 'sortBy' 'category:asc'}}>Category</th>
            <th {{action 'sortBy' 'kind:asc'}}>Kind</th>
            <th {{action 'sortBy' 'status:asc'}}>Status</th>
            {{!-- <th>Actions</th> --}}
          </tr>
        </thead>
        <tbody>
          {{#each sortedJudges as |judge|}}
              {{#if isEditing}}
                {{judge-edit judge=judge}}
              {{else}}
                {{judge-item judge=judge}}
              {{/if}}
          {{/each}}
        </tbody>
      </table>
    </div>
</section>
<section>
    {{#if (or currentUser.user.person.member.is_cj currentUser.user.is_staff)}}
      <div>
        {{add-judge}}
      </div>
    {{/if}}
</section>
{{outlet}}
