{{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
<section>
  <div>
  {{#link-to 'admin.judge-manager.new'  class='btn btn-primary' }}New{{/link-to}}
  </div>
  <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <th class='col-md-1'>Picture</th>
            <th {{action 'sortBy' 'person.name:asc'}}>Name</th>
            <th {{action 'sortBy' 'category:asc'}}>Category</th>
            <th {{action 'sortBy' 'kind:asc'}}>Kind</th>
            <th {{action 'sortBy' 'status:asc'}}>Status</th>
            {{!-- <th>Actions</th> --}}
          </tr>
        </thead>
        <tbody>
          {{#each sortedJudges as |judge|}}
            <tr>
              {{!-- <td>
                {{person-picture person=assignment.judge.person}}
              </td> --}}
              <td>
                {{model-picture picture=judge.person.picture}}
              </td>
              <td>
                {{#link-to 'admin.judge-manager.judge' judge}}{{judge.person.common_name}}{{/link-to}}
              </td>
              <td>
                {{judge.category}}
              </td>
              <td>
                {{judge.kind}}
              </td>
              <td>
                {{judge.status}}
              </td>
              {{!-- <td>
                {{#bs-dropdown}}
                  {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                  {{#bs-dropdown-menu}}
                    <li><a href='#' {{action 'scratchAssignment' assignment}}>Scratch</a></li>
                    <li><a href='#' {{action 'deleteAssignment' assignment}}>Delete</a></li>
                  {{/bs-dropdown-menu}}
                {{/bs-dropdown}}
              </td> --}}
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
</section>
<section>
    {{#if (or currentUser.user.person.member.is_cj currentUser.user.is_staff)}}
      <div>
        {{add-judge}}
      </div>
    {{/if}}
</section>
{{outlet}}
