<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      {{model-picture picture=model.person.picture}}
      <h4>
        {{model.name}}
      </h4>
    </div>
    <div class='panel-body'>
      {{#bs-form formLayout='vertical' model=model}}
        {{#bs-form-group}}
          {{#power-select
                search=(action "searchPerson")
                selected=model.person
                onchange=(action (mut model.person))
                placeholder="Enter Person Name"
                class='assignment-width'
                disabled=isDisabled
                allowClear=true
                as |person|
          }}
            {{person.name}}
          {{/power-select}}
        {{/bs-form-group}}
        {{#bs-form-group}}
          {{#power-select
            options=statusOptions
            placeholder='Status'
            disabled=isDisabled
            allowClear=true
            selected=model.status
            onchange=(action (mut model.status))
            as |status|
          }}
            {{status}}
          {{/power-select}}
        {{/bs-form-group}}
        {{#bs-form-group}}
          {{#power-select
            options=kindOptions
            placeholder='Kind'
            disabled=isDisabled
            allowClear=true
            selected=model.kind
            onchange=(action (mut model.kind))
            as |kind|
          }}
            {{kind}}
          {{/power-select}}
        {{/bs-form-group}}
        {{#bs-form-group}}
          {{#power-select
            options=categoryOptions
            placeholder='Category'
            disabled=isDisabled
            allowClear=true
            selected=model.category
            onchange=(action (mut model.category))
            as |kind|
          }}
            {{kind}}
          {{/power-select}}
        {{/bs-form-group}}
        {{#bs-form-group}}
          {{bootstrap-datepicker disabled=isDisabled placeholder="Start Date" class="form-control" value=model.start_date format='yyyy-mm-dd'}}
        {{/bs-form-group}}
        {{#bs-form-group}}
        {{bootstrap-datepicker disabled=isDisabled placeholder="End Date" class="form-control" value=model.end_date format='yyyy-mm-dd'}}
        {{/bs-form-group}}
        {{!-- <h6>
        Assignments
        </h6>
        <table class='table table-hover'>
          <thead>
            <tr>
              <th>Session</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.assignments as |assignment|}}
              <tr>
                <td>
                  {{assignment.name}}
                </td>
                <td>
                  {{assignment.status}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li><a href='#' {{action 'scratchAssignment' assignment}}>Scratch</a></li>
                      <li><a href='#' {{action 'deleteAssignment' assignment}}>Delete</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table> --}}
      {{/bs-form}}
    </div>
    {{#if model.permissions.write}}
      <div class='panel-footer'>
        {{#bs-form action='saveJudge'}}
          {{#if isEditing}}
              {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
              {{#bs-button onClick=(action 'cancelJudge')}}Cancel{{/bs-button}}
              {{#bs-button onClick=(action 'deleteJudge') class='pull-right btn-danger'}}Delete{{/bs-button}}
          {{else}}
            {{#bs-button onClick=(action 'editJudge')}}Edit{{/bs-button}}
          {{/if}}
        {{/bs-form}}
      </div>
    {{/if}}
  </div>
</section>
