{{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
<section>
  <div class='panel panel-default'>
    {{!-- <div class='panel-heading'>
      {{model-picture picture=model.person.picture}}
      <h4>
        {{model.name}}
      </h4>
    </div> --}}
    <div class='panel-body'>
      {{#bs-form formLayout='vertical'}}
        {{#bs-form-group}}
          {{#power-select
                search=(action "searchPerson")
                selected=person
                onchange=(action (mut person))
                placeholder="Enter Person Name"
                class='assignment-width'
                disabled=isDisabled
                allowClear=true
                as |person|
          }}
            {{person.name}}
          {{/power-select}}
        {{/bs-form-group}}
        {{#bs-form-group}}
          {{#power-select
            options=statusOptions
            placeholder='Status'
            disabled=isDisabled
            allowClear=true
            selected=status
            onchange=(action (mut status))
            as |status|
          }}
            {{status}}
          {{/power-select}}
        {{/bs-form-group}}
        {{#bs-form-group}}
          {{#power-select
            options=kindOptions
            placeholder='Kind'
            disabled=isDisabled
            allowClear=true
            selected=kind
            onchange=(action (mut kind))
            as |kind|
          }}
            {{kind}}
          {{/power-select}}
        {{/bs-form-group}}
        {{#bs-form-group}}
          {{#power-select
            options=categoryOptions
            placeholder='Category'
            disabled=isDisabled
            allowClear=true
            selected=category
            onchange=(action (mut category))
            as |kind|
          }}
            {{kind}}
          {{/power-select}}
        {{/bs-form-group}}
        {{#bs-form-group}}
          {{bootstrap-datepicker disabled=isDisabled placeholder="Start Date" class="form-control" value=start_date format='yyyy-mm-dd'}}
        {{/bs-form-group}}
        {{#bs-form-group}}
        {{bootstrap-datepicker disabled=isDisabled placeholder="End Date" class="form-control" value=end_date format='yyyy-mm-dd'}}
        {{/bs-form-group}}
      {{/bs-form}}
    </div>
    <div class='panel-footer'>
      {{#bs-form}}
        {{#bs-button onClick=(action 'saveJudge') type="primary" }}Save{{/bs-button}}
        {{#bs-button onClick=(action 'cancelJudge') type="default"}}Cancel{{/bs-button}}
      {{/bs-form}}
    </div>
  </div>
</section>
