{{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
<section>
  <div class='table-responsive'>
    <table class='table'>
      <caption>Your Choruses</caption>
      <thead>
        <tr>
          <th class='col-md-1'>Picture</th>
          <th>Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |chorus|}}
          <tr>
            <td>
              {{model-picture picture=chorus.picture}}
            </td>
            <td>
              {{#link-to 'admin.chorus-manager.chorus' chorus}}{{chorus.name}}{{/link-to}}
            </td>
            <td>
              {{chorus.status}}
            </td>
          </tr>
        {{else}}
          <tr>
            <td>(None)</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
<section>
  {{outlet}}
</section>
