{{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
<section>
  <div class='table-responsive'>
    <table class='table'>
      <caption>Current Assignments</caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Convention</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |convention|}}
          <tr>
            <td>{{#link-to 'admin.contest-manager.convention' convention}}{{convention.nomen}}{{/link-to}}</td>
            <td>{{convention.name}}</td>
            <td>{{moment-format convention.start_date 'LL'}}</td>
            <td>{{convention.status}}</td>
          </tr>
        {{else}}
          <tr>
            <td>(No current assignments.)</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
{{outlet}}
