{{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
<section>
  <div class='table-responsive'>
    <table class='table'>
      <caption>Current Conventions</caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Venue</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |convention|}}
          <tr>
            <td>{{#link-to 'admin.convention-manager.convention' convention}}{{convention.nomen}}{{/link-to}}</td>
            <td>{{convention.venue.nomen}}</td>
            <td>{{moment-format convention.start_date 'LL'}}</td>
            <td>{{convention.status}}</td>
          </tr>
        {{else}}
          <tr>
            <td>No current conventions</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
<section>
  {{outlet}}
</section>
