{{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
<section>
  <div class='table-responsive'>
    <table class='table'>
      <caption>Current Conventions</caption>
      <thead>
        <tr>
          <th {{action 'sortBy' 'start_date'}}>Start</th>
          <th>End</th>
          <th {{action 'sortBy' 'name'}}>Name</th>
          <th>Location</th>
          <th>Panel</th>
          <th>Risers</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedConventions as |convention|}}
          <tr>
            <td>{{moment-format convention.start_date 'LL'}}</td>
            <td>{{moment-format convention.end_date 'LL'}}</td>
            <td>{{#link-to 'admin.convention-manager.convention' convention}}{{convention.name}}{{/link-to}}</td>
            <td>{{convention.location}}</td>
            <td>{{convention.panel}}</td>
            <td>{{convention.risers}}</td>
            <td>{{convention.status}}</td>
          </tr>
        {{else}}
          <tr>
            <td>No current conventions</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
<section>
  {{outlet}}
</section>
