<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
<section>
<p>Welcome {{currentUser.user.person.common_name}}</p>
<div class='row'>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'admin.convention-manager' tagName='button' class='btn btn-default launcher' disabled=false}}
        {{fa-icon 'road' size=5}}<br>
        Convention Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'admin.session-manager' tagName='button' class='btn btn-default launcher' disabled=false}}
        {{fa-icon 'microphone' size=5}}<br>
        Session Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'admin.scoring-manager' tagName='button' class='btn btn-default launcher' disabled=true}}
        {{fa-icon 'calculator' size=5}}<br>
        Scoring Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'admin.quartet-manager' tagName='button' class='btn btn-default launcher' disabled=false}}
        {{fa-icon 'users' size=5}}<br>
        Quartet Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'admin.chorus-manager' tagName='button' class='btn btn-default launcher' disabled=false}}
        {{fa-icon 'cubes' size=5}}<br>
        Chorus Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'admin.award-manager' tagName='button' class='btn btn-default launcher' disabled=false}}
        {{fa-icon 'trophy' size=5}}<br>
        Award Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'admin.organization-manager' tagName='button' class='btn btn-default launcher' disabled=false}}
        {{fa-icon 'bank' size=5}}<br>
        Organization Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'admin.person-manager' tagName='button' class='btn btn-default launcher' disabled=false}}
        {{fa-icon 'user' size=5}}<br>
        Person Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'admin.judge-manager'  tagName='button' class='btn btn-default launcher' disabled=false}}
        {{fa-icon 'balance-scale' size=5}}<br>
        Judge Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'admin.catalog-manager' tagName='button' class='btn btn-default launcher' disabled=false}}
        {{fa-icon 'music' size=5}}<br>
        Catalog Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'admin.person-manager' tagName='button' class='btn btn-default launcher' disabled=true}}
        {{fa-icon 'calendar' size=5}}<br>
        Schedule Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'admin.office-manager' tagName='button' class='btn btn-default launcher' disabled=false}}
        {{fa-icon 'codepen' size=5}}<br>
        Office Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'admin.venue-manager' tagName='button' class='btn btn-default launcher' disabled=true}}
        {{fa-icon 'building' size=5}}<br>
        Venue Manager
      {{/link-to}}
    </p>
  </div>
</section>
{{outlet}}
