{{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
<section>
<div class='row'>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'admin.contest-manager'}}
        {{fa-icon 'microphone' size=5}}<br>
        Contest Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'admin.sm'}}
        {{fa-icon 'trophy' size=5}}<br>
        Scoring Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'admin.judge-manager'}}
        {{fa-icon 'balance-scale' size=5}}<br>
        Judge Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'admin.qm'}}
        {{fa-icon 'users' size=5}}<br>
        Quartet Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'admin.hm'}}
        {{fa-icon 'cubes' size=5}}<br>
        Chorus Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'admin.dm'}}
        {{fa-icon 'bank' size=5}}<br>
        District Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{#link-to 'admin.mm'}}
        {{fa-icon 'user' size=5}}<br>
        Member Manager
      {{/link-to}}
    </p>
    <p class='col-md-3 text-center spacing'>
      {{fa-icon 'music' size=5}}<br>
      Catalog Manager
    </p>
    <p class='col-md-3 text-center spacing'>
      {{fa-icon 'calendar' size=5}}<br>
      Schedule Manager
    </p>
  </div>
</section>