
{{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}

<section>
  {{#power-select
        search=(action "searchSession")
        selected=session
        onchange=(action "transitionSession")
        placeholder="Enter Contest Name"
        allowClear=true
        as |session|
  }}
    {{session.nomen}}
  {{/power-select}}
</section>

{{#if model}}
  <section>
    <div>
      <table class='table'>
        <caption>Current Assignments</caption>
        <thead>
          <tr>
            <th {{action 'sortBy' 'nomen:asc'}}>Nomen</th>
            <th {{action 'sortBy' 'status:asc'}}>Status</th>
            <th {{action 'sortBy' 'convention.name:asc'}}>Convention</th>
            <th {{action 'sortBy' 'convention.start_date:asc'}}>Date</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedSessions as |session|}}
            <tr>
              <td>{{#link-to 'admin.scoring-manager.session' session}}{{session.nomen}}{{/link-to}}</td>
              <td>{{session.status}}</td>
              <td>{{session.convention.name}}</td>
              <td>{{moment-format session.convention.start_date 'LL'}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
{{else}}
  <h3>
    (No current assignments)
  </h3>
{{/if}}


<section>
  {{outlet}}
</section>

