<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'public.conventions'}}Conventions{{/link-to}}</li>
    <li class='active'>{{model.name}}</li>
  </ol>
</div>
<section>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <ul class='list-inline'>
          <li {{action 'collapseHeader'}}><h4>{{model.name}}</h4></li>
          {{#each model.sessions as |session|}}
            <li>{{#link-to 'public.convention.session' session}}{{session.kind}}{{/link-to}}</li>
          {{/each}}
        </ul>
      </div>
  {{#bs-collapse collapsed=isHeaderCollapsed}}
      <div class='panel-body'>
        <p>
          <strong>Name</strong>: {{model.name}}
        </p>
        <p>
          <strong>Venue</strong>: {{model.venue.name}}
        </p>
        <p>
          <strong>Dates</strong>: {{date-range model.date}}
        </p>
      </div>
  {{/bs-collapse}}
    </div>
</section>
<section>
  <p>
    {{outlet}}
  </p>
</section>
