<div class='row'>
<div class='col-md-6'>
{{#if model.picture}}
    <img src='{{model.picture}}' class='img-responsive img-thumbnail'>
{{else}}
    <img src='http://s3-us-west-1.amazonaws.com/barberscore/no_image_available.jpg' class='img-responsive img-thumbnail'>
{{/if}}
</div>
<div class='col-md-6'>
<h4>
  {{model.common_name}}
</h4>
<p>
  {{model.location}}
</p>
{{#if model.facebook}}
<p>
  <a href='{{model.facebook}}'>Facebook</a>
</p>
{{/if}}
{{#if model.twitter}}
<p>
  <a href='https://twitter.com/{{model.twitter}}'>{{model.twitter}}</a>
</p>
{{/if}}
{{#if model.email}}
<p>
  <a href='mailto:{{model.email}}'>{{model.email}}</a>
</p>
{{/if}}
</div>
</div>
