<div class='col-md-10'>
  <section>
    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <th class='col-md-1'>Admin</th>
            <th class='col-md-6'>Person</th>
            <th class='col-md-2'>Part</th>
            <th class='col-md-1'>Action</th>
            {{!-- <th>Start</th> --}}
            {{!-- <th>End</th> --}}
            {{!-- <th>Status</th> --}}
          </tr>
        </thead>
        <tbody>
          {{#each sortedMembers as |member|}}
            <tr>
              {{#if member.isLoading}}
                <td colspan=4>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
              {{else}}
                <td>{{boolean-checkmark value=member.isAdmin}}</td>
                <td>
                  {{#if member.person.isLoading}}
                    <td colspan=1>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
                  {{else}}
                    {{member.person.nomen}}
                  {{/if}}
                </td>
                <td>
                  {{#if member.part}}{{member.part}}{{else}}(Unknown){{/if}}
                </td>
                <td>
                  {{toggle-admin model=member}}
                </td>
                {{!-- <td>{{moment-format member.start_date 'LL'}}</td> --}}
                {{!-- <td>{{moment-format member.end_date 'LL'}}</td> --}}

                {{!-- <td>{{member.status}}</td> --}}
              {{/if}}
            </tr>
          {{else}}
            <tr>
              <td colspan=3>(No members.)</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
  <section>
    <p>
      <strong>Note:</strong>  You can not directly remove yourself as a Barberscore admin for your group. If you wish to do so, ask another group admin to login to Barberscore and remove you as admin.
    </p>
    <p>
      <strong>Important:</strong>  This information comes from the BHS Member Center which is updated into Barberscore every 10 minutes.  To make changes to your group's membership, you must do so there.  Only currently Active members (as defined by the BHS Member Center) are shown. If you enounter any issues or have questions, please email customerservice@barbershop.org or call 800.876.7464.
    </p>
  </section>
</div>
