<div class='col-md-10'>
  <section>
    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <th class='col-md-6'>Person</th>
            {{#if (eq model.group.kind 'Quartet')}}
              <th class='col-md-2'>Part</th>
            {{/if}}
            {{!-- <th class='col-md-1'>Action</th> --}}
            {{!-- <th>Start</th> --}}
            {{!-- <th>End</th> --}}
            {{!-- <th>Status</th> --}}
          </tr>
        </thead>
        <tbody>
          {{#each sortedMembers as |member|}}
            <tr>
              {{#if member.isLoading}}
                <td colspan=4>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
              {{else}}
                <td>
                  {{#if member.person.isLoading}}
                    <td colspan=1>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
                  {{else}}
                    {{member.person.nomen}}
                  {{/if}}
                </td>
                  {{#if (eq model.group.kind 'Quartet')}}
                    {{#if member.part}}{{member.part}}{{else}}(Unknown){{/if}}
                  {{/if}}
                <td>
                </td>
                {{!-- <td>
                  {{toggle-admin model=member}}
                </td> --}}
                {{!-- <td>{{moment-format member.start_date 'LL'}}</td> --}}
                {{!-- <td>{{moment-format member.end_date 'LL'}}</td> --}}

                {{!-- <td>{{member.status}}</td> --}}
              {{/if}}
            </tr>
          {{else}}
            <tr>
              <td colspan=3>(No members.)</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
  <section>
    <p>
        <strong>Note:</strong>  If you need to make changes to your membership please do so through the new <a href='https://members.barbershop.org'>Member Center</a>, which will update here generally within 24 hours.
    </p>
  </section>
</div>
