<section>
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th>Person</th>
          <th>Part</th>
          {{!-- <th>Start</th> --}}
          {{!-- <th>End</th> --}}
          <th>Admin</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedMembers as |member|}}
          <tr>
            {{#if member.isLoading}}
              <td colspan=3>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
            {{else}}
              <td>
                {{#if member.person.isLoading}}
                  <td colspan=1>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
                {{else}}
                  {{#link-to 'dashboard.group-manager.group.members.member' member}}{{member.person.nomen}}{{/link-to}}
                {{/if}}
              </td>
              <td>
                {{#if member.part}}{{member.part}}{{else}}(Unknown){{/if}}
              </td>
              {{!-- <td>{{moment-format member.start_date 'LL'}}</td> --}}
              {{!-- <td>{{moment-format member.end_date 'LL'}}</td> --}}
              <td>{{boolean-checkmark value=member.isAdmin}}</td>
              <td>{{member.status}}</td>
            {{/if}}
          </tr>
        {{else}}
          <tr>
            <td colspan=3>(No members.)</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
{{#if model.permissions.write}}
  <section>
    <p>{{#bs-button onClick=(action 'createMember') disabled=isDisabled type='success'}}Add Member{{/bs-button}}</p>
    <p>
      <strong>Note:</strong>  Members are primarily handled by BHS.
    </p>
  </section>
{{/if}}