<div class='col-md-9'>
<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4>
        {{model.nomen}}
      </h4>
    </div>
    <div class='panel-body'>
      <div>
        {{#bs-form
          formLayout="vertical"
          model=model
          as |form|
        }}
          {{#form.element property='person' useIcons=false as |el|}}
            {{#power-select
              options=null
              selected=el.value
              disabled=true
              onchange=(action (mut el.value))
              as |person|
            }}
              Person: {{person.commonName}}
            {{/power-select}}
          {{/form.element}}
          {{#form.element property='part' useIcons=false as |el|}}
            {{#power-select
              options=model.partOptions
              selected=el.value
              disabled=true
              onchange=(perform autosave 'part')
              placeholder="Enter Primary Part"
              disabled=isDisabled
              allowClear=true
              as |part|
            }}
              Part: {{part}}
            {{/power-select}}
          {{/form.element}}
            {{!-- <div class='row'>
              <div class='col-md-6'>
                {{#form.element property='startDate' useIcons=false as |el|}}
                  {{bs-datetimepicker
                    date=el.value
                    format='YYYY-MM-DD'
                    updateDate=(perform autosave 'startDate')
                    placeholder="Member Start Date"
                    disabled=isDisabled
                  }}
                {{/form.element}}
              </div>
              <div class='col-md-6'>
                {{#form.element property='endDate' useIcons=false as |el|}}
                  {{bs-datetimepicker
                    date=el.value
                    format='YYYY-MM-DD'
                    updateDate=(perform autosave 'endDate')
                    placeholder="Member End Date"
                    clearBtn=true
                    disabled=isDisabled
                  }}
                {{/form.element}}
              </div>
            </div> --}}
        {{/bs-form}}
      </div>
    </div>
    <div class='panel-footer fixed-panel-footer'>
      <ul class='list-inline'>
        {{#if model.permissions.write}}
          {{#if (eq model.status 'New')}}
            <li>{{#bs-button type='primary' disabled=model.isError onClick=(action (mut activateMemberModal) true)}}Activate Member{{/bs-button}}</li>
            <li>{{#bs-button type='danger' disabled=model.isError onClick=(action (mut deactivateMemberModal) true)}}Deactivate Member{{/bs-button}}</li>
          {{else if (eq model.status 'Active')}}
            <li>{{#bs-button type='danger' disabled=model.isError onClick=(action (mut deactivateMemberModal) true)}}Deactivate Member{{/bs-button}}</li>
          {{else if (eq model.status 'Inactive')}}
            <li>{{#bs-button type='primary' disabled=model.isError onClick=(action (mut activateMemberModal) true)}}Activate Member{{/bs-button}}</li>
          {{else if (eq model.status 'Provisional')}}
            <li>{{#bs-button type='danger' disabled=model.isError onClick=(action (mut deleteMemberModal) true)}}Delete  Provisional{{/bs-button}}</li>
          {{/if}}
        {{/if}}
        <li class='pull-right'><h4>Member Status: <strong>{{model.status}}</strong></h4></li>
      </ul>
    </div>
  </div>
</section>
</div>
<section>
  {{#bs-modal
    open=activateMemberModal
    onHidden=(pipe-action (action (mut activateMemberModal) false) (action (mut activateMemberModalError) false))
    as |modal|
  }}
    {{#modal.header}}
      <h4>Activate Member</h4>
    {{/modal.header}}
    {{#modal.body}}
      <p>
        This will activate.
      </p>
      {{#if activateMemberModalError}}
      <p class='text-danger'>
        Could not activate member.
      </p>
      {{/if}}
    {{/modal.body}}
    {{#modal.footer}}
      {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
      {{#bs-button type='primary' onClick=(perform activateMember)}}
        {{#if activateMember.isRunning}}
          Activating {{fa-icon "spinner" spin=true}}
        {{else}}
          Activate Member
        {{/if}}
      {{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
</section>
<section>
  {{#bs-modal
    open=deactivateMemberModal
    onHidden=(pipe-action (action (mut deactivateMemberModal) false) (action (mut deactivateMemberModalError) false))
    as |modal|
  }}
    {{#modal.header}}
      <h4>Deactivate Member</h4>
    {{/modal.header}}
    {{#modal.body}}
      <p>
        This will deactivate.
      </p>
      {{#if deactivateMemberModalError}}
      <p class='text-danger'>
        Could not deactivate member.
      </p>
      {{/if}}
    {{/modal.body}}
    {{#modal.footer}}
      {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
      {{#bs-button type='primary' onClick=(perform deactivateMember)}}
        {{#if deactivateMember.isRunning}}
          Deactivating {{fa-icon "spinner" spin=true}}
        {{else}}
          Deactivate Member
        {{/if}}
      {{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
</section>
<section>
  {{#bs-modal
    open=deleteMemberModal
    onHidden=(pipe-action (action (mut deleteMemberModal) false) (action (mut deleteMemberModalError) false))
    as |modal|
  }}
    {{#modal.header}}
      <h4>Deactivate Member</h4>
    {{/modal.header}}
    {{#modal.body}}
      <p>
        This will delete.
      </p>
      {{#if deleteMemberModalError}}
      <p class='text-danger'>
        Could not delete member.
      </p>
      {{/if}}
    {{/modal.body}}
    {{#modal.footer}}
      {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
      {{#bs-button type='primary' onClick=(perform deleteMember)}}
        {{#if deleteMember.isRunning}}
          Deactivating {{fa-icon "spinner" spin=true}}
        {{else}}
          Deactivate Member
        {{/if}}
      {{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
</section>