<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'conventions'}}Conventions{{/link-to}}</li>
    <li>{{#link-to 'conventions.convention' model.round.session.convention}}{{model.round.session.convention.name}}{{/link-to}}</li>
    <li>{{#link-to 'conventions.convention.session' model.round.session}}{{model.round.session.kind}}{{/link-to}}</li>
    <li>{{#link-to 'conventions.convention.session.round' model.round}}{{model.round.kind}}{{/link-to}}</li>
    <li class='active'>Performance {{model.slot}}</li>
  </ol>
</div>
<div>
<h4>
{{model.performer.group.name}}
</h4>
</div>
<div>
<ul class='list-unstyled'>
{{#each model.songs as |song|}}
  <li> {{song.chart.title}}</li>
{{/each}}
</ul>
</div>
