<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'admin'}}Conventions{{/link-to}}</li>
    <li class='active'>{{model.name}}</li>
  </ol>
</div>


<section class='panel panel-default'>
  <div class='panel-heading'>
    <h4>
      Convention Detail
    </h4>
  </div>
  <div class='panel-body'>
    {{#if isEditing}}
      {{#bs-form action='saveConvention'}}
        {{!-- {{#bs-form-group}}
          {{select-convention-kind kind=model.kind}}
        {{/bs-form-group}} --}}
        {{#bs-form-group}}
          {{select-drcj person=model.drcj}}
        {{/bs-form-group}}
        {{#bs-form-group}}
          {{select-venue venue=model.venue}}
        {{/bs-form-group}}
        {{#bs-form-group}}
          {{select-season season=model.season}}
        {{/bs-form-group}}
        {{#bs-form-group}}
          {{#power-select-multiple
            options=riserChoices
            selected=model.risers
            placeholder="Risers."
            onchange=(action (mut model.risers))
            as |risers|
          }}
            {{risers}}
          {{/power-select-multiple}}
        {{/bs-form-group}}
        {{#bs-form-group}}
          {{date-range-picker
              start=model.date.lower
              end=model.date.upper
              autoUpdateInput=false
              ranges=null
              serverFormat='YYYY-MM-DD[T]HH:mm:ss.SSS[Z]'
              timePicker=true
              timePicker24Hour=true
              applyAction=(action 'updateDate')
          }}
        {{/bs-form-group}}
          {{bs-button defaultText="Save" type="primary" buttonType="submit"}}
          {{#bs-button action=(action 'cancelConvention')}}Cancel{{/bs-button}}
          {{#bs-button action=(action 'deleteConvention') class='pull-right btn-danger'}}Delete{{/bs-button}}
      {{/bs-form}}
    {{else}}
      <p><strong>Name</strong>: {{model.name}}</p>
      <p>
        <strong>Status</strong>: {{model.status}}
      </p>
      <p><strong>DRCJ</strong>: {{#link-to 'admin.person' model.drcj}}{{model.drcj.name}}{{/link-to}}</p>
      <p><strong>Venue</strong>: {{#link-to 'admin.venue' model.venue}}{{model.venue.name}}{{/link-to}}</p>
      <p><strong>Season</strong>: {{model.season}}</p>
      <p><strong>Risers</strong>: {{model.risers}}</p>
      <p><strong>Dates</strong>: {{date-range model.date}}</p>
      {{#bs-button action=(action 'editConvention')}}Edit{{/bs-button}}
      {{#bs-button action=(action 'newConvention') class='btn-primary pull-right'}}New{{/bs-button}}
    {{/if}}
      {{!-- {{#bs-button action=(action 'startConvention') class='form-group'}}Start{{/bs-button}} --}}
      {{!-- {{#bs-button action=(action 'finishConvention') class='form-group'}}Finish{{/bs-button}} --}}
  </div>
</section>

<section>
 {{#bs-accordion selected=selected}}
     {{#bs-accordion-item value="1" title="District/Divisions"}}
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Kind</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.participants as |participant|}}
              <tr>
                <td>
                  {{#link-to 'admin.organization' participant.organization}}{{participant.organization.name}}{{/link-to}}
                  {{!-- {{participant.organization.name}} --}}
                </td>
                <td>
                  {{participant.organization.kind}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li><a href='#' {{action 'deleteParticipant' participant}}>Delete</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        {{add-participant convention=model}}
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="2" title="Sessions"}}
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedSessions as |session|}}
              <tr>
                <td>
                  {{#link-to 'admin.convention.session' session}}{{session.kind}}{{/link-to}}
                </td>
                <td>
                  {{!-- {{session-status model=session status=session.status}} --}}
                  {{session.status}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li><a href='#' {{action 'deleteSession' session}}>Delete</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        {{add-session convention=model}}
     {{/bs-accordion-item}}
 {{/bs-accordion}}
</section>
