<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'admin'}}Conventions{{/link-to}}</li>
    <li class='active'>{{model.name}}</li>
  </ol>
</div>


<section class='panel panel-default'>
  <div class='panel-heading'>
    <h4>
      Convention Detail
    </h4>
  </div>
  <div class='panel-body'>
      {{convention-status model=model status=model.status class='form-group'}}
      {{date-range-picker start=model.date.lower end=model.date.upper ranges=null applyAction=(action 'saveDate')}}
      {{convention-venue model=model venue=model.venue class='form-group'}}
      {{convention-drcj model=model person=model.drcj class='form-group'}}
  </div>
</section>

<section>
 {{#bs-accordion selected=selected}}
     {{#bs-accordion-item value="1" title="Sessions" collapsed=false}}
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.sessions as |session|}}
              <tr>
                <td>
                  {{#link-to 'admin.convention.session' session}}{{session.kind}}{{/link-to}}
                </td>
                <td>
                  {{session-status model=session status=session.status}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li>{{#link-to "index"}}Something{{/link-to}}</li>
                      <li>{{#link-to "index"}}Something different{{/link-to}}</li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
     {{/bs-accordion-item}}
 {{/bs-accordion}}
</section>
