<h3>Contest Administrator</h3>

<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'admin'}}Conventions{{/link-to}}</li>
    <li class='active'>{{model.name}}</li>
  </ol>
</div>
<div>
{{convention-detail model=model}}
</div>
<br><br>
<div>
<h4>Sessions</h4>
<ul class='list-unstyled'>
  {{#each model.sessions as |session|}}
    <li>{{#link-to 'admin.convention.session' session}}{{session.age}} {{session.kind}}{{/link-to}}</li>
    {{!-- {{session.kind}} --}}
  {{/each}}
</ul>
</div>
