
<section class='panel panel-default'>
  <div class='panel-heading'>
    <h4>
      New
    </h4>
  </div>
  <div class='panel-body'>
    {{#bs-form action='saveConvention'}}
      {{#bs-form-group}}
        {{select-drcj}}
      {{/bs-form-group}}
      {{#bs-form-group}}
        {{select-venue}}
      {{/bs-form-group}}
      {{#bs-form-group}}
        {{select-season}}
      {{/bs-form-group}}
      {{#bs-form-group}}
        {{date-range-picker
            autoUpdateInput=false
            ranges=null
            serverFormat='YYYY-MM-DD[T]HH:mm:ss.SSS[Z]'
            timePicker=true
            timePicker24Hour=true
            applyAction=(action 'updateDate')
        }}
      {{/bs-form-group}}
      {{bs-button defaultText="Save" type="primary" buttonType="submit"}}
      {{#bs-button action=(action 'cancelConvention')}}Cancel{{/bs-button}}
    {{/bs-form}}
      {{!-- {{#bs-button action=(action 'startConvention') class='form-group'}}Start{{/bs-button}} --}}
      {{!-- {{#bs-button action=(action 'finishConvention') class='form-group'}}Finish{{/bs-button}} --}}
      {{!-- <ul class='list-inline'>
        {{#each sortedSessions as |session|}}
          <li>{{#link-to 'admin.convention.session' session}}{{session.kind}}{{/link-to}}</li>
        {{/each}}
      </ul> --}}
  </div>
</section>
