<section>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h4 {{action 'collapseHeader'}}>
          {{#if isHeaderCollapsed}}{{fa-icon 'caret-right'}}{{else}}{{fa-icon 'caret-down'}}{{/if}}&nbsp;{{model.name}}: {{model.status}}
        </h4>
      </div>
  {{#bs-collapse collapsed=isHeaderCollapsed}}
      <div class='panel-body'>
        {{#bs-form-group}}
          {{select-contest contests=model.contests primary=model.primary model=model}}
        {{/bs-form-group}}
        {{#bs-form-group}}
          {{select-round rounds=model.rounds current=model.current model=model}}
        {{/bs-form-group}}
      </div>
  {{/bs-collapse}}
    </div>
</section>
<section>
   {{#bs-button-group}}
      {{#bs-button action=(action 'openSession') class='form-group'}}Open{{/bs-button}}
      {{#bs-button action=(action 'closeSession') class='form-group'}}Close{{/bs-button}}
      {{#bs-button action=(action 'validateSession') class='form-group'}}Validate{{/bs-button}}
      {{#bs-button action=(action 'drawCurrent') class='form-group'}}Draw {{model.current.kind}}{{/bs-button}}
      {{#bs-button action=(action 'validateCurrent') class='form-group'}}Validate {{model.current.kind}}{{/bs-button}}
      {{#bs-button action=(action 'startCurrent') class='form-group'}}Start {{model.current.kind}}{{/bs-button}}
      {{#bs-button action=(action 'finishCurrent') class='form-group'}}Finish {{model.current.kind}}{{/bs-button}}
      {{#bs-button action=(action 'publishCurrent') class='form-group'}}Publish {{model.current.kind}}{{/bs-button}}
  {{/bs-button-group}}
</section>
<section>
<div class='row'>
<div class='col-md-4'>
 {{#bs-accordion selected=selected collapsed=collapsed}}
     {{#bs-accordion-item value="3" title="Judges"}}
        <table class='table'>
          <thead>
            <tr>
              {{!-- <th class='col-md-1'>Picture</th> --}}
              <th>Name</th>
              <th>Category</th>
              <th>Kind</th>
              <th>Status</th>
              {{!-- <th>Actions</th> --}}
            </tr>
          </thead>
          <tbody>
            {{#each model.sortedJudges as |judge|}}
              <tr>
                {{!-- <td>
                  {{person-picture person=judge.certification.person}}
                </td> --}}
                <td>
                  {{#link-to 'admin.convention.session.judge' judge.id}}{{judge.certification.person.name}}{{/link-to}}
                </td>
                <td>
                  {{judge.category}}
                </td>
                <td>
                  {{judge.kind}}
                </td>
                <td>
                  {{judge.status}}
                </td>
                {{!-- <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li><a href='#' {{action 'scratchJudge' judge}}>Scratch</a></li>
                      <li><a href='#' {{action 'deleteJudge' judge}}>Delete</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td> --}}
              </tr>
            {{/each}}
          </tbody>
        </table>
        {{add-judge model=model}}
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="1" title="Contests"}}
        <table class='table'>
          <thead>
            <tr>
              <th class='col-md-4'>Name</th>
              {{!-- <th class='col-md-1'>Qualifier</th> --}}
              {{!-- <th class='col-md-5'>Champion</th> --}}
              <th class='col-md-1'>Status</th>
              {{!-- <th class='col-md-1'>Actions</th> --}}
            </tr>
          </thead>
          <tbody>
            {{#each model.sortedContests as |contest|}}
              <tr>
                <td>
                  {{#link-to 'admin.convention.session.contest' contest}}{{contest.name}}{{/link-to}}
                </td>
                {{!-- <td>
                  {{#if contest.is_qualifier}}{{fa-icon 'check-circle'}}{{/if}}
                </td> --}}
                {{!-- <td>
                  {{contest.champion}}
                  {{contest-champion model=contest champion=contest.champion class='form-group'}}
                </td> --}}
                <td>
                  {{contest.status}}
                </td>
                {{!-- <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li><a href='#' {{action 'deleteContest' contest}}>Delete</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td> --}}
              </tr>
            {{/each}}
          </tbody>
        </table>
        {{add-award session=model}}
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="4" title="Entrants"}}
        <div class='table-responsive'>
          <table class='table'>
            <thead>
            <tr>
              <th>Performer</th>
              <th>Status</th>
              {{!-- <th>Actions</th> --}}
            </tr>
            </thead>
            <tbody>
              {{#each model.sortedPerformers as |performer|}}
                <tr>
                  <td>{{#link-to 'admin.convention.session.performer' performer}}{{performer.group.name}}{{/link-to}}</td>
                  <td>{{performer.status}}</td>
                  {{!-- <td>
                    {{#bs-dropdown}}
                      {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                      {{#bs-dropdown-menu}}
                        <li><a href='#' {{action 'deletePerformer' performer}}>Delete</a></li>
                      {{/bs-dropdown-menu}}
                    {{/bs-dropdown}}
                  </td> --}}
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        {{add-performer session=model class='form-group'}}
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="9" title="Schedule"}}
        {{#each model.sortedRounds as |round|}}
          <h5>
            {{#link-to 'admin.convention.session.round' round}}{{round.kind}}{{/link-to}}
          </h5>
          <div class='table-responsive'>
            <table class='table'>
              <thead>
              <tr>
                <th>Slot</th>
                <th>Performer</th>
                {{!-- <th>Status</th> --}}
                {{!-- <th>Actions</th>  --}}
                {{!-- <th>Change</th> --}}
              </tr>
              </thead>
              <tbody>
                {{#each (sort-by 'num' round.performances) as |performance|}}
                  <tr>
                    <td>
                      {{performance.num}}
                    </td>
                    <td>
                      {{#link-to 'admin.convention.session.current' performance}}{{performance.performer.group.name}}{{/link-to}}
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        {{/each}}
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="5" title="Documents"}}
      Session
      <ul>
        <li>{{#link-to 'admin.convention.session.sa' model}}Judging Scoring Analysis{{/link-to}}</li>
        <li>{{#link-to 'admin.convention.session.announcement' model}}{{model.current.kind}} Announcements{{/link-to}}</li>
        <li>{{#link-to 'admin.convention.session.oss' model}}Official Scoring Summary{{/link-to}}</li>
        CSAs
        <ul>
          {{#each model.sortedPerformers as |performer|}}
            <li>{{#link-to 'admin.convention.session.csa' performer}}{{performer.group.name}}{{/link-to}}</li>
          {{/each}}
        </ul>
      </ul>
     {{/bs-accordion-item}}
 {{/bs-accordion}}
</div>
<div class='col-md-8'>
  {{outlet}}
</div>
</div>
</section>