<section>
  <div class='row'>
    <div class='col-md-4'>
     {{#bs-accordion selected=selected collapsed=collapsed}}
         {{#bs-accordion-item value="1" title="Contests"}}
            <table class='table'>
              <thead>
                <tr>
                  <th class='col-md-4'>Name</th>
                  <th class='col-md-1'>Status</th>
                </tr>
              </thead>
              <tbody>
                {{#each sortedContests as |contest|}}
                  <tr>
                    <td>
                      {{#link-to 'public.convention.session.contest' contest}}{{contest.name}}{{/link-to}}
                    </td>
                    <td>
                      {{contest.champion}}
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
         {{/bs-accordion-item}}
         {{#bs-accordion-item value="4" title="Entrants"}}
            <div class='table-responsive'>
              <table class='table'>
                <thead>
                <tr>
                  <th>
                    Performer
                  </th>
                  <th>
                    Status
                  </th>
                </tr>
                </thead>
                <tbody>
                  {{#each sortedPerformers as |performer|}}
                    <tr>
                      <td>
                        {{#link-to 'public.convention.session.performer' performer}}{{performer.group.chap_name}}{{/link-to}}
                      </td>
                      <td>
                        {{performer.status}}
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
            {{add-performer session=model class='form-group'}}
         {{/bs-accordion-item}}
         {{#bs-accordion-item value="9" title="Schedule"}}
            {{#each model.rounds as |round|}}
              <h5>
                {{#link-to 'public.convention.session.round' round}}{{round.kind}}{{/link-to}}
              </h5>
              <div class='table-responsive'>
                {{#sortable-group tagName="table" class='table' onChange="reorderItems" as |group|}}
                  <thead>
                  <tr>
                    <th>Slot</th>
                    <th>Performer</th>
                  </tr>
                  </thead>
                  <tbody>
                  {{#each (sort-by 'slot' round.performances) as |performance|}}
                    {{#sortable-item tagName="tr" model=performance group=group handle=".handle"}}
                          <td>{{performance.slot}}</td>
                          <td>{{#link-to 'public.convention.session.current' performance}}{{performance.performer.group.name}}{{/link-to}}</td>
                      {{!-- <td>{{performer.status}}</td> --}}
                      {{!-- <td>
                        {{#bs-dropdown}}
                          {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                          {{#bs-dropdown-menu}}
                            <li><a href='#' {{action 'scratchPerformer' performer}}>Scratch</a></li>
                            <li><a href='#' {{action 'deletePerformer' performer}}>Delete</a></li>
                          {{/bs-dropdown-menu}}
                        {{/bs-dropdown}}
                      </td> --}}
                      <td>{{#if isEditing}}<span class="handle">{{fa-icon 'arrows-v' size=1}}</span>{{/if}}</td>
                    {{/sortable-item}}
                  {{/each}}
                  </tbody>
                  {{/sortable-group}}
                  {{#if isEditing}}
                    {{#bs-button action=(action 'cancelOrder')}}Cancel{{/bs-button}}
                    {{#bs-button action=(action 'saveOrder') class='btn-primary'}}Save{{/bs-button}}
                  {{else}}
                    {{#bs-button action=(action 'editOrder')}}Edit{{/bs-button}}
                  {{/if}}
                </div>
            {{/each}}
         {{/bs-accordion-item}}
         {{#bs-accordion-item value="5" title="Documents"}}
          Session
          <ul>
            <li>{{#link-to 'public.convention.session.sa' model}}Judging Scoring Analysis{{/link-to}}</li>
            <li>{{#link-to 'public.convention.session.announcement' model}}{{model.current.kind}} Announcements{{/link-to}}</li>
            <li>{{#link-to 'public.convention.session.oss' model}}Official Scoring Summary{{/link-to}}</li>
            CSAs
            <ul>
              {{#each model.performers as |performer|}}
                <li>{{#link-to 'public.convention.session.csa' performer}}{{performer.group.name}}{{/link-to}}</li>
              {{/each}}
            </ul>
          </ul>
         {{/bs-accordion-item}}
     {{/bs-accordion}}
    </div>
    <div class='col-md-8'>
      {{outlet}}
    </div>
  </div>
</section>
