<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <div class='row'>
        <div class='col-md-2'>
          {{#if model.picture}}
            <img src={{model.picture}} class='img-responsive img-rounded'>
          {{else}}
            <img src='/assets/no_image_available.jpg' class='img-responsive img-rounded'>
          {{/if}}
        </div>
      </div>
      <h4 class='pull-right'>
        Status: <strong>{{model.status}}</strong>
      </h4>
      <h4>
        {{model.name}}
      </h4>
    </div>
    <div class='panel-body'>
      {{#bs-nav type='tabs' as |nav|}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.quartet-manager.quartet.details"}}Details{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.quartet-manager.quartet.officers"}}Officers{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.quartet-manager.quartet.members"}}Members{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.quartet-manager.quartet.repertories"}}Repertory{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.quartet-manager.quartet.registrations"}}Registrations{{/nav.link-to}}
        {{/nav.item}}
      {{/bs-nav}}
      {{outlet}}
    </div>
  </div>
</section>
