<section>
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th class='col-md-6'>Person</th>
          <th class='col-md-2'>Part</th>
          <th class='col-md-2'>Status</th>
          <th class='col-md-2'>Start</th>
          <th class='col-md-2'>End</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedMemberships as |membership|}}
          <tr>
            <td>
              {{membership.person.common_name}}
            </td>
            <td>
              {{membership.part}}
            </td>
            <td>
              {{membership.status}}
            </td>
            <td>
              {{moment-format membership.start_date 'LL'}}
            </td>
            <td>
              {{membership.end_date 'LL'}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
{{!-- <section>
  {{#bs-button onClick=(action (mut openModal) true) type='success'}}Add Member{{/bs-button}}
</section> --}}
<section>
  {{#bs-modal-simple
    open=openModal
    onHidden=(action "clearMembership")
    title="Add Member"
    closeTitle="Cancel"
    submitTitle="Save"
    backdropClose=false
  }}
    {{#bs-form
      model=this
      formLayout='vertical'
      onSubmit=(action 'createMembership')
      as |form|
    }}
      {{#form.element property='person' useIcons=false as |el|}}
        {{#power-select
          search=(perform searchTask)
          selected=el.value
          renderInPlace=true
          onchange=(action (mut el.value))
          placeholder="Search by Person Name"
          allowClear=true
          as |person|
        }}
          Person: {{person.common_name}}
        {{/power-select}}
      {{/form.element}}
      {{#form.element property='part' useIcons=false as |el|}}
        {{#power-select
          options=partOptions
          renderInPlace=true
          selected=el.value
          onchange=(action (mut el.value))
          placeholder="Choose Part"
          allowClear=true
          as |part|
        }}
          {{part}}
        {{/power-select}}
      {{/form.element}}
    {{/bs-form}}
  {{/bs-modal-simple}}
</section>
