<section>
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th>Person</th>
          <th>Status</th>
          <th>Start</th>
          <th>End</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedMembers as |member|}}
          <tr>
            <td>
              {{#link-to 'dashboard.chorus-manager.chorus.members.member' member}}{{member.person.common_name}}{{/link-to}}
            </td>
            <td>
              {{member.status}}
            </td>
            <td>
              {{moment-format member.start_date 'LL'}}
            </td>
            <td>
              {{moment-format member.end_date 'LL'}}
            </td>
            <td>
              {{fa-icon 'times-circle' click=(action 'deleteMember' member) class='text-danger'}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
<section>
  {{#bs-button onClick=(action (mut openModal) true) type='success'}}Add Member{{/bs-button}}
</section>
<section>
  {{#bs-modal-simple
    open=openModal
    onHidden=(action "clearMember")
    title="Add Member"
    closeTitle="Cancel"
    submitTitle="Save"
    backdropClose=false
  }}
    {{#bs-form
      model=this
      formLayout='vertical'
      onSubmit=(action 'createMember')
      as |form|
    }}
      {{#form.element property='person' useIcons=false as |el|}}
        {{#power-select
          search=(perform searchPerson)
          selected=el.value
          renderInPlace=true
          onchange=(action (mut el.value))
          placeholder="Search by Person Name and/or BHS ID"
          allowClear=true
          as |person|
        }}
          Person: {{person.common_name}}&nbsp;{{#if person.bhs_id}}[{{person.bhs_id}}]&nbsp;{{/if}}{{person.location}}
        {{/power-select}}
      {{/form.element}}
    {{/bs-form}}
  {{/bs-modal-simple}}
</section>
