<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'conventions'}}Conventions{{/link-to}}</li>
    <li>{{#link-to 'conventions.convention' model.session.convention}}{{model.session.convention.name}}{{/link-to}}</li>
    <li>{{#link-to 'conventions.convention.session' model.session}}{{model.session.kind}}{{/link-to}}</li>
    <li class='active'>{{model.kind}}</li>
  </ol>
</div>
<div>
</div>
{{#if model.performances}}
<section>
<table class='table'>
  <thead>
  <tr>
  <th>Order</th>
  <th>Performer</th>
  <th>Scheduled</th>
  <th>Songs</th>
  </tr>
  </thead>
  <tbody>
  {{#each model.performances as |performance|}}
    <tr>
    <td>
      {{performance.slot}}
    </td>
    <td>
      {{performance.performer.group.name}}
    </td>
    <td>
      {{datetime-range performance.scheduled}}
    </td>
    <td>
        {{#each performance.songs as |song|}}
          {{song.chart.title}}<br>
        {{/each}}
    </td>
    </tr>
  {{/each}}
  </tbody>
</table>
</section>
{{else}}
<h3>
Performances not scheduled yet.  Please check back later.
</h3>
{{/if}}
