<section>
  <div class='panel panel-default'>
    <div class='panel-heading fixed-panel-header'>
      <ul class='list-inline pull-right'>
        <li>{{#bs-button disabled=isPrevDisabled onClick=(action 'previousItem' model)}}Previous{{/bs-button}}</li>
        <li>{{#bs-button disabled=isNextDisabled onClick=(action 'nextItem' model)}}Next{{/bs-button}}</li>
      </ul>
      <h4>
        {{model.entry.entity.name}}
      </h4>
    </div>
    <div class='panel-body'>
      <div class='row'>
        <div class='col-md-6'>
          <div>
            {{#if model.image}}
              <img src={{model.entry.entity.image}} class='img-responsive'>
            {{else}}
              <img src='/assets/no_image_available.jpg' class='img-responsive'>
            {{/if}}
          </div>
        </div>
        <div class='col-md-6'>
          <div>
            {{#each sortedParticipants as |participant|}}
              <ul class='list-unstyled'>
                <li>{{participant.member.person.common_name}}, {{participant.member.part}}</li>
              </ul>
            {{/each}}
          </div>
          <div>
            <ul class='list-unstyled'>
              {{#if model.entry.representing.nomen}}<li>{{model.entry.representing.nomen}}</li>{{/if}}
              {{#if model.entry.entity.location}}<li>{{model.entry.entity.location}}</li>{{/if}}
              {{#if model.entry.entity.email}}<li><a href='mailto:{{model.entry.entity.email}}'>{{model.entry.entity.email}}</a></li>{{/if}}
              {{#if model.entry.entity.website}}<li><a href={{model.entry.entity.website}}>{{model.entry.entity.website}}</a></li>{{/if}}
              {{#if model.entry.entity.facebook}}<li><a href={{model.entry.entity.facebook}}>{{model.entry.entity.facebook}}</a></li>{{/if}}
              {{#if model.entry.entity.twitter}}<li><a href='https://twitter.com/{{model.entry.entity.twitter}}'>{{model.entry.entity.twitter}}</a></li>{{/if}}
              {{#if model.entry.entity.phone}}<li>{{model.entry.entity.phone}}</li>{{/if}}
            </ul>
          </div>
          <div>
            <p>
              {{model.entry.entity.description}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class='panel-footer fixed-panel-footer'>
    </div>
  </div>
</section>