<section>
  <div class='panel panel-default'>
    <div class='panel-heading fixed-panel-header'>
      <ul class='list-inline pull-right'>
        <li>{{#bs-button disabled=isPrevDisabled onClick=(action 'previousItem' model)}}Previous{{/bs-button}}</li>
        <li>{{#bs-button disabled=isNextDisabled onClick=(action 'nextItem' model)}}Next{{/bs-button}}</li>
      </ul>
      <h4>
        {{model.entry.group.name}}
      </h4>
    </div>
    <div class='panel-body'>
      <div class='row'>
        <div class='col-md-6'>
          <div>
            {{#if model.entry.group.image}}
              <img src={{model.entry.group.image}} class='img-responsive'>
            {{else}}
              <img src='/assets/no_image_available.jpg' class='img-responsive'>
            {{/if}}
          </div>
        </div>
        <div class='col-md-6'>
          {{#if (eq model.entry.group.kind 'Chorus')}}
            <div>
              {{#each filteredDirectors as |participant|}}
                Directed By:
                <ul class='list-inline'>
                  <li>{{participant.member.person.commonName}}</li>
                </ul>
              {{/each}}
            </div>
          {{else}}
            <div>
              {{#each sortedParticipants as |participant|}}
                <ul class='list-unstyled'>
                  <li>{{participant.member.person.commonName}}, {{participant.member.part}}</li>
                </ul>
              {{/each}}
            </div>
          {{/if}}
          <div>
            <ul class='list-unstyled'>
              {{#if model.entry.representing.nomen}}<li>{{model.entry.representing.nomen}}</li>{{/if}}
              {{#if model.entry.group.location}}<li>{{model.entry.group.location}}</li>{{/if}}
              {{#if model.entry.group.email}}<li><a href='mailto:{{model.entry.group.email}}'>{{model.entry.group.email}}</a></li>{{/if}}
              {{#if model.entry.group.website}}<li><a href={{model.entry.group.website}}>{{model.entry.group.website}}</a></li>{{/if}}
              {{#if model.entry.group.facebook}}<li><a href={{model.entry.group.facebook}}>{{model.entry.group.facebook}}</a></li>{{/if}}
              {{#if model.entry.group.twitter}}<li><a href='https://twitter.com/{{model.entry.group.twitter}}'>{{model.entry.group.twitter}}</a></li>{{/if}}
              {{#if model.entry.group.phone}}<li>{{model.entry.group.phone}}</li>{{/if}}
            </ul>
          </div>
          <div>
            <p>
              {{model.entry.group.description}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class='panel-footer fixed-panel-footer'>
    </div>
  </div>
</section>