<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4>
        {{model.name}}
      </h4>
    </div>
    <div class='panel-body'>
      {{#bs-form formLayout='vertical' model=model onSubmit=(action 'saveOrganization') as |form|}}
        {{form.element controlType='text' disabled=isDisabled placeholder='Organization Name' property='name'}}
        {{form.element controlType='text' disabled=isDisabled placeholder='Location' property='location'}}
        {{form.element controlType='url' disabled=isDisabled placeholder='Website' property='website'}}
        {{form.element controlType='email' disabled=isDisabled placeholder='Email' property='email'}}
        {{form.element controlType='phone' disabled=isDisabled placeholder='Phone' property='phone'}}
        {{form.element controlType='text' disabled=isDisabled placeholder='Facebook' property='facebook'}}
        {{form.element controlType='text' disabled=isDisabled placeholder='Twitter' property='twitter'}}
        {{form.element controlType='textarea' disabled=isDisabled placeholder='Description' property='description'}}
        {{#if isEditing}}
              {{#bs-button type="primary" buttonType="submit"}}Save{{/bs-button}}
              {{#bs-button onClick=(action 'cancelOrganization')}}Cancel{{/bs-button}}
              {{#bs-button type='danger' onClick=(action 'deleteOrganization') class='pull-right'}}Delete{{/bs-button}}
          {{else}}
            {{#bs-button type='default' onClick=(action 'editOrganization') disabled=isWrite}}Edit{{/bs-button}}
          {{/if}}
      {{/bs-form}}
    </div>
  </div>
</section>
