{{#if (not-eq model.session.status 'Started')}}
  <section>
    <div class='row'>
      <div class='col-md-12'>
        <table class='table'>
          <caption>
            The Panelists (the actual seated judges) are created from the Assignments (who is scheduled).  If the Assignments appear incorrect, please contact David Mills or Chris Buechler.  Once the DRCJ starts the Session, you'll be able to add/edit/remove panelists as needed.  Here are the currently confirmed assignments:
          </caption>
          <thead>
            <tr>
              <th>Person</th>
              <th>Category</th>
              <th>Kind</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedAssignments as |assignment|}}
              <tr>
                <td>
                  {{assignment.person.commonName}}
                </td>
                <td>
                  {{assignment.category}}
                </td>
                <td>
                  {{assignment.kind}}
                </td>
                <td>
                  {{assignment.status}}
                </td>
              </tr>
            {{else}}
              <tr>
                <td>(No assignments.)</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </section>
{{else}}
  <section>
    <div class='row'>
      <div class='col-md-12'>
        <table class='table'>
          <caption>
            If you need to change any panelists please do so before you start the Round.  Once the Round is started, you will not be able to change the Panelists.
          </caption>
          <thead>
            <tr>
              <th>Person</th>
              <th>Category</th>
              <th>Kind</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedPanelists as |panelist|}}
              <tr>
                <td>
                  {{#if (eq model.status 'New')}}
                    {{#link-to 'dashboard.scoring-manager.round.panelists.panelist' panelist}}{{panelist.person.fullName}}{{/link-to}}
                  {{else}}
                    {{panelist.person.fullName}}
                  {{/if}}
                </td>
                <td>
                  {{panelist.category}}
                </td>
                <td>
                  {{panelist.kind}}
                </td>
              </tr>
            {{else}}
              <tr>
                <td>(No panelists created.)</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </section>
  {{#if (eq model.status 'New')}}
    <section>
      {{#bs-button onClick=(action "createPanelist") type='success'}}Create New Panelist{{/bs-button}}
    </section>
  {{/if}}
{{/if}}