<section>
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th class='col-md-3'>Person</th>
          <th>Office</th>
          {{!-- <th>Start</th> --}}
          {{!-- <th>End</th> --}}
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedOfficers as |officer|}}
          <tr>
            <td>
              {{#link-to 'dashboard.chorus-manager.chorus.officers.officer' officer}}{{officer.person.common_name}}{{/link-to}}
            </td>
            <td>
              {{officer.office.name}}
            </td>
            {{!-- <td>
              {{moment-format officer.start_date 'LL'}}
            </td> --}}
            {{!-- <td>
              {{moment-format officer.end_date 'LL'}}
            </td> --}}
            <td>
              {{officer.status}}
            </td>
          </tr>
        {{else}}
          <tr>
            <td>(No Officers listed.)</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
{{#if model.permissions.write}}
  <section>
    {{#bs-button onClick=(action 'createOfficer') type='success'}}Add New Officer{{/bs-button}}
  </section>
{{/if}}
{{create-chapterofficer openModal=openModal model=officer}}