
<section>
<h2>
  {{model.entry.group.name}}
</h2>
  <ul class='list-unstyled'>
  <li>{{model.pointsSum}}</li>
  <li>{{model.pointsMean}}</li>
  </ul>


</section>


<div class='table-responsive'>
<table class='table'>
  <thead>
  <tr>
  <th class='col-md-6'>Slot</th>
  <th>Score</th>
  <th>Variance</th>
  <th>Revised</th>
  </tr>
  </thead>
  <tbody>
  {{#each sortedAssignments as |assignment|}}
    <tr>
    <td>
      <h2>{{assignment.kind}} {{assignment.category}} {{assignment.slot}}</h2>
      <h2>{{assignment.person.name}}</h2>
    </td>
    <td>
    {{#each assignment.scores as |score|}}
      {{#if (eq score.song.performance.id model.id)}}
       <h1>{{score.points}}</h1>
      {{/if}}
    {{/each}}
    </td>
    <td>
    {{#each assignment.scores as |score|}}
      {{#if (eq score.song.performance.id model.id)}}
      <h1>{{#if score.isReview}}Review{{else}}&nbsp;{{/if}}</h1>
      {{/if}}
    {{/each}}
    </td>
    <td>
    {{#each assignment.scores as |score|}}
      {{#if (eq score.song.performance.id model.id)}}
    {{fa-icon 'fa-square-o' size=5}}<br>
    {{/if}}
    {{/each}}
    </td>
    </tr>
  {{/each}}
  </tbody>
</table>
</div>
