<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'admin'}}Conventions{{/link-to}}</li>
    <li>{{#link-to 'admin.convention' model.session.convention}}{{model.session.convention.name}}{{/link-to}}</li>
    <li>{{#link-to 'admin.convention.session' model.session}}{{model.session.kind}}{{/link-to}}</li>
    <li class='active'>{{model.name}}</li>
  </ol>
</div>
<section>
<h3>
  Official Scoring Summary
</h3>
</section>
<section>
{{x-toggle showLabels=true offLabel='Points' onLabel='Score' toggle='letsGo'}}
<div class='table-responsive'>
<table class='table'>
  <thead>
  <tr>
  <th>Rank</th>
  <th>Group</th>
  <th>Songs</th>
  <th class='text-right'>MUS</th>
  <th class='text-right'>PRS</th>
  <th class='text-right'>SNG</th>
  <th class='text-right'>Total</th>
  {{!-- {{#each model.contests as |contest|}}
    <th class='text-right'>{{contest.award.name}}</th>
  {{/each}} --}}
  </tr>
  </thead>
  <tbody>
  {{#each sortedContestants as |contestant|}}
    <tr>
    <td>
      {{contestant.rank}}
    </td>
    <td>
      {{group-modal group=contestant.performer.group}}
      {{#if (eq contestant.performer.group.kind 'Chorus')}}{{contestant.performer.group.chapter.name}}{{/if}}
    </td>
    <td>
      {{#each contestant.performer.performances as |performance|}}
        {{#each performance.songs as |song|}}
          {{truncate-text song.chart.title limit=50}}<br>
        {{/each}}
        {{#if (not-eq contestant.performer.performances.length 1)}}<em>{{performance.round.kind}}</em><br>{{/if}}
      {{/each}}
      <strong>Total</strong>
    </td>
    <td class='text-right'>
      {{#each contestant.performer.performances as |performance|}}
        {{#each performance.songs as |song|}}
          {{#if isRaw}}{{song.mus_points}}{{else}}{{single-fixed song.mus_score}}{{/if}}<br>
        {{/each}}
        {{#if (not-eq contestant.performer.performances.length 1)}}<em>{{#if isRaw}}{{performance.mus_points}}{{else}}{{single-fixed performance.mus_score}}{{/if}}</em><br>{{/if}}
      {{/each}}
      <strong>{{#if isRaw}}{{contestant.performer.mus_points}}{{else}}{{single-fixed contestant.performer.mus_score}}{{/if}}</strong><br>

    </td>
    <td class='text-right'>
      {{#each contestant.performer.performances as |performance|}}
        {{#each performance.songs as |song|}}
          {{#if isRaw}}{{song.prs_points}}{{else}}{{single-fixed song.prs_score}}{{/if}}<br>
        {{/each}}
        {{#if (not-eq contestant.performer.performances.length 1)}}<em>{{#if isRaw}}{{performance.prs_points}}{{else}}{{single-fixed performance.prs_score}}{{/if}}</em><br>{{/if}}
      {{/each}}
      <strong>{{#if isRaw}}{{contestant.performer.prs_points}}{{else}}{{single-fixed contestant.performer.prs_score}}{{/if}}</strong><br>
    </td>
    <td class='text-right'>
      {{#each contestant.performer.performances as |performance|}}
        {{#each performance.songs as |song|}}
          {{#if isRaw}}{{song.sng_points}}{{else}}{{single-fixed song.sng_score}}{{/if}}<br>
        {{/each}}
        {{#if (not-eq contestant.performer.performances.length 1)}}<em>{{#if isRaw}}{{performance.sng_points}}{{else}}{{single-fixed performance.sng_score}}{{/if}}</em><br>{{/if}}
      {{/each}}
      <strong>{{#if isRaw}}{{contestant.performer.sng_points}}{{else}}{{single-fixed contestant.performer.sng_score}}{{/if}}</strong><br>
    </td>
    <td class='text-right'>
      {{#each contestant.performer.performances as |performance|}}
        {{#each performance.songs as |song|}}
          {{#if isRaw}}{{song.total_points}}{{else}}{{single-fixed song.total_score}}{{/if}}<br>
        {{/each}}
        {{#if (not-eq contestant.performer.performances.length 1)}}<em>{{#if isRaw}}{{performance.total_points}}{{else}}{{single-fixed performance.total_score}}{{/if}}</em><br>{{/if}}
      {{/each}}
      <strong>{{#if isRaw}}{{contestant.performer.total_points}}{{else}}{{single-fixed contestant.performer.total_score}}{{/if}}</strong><br>
    </td>
    </tr>
  {{/each}}
  </tbody>
</table>
</div>
</section>
<section>
<ul class='list-unstyled'>
    {{#each sortedContests as |contest|}}
      <li><strong>{{contest.name}}</strong>:  {{contest.champion.performer.group.name}}</li>
    {{/each}}
  </ul>
</section>