<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
{{!-- <section>
  {{#power-select
    options=kindOptions
    selected=kind
    onchange=(action (mut kind))
    placeholder="Kind Filter"
    disabled=isDisabled
    allowClear=true
    as |kind|
  }}
    Kind: {{kind-transform kind}}
  {{/power-select}}
</section> --}}
<section>
  <div class='table-responsive'>
    <table class='table'>
      <caption>Current Awards</caption>
      <thead>
        <tr>
          <th {{action "sortBy" "name"}}>Name</th>
          <th {{action "sortBy" "entitySort"}}>Entity</th>
          <th {{action "sortBy" "kind"}}>Kind</th>
          {{!-- <th {{action "sortBy" "name"}}>Age</th> --}}
          <th {{action "sortBy" "season"}}>Season</th>
          <th {{action "sortBy" "rounds"}}>Rounds</th>
          <th {{action "sortBy" "is_qualifier"}}>Qualifier</th>
          <th {{action "sortBy" "status"}}>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedItems as |award|}}
          <tr>
            <td>{{#link-to 'admin.award-manager.award.details' award}}{{award.name}}{{/link-to}}</td>
            <td>{{award.entity.name}}</td>
            <td>{{award.kind}}</td>
            <td>{{award.season}}</td>
            <td>{{award.rounds}}</td>
            <td>{{boolean-helper award.is_qualifier}}</td>
            <td>{{award.status}}</td>
          </tr>
        {{else}}
          <tr>
            <td>(None)</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
<section>
  {{#bs-button onClick=(action (mut openModal) true) type='success'}}Create New Award{{/bs-button}}
</section>
<section>
  {{#bs-modal-simple
    open=openModal
    onHidden=(action "clearAward")
    title="Create Award"
    closeTitle="Cancel"
    submitTitle="Save"
    backdropClose=false
  }}
    {{#bs-form
      model=this
      formLayout='vertical'
      onSubmit=(action 'createAward')
      as |form|
    }}
      {{form.element
        controlType='text'
        placeholder='Award Name'
        property='name'
      }}
      {{#form.element property='kind' useIcons=false as |el|}}
        {{#power-select
          renderInPlace=true
          options=kindOptions
          selected=el.value
          onchange=(action (mut el.value))
          placeholder="Choose Award Kind"
          allowClear=true
          as |kind|
        }}
          Kind: {{kind}}
        {{/power-select}}
      {{/form.element}}
      {{#form.element property='season' useIcons=false as |el|}}
        {{#power-select
          renderInPlace=true
          options=seasonOptions
          selected=el.value
          onchange=(action (mut el.value))
          placeholder="Choose Award Season"
          allowClear=true
          as |season|
        }}
          Season: {{season}}
        {{/power-select}}
      {{/form.element}}
      {{#form.element property='rounds' useIcons=false as |el|}}
        {{#power-select
          renderInPlace=true
          options=roundOptions
          selected=el.value
          onchange=(action (mut el.value))
          placeholder="Choose Award Rounds"
          allowClear=true
          as |rounds|
        }}
          Rounds: {{rounds}}
        {{/power-select}}
      {{/form.element}}
      {{#form.element property='is_qualifier' as |el|}}
        {{#bs-button-group
          value=el.value
          type='radio'
          onChange=(action (mut el.value))
          as |bg|
        }}
          {{#bg.button type='default' value=false}}Championship{{/bg.button}}
          {{#bg.button type='default' value=true}}Qualifier{{/bg.button}}
        {{/bs-button-group}}
      {{/form.element}}
      {{#form.element property='entity' useIcons=false as |el|}}
        {{#power-select
          renderInPlace=true
          options=entityOptions
          selected=el.value
          onchange=(action (mut el.value))
          placeholder="Choose Entity"
          allowClear=true
          as |entity|
        }}
          Entity: {{entity.name}}
        {{/power-select}}
      {{/form.element}}
    {{/bs-form}}
  {{/bs-modal-simple}}
</section>
