<section>
  {{#if (eq model.status 'New')}}
    <h4>
      Contests are available after the Session has been Built.
    </h4>
  {{else}}
    <div class='table-responsive'>
      <table class='table table-hover table-sm'>
        <thead class='thead-light'>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Single-Round?</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedContests as |contest|}}
            <tr>
              {{#if contest.isLoading}}
                <td colspan=1>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
              {{else}}
                <td>{{#link-to 'dashboard.conventions.convention.sessions.session.contests.contest' contest.id}}{{contest.name}}{{/link-to}}</td>
                <td>{{#if contest.description}}{{contest.description}}{{else}}(No description available){{/if}}</td>
                <td>{{boolean-helper contest.isSingle}}</td>
              {{/if}}
            </tr>
          {{else}}
            <tr>
              <td colspan=3>No contests.</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/if}}
</section>