<section>
  <ul class='list-unstyled'>
    <li>Primary Award: {{primaryCP.award.name}}</li>

    <li>Number Rounds: {{model.num_rounds}}</li>

    <li>New Entries: {{model.newEntriesCount}}</li>

    <li>Invited Entries: {{model.invitedEntriesCount}}</li>

    <li>Submitted Entries: {{model.submittedEntriesCount}}</li>

    <li>Accepted Entries: {{model.acceptedEntriesCount}}</li>

    <li>Total Entries: {{model.totalEntriesCount}}</li>
  </ul>
  {{!-- {{#bs-form
    model=this
    formLayout='vertical'
    as |form|
  }}
    {{#form.element
      controlType='text'
      disabled=true
      placeholder='Primary Award'
      property='primaryCP.award.name'
      as |el|
    }}
      Primary Award: {{el.value}}
    {{/form.element}}
    {{#form.element
      controlType='text'
      disabled=true
      placeholder='Number Rounds'
      property='model.num_rounds'
      as |el|
    }}
      Number Rounds: {{el.value}}
    {{/form.element}}
  {{/bs-form}} --}}
</section>