<section>
  <div class='row'>
    <div class='col-md-4'>
      {{!-- <ul class='list-unstyled'>
        <li>Primary Award: {{primaryCP.award.name}}</li>
      </ul> --}}
      <ul class="list-group">
        <li class="list-group-item">
          <h5>Counts</h5>
        </li>
        <li class="list-group-item">
          <span class="badge">{{model.newEntriesCount}}</span>
          New Entries
        </li>
        <li class="list-group-item">
          <span class="badge">{{model.invitedEntriesCount}}</span>
          Invited Entries
        </li>
        <li class="list-group-item">
          <span class="badge">{{model.submittedEntriesCount}}</span>
          Submitted Entries
        </li>
        <li class="list-group-item">
          <span class="badge">{{model.withdrawnEntriesCount}}</span>
          Withdrawn Entries
        </li>
        <li class="list-group-item">
          <span class="badge">{{model.approvedEntriesCount}}</span>
          Approved Entries
        </li>
        <li class="list-group-item">
          <span class="badge">{{model.scratchedEntriesCount}}</span>
          Scratched Entries
        </li>
        <li class="list-group-item">
          <span class="badge">{{model.totalEntriesCount}}</span>
          Total Entries
        </li>
      </ul>
    </div>
  </div>
</section>
<section>
    <h5>
      Downloads
    </h5>
    <ul class='list-unstyled'>
      {{#if model.bbscores}}
        <li>BBScores Excel Export: &nbsp;<a href='{{model.bbscores}}'>{{fa-icon 'file-excel-o'}}</a></li>
      {{/if}}
      {{#if model.drcjReport}}
        <li>DRCJ Report Excel Export: &nbsp;<a href='{{model.drcjReport}}'>{{fa-icon 'file-excel-o'}}</a></li>
      {{/if}}
      {{#if model.adminEmails}}
        <li>Admin Emails Excel Export: &nbsp;<a href='{{model.adminEmails}}'>{{fa-icon 'file-excel-o'}}</a></li>
      {{/if}}
    </ul>
</section>
