<section>
  <div class='row'>
    <div class='col-md-6'>
      <table class='table'>
        <thead>
          <tr>
            <th class='col-md-4'>Name</th>
            <th class='col-md-2'>Category</th>
            <th class='col-md-1'>Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each model.officers as |officer|}}
            <tr>
              <td>{{officer.person.commonName}}</td>
              <td>{{officer.kind}}</td>
              <td>{{fa-icon 'times-circle' click=(action 'deleteOfficer' officer) class='text-danger'}}</td>
            </tr>
          {{else}}
            <tr>
              <td colspan=3>No officers</td>
            </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <td>
              {{#power-select
                options=adminOptions
                search=(perform searchTask)
                selected=person
                onchange=(action (mut person))
                placeholder="Enter New Officer"
                allowClear=true
                as |person|
              }}
                {{person.commonName}}&nbsp;{{#if person.certifications}}{{person.certifications}}{{/if}}
              {{/power-select}}
            </td>
            <td>
              {{#power-select
                options=kindOptions
                selected=kind
                onchange=(action (mut kind))
                placeholder="Choose Kind"
                allowClear=true
                as |kind|
              }}
                {{kind}}
              {{/power-select}}
            </td>
            <td>
             {{fa-icon 'plus-circle' click=(action 'createOfficer' officer) class='text-success'}}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>
