<section>
    <ol class='breadcrumb'>
      <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
      <li>{{#link-to 'admin.conventions'}}Conventions{{/link-to}}</li>
      <li>{{#link-to 'admin.conventions.convention' model.session.convention}}{{model.session.convention.name}}{{/link-to}}</li>
      <li>{{#link-to 'admin.conventions.convention.session' model.session}}{{model.session.kind}} Session{{/link-to}}</li>
      <li class='active'>{{model.award.name}} {{#if model.is_qualifier}}Qualifier{{else}}Championship{{/if}}</li>
    </ol>
</section>

<section class='panel panel-default'>
  <div class='panel-heading'>
    <h3>
      Contest Details
    </h3>
  </div>
  <div class='panel-body'>
      {{model.name}}
  </div>
</section>
<section>
 {{#bs-accordion selected=2}}
     {{#bs-accordion-item value="2" title="Contestants" collapsed=false}}
        <div class='table-responsive'>
        <table class='table'>
          <thead>
          <tr>
            <th>Entrant</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          {{#each sortedContestants as |contestant|}}
            <tr>
            <td>{{contestant.performer.group.name}}</td>
            <td>{{contestant-status model=contestant status=contestant.status}}</td>
            <td>
              {{#bs-dropdown}}
                {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                {{#bs-dropdown-menu}}
                  <li><a href='#' {{action 'deleteContestant' contestant}}>Delete</a></li>
                {{/bs-dropdown-menu}}
              {{/bs-dropdown}}
            </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
          {{add-contestant-performer contest=model}}
        </div>
     {{/bs-accordion-item}}
 {{/bs-accordion}}
</section>
