<section>
  <section>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <ul class='list-inline pull-right'>
          <li>Status: {{model.status}}</li>
          <li>{{#bs-button disabled=isPrevDisabled onClick=(action 'previousItem' model)}}Previous{{/bs-button}}</li>
          <li>{{#bs-button disabled=isNextDisabled onClick=(action 'nextItem' model)}}Next{{/bs-button}}</li>
        </ul>
        <h4>
          {{model.entity.name}}
        </h4>
      </div>
      <div class='panel-body'>
        <div>
          {{#bs-form
            formLayout="vertical"
            model=model
            onSubmit=(action "saveEntry")
            as |form|
          }}

            {{#form.element property='representing' useIcons=false as |el|}}
              {{#power-select
                options=representingOptions
                selected=el.value
                searchField='name'
                onchange=(pipe-action (action (mut el.value)) (action 'saveEntry'))
                placeholder="Enter District/Division/Affiliate Representation"
                allowClear=true
                renderInPlace=true
                disabled=isDisabled
                as |representing|
              }}
                Representing: {{representing.name}}
              {{/power-select}}
            {{/form.element}}
            {{#form.element property='is_evaluation' as |el|}}
              {{#bs-button-group
                value=el.value
                type='radio'
                onChange=(pipe-action (action (mut el.value)) (action 'saveEntry'))
                disabled=isDisabled
                as |bg|
              }}
                {{#bg.button type='default' value=false disabled=isDisabled}}Skip Eval{{/bg.button}}
                {{#bg.button type='default' value=true disabled=isDisabled}}Include Eval{{/bg.button}}
              {{/bs-button-group}}
            {{/form.element}}
            {{#form.element property='is_private' as |el|}}
              {{#bs-button-group
                value=el.value
                type='radio'
                onChange=(pipe-action (action (mut el.value)) (action 'saveEntry'))
                as |bg|
              }}
                {{#bg.button type='default' value=false disabled=isDisabled}}Make Scores Public{{/bg.button}}
                {{#bg.button type='default' value=true disabled=isDisabled}}Keep Scores Private{{/bg.button}}
              {{/bs-button-group}}
            {{/form.element}}
            {{#if (eq model.session.kind 'Chorus')}}
              {{#form.element property='director' useIcons=false as |el|}}
                  {{#power-select
                    search=(perform searchTask)
                    selected=el.value
                    onchange=(pipe-action (action (mut el.value)) (action 'saveEntry'))
                    placeholder="Enter Director Name"
                    disabled=isDisabled
                    allowClear=true
                    as |person|
                  }}
                    {{#if model.codirector}}Co-Director:{{else}}Director:{{/if}} {{person.common_name}}
                  {{/power-select}}
              {{/form.element}}
              {{#form.element property='codirector' useIcons=false as |el|}}
                  {{#power-select
                    search=(perform searchTask)
                    selected=el.value
                    onchange=(pipe-action (action (mut el.value)) (action 'saveEntry'))
                    placeholder="Enter Co-Director Name (if applicable)"
                    disabled=isDisabled
                    allowClear=true
                    as |person|
                  }}
                    Co-Director: {{person.common_name}}
                  {{/power-select}}
              {{/form.element}}
            {{/if}}
          {{/bs-form}}
        </div>
        <hr>
        <section>
        <p>
          Contests Entered
        </p>
          {{multiselect-checkboxes
            options=contestOptions
            labelProperty='awardName'
            valueProperty='id'
            selection=model.selectedContests
            updateSelectionValue=false
            disabled=isDisabled
            onchange=(action "updateSelection")
          }}
        </section>
        <hr>
        <section>
          <div class='table-responsive'>
            <p>
              Song Repertory: {{model.repertoryCount}}
            </p>
            <table class='table'>
              <thead>
                <tr>
                  <th>Title</th>
                  <th>BHS ID</th>
                  <th>Arranger(s)</th>
                  {{!-- <th>Delete</th> --}}
                </tr>
              </thead>
              <tbody>
                {{#each sortedRepertories as |repertory|}}
                  <tr>
                    <td>{{repertory.chart.title}}</td>
                    <td>{{repertory.chart.bhs_id}}</td>
                    <td>{{repertory.chart.arrangers}}</td>
                  </tr>
                {{else}}
                  <tr>
                    <td>(No songs in Repertory.)</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </section>
        <hr>
        <section>
          <div class='table-responsive'>
            <p>
              Participants on Stage: {{model.participantCount}}
            </p>
            <table class='table'>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Part</th>
                  <th>Membership Expires</th>
                  {{!-- <th>Delete</th> --}}
                </tr>
              </thead>
              <tbody>
                {{#each sortedParticipants as |participant|}}
                  <tr>
                    <td>{{participant.member.person.nomen}}</td>
                    <td>{{#if participant.member.part}}{{participant.member.part}}{{else}}(Unknown){{/if}}</td>
                    <td>{{moment-format participant.member.person.dues_thru 'LL'}}</td>
                  </tr>
                {{else}}
                  <tr>
                    <td>(No participants selected.)</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </section>
      </div>
      <div class='panel-footer'>
        {{#if model.permissions.write}}
          {{#if (eq model.status 'Submitted')}}
            {{#bs-button type='primary' onClick=(perform acceptEntry)}}
              {{#if acceptEntry.isRunning}}
                Accepting {{fa-icon "spinner" spin=true}}
              {{else}}
                Accept Submission
              {{/if}}
            {{/bs-button}}
          {{else}}
            <strong>Status: <span class='text-primary'>Accepted and Pending Contest</span></strong>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </section>
</section>