<section>
  <div class='row'>
    <div class='col-md-12'>
      <table class='table'>
        <thead>
          <tr>
            <th class='col-md-4'>Name</th>
            <th class='col-md-1'>Contests Entered</th>
            <th class='col-md-1'>Songs in Repertory</th>
            <th class='col-md-1'>Men on Stage</th>
            {{!-- <th class='col-md-1'>Expired Memberships</th> --}}
          </tr>
        </thead>
        <tbody>
          {{#each sortedEntries as |entry|}}
            <tr>
              <td>{{#link-to 'dashboard.session-manager.session.entries.entry' entry}}{{entry.entity.name}}{{/link-to}}</td>
              <td>{{entry.contestantCount}}</td>
              <td>{{entry.repertoryCount}}</td>
              <td>{{entry.participantCount}}</td>
              {{!-- <td>{{entry.expCount}}</td> --}}
            </tr>
          {{else}}
            <tr>
              <td>(No groups currently entered for this session.)</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>
<section>
  {{#bs-button onClick=(action (mut openModal) true) type='success'}}Create New Entry{{/bs-button}}
</section>
<section>
  {{#bs-modal-simple
    open=openModal
    onHidden=(action "clearEntry")
    title="Create Entry"
    closeTitle="Cancel"
    submitTitle="Save"
    backdropClose=false
  }}
    {{#bs-form
      model=this
      formLayout='vertical'
      onSubmit=(action 'createEntry')
      as |form|
    }}
      {{#form.element property='entity' useIcons=false as |el|}}
          {{#power-select
            search=(perform searchEntity)
            selected=el.value
            onchange=(action (mut el.value))
            placeholder="Enter Group Name"
            allowClear=true
            renderInPlace=true
            as |entity|
          }}
            Group: {{entity.name}}
          {{/power-select}}
      {{/form.element}}
      {{#form.element property='representing' useIcons=false as |el|}}
          {{#power-select
            options=representingOptions
            selected=el.value
            searchField='name'
            onchange=(action (mut el.value))
            placeholder="Enter District/Division/Affiliate Representation"
            allowClear=true
            renderInPlace=true
            as |representing|
          }}
            Representing: {{representing.name}}
          {{/power-select}}
      {{/form.element}}
      {{#form.element property='is_evaluation' as |el|}}
        {{#bs-button-group
          value=el.value
          type='radio'
          onChange=(action (mut el.value))
          as |bg|
        }}
          {{#bg.button type='default' value=false}}Skip Eval{{/bg.button}}
          {{#bg.button type='default' value=true}}Include Eval{{/bg.button}}
        {{/bs-button-group}}
      {{/form.element}}
      {{#form.element property='is_private' as |el|}}
        {{#bs-button-group
          value=el.value
          type='radio'
          onChange=(action (mut el.value))
          as |bg|
        }}
          {{#bg.button type='default' value=false}}Make Scores Public{{/bg.button}}
          {{#bg.button type='default' value=true}}Keep Scores Private{{/bg.button}}
        {{/bs-button-group}}
      {{/form.element}}
      {{#unless (eq model.kind 'Chorus')}}
        {{#form.element property='tenor' useIcons=false as |el|}}
          {{#power-select
            search=(perform searchPerson)
            selected=el.value
            onchange=(action (mut el.value))
            placeholder="Enter Tenor Name"
            renderInPlace=true
            allowClear=true
            as |person|
          }}
            Tenor: {{person.common_name}}
          {{/power-select}}
        {{/form.element}}
        {{#form.element property='lead' useIcons=false as |el|}}
          {{#power-select
            search=(perform searchPerson)
            selected=el.value
            onchange=(action (mut el.value))
            placeholder="Enter Lead Name"
            renderInPlace=true
            allowClear=true
            as |person|
          }}
            Lead: {{person.common_name}}
          {{/power-select}}
        {{/form.element}}
        {{#form.element property='baritone' useIcons=false as |el|}}
          {{#power-select
            search=(perform searchPerson)
            selected=el.value
            onchange=(action (mut el.value))
            placeholder="Enter Baritone Name"
              renderInPlace=true
            allowClear=true
            as |person|
          }}
            Baritone: {{person.common_name}}
          {{/power-select}}
        {{/form.element}}
        {{#form.element property='bass' useIcons=false as |el|}}
          {{#power-select
            search=(perform searchPerson)
            selected=el.value
            onchange=(action (mut el.value))
            placeholder="Enter Bass Name"
            renderInPlace=true
            allowClear=true
            as |person|
          }}
            Bass: {{person.common_name}}
          {{/power-select}}
        {{/form.element}}
      {{else}}
        {{#form.element property='director' useIcons=false as |el|}}
            {{#power-select
              search=(perform searchPerson)
              selected=el.value
              onchange=(action (mut el.value))
              placeholder="Enter Director Name"
              renderInPlace=true
              allowClear=true
              as |person|
            }}
              {{#if model.codirector}}Co-Director:{{else}}Director:{{/if}} {{person.common_name}}
            {{/power-select}}
        {{/form.element}}
        {{#form.element property='codirector' useIcons=false as |el|}}
            {{#power-select
              search=(perform searchPerson)
              selected=el.value
              onchange=(action (mut el.value))
              placeholder="Enter Co-Director Name (if applicable)"
              renderInPlace=true
              allowClear=true
              as |person|
            }}
              Co-Director: {{person.common_name}}
            {{/power-select}}
        {{/form.element}}
      {{/unless}}
    {{/bs-form}}
  {{/bs-modal-simple}}
</section>