<section>
<div class='table-responsive'>
  <table class='table'>
    <thead>
      <tr>
        <th>Kind</th>
        <th>Gender</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedSessions as |session|}}
        <tr>
          <td>
            {{#link-to 'conventions.convention.sessions.session.competitors' session}}{{session.kind}}{{/link-to}}
          </td>
          <td>
            {{#if session.gender}}{{session.gender}}{{else}}(Open){{/if}}
          </td>
          <td>
            {{session.status}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td>No Sessions are currently Active.</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
</section>