<section>
    <ol class='breadcrumb'>
      <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
      <li>{{#link-to 'admin.conventions'}}Conventions{{/link-to}}</li>
      <li>{{#link-to 'admin.conventions.convention' model.convention}}{{model.convention.name}}{{/link-to}}</li>
      <li class='active'>{{model.kind}} Session</li>
    </ol>
</section>
<section class='panel panel-default'>
  <div class='panel-heading'>
    <h3>
      {{model.name}}
    </h3>
  </div>
  <div class='panel-body'>
     <ul class='list-inline'>
      <li>{{#bs-button action=(action 'openSession') class='form-group'}}Open{{/bs-button}}</li>
      <li>{{#bs-button action=(action 'closeSession') class='form-group'}}Close{{/bs-button}}</li>
      <li>{{#bs-button action=(action 'validateSession') class='form-group'}}Validate{{/bs-button}}</li>
      {{!-- <li>{{#bs-button action=(action 'startSession') class='form-group'}}Start{{/bs-button}}</li> --}}
      {{!-- <li>{{#bs-button action=(action 'finishSession') class='form-group'}}Finish{{/bs-button}}</li> --}}
      {{!-- <li>{{#bs-button action=(action 'publishSession') class='form-group'}}Publish{{/bs-button}}</li> --}}
      {{#each sortedRounds as |round|}}
        <li>{{#bs-button class='form-group'}}Start {{round.kind}}{{/bs-button}}</li>
        <li>{{#bs-button class='form-group'}}Finish {{round.kind}}{{/bs-button}}</li>
        <li>{{#bs-button class='form-group'}}Publish {{round.kind}}{{/bs-button}}</li>
      {{/each}}
    </ul>
  </div>
</section>
<section>
 {{#bs-accordion selected=selected collapsed=collapsed}}
     <h4>Pre-Session</h4>
     {{#bs-accordion-item value="3" title="Judges"}}
        <table class='table'>
          <thead>
            <tr>
              <th class='col-md-1'>Picture</th>
              <th>Name</th>
              <th>Category</th>
              <th>Kind</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedJudges as |judge|}}
              <tr>
                <td>
                  {{person-picture person=judge.certification.person}}
                </td>
                <td>
                  {{#link-to 'admin.conventions.convention.session.judge' judge.id}}{{judge.certification.person.name}}{{/link-to}}
                </td>
                <td>
                  {{judge.category}}
                </td>
                <td>
                  {{judge.kind}}
                </td>
                <td>
                  {{judge.status}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li><a href='#' {{action 'scratchJudge' judge}}>Scratch</a></li>
                      <li><a href='#' {{action 'deleteJudge' judge}}>Delete</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        {{add-judge model=model}}
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="1" title="Contests"}}
        <table class='table'>
          <thead>
            <tr>
              <th class='col-md-4'>Name</th>
              <th class='col-md-1'>Qualifier</th>
              {{!-- <th class='col-md-5'>Champion</th> --}}
              <th class='col-md-1'>Status</th>
              <th class='col-md-1'>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedContests as |contest|}}
              <tr>
                <td>
                  {{#link-to 'admin.conventions.convention.session.contest' contest}}{{contest.name}}{{/link-to}}
                </td>
                <td>
                  {{#if contest.is_qualifier}}{{fa-icon 'check-circle'}}{{/if}}
                </td>
                {{!-- <td>
                  {{contest.champion.performer.group.name}}
                  {{contest-champion model=contest champion=contest.champion class='form-group'}}
                </td> --}}
                <td>
                  {{contest.status}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li><a href='#' {{action 'deleteContest' contest}}>Delete</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        {{add-award session=model}}
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="4" title="Entrants"}}
        <div class='table-responsive'>
          {{#sortable-group tagName="table" class='table' onChange="reorderItems" as |group|}}
            <thead>
            <tr>
              {{!-- <th>Slot</th> --}}
              <th>Performer</th>
              <th>Status</th>
              <th>Actions</th>
              {{!-- <th>Change</th> --}}
            </tr>
            </thead>
            <tbody>
            {{#each sortedPerformers as |performer|}}
              {{#sortable-item tagName="tr" model=performer group=group handle=".handle"}}
                {{!-- <td>{{performer.soa}}</td> --}}
                <td>{{#link-to 'admin.conventions.convention.session.performer' performer}}{{performer.group.chap_name}}{{/link-to}}</td>
                <td>{{performer.status}}</td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      {{!-- <li><a href='#' {{action 'scratchPerformer' performer}}>Scratch</a></li> --}}
                      <li><a href='#' {{action 'deletePerformer' performer}}>Delete</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
                {{!-- <td>{{#if isEditing}}<span class="handle">{{fa-icon 'arrows-v' size=2}}</span>{{/if}}</td> --}}
              {{/sortable-item}}
            {{/each}}
            </tbody>
            {{/sortable-group}}
            {{!-- {{#if isEditing}}
              {{#bs-button action=(action 'cancelOrder')}}Cancel{{/bs-button}}
              {{#bs-button action=(action 'saveOrder') class='btn-primary'}}Save{{/bs-button}}
            {{else}}
              {{#bs-button action=(action 'editOrder')}}Edit{{/bs-button}}
            {{/if}} --}}
          </div>
        {{add-performer session=model class='form-group'}}
     {{/bs-accordion-item}}
     <br><br>
     <h4>Session</h4>
     {{#bs-accordion-item value="2" title="Performances"}}
        <div class='row'>
          <div class='col-md-8'>
            <p>{{outlet}}</p>
          </div>
          <div class='col-md-4'>
            <div class='table-responsive'>
              <table class='table'>
                  <thead>
                  <tr>
                    <th {{action 'sortPerformancesBy' 'slot:asc'}}>Slot</th>
                    <th {{action 'sortPerformancesBy' 'performer.name:asc'}}>Performer</th>
                    {{!-- <th>Status</th> --}}
                    {{!-- <th>Actions</th> --}}
                    <th {{action 'sortPerformancesBy' 'performancescore.total_score:desc'}}>Score</th>
                    <th {{action 'sortPerformancesBy' 'performer.performerscore.total_score:desc'}}>Cumulative</th>
                    {{!-- {{#unless (eq model.kind 'Finals')}}<th>Advance</th>{{/unless}} --}}
                  </tr>
                  </thead>
                  <tbody>
                    {{#each currentPerformances as |performance|}}
                      <tr>
                      <td>{{performance.slot}}</td>
                      <td>{{#link-to 'admin.conventions.convention.session.current' performance}}{{performance.performer.group.name}}{{/link-to}}</td>
                      {{!-- <td>{{performance.status}}</td> --}}
                      {{!-- <td>
                        {{#bs-dropdown}}
                          {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                          {{#bs-dropdown-menu}}
                            <li><a href='#' {{action 'scratch' performer}}>Scratch</a></li>
                            <li><a href='#' {{action 'deletePerformer' performer}}>Delete</a></li>
                          {{/bs-dropdown-menu}}
                        {{/bs-dropdown}}
                      </td> --}}
                      <td>{{single-fixed performance.performancescore.total_score}}</td>
                      <td>{{single-fixed performance.performer.performerscore.total_score}}</td>
                      {{!-- {{#unless (eq model.kind 'Finals')}}
                        <td>
                          {{#if isEditing}}
                            {{x-toggle showLabels=true offLabel='Not' onLabel='Advancing' value=performance.is_advancing toggled=performance.is_advancing}}
                          {{else}}
                            {{#if performance.performancescore.is_advancing}}<span class='text-success'>{{fa-icon 'check-circle'}}</span>{{else}}<span class='text-danger'>{{fa-icon 'times-circle'}}</span>{{/if}}
                          {{/if}}
                        </td>
                      {{/unless}} --}}
                      </tr>
                    {{/each}}
                  </tbody>
                {{#if isEditing}}
                  {{!-- {{#bs-button action=(action 'cancelOrder')}}Cancel{{/bs-button}} --}}
                  {{!-- {{#bs-button action=(action 'saveOrder') class='btn-primary'}}Save{{/bs-button}} --}}
                {{else}}
                  {{!-- {{#bs-button action=(action 'editOrder')}}Edit{{/bs-button}} --}}
                {{/if}}
              </table>
            </div>
          </div>
        </div>
     {{/bs-accordion-item}}
     {{!-- {{#bs-accordion-item value="7" title="Score"}}
       <p>
       {{#link-to 'admin.conventions.convention.session.cursor' model.cursor}}Score Performances{{/link-to}}
       </p>
     {{/bs-accordion-item}} --}}
     <br><br>
      <h4>Post-Session</h4>

     {{#bs-accordion-item value="5" title="Documents"}}
      Session
      <ul>
        <li>{{#link-to 'admin.conventions.convention.session.sa' model}}Judging Scoring Analysis{{/link-to}}</li>
        Rounds
        <ul>
          {{#each model.rounds as |round|}}
            <li>{{#link-to 'admin.conventions.convention.session.round.announcement' round}}{{round.kind}} Announcements{{/link-to}}</li>
          {{/each}}
        </ul>
        Contests
        <ul>
          {{#each sortedContests as |contest|}}
            <li>{{#link-to 'admin.conventions.convention.session.contest.oss' contest}}{{contest.award.name}}{{/link-to}}</li>
          {{/each}}
        </ul>
        Performers
        <ul>
          {{#each model.performers as |performer|}}
            <li>{{#link-to 'admin.conventions.convention.session.performer.csa' performer}}{{performer.group.name}}{{/link-to}}</li>
          {{/each}}
        </ul>
      </ul>
     {{/bs-accordion-item}}
 {{/bs-accordion}}
</section>
