<section class='col-md-6'>
  {{#bs-form
    model=model
    formLayout='vertical'
    as |form|
  }}
    {{form.element
      property='name'
      onChange=(perform autosave 'name')
    }}
    {{!-- {{#form.element}}
      {{date-range-picker
        label='Convention Dates'
        placeholder='Foobar'
        start=model.date_range.lower
        end=model.date_range.upper
        applyAction=(action 'setDateRange')
      }}
    {{/form.element}}
    {{#form.element}}
      {{date-range-picker
        label='Contest Entry Dates'
        placeholder='Foobar'
        start=model.entry_range.lower
        end=model.entry_range.upper
        applyAction=(action 'setDateRange')
      }}
    {{/form.element}} --}}
    {{#form.element}}
      {{#power-select
        renderInPlace=true
        options=organizationOptions
        selected=model.organization
        onchange=(perform autosave 'organization')
        placeholder="Choose Convention Owner Entity"
        disabled=true
        allowClear=true
        as |organization|
      }}
        Owner: {{organization.name}}
      {{/power-select}}
    {{/form.element}}
    <div class='row'>
      <div class='col-md-6'>
        {{#form.element property='season' as |el|}}
          {{#power-select
            options=model.seasonOptions
            selected=el.value
            renderInPlace=true
            onchange=(perform autosave 'season')
            placeholder="Choose Season"
            disabled=true
            allowClear=true
            as |season|
          }}
            Season: {{season}}
          {{/power-select}}
        {{/form.element}}
      </div>
      <div class='col-md-6'>
        {{#form.element property='year' as |el|}}
          {{#power-select
            options=model.yearOptions
            selected=el.value
            renderInPlace=true
            onchange=(perform autosave 'year')
            placeholder="Choose Year"
            disabled=true
            allowClear=true
            as |year|
          }}
            Year: {{year}}
          {{/power-select}}
        {{/form.element}}
      </div>
    </div>
    {{form.element
      controlType='text'
      placeholder='Location'
      property='location'
      disabled=false
      onChange=(perform autosave 'location')
    }}
    <div class='row'>
      <div class='col-md-6'>
        {{#form.element property='openDate' as |el|}}
          {{bs-datetimepicker
            date=el.value
            format='YYYY-MM-DD'
            updateDate=(perform autosave 'openDate')
            placeholder="Convention Entry Open Date"
            disabled=false
          }}
        {{/form.element}}
      </div>
      <div class='col-md-6'>
        {{#form.element property='closeDate' as |el|}}
          {{bs-datetimepicker
            date=el.value
            format='YYYY-MM-DD'
            updateDate=(perform autosave 'closeDate')
            placeholder="Convention Entry Close Date"
            disabled=false
          }}
        {{/form.element}}
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        {{#form.element property='startDate' as |el|}}
          {{bs-datetimepicker
            date=el.value
            format='YYYY-MM-DD'
            updateDate=(perform autosave 'startDate')
            placeholder="Convention Start Date"
            disabled=false
          }}
        {{/form.element}}
      </div>
      <div class='col-md-6'>
        {{#form.element property='endDate' as |el|}}
          {{bs-datetimepicker
            date=el.value
            format='YYYY-MM-DD'
            updateDate=(perform autosave 'endDate')
            placeholder="Convention End Date"
            disabled=false
          }}
        {{/form.element}}
      </div>
    </div>
    {{#form.element property='panel' as |el|}}
        {{#power-select
              options=model.panelOptions
              selected=el.value
              onchange=(perform autosave 'panel')
              placeholder="Choose Panel"
              disabled=false
              allowClear=true
              as |panel|
        }}
          Panel: {{panel}}
        {{/power-select}}
    {{/form.element}}
  {{/bs-form}}
</section>