<section>
  {{#bs-form
    model=model
    formLayout='vertical'
    as |form|
  }}
    {{form.element
      property='name'
      onChange=(perform autosave 'name')
    }}
    {{#form.element}}
      {{#power-select
        renderInPlace=true
        options=entityOptions
        selected=model.entity
        onchange=(perform autosave 'entity')
        placeholder="Choose Convention Owner Entity"
        disabled=false
        allowClear=true
        as |entity|
      }}
        Owner: {{entity.name}}
      {{/power-select}}
    {{/form.element}}
    {{#form.element property='kind' as |el|}}
      {{#power-select
          options=model.kindOptions
          selected=model.kind
          onchange=(perform autosave 'kind')
          placeholder="Choose Kind"
          disabled=false
          allowClear=true
          as |kind|
      }}
        Kind: {{kind}}
      {{/power-select}}
    {{/form.element}}
    {{#form.element property='season' as |el|}}
      {{#power-select
        options=model.seasonOptions
        selected=el.value
        onchange=(perform autosave 'season')
        placeholder="Choose Season"
        disabled=false
        allowClear=true
        as |season|
      }}
        Season: {{season}}
      {{/power-select}}
    {{/form.element}}


    {{form.element
      controlType='text'
      placeholder='Location'
      property='location'
      disabled=false
      onChange=(perform autosave 'location')
    }}
    {{!-- {{form.element
      controlType='tel'
      placeholder='Year'
      property='year'
      disabled=false
      onChange=(perform autosave 'year')
    }} --}}
    <div class='row'>
      <div class='col-md-3'>
        {{#form.element property='open_date' as |el|}}
          {{bs-datetimepicker
            date=el.value
            format='YYYY-MM-DD'
            updateDate=(perform autosave 'open_date')
            placeholder="Convention Entry Open Date"
            disabled=false
          }}
        {{/form.element}}
      </div>
      <div class='col-md-3'>
        {{#form.element property='close_date' as |el|}}
          {{bs-datetimepicker
            date=el.value
            format='YYYY-MM-DD'
            updateDate=(perform autosave 'close_date')
            placeholder="Convention Entry Close Date"
            disabled=false
          }}
        {{/form.element}}
      </div>
    </div>
    <div class='row'>
      <div class='col-md-3'>
        {{#form.element property='start_date' as |el|}}
          {{bs-datetimepicker
            date=el.value
            format='YYYY-MM-DD'
            updateDate=(perform autosave 'start_date')
            placeholder="Convention Start Date"
            disabled=false
          }}
        {{/form.element}}
      </div>
      <div class='col-md-3'>
        {{#form.element property='end_date' as |el|}}
          {{bs-datetimepicker
            date=el.value
            format='YYYY-MM-DD'
            updateDate=(perform autosave 'end_date')
            placeholder="Convention End Date"
            disabled=false
          }}
        {{/form.element}}
      </div>
    </div>
    {{#form.element property='panel' as |el|}}
        {{#power-select
              options=model.panelOptions
              selected=el.value
              onchange=(perform autosave 'panel')
              placeholder="Choose Panel"
              disabled=false
              allowClear=true
              as |panel|
        }}
          Panel: {{panel}}
        {{/power-select}}
    {{/form.element}}
    {{#form.element property='risers' as |el|}}
        {{#power-select-multiple
              options=model.riserOptions
              selected=el.value
              onchange=(perform autosave 'risers')
              placeholder="Choose Riser Options"
              disabled=false
              allowClear=true
              as |risers|
        }}
          Risers: {{risers}}
        {{/power-select-multiple}}
    {{/form.element}}
  {{/bs-form}}
</section>