<section>
  <div class='row'>
    <div class='col-md-4'>
      <table class='table'>
        {{!-- <caption>Awards</caption> --}}
        <thead>
          <tr>
            <th>Name{{!-- &nbsp;{{fa-icon 'plus-circle' click=(action (mut openModal) true) class='text-success'}} --}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedItems as |award|}}
            <tr>
              <td>{{#link-to 'dashboard.organization-manager.organization.awards.award' award}}{{award.nomen}}{{/link-to}}</td>
            </tr>
          {{else}}
            <tr>
              <td>No awards</td>
            </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <td>
              {{input class='form-control' value=name placeholder='Award Name'}}
            </td>
            <td>
              {{fa-icon 'plus-circle' click=(action 'createAward') class='text-success'}}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class='col-md-8'>
      {{outlet}}
    </div>
  </div>
</section>
