<section>
  {{#bs-form
    model=model
    formLayout='vertical'
    as |form|
  }}
    {{form.element
      controlType='text'
      placeholder='Organization Name'
      property='name'
      onChange=(perform autosave 'name')
    }}
    {{form.element
      controlType='text'
      placeholder='Location'
      property='location'
      onChange=(perform autosave 'location')
    }}
    {{form.element
      controlType='url'
      placeholder='Website'
      property='website'
      onChange=(perform autosave 'website')
    }}
    {{form.element
      controlType='email'
      placeholder='Email'
      property='email'
      onChange=(perform autosave 'email')
    }}
    {{form.element
      controlType='phone'
      placeholder='Phone'
      property='phone'
      onChange=(perform autosave 'phone')
    }}
    {{form.element
      controlType='text'
      placeholder='Facebook'
      property='facebook'
      onChange=(perform autosave 'facebook')
    }}
    {{form.element
      controlType='text'
      placeholder='Twitter'
      property='twitter'
      onChange=(perform autosave 'twitter')
    }}
    {{form.element
      controlType='textarea'
      placeholder='Description'
      property='description'
      onChange=(perform autosave 'description')
    }}
  {{/bs-form}}
</section>