<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4>
        Order of Appearance
      </h4>
    </div>
      <div class='panel-body'>
        <table class='table'>
          <thead>
            <tr>
              <th>OA</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedAppearances as |appearance|}}
              <tr>
                <td>
                  {{appearance.num}}
                </td>
                <td>
                  {{!-- {{#link-to 'dashboard.scoring-manager.session.rounds.round.appearances.appearance' appearance}}{{appearance.entry.group.name}}{{/link-to}}<br> --}}
                  {{!-- {{appearance.entry.group.chapter.name}} --}}
                  {{appearance.entry.group.name}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
  </div>
</section>
<section>
  {{outlet}}
</section>
