  <td>
    {{model-picture picture=judge.person.picture}}
  </td>
  <td>
    {{judge.person.common_name}}
  </td>
  <td>
    {{judge.category}}
  </td>
  <td>
    {{judge.kind}}
  </td>
  <td>
    {{judge.status}}
  </td>
