<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4>Appearance: {{model.status}}</h4>
      <ul class='list-inline'>
        <li>{{#bs-button disabled=isPrevDisabled onClick=(action 'previousItem' sortedItems model)}}Previous{{/bs-button}}</li>
        <li>{{#bs-button disabled=isNextDisabled onClick=(action 'nextItem' sortedItems model)}}Next{{/bs-button}}</li>
      </ul>
    </div>
    <div class='panel-body'>
      {{!-- <div class='row'> --}}
        <h3 class='form-group'>
          {{model.entry.group.name}}&nbsp;{{#if (eq model.status 'Flagged')}}<span class="label label-danger">Variance</span>{{/if}}
        </h3>
        <h4 class='form-group'>
          {{#if model.entry.group.chapter}}{{model.entry.group.chapter.name}}{{/if}}
        </h4>
        <h4>
          Current OA: {{model.num}}
        </h4>
        <h4>
          Published: {{moment-format model.slot.onstage 'HH:mm'}}
        </h4>
        <ul class='list-inline form-group'>
          {{#if model.entry.group.chapter}}
            <li>{{mens-edit model=model men=model.entry.men}}</li>
          {{/if}}
        </ul>
      {{!-- </div> --}}
      <div class='table-responsive'>
        <table class='table'>
          <thead>
            <tr>
              <th class="col-md-8">Songs</th>
              <th class='text-right'>MUS</th>
              <th class='text-right'>PER</th>
              <th class='text-right'>SNG</th>
              <th class='text-right'>TOT</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedSongs as |song|}}
              <tr>
                <td>
                  {{song.chart.title}}
                </td>
                <td class='text-right'>
                  {{song.songprivate.mus_points}}
                </td>
                <td class='text-right'>
                  {{song.songprivate.per_points}}
                </td>
                <td class='text-right'>
                  {{song.songprivate.sng_points}}
                </td>
                <td class='text-right'>
                  {{song.songprivate.total_points}}
                </td>
              </tr>
            {{/each}}
          </tbody>
          <tfoot>
          <tr>
              <th>
                Totals
              </th>
              <th class='text-right'>
                {{model.appearanceprivate.mus_points}}
              </th>
              <th class='text-right'>
                {{model.appearanceprivate.per_points}}
              </th>
              <th class='text-right'>
                {{model.appearanceprivate.sng_points}}
              </th>
              <th class='text-right'>
                {{model.appearanceprivate.total_points}}
              </th>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class='table-responsive'>
        <table class='table'>
          <thead>
            <tr>
              <th class='col-md-9'>Assignment</th>
              <th>Variance</th>
              <th class='col-md-1'>Score</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedAssignments as |assignment|}}
              {{#unless (eq assignment.category 'Admin')}}
                <tr class={{assignment.rowClass}}>
                  <td>
                    {{assignment.kind}} {{assignment.category}}<br>
                    {{assignment.person.name}}
                  </td>
                  <td>
                    {{#each assignment.scores as |score|}}
                      {{#if (eq score.song.appearance.id model.id)}}<br>
                      {{/if}}
                    {{/each}}
                  </td>
                  <td>
                    {{#each (sort-by 'song.num' assignment.scores) as |score|}}
                      {{#if (eq score.song.appearance.id model.id)}}
                        <div class={{score.hasVarianceClass}}>
                          {{score-edit model=score points=score.points}}
                        </div>
                      {{/if}}
                    {{/each}}
                  </td>
                </tr>
              {{/unless}}
            {{/each}}
          </tbody>
        </table>
      </div>
      {{#bs-button onClick='saveAppearance'}}Save{{/bs-button}}
    </div>
  </div>
</section>