<section>
  <div class='panel panel-default'>
    <div class='panel-heading fixed-panel-header'>
      <h4>(New Award)</h4>
    </div>
    <div class='panel-body'>
      {{#bs-form
        model=model
        formLayout='vertical'
        onSubmit=(perform saveAward)
        as |form|
      }}
        {{form.element
          controlType='text'
          placeholder='Award Name'
          property='name'
        }}
        {{#form.element property='entity' useIcons=false as |el|}}
          {{#power-select
            renderInPlace=true
            options=entityOptions
            selected=el.value
            onchange=(action (mut el.value))
            placeholder="Choose Entity"
            allowClear=true
            as |entity|
          }}
            Entity: {{entity.name}}
          {{/power-select}}
        {{/form.element}}
        {{#form.element property='kind' useIcons=false as |el|}}
          {{#power-select
            renderInPlace=true
            options=model.kindOptions
            selected=el.value
            onchange=(action (mut el.value))
            placeholder="Choose Award Kind"
            allowClear=true
            as |kind|
          }}
            Kind: {{kind}}
          {{/power-select}}
        {{/form.element}}
        {{#form.element property='season' useIcons=false as |el|}}
          {{#power-select
            renderInPlace=true
            options=model.seasonOptions
            selected=el.value
            onchange=(action (mut el.value))
            placeholder="Choose Award Season"
            allowClear=true
            as |season|
          }}
            Season: {{season}}
          {{/power-select}}
        {{/form.element}}
        {{#form.element property='rounds' useIcons=false as |el|}}
          {{#power-select
            renderInPlace=true
            options=model.roundOptions
            selected=el.value
            onchange=(action (mut el.value))
            placeholder="Choose Award Rounds"
            allowClear=true
            as |rounds|
          }}
            Rounds: {{rounds}}
          {{/power-select}}
        {{/form.element}}
        {{#form.element property='isManual' as |el|}}
          {{#bs-button-group
            value=el.value
            type='radio'
            onchange=(action (mut el.value))
            as |bg|
          }}
            {{#bg.button type='default' value=false disabled=isDisabled}}Winner Determined by Highest Point Total{{/bg.button}}
            {{#bg.button type='default' value=true disabled=isDisabled}}Winner Determined Manually (ie, Most-Improved, etc.){{/bg.button}}
          {{/bs-button-group}}
        {{/form.element}}
        <hr>
        {{#form.element property='parent' useIcons=false as |el|}}
          {{#power-select
            renderInPlace=true
            options=awardOptions
            selected=el.value
            onchange=(action (mut el.value))
            placeholder="If a Qualifier Award, choose the Parent Award for which this award qualifies"
            allowClear=true
            disabled=isDisabled
            as |award|
          }}
            Parent Award: {{award.name}}
          {{/power-select}}
        {{/form.element}}
        {{#bs-button type="default" onClick=(action 'cancelAward')}}Cancel{{/bs-button}}
        {{#bs-button type="primary" buttonType="submit"}}Save{{/bs-button}}
      {{/bs-form}}
    </div>
  </div>
</section>