<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'conventions'}}Conventions{{/link-to}}</li>
    <li class='active'>{{model.name}}</li>
  </ol>
</div>


<section class='panel panel-default'>
  <div class='panel-heading'>
    <h4>
      Convention Detail
    </h4>
  </div>
  <div class='panel-body'>
    <p>
      {{model.name}}
    </p>
    <p>
      {{model.venue.name}}
    </p>
    <p>
      {{date-range model.name}}
    </p>
  </div>
</section>

<section>
 {{#bs-accordion selected=selected}}
     {{#bs-accordion-item value="1" title="Sessions" collapsed=false}}
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.sessions as |session|}}
              <tr>
                <td>
                  {{#link-to 'conventions.convention.session' session}}{{session.kind}}{{/link-to}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
     {{/bs-accordion-item}}
 {{/bs-accordion}}
</section>
