<section>
    <ol class='breadcrumb'>
      <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
      <li>{{#link-to 'admin.conventions'}}Conventions{{/link-to}}</li>
      <li>{{#link-to 'admin.conventions.convention' model.session.convention}}{{model.session.convention.name}}{{/link-to}}</li>
      <li>{{#link-to 'admin.conventions.convention.session' model.session}}{{model.session.kind}} Session{{/link-to}}</li>
      <li class='active'>{{model.group.name}}</li>
    </ol>
</section>

<section>
  <h3>
    Contestant Scoring Analysis
  </h3>
  <h3>
    {{model.group.name}}
  </h3>
  <h4>
      {{model.session.convention.name}}, {{date-range model.session.convention.date}}
  </h4>
</section>
<section>
  {{#each model.contestants as |contestant|}}
    <p>{{contestant.contest.award.name}}: {{contestant.rank}}</p>
  {{/each}}
</section>

<section>
  {{x-toggle showLabels=true offLabel='Points' onLabel='Score' toggle='letsGo'}}
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th>Rank</th>
          <th>Songs</th>
          <th class='text-right'>MUS</th>
          <th class='text-right'>PRS</th>
          <th class='text-right'>SNG</th>
          <th class='text-right'>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{model.rank}}
          </td>
          <td>
            {{#each model.performances as |performance|}}
              {{#each performance.songs as |song|}}
                {{truncate-text song.submission.chart.title limit=50}}<br>
              {{/each}}
              {{#if (not-eq model.performances.length 1)}}<em>{{performance.round.kind}}</em><br>{{/if}}
            {{/each}}
            <strong>Total</strong>
          </td>
          <td class='text-right'>
            {{#each model.performances as |performance|}}
              {{#each performance.songs as |song|}}
                {{#if isRaw}}{{song.mus_points}}{{else}}{{single-fixed song.mus_score}}{{/if}}<br>
              {{/each}}
              {{#if (not-eq model.performances.length 1)}}<em>{{#if isRaw}}{{performance.mus_points}}{{else}}{{single-fixed performance.mus_score}}{{/if}}</em><br>{{/if}}
            {{/each}}
            <strong>{{#if isRaw}}{{model.mus_points}}{{else}}{{single-fixed model.mus_score}}{{/if}}</strong><br>
          </td>
          <td class='text-right'>
            {{#each model.performances as |performance|}}
              {{#each performance.songs as |song|}}
                {{#if isRaw}}{{song.prs_points}}{{else}}{{single-fixed song.prs_score}}{{/if}}<br>
              {{/each}}
              {{#if (not-eq model.performances.length 1)}}<em>{{#if isRaw}}{{performance.prs_points}}{{else}}{{single-fixed performance.prs_score}}{{/if}}</em><br>{{/if}}
            {{/each}}
            <strong>{{#if isRaw}}{{model.prs_points}}{{else}}{{single-fixed model.prs_score}}{{/if}}</strong><br>
          </td>
          <td class='text-right'>
            {{#each model.performances as |performance|}}
              {{#each performance.songs as |song|}}
                {{#if isRaw}}{{song.sng_points}}{{else}}{{single-fixed song.sng_score}}{{/if}}<br>
              {{/each}}
              {{#if (not-eq model.performances.length 1)}}<em>{{#if isRaw}}{{performance.sng_points}}{{else}}{{single-fixed performance.sng_score}}{{/if}}</em><br>{{/if}}
            {{/each}}
            <strong>{{#if isRaw}}{{model.sng_points}}{{else}}{{single-fixed model.sng_score}}{{/if}}</strong><br>
          </td>
          <td class='text-right'>
            {{#each model.performances as |performance|}}
              {{#each performance.songs as |song|}}
                {{#if isRaw}}{{song.total_points}}{{else}}{{single-fixed song.total_score}}{{/if}}<br>
              {{/each}}
              {{#if (not-eq model.performances.length 1)}}<em>{{#if isRaw}}{{performance.total_points}}{{else}}{{single-fixed performance.total_score}}{{/if}}</em><br>{{/if}}
            {{/each}}
            <strong>{{#if isRaw}}{{model.total_points}}{{else}}{{single-fixed model.total_score}}{{/if}}</strong><br>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section>
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th>Songs</th>
          {{#each sortedPanel as |judge|}}
            <th class='text-right'>{{judge.designation}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{#each model.performances as |performance|}}
              {{#each performance.songs as |song|}}
                {{truncate-text song.submission.chart.title limit=50}}<br>
              {{/each}}
              {{#if (not-eq model.performances.length 1)}}<em>{{performance.round.kind}}</em><br>{{/if}}
            {{/each}}
            <strong>Total</strong>
          </td>
          {{#each sortedPanel as |judge|}}
            <td class='text-right'>
              {{#each model.performances as |performance|}}
                {{#each performance.songs as |song|}}
                  {{#each song.scores as |score|}}
                    {{#if (eq score.judge.id judge.id)}}{{score.points}}<br>{{/if}}
                  {{/each}}
                {{/each}}
              {{/each}}
            </td>
          {{/each}}
        </tr>
      </tbody>
    </table>
  </div>
</section>
