{{!-- <section>
<div>
<ul class='list-inline'>
  <li>{{#bs-button action=(action 'previousItem' sortedItems model)}}Previous{{/bs-button}}</li>
  <li>{{#bs-button action=(action 'nextItem' sortedItems model)}}Next{{/bs-button}}</li>
</ul>
  </div>
</section> --}}
<section>
    <h3>
      {{model.performer.group.name}}
    </h3>
    <h4>
      {{#if model.performer.group.chapter}}{{model.performer.group.chapter.name}}{{/if}}
    </h4>
    <ul class='list-inline'>
    <div class='row'>
      <li class='col-md-4'>{{bs-datetimepicker date=model.actual_start forceDateOutput=true format='LT' placeholder='Start' updateDate=(action "saveActualStart")}}</li>
      <li class='col-md-4'>{{bs-datetimepicker date=model.actual_finish forceDateOutput=true format='LT' placeholder='Finish' updateDate=(action "saveActualFinish")}}</li>
    </div>
    </ul>
    {{!-- <p>{{performance-status model=model status=model.status class='form-group'}}</p> --}}
</section>
<section>
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th class="col-md-8">Songs</th>
          <th class='text-right'>MUS</th>
          <th class='text-right'>PRS</th>
          <th class='text-right'>SNG</th>
          <th class='text-right'>TOT</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedSongs as |song|}}
          <tr>
            <td>
              {{select-submission model=song submission=song.submission}}
            </td>
            <td class='text-right'>
              {{song.musPointsSum}}
            </td>
            <td class='text-right'>
              {{song.prsPointsSum}}
            </td>
            <td class='text-right'>
              {{song.sngPointsSum}}
            </td>
            <td class='text-right'>
              {{song.pointsSum}}
            </td>
          </tr>
        {{/each}}
      </tbody>
      <tfoot>
      <tr>
          <th>
            Totals
          </th>
          <th class='text-right'>
            {{model.musPointsSum}}
          </th>
          <th class='text-right'>
            {{model.prsPointsSum}}
          </th>
          <th class='text-right'>
            {{model.sngPointsSum}}
          </th>
          <th class='text-right'>
            {{model.pointsSum}}
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</section>
<section>
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th class='col-md-4'>Slot</th>
          <th>Score</th>
          {{!-- <th>Variance</th> --}}
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedJudges as |judge|}}
          {{#unless (eq judge.category 'Admin')}}
            <tr>
              <td>
                {{judge.kind}} {{judge.category}}<br>
                {{judge.certification.person.name}}
              </td>
              <td>
                {{#each (sort-by 'song.num' judge.scores) as |score|}}
                  {{#if (eq score.song.performance.id model.id)}}
                   {{score-edit model=score points=score.points}}
                  {{/if}}
                {{/each}}
              </td>
              {{!-- <td>
                {{#each judge.scores as |score|}}
                  {{#if (eq score.song.performance.id model.id)}}
                    {{#if score.highReview}}
                      {{#link-to 'admin.convention.session.round.performance.variance' model class='text-danger'}}High{{/link-to}}
                    {{else}}
                      &nbsp;
                    {{/if}}
                    {{#if score.lowReview}}
                      {{#link-to 'admin.convention.session.round.performance.variance' model class='text-danger'}}Low{{/link-to}}
                    {{else}}
                      &nbsp;
                    {{/if}}
                    <br>
                  {{/if}}
                {{/each}}
              </td> --}}
              <td>
                {{#each judge.scores as |score|}}
                  {{#if (eq score.song.performance.id model.id)}}
                    {{#bs-dropdown}}
                      {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                      {{#bs-dropdown-menu}}
                        <li><a href='#' {{action 'moveTop' performance}}>Penalty - Accompaniment</a></li>
                        <li><a href='#' {{action 'moveBottom' performance}}>Penalty - Repetition</a></li>
                      {{/bs-dropdown-menu}}
                    {{/bs-dropdown}}
                    <br>
                  {{/if}}
                {{/each}}
              </td>
            </tr>
          {{/unless}}
        {{/each}}
      </tbody>
    </table>
    <p>{{#bs-button action=(action 'finishPerformance') class='form-group btn-primary'}}Finish Performance{{/bs-button}}</p>
  </div>
</section>
