<h3>Contest Administrator</h3>
<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'admin'}}Conventions{{/link-to}}</li>
    <li>{{#link-to 'admin.convention' model.convention}}{{model.convention.name}}{{/link-to}}</li>
    <li class='active'>{{model.kind}}</li>
  </ol>
</div>
<div>
{{contest-admin model=model person=model.administrator}}
</div>
<div>
{{session-status model=model status=model.status}}
</div>
<div>
<h4>Awards</h4>
<ul class='list-unstyled'>
{{#each model.contests as |contest|}}
      <li>{{#link-to 'admin.convention.session.contest' contest}}{{contest.award.name}}{{/link-to}}</li>
      {{!-- <li>{{contest.name}}</li> --}}
{{/each}}
</ul>
</div>
<div>
<h4>Rounds</h4>
<ul class='list-unstyled'>
{{#each model.rounds as |round|}}
      <li>{{#link-to 'admin.convention.session.round' round}}{{round.kind}}{{/link-to}}</li>
{{/each}}
</ul>
</div>
<div>
<table class='table'>
  <thead>
  <tr>
  <th>Slot</th>
  <th>Judge</th>
  <th>Status</th>
  </tr>
  </thead>
  <tbody>
  {{#each model.judges as |judge|}}
    <tr>
    <td>{{judge.category}} {{judge.kind}} {{judge.slot}}</td>
    {{!-- <td>{{judge.person.name}}</td> --}}
    <td>
      {{select-person model=judge person=judge.person}}
    </td>
    <td>
      {{select-judge-status model=judge status=judge.status}}
    </td>
    </tr>
  {{/each}}
  </tbody>
</table>
</div>
<div>
<table class='table'>
  <thead>
  <tr>
  <th>Group</th>
  <th>Organization</th>
  <th>Status</th>
  <th>Awards</th>
  </tr>
  </thead>
  <tbody>
  {{#each model.performers as |performer|}}
    <tr>
    <td>
      {{#link-to 'admin.convention.session.performer' performer}}{{performer.group.name}}{{/link-to}}
    </td>
    <td>
      {{performer.organization.name}}
    </td>
    <td>
      {{performer-status model=performer status=performer.status}}
    </td>
    <td>
      {{#link-to 'admin.convention.session.performer.awards' performer}}Awards{{/link-to}}
    </td>
    </tr>
  {{/each}}
  </tbody>
</table>
</div>
<p>
{{outlet}}
</p>