<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'admin'}}Conventions{{/link-to}}</li>
    <li>{{#link-to 'admin.convention' model.convention}}{{model.convention.name}}{{/link-to}}</li>
    <li class='active'>{{model.kind}}</li>
  </ol>
</div>
<section class='panel panel-default'>
  <div class='panel-heading'>
    <h3>
      Session Details
    </h3>
  </div>
  <div class='panel-body'>
      <ul class='list-unstyled'>
      <li>{{session-status model=model status=model.status class='form-group'}}</li>
      <li>{{contest-admin model=model person=model.administrator class='form-group'}}</li>
      <li>{{contest-aca model=model person=model.aca class='form-group'}}</li>
      <li>{{#link-to 'admin.convention.session.sa' model}}Judging Scoring Analysis{{/link-to}}</li>
      <li>{{#link-to 'admin.convention.session.announcement' model}}Announcement Sheet{{/link-to}}</li>
      <li>{{#bs-button action=(action 'finishSession') class='form-group'}}Finish{{/bs-button}}</li>
      </ul>
  </div>
</section>
<section>
 {{#bs-accordion selected=selected collapsed=collapsed}}
     {{#bs-accordion-item value="4" title="Performers"}}
        <table class='table'>
          <thead>
            <tr>
              <th>Group</th>
              <th>Organization</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedPerformers as |performer|}}
              <tr>
                <td>
                  {{#link-to 'admin.convention.session.performer' performer}}{{performer.group.name}}{{/link-to}}
                </td>
                <td>
                  {{select-organization model=performer organization=performer.organization}}
                </td>
                <td>
                  {{performer-status model=performer status=performer.status}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li><a href='#' {{action 'addPerformance' performer}}>Add Performance</a></li>
                      <li><a href='#' {{action 'scratchPerformer' performer}}>Scratch</a></li>
                      <li><a href='#' {{action 'deletePerformer' performer}}>Delete</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
            {{add-performer session=model}}
          </tbody>
        </table>
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="3" title="Judges"}}
        <table class='table'>
          <thead>
            <tr>
              <th>Slot</th>
              <th>Judge</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedJudges as |judge|}}
              <tr>
                <td>
                  {{judge.category}} {{judge.kind}} {{judge.slot}}
                </td>
                <td>
                  {{select-judge model=judge person=judge.person}}
                </td>
                <td>
                  {{judge-status model=judge status=judge.status}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li><a href='#' {{action 'scratchJudge' judge}}>Scratch</a></li>
                      <li><a href='#' {{action 'deleteJudge' judge}}>Delete</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
            {{add-judge model=model}}
          </tbody>
        </table>
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="1" title="Contests"}}
        <table class='table'>
          <thead>
            <tr>
              <th class='col-md-4'>Name</th>
              <th class='col-md-1'>Qualifier</th>
              <th class='col-md-5'>Champion</th>
              <th class='col-md-1'>Status</th>
              <th class='col-md-1'>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedContests as |contest|}}
              <tr>
                <td>
                  {{#link-to 'admin.convention.session.contest' contest}}{{contest.award.name}}{{/link-to}}
                </td>
                <td>
                  {{#if contest.is_qualifier}}{{fa-icon 'check-circle'}}{{/if}}
                </td>
                <td>
                  {{!-- {{contest.champion.performer.group.name}} --}}
                  {{contest-champion model=contest champion=contest.champion class='form-group'}}
                </td>
                <td>
                  {{contest-status model=contest status=contest.status}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li><a href='#' {{action 'deleteContest' contest}}>Delete</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        {{add-award session=model}}
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="2" title="Rounds"}}
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.rounds as |round|}}
              <tr>
                <td>
                  {{#link-to 'admin.convention.session.round' round}}{{round.kind}}{{/link-to}}
                </td>
                <td>
                  {{round-status model=round status=round.status}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li><a href='#' {{action 'drawRound' round}}>Draw</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
     {{/bs-accordion-item}}
 {{/bs-accordion}}
</section>
