<h3>Contest Administrator</h3>
<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'admin'}}Conventions{{/link-to}}</li>
    <li>{{#link-to 'admin.convention' model.convention}}{{model.convention.name}}{{/link-to}}</li>
    <li class='active'>{{model.kind}}</li>
  </ol>
</div>
<div>
{{contest-admin model=model person=model.administrator}}
</div>
<div>
{{session-status model=model status=model.status}}
</div>
<div>
<table class='table'>
  <thead>
  <tr>
  <th>Slot</th>
  <th>Judge</th>
  {{!-- <th>Status</th> --}}
  </tr>
  </thead>
  <tbody>
  {{#each model.judges as |judge|}}
    <tr>
    <td>{{judge.category}} {{judge.kind}} {{judge.slot}}</td>
    {{!-- <td>{{judge.person.name}}</td> --}}
    <td>
      {{select-person model=judge person=judge.person}}
    </td>
    <td>
      {{select-judge-status model=judge status=judge.status}}
    </td>
    </tr>
  {{/each}}
  </tbody>
</table>
</div>
<div>
<table class='table'>
  <thead>
  <tr>
  <th>Group</th>
  <th>Status</th>
  </tr>
  </thead>
  <tbody>
  {{#each model.performers as |performer|}}
    <tr>
    <td>
      {{select-group model=performer group=performer.group}}
      {{!-- {{select-person model=judge person=judge.person}} --}}
    </td>
    <td>
      {{performer.status}}
      {{!-- {{select-judge-status model=judge status=judge.status}} --}}
    </td>
    </tr>
  {{/each}}
  </tbody>
</table>
</div>
<p>
  {{outlet}}
</p>
