<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'admin'}}Conventions{{/link-to}}</li>
    <li>{{#link-to 'admin.convention' model.convention}}{{model.convention.name}}{{/link-to}}</li>
    <li class='active'>{{model.kind}}</li>
  </ol>
</div>
<section class='panel panel-default'>
  <div class='panel-heading'>
    <h3>
      Session Details
    </h3>
  </div>
  <div class='panel-body'>
  {{#if isEditing}}
      {{#bs-form action='saveSession'}}
        {{#bs-form-group}}
          {{session-status status=model.status}}
        {{/bs-form-group}}
          {{!-- {{date-range-picker
              start=model.date.lower
              end=model.date.upper
              ranges=null
              serverFormat='YYYY-MM-DD[T]HH:mm:ss.SSS[Z]'
              timePicker=true
              timePicker24Hour=true
              applyAction=(action 'saveDate')
          }} --}}
        {{#bs-form-group}}
          {{select-ca certification=model.ca}}
        {{/bs-form-group}}
        {{#bs-form-group}}
          {{select-aca certification=model.aca}}
        {{/bs-form-group}}
        {{bs-button defaultText="Save" type="primary" buttonType="submit"}}
        {{#bs-button action=(action 'cancelSession')}}Cancel{{/bs-button}}
        {{#bs-button action=(action 'deleteSession') class='pull-right btn-danger'}}Delete{{/bs-button}}
      {{/bs-form}}
    {{else}}
      <p>
        <strong>Name</strong>: {{model.name}}
      </p>
      <p>
        <strong>Status</strong>: {{model.status}}
      </p>
      <p>
        <strong>Contest Administrator</strong>: {{model.ca.person.name}}
      </p>
      <p>
        <strong>ACA</strong>: {{model.aca.person.name}}
      </p>
      {{#bs-button action=(action 'editSession')}}Edit{{/bs-button}}
      {{#bs-button action=(action 'newSession') class='btn-primary pull-right'}}New{{/bs-button}}
    {{/if}}
      <br><br>
      <ul class='list-inline'>
        <li>{{#bs-button action=(action 'openSession') class='form-group'}}Open{{/bs-button}}</li>
        <li>{{#bs-button action=(action 'closeSession') class='form-group'}}Close{{/bs-button}}</li>
        <li>{{#bs-button action=(action 'validateSession') class='form-group'}}Validate{{/bs-button}}</li>
        <li>{{#bs-button action=(action 'startSession') class='form-group'}}Start{{/bs-button}}</li>
        <li>{{#bs-button action=(action 'finishSession') class='form-group'}}Finish{{/bs-button}}</li>
        <li>{{#bs-button action=(action 'publishSession') class='form-group'}}Publish{{/bs-button}}</li>
      </ul>
  </div>
</section>
<section>
 {{#bs-accordion selected=selected collapsed=collapsed}}
     <h4>Pre-Session</h4>
     {{!-- {{#bs-accordion-item value="6" title="Assistants"}}
        <table class='table'>
          <thead>
            <tr>
              <th class='col-md-1'>Picture</th>
              <th>Name</th>
              <th>Category</th>
              <th>Kind</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.assistants as |assistant|}}
              <tr>
                <td>
                  {{person-picture person=assistant.person}}
                </td>
                <td>
                  {{#link-to 'admin.convention.session.assistant' assistant}}{{assistant.person.name}}{{/link-to}}
                </td>
                <td>
                  {{assistant.category}}
                </td>
                <td>
                  {{assistant.kind}}
                </td>
                <td>
                  {{assistant.status}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li><a href='#' {{action 'deleteAssistant' assistant}}>Delete</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        {{add-assistant session=model}}
     {{/bs-accordion-item}} --}}
     {{#bs-accordion-item value="3" title="Judges"}}
        <table class='table'>
          <thead>
            <tr>
              <th class='col-md-1'>Picture</th>
              <th>Name</th>
              <th>Category</th>
              <th>Kind</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedJudges as |judge|}}
              <tr>
                <td>
                  {{person-picture person=judge.certification.person}}
                </td>
                <td>
                  {{#link-to 'admin.convention.session.judge' judge.id}}{{judge.certification.person.name}}{{/link-to}}
                </td>
                <td>
                  {{judge.category}}
                </td>
                <td>
                  {{judge.kind}}
                </td>
                <td>
                  {{judge.status}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li><a href='#' {{action 'scratchJudge' judge}}>Scratch</a></li>
                      <li><a href='#' {{action 'deleteJudge' judge}}>Delete</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        {{add-judge model=model}}
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="1" title="Contests"}}
        <table class='table'>
          <thead>
            <tr>
              <th class='col-md-4'>Name</th>
              <th class='col-md-1'>Qualifier</th>
              {{!-- <th class='col-md-5'>Champion</th> --}}
              <th class='col-md-1'>Status</th>
              <th class='col-md-1'>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedContests as |contest|}}
              <tr>
                <td>
                  {{#link-to 'admin.convention.session.contest' contest}}{{contest.award.name}}{{/link-to}}
                </td>
                <td>
                  {{#if contest.is_qualifier}}{{fa-icon 'check-circle'}}{{/if}}
                </td>
                {{!-- <td>
                  {{contest.champion.performer.group.name}}
                  {{contest-champion model=contest champion=contest.champion class='form-group'}}
                </td> --}}
                <td>
                  {{contest.status}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li><a href='#' {{action 'deleteContest' contest}}>Delete</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        {{add-award session=model}}
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="4" title="Entrants"}}
        <table class='table'>
          <thead>
            <tr>
              <th class='col-md-4'>Group</th>
              {{!-- <th class='col-md-1'>Organization</th>
              {{#if (eq model.kind 'Chorus')}}
              <th>Director</th>
              <th>CoDirector</th>
              <th>Men</th>
              {{/if}} --}}
              <th class='col-md-1'>Status</th>
              <th class='col-md-1'>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedPerformers as |performer|}}
              <tr>
                <td>
                  {{#link-to 'admin.convention.session.performer' performer}}{{performer.group.chap_name}}{{/link-to}}
                </td>
                {{!-- <td>{{model.organzationChoices}}
                  {{select-organization model=performer organization=performer.organization}}
                </td>
                  {{#if (eq performer.group.kind 'Chorus')}}
                    <td>
                      {{select-director model=performer director=performer.director}}
                    </td>
                    <td>
                      {{select-codirector model=performer director=performer.codirector}}
                    </td>
                    <td>
                      {{men-edit model=performer men=performer.men}}
                    </td>
                  {{/if}} --}}
                <td>
                  {{performer.status}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li><a href='#' {{action 'addPerformance' performer}}>Add Performance</a></li>
                      <li><a href='#' {{action 'scratchPerformer' performer}}>Scratch</a></li>
                      <li><a href='#' {{action 'deletePerformer' performer}}>Delete</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        {{add-performer session=model class='form-group'}}
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="2" title="Schedule"}}
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.rounds as |round|}}
              <tr>
                <td>
                  {{#link-to 'admin.convention.session.round' round}}{{round.kind}}{{/link-to}}
                </td>
                <td>
                  {{round.status}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li><a href='#' {{action 'drawRound' round}}>Draw</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
     {{/bs-accordion-item}}
     <br><br>
     <h4>Peri-Session</h4>
     {{#bs-accordion-item value="7" title="Score"}}
       <p>
       {{#link-to 'admin.convention.session.cursor' model.cursor}}Score Performances{{/link-to}}
       {{!-- {{model.cursor.name}} --}}
       </p>
     {{/bs-accordion-item}}
     <br><br>
      <h4>Post-Session</h4>

     {{#bs-accordion-item value="5" title="Documents"}}
      <ul class='list-unstyled'>
        <li>{{#link-to 'admin.convention.session.announcement' model}}Announcement Sheet{{/link-to}}</li>
        {{#each primaryContests as |contest|}}
          <li>{{#link-to 'admin.convention.session.contest.oss' contest}}{{contest.award.name}}{{/link-to}}</li>
        {{/each}}
        <li>{{#link-to 'admin.convention.session.sa' model}}Judging Scoring Analysis{{/link-to}}</li>
      </ul>
     {{/bs-accordion-item}}
 {{/bs-accordion}}
</section>
