<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'admin'}}Conventions{{/link-to}}</li>
    <li>{{#link-to 'admin.convention' model.convention}}{{model.convention.name}}{{/link-to}}</li>
    <li class='active'>{{model.kind}}</li>
  </ol>
</div>
<section class='panel panel-default'>
  <div class='panel-heading'>
    <h3>
      Session Details
    </h3>
  </div>
  <div class='panel-body'>
      <ul class='list-unstyled'>
      <li>{{session-status model=model status=model.status class='form-group'}}</li>
      {{!-- {{date-range-picker
          start=model.date.lower
          end=model.date.upper
          ranges=null
          serverFormat='YYYY-MM-DD[T]HH:mm:ss.SSS[Z]'
          timePicker=true
          timePicker24Hour=true
          applyAction=(action 'saveDate')
      }} --}}
      {{!-- <li>Status: {{model.status}}</li> --}}
      <li>{{contest-admin model=model person=model.administrator class='form-group'}}</li>
      {{!-- <li>{{contest-aca model=model person=model.aca class='form-group'}}</li> --}}
      </ul>
      {{#bs-button action=(action 'openSession') class='form-group'}}Open{{/bs-button}}
      {{#bs-button action=(action 'closeSession') class='form-group'}}Close{{/bs-button}}
      {{#bs-button action=(action 'validateSession') class='form-group'}}Validate{{/bs-button}}
      {{#bs-button action=(action 'startSession') class='form-group'}}Start{{/bs-button}}
      {{#bs-button action=(action 'finishSession') class='form-group'}}Finish{{/bs-button}}
      {{!-- {{#bs-button action=(action 'draftSession') class='form-group'}}Draft{{/bs-button}} --}}
      {{#bs-button action=(action 'publishSession') class='form-group'}}Publish{{/bs-button}}
      <br><br>
      {{!-- <ul class='list-inline'>
        {{#each model.rounds as |round|}}
          <li>{{#link-to 'admin.convention.session.round' round}}{{round.kind}}{{/link-to}}</li>
        {{/each}}
      </ul> --}}
  </div>
</section>
<section>
 {{#bs-accordion selected=selected collapsed=collapsed}}
     <h4>Pre-Session</h4>
     {{#bs-accordion-item value="6" title="Assistants"}}
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Kind</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.assistants as |assistant|}}
              <tr>
                <td>
                  {{!-- {{#link-to 'admin.convention.session.assistant' assistant}}{{assistant.person.name}}{{/link-to}} --}}
                  {{person-modal person=assistant.person}}
                </td>
                <td>
                  {{assistant.kind}}
                </td>
                <td>
                  {{assistant-status model=assistant status=assistant.status}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li><a href='#' {{action 'deleteAssistant' assistant}}>Delete</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
            {{!-- {{add-judge model=model}} --}}
          </tbody>
        </table>
        {{add-assistant session=model}}
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="3" title="Judges"}}
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Kind</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedJudges as |judge|}}
              <tr>
                <td>
                  {{person-modal person=judge.person}}
                </td>
                <td>
                  {{judge.category}}
                </td>
                <td>
                  {{judge.kind}}
                </td>
                <td>
                  {{judge-status model=judge status=judge.status}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li><a href='#' {{action 'scratchJudge' judge}}>Scratch</a></li>
                      <li><a href='#' {{action 'deleteJudge' judge}}>Delete</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        {{add-judge model=model}}
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="1" title="Contests"}}
        <table class='table'>
          <thead>
            <tr>
              <th class='col-md-4'>Name</th>
              <th class='col-md-1'>Qualifier</th>
              <th class='col-md-5'>Champion</th>
              <th class='col-md-1'>Status</th>
              <th class='col-md-1'>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedContests as |contest|}}
              <tr>
                <td>
                  {{#link-to 'admin.convention.session.contest' contest}}{{contest.award.name}}{{/link-to}}
                </td>
                <td>
                  {{#if contest.is_qualifier}}{{fa-icon 'check-circle'}}{{/if}}
                </td>
                <td>
                  {{!-- {{contest.champion.performer.group.name}} --}}
                  {{contest-champion model=contest champion=contest.champion class='form-group'}}
                </td>
                <td>
                  {{contest-status model=contest status=contest.status}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li><a href='#' {{action 'deleteContest' contest}}>Delete</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        {{add-award session=model}}
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="4" title="Performers"}}
        <table class='table'>
          <thead>
            <tr>
              <th>Group</th>
              {{#if (eq model.kind 'Chorus')}}<th>Men</th>{{/if}}
              <th>Organization</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedPerformers as |performer|}}
              <tr>
                <td>
                  {{#link-to 'admin.convention.session.performer' performer}}{{performer.group.name}}{{/link-to}}
                </td>
                  {{#if (eq performer.group.kind 'Chorus')}}
                    <td>{{men-edit model=performer men=performer.men}}</td>
                  {{/if}}

                <td>{{model.organzationChoices}}
                  {{!-- {{select-organization model=performer organization=performer.organization options=model.organizationChoices}} --}}
{{#power-select
  options=organizationChoices
  selected=performer.organization
  onchange=(action (mut performer.organization))
  as |organization|
}}
  {{organization.name}}
{{/power-select}}
                </td>
                <td>
                  {{performer-status model=performer status=performer.status}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li><a href='#' {{action 'addPerformance' performer}}>Add Performance</a></li>
                      <li><a href='#' {{action 'scratchPerformer' performer}}>Scratch</a></li>
                      <li><a href='#' {{action 'deletePerformer' performer}}>Delete</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        {{add-performer session=model class='form-group'}}
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="2" title="Schedule"}}
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.rounds as |round|}}
              <tr>
                <td>
                  {{#link-to 'admin.convention.session.round' round}}{{round.kind}}{{/link-to}}
                </td>
                <td>
                  {{round-status model=round status=round.status}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li><a href='#' {{action 'drawRound' round}}>Draw</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
     {{/bs-accordion-item}}
     <br><br>
     <h4>Peri-Session</h4>
     {{#bs-accordion-item value="7" title="Score"}}
       <p>
       {{#link-to 'admin.convention.session.cursor' model.cursor}}Score Performances{{/link-to}}
       {{!-- {{model.cursor.name}} --}}
       </p>
     {{/bs-accordion-item}}
     <br><br>
      <h4>Post-Session</h4>

     {{#bs-accordion-item value="5" title="Documents"}}
      <ul class='list-unstyled'>
        <li>{{#link-to 'admin.convention.session.announcement' model}}Announcement Sheet{{/link-to}}</li>
        {{#each primaryContests as |contest|}}
          <li>{{#link-to 'admin.convention.session.contest.oss' contest}}{{contest.award.name}}{{/link-to}}</li>
        {{/each}}
        <li>{{#link-to 'admin.convention.session.sa' model}}Judging Scoring Analysis{{/link-to}}</li>
      </ul>
     {{/bs-accordion-item}}
 {{/bs-accordion}}
</section>
