<section>
<h3>
  Official Scoring Summary
</h3>
</section>
<section>
{{x-toggle showLabels=true offLabel='Points' onLabel='Score' toggle='letsGo'}}
<div class='table-responsive'>
<table class='table'>
  <thead>
  <tr>
  <th>Rank</th>
  <th>Group</th>
  <th>Songs</th>
  <th class='text-right'>MUS</th>
  <th class='text-right'>PRS</th>
  <th class='text-right'>SNG</th>
  <th class='text-right'>Total</th>
  {{!-- {{#each model.contests as |contest|}}
    <th class='text-right'>{{contest.award.name}}</th>
  {{/each}} --}}
  </tr>
  </thead>
  <tbody>
  {{#each sortedPerformers as |performer|}}
    <tr>
    <td>
      {{performer.totRank}}
    </td>
    <td>
      {{performer.group.name}}<br>
      {{#if (eq performer.group.kind 'Chorus')}}{{performer.group.chapter.name}}{{/if}}
    </td>
    <td>
      {{#each performer.performances as |performance|}}
        {{#each performance.songs as |song|}}
          {{truncate-text song.submission.chart.title limit=50}}<br>
        {{/each}}
        {{#if (not-eq performer.performances.length 1)}}<em>{{performance.round.kind}}</em><br>{{/if}}
      {{/each}}
      <strong>Total</strong>
    </td>
    <td class='text-right'>
      {{#each performer.performances as |performance|}}
        {{#each performance.songs as |song|}}
          {{#if isRaw}}{{song.musPoints}}{{else}}{{song.musScore}}{{/if}}<br>
        {{/each}}
        {{#if (not-eq performer.performances.length 1)}}<em>{{#if isRaw}}{{performance.musPoints}}{{else}}{{performance.musScore}}{{/if}}</em><br>{{/if}}
      {{/each}}
      <strong>{{#if isRaw}}{{performer.musPoints}}{{else}}{{performer.musScore}}{{/if}}</strong><br>

    </td>
    <td class='text-right'>
      {{#each performer.performances as |performance|}}
        {{#each performance.songs as |song|}}
          {{#if isRaw}}{{song.prsPoints}}{{else}}{{song.prsScore}}{{/if}}<br>
        {{/each}}
        {{#if (not-eq performer.performances.length 1)}}<em>{{#if isRaw}}{{performance.prsPoints}}{{else}}{{performance.prsScore}}{{/if}}</em><br>{{/if}}
      {{/each}}
      <strong>{{#if isRaw}}{{performer.prsPoints}}{{else}}{{performer.prsScore}}{{/if}}</strong><br>
    </td>
    <td class='text-right'>
      {{#each performer.performances as |performance|}}
        {{#each performance.songs as |song|}}
          {{#if isRaw}}{{song.sngPoints}}{{else}}{{song.sngScore}}{{/if}}<br>
        {{/each}}
        {{#if (not-eq performer.performances.length 1)}}<em>{{#if isRaw}}{{performance.sngPoints}}{{else}}{{performance.sngScore}}{{/if}}</em><br>{{/if}}
      {{/each}}
      <strong>{{#if isRaw}}{{performer.sngPoints}}{{else}}{{performer.sngScore}}{{/if}}</strong><br>
    </td>
    <td class='text-right'>
      {{#each performer.performances as |performance|}}
        {{#each performance.songs as |song|}}
          {{#if isRaw}}{{song.totPoints}}{{else}}{{song.totScore}}{{/if}}<br>
        {{/each}}
        {{#if (not-eq performer.performances.length 1)}}<em>{{#if isRaw}}{{performance.totPoints}}{{else}}{{performance.totScore}}{{/if}}</em><br>{{/if}}
      {{/each}}
      <strong>{{#if isRaw}}{{performer.totPoints}}{{else}}{{performer.totScore}}{{/if}}</strong><br>
    </td>
    </tr>
  {{/each}}
  </tbody>
</table>
</div>
</section>
<section>
  <h4>Contests</h4>
    <ul class='list-unstyled'>
      {{#each model.sortedContests as |contest|}}
        <li>{{contest.award.name}} Champion: {{contest.champion}}</li>
      {{/each}}
    </ul>
</section>
<section>
  <h4>Judges</h4>
    <ul class='list-unstyled'>
      {{#each model.sortedOfficialJudges as |judge|}}
        <li>{{judge.designation}}: {{judge.certification.person.common_name}}</li>
      {{/each}}
    </ul>
</section>
