<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4>Rounds</h4>
    </div>
    <div class='panel-body'>
      {{#each model.sortedRounds as |round|}}
        <h5>
          {{#link-to 'admin.convention.session.round' round}}{{round.kind}}{{/link-to}}
        </h5>
        <div class='table-responsive'>
          <table class='table'>
            <thead>
            <tr>
              <th>Slot</th>
              <th>Performer</th>
              {{!-- <th>Points</th> --}}
              {{!-- <th>Score</th> --}}
              {{!-- <th>Actions</th>  --}}
              {{!-- <th>Change</th> --}}
            </tr>
            </thead>
            <tbody>
              {{#each (sort-by 'num' round.performances) as |performance|}}
                <tr>
                  <td>
                    {{performance.num}}
                  </td>
                  <td>
                    {{#link-to 'admin.convention.session.current' performance}}{{performance.performer.group.name}}{{/link-to}}
                  </td>
                  {{!-- <td>
                    {{performance.totPoints}}
                  </td> --}}
                  {{!-- <td>
                    {{performance.totScore}}
                  </td> --}}
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      {{/each}}
    </div>
  </div>
</section>
