{{#bs-navbar as |navbar|}}
  <div class="navbar-header">
    {{#navbar.toggle}}
      {{fa-icon 'reorder'}}
    {{/navbar.toggle}}
    {{#link-to 'index' class='navbar-brand'}}<span><img src="/assets/bhs_logo_sm.png"></span>&nbsp;Barberscore{{/link-to}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav type='pills' class='navbar-right' as |nav|}}
      {{#if session.isAuthenticated}}
        {{#nav.item}}
          {{#bs-button onClick=(action "invalidateSession") class='btn-default navcenter pull-right'}}
            <img src='{{session.data.authenticated.profile.picture}}' width='20'>&nbsp;Logout
          {{/bs-button}}
        {{/nav.item}}
      {{else}}
        {{#nav.item}}
          {{#link-to 'login'}}Login{{/link-to}}
        {{/nav.item}}
      {{/if}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}

<div class='container'>
  <div class='alerts'>
    {{#each flashMessages.queue as |flash|}}
      {{flash-message flash=flash}}
    {{/each}}
  </div>
  {{outlet}}
</div>