<div class='container-fluid pb-5'>
  {{#bs-navbar as |navbar|}}
    {{!-- {{#navbar.toggle}}
      {{fa-icon 'reorder'}}
    {{/navbar.toggle}} --}}
    {{#link-to 'index' class='navbar-brand'}}<span><img src="/assets/bhs_logo_sm.png"></span>&nbsp;Barberscore{{/link-to}}
    {{#navbar.content}}
      {{#navbar.nav type='pills' class='ml-auto' as |nav|}}
        {{#if session.isAuthenticated}}
          {{#nav.item}}
            {{#bs-button onClick=(action "invalidateSession") class='btn btn-light'}}<img src='{{session.data.authenticated.profile.picture}}' width='20'>&nbsp;Logout {{currentUser.user.person.commonName}}
            {{/bs-button}}
          {{/nav.item}}
        {{else}}
          {{#nav.item}}
            {{#link-to 'login'}}Login{{/link-to}}
          {{/nav.item}}
        {{/if}}
      {{/navbar.nav}}
    {{/navbar.content}}
  {{/bs-navbar}}
</div>
<div class='container'>
  <div class='alerts'>
    {{#each flashMessages.queue as |flash|}}
      {{flash-message flash=flash}}
    {{/each}}
  </div>
  {{outlet}}
  <div class='pt-5'>
    <ul class="nav nav-pills">
      <li>{{#link-to 'about' class='nav-link'}}About{{/link-to}}</li>
      <li>{{#link-to 'faq' class='nav-link'}}FAQ{{/link-to}}</li>
      <li>{{#link-to 'tutorials' class='nav-link'}}Tutorials{{/link-to}}</li>
    </ul>
  </div>
</div>

