{{#bs-navbar toggleBreakpoint=null position='sticky-top' class='mb-4' as |navbar|}}
  {{#link-to 'index' active=False class='navbar-brand'}}<span><img src="/assets/bhs_logo_sm.png"></span>&nbsp;Barberscore{{/link-to}}
  {{#navbar.content}}
    {{#navbar.nav class='ml-auto' as |nav|}}
      {{#nav.item}}
        {{#each this.flashMessages.queue as |flash|}}
          {{#bs-alert type=flash.type dismissible=false fade=true}}
            <p>{{this.flash.message}}</p>
          {{/bs-alert}}
        {{/each}}
      {{/nav.item}}
    {{/navbar.nav}}
    {{#navbar.nav type='pills' class='ml-auto' as |nav|}}
      {{#if this.session.isAuthenticated}}
        {{#nav.item}}
          {{#bs-button type='outline-dark' class="btn-logout" onClick=(action "invalidateSession") }}
            <img src='{{this.session.data.authenticated.profile.picture}}' width='20'>&nbsp;Logout {{this.session.data.authenticated.profile.name}}
          {{/bs-button}}
        {{/nav.item}}
      {{else}}
        {{#nav.item}}
          {{#link-to 'login' active=False type='button'}}Judges Login{{/link-to}}
        {{/nav.item}}
      {{/if}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}
<div class='container-fluid'>
  {{outlet}}
</div>
{{!-- {{#bs-navbar toggleBreakpoint=null position='fixed-bottom' as |navbar|}}
  {{#navbar.content}}
    {{#navbar.nav type='pills' class='mr-4 nav-pills' as |nav|}}
      {{#nav.item}}
        {{#link-to 'about'}}About{{/link-to}}
      {{/nav.item}}
      &nbsp;&nbsp;&nbsp;
      {{#nav.item}}
        {{#link-to 'faq'}}FAQ{{/link-to}}
      {{/nav.item}}
      &nbsp;&nbsp;&nbsp;
      {{#nav.item}}
        {{#link-to 'tutorials'}}Tutorials{{/link-to}}
      {{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}} --}}

{{#unless (eq env 'production')}}
<div class="environment-name">
  {{ env }}
</div>
{{/unless}}