<BsNavbar @toggleBreakpoint=null position='sticky-top' class='mb-4 navbar-expand-lg' as |navbar|>
    <LinkTo @route='index' @active=false class='navbar-brand'><span><img src="/assets/bhs_logo_sm.png"></span>&nbsp;Barberscore</LinkTo>
  <navbar.content class="show">
    <navbar.nav class='mx-auto' as |nav|>
      <nav.item>
        {{#each this.flashMessages.queue as |flash|}}
          <FlashMessage @flash={{flash}} />
        {{/each}}
      </nav.item>
    </navbar.nav>
    <navbar.nav @type='pills' class='ml-auto' as |nav|>
      {{#if this.session.isAuthenticated}}
        <nav.item>
          <BsButton @type='outline-dark' class="btn-logout" @onClick={{action 'invalidateSession'}}>
            <img src='{{this.session.data.authenticated.profile.picture}}' width='20'>&nbsp;Logout {{this.session.data.authenticated.profile.name}}
          </BsButton>
        </nav.item>
      {{else}}
        <nav.item>
          <LinkTo @route='login' @active=false @type='button'>Judges Login</LinkTo>
        </nav.item>
      {{/if}}
    </navbar.nav>
  </navbar.content>
</BsNavbar>
<div class='container-fluid'>
  {{outlet}}
</div>
{{!-- {{#bs-navbar toggleBreakpoint=null position='fixed-bottom' as |navbar|}}
  {{#navbar.content}}
    {{#navbar.nav type='pills' class='mr-4 nav-pills' as |nav|}}
      {{#nav.item}}
        {{#link-to 'about'}}About{{/link-to}}
      {{/nav.item}}
      &nbsp;&nbsp;&nbsp;
      {{#nav.item}}
        {{#link-to 'faq'}}FAQ{{/link-to}}
      {{/nav.item}}
      &nbsp;&nbsp;&nbsp;
      {{#nav.item}}
        {{#link-to 'tutorials'}}Tutorials{{/link-to}}
      {{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}} --}}

{{#unless (eq this.env 'production')}}
<div class="environment-name">
  {{ env }}
</div>
{{/unless}}
<BasicDropdownWormhole />