{{#bs-navbar as |navbar|}}
  <div class="navbar-header">
    {{#navbar.toggle}}
      {{fa-icon 'reorder'}}
    {{/navbar.toggle}}
    {{#link-to 'public' class='navbar-brand'}}Barberscore{{/link-to}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav class='navbar-right' as |nav|}}
      {{#if session.isAuthenticated}}
        {{#nav.item}}{{#nav.link-to "admin"}}{{fa-icon 'dashboard' fixedWidth=true}}Administrator{{/nav.link-to}}{{/nav.item}}
      {{/if}}
      {{#if session.isAuthenticated}}
        {{#nav.item}}{{#bs-button onClick=(action "logout") class='btn-default navcenter pull-right'}}<img src='{{session.data.authenticated.profile.picture}}' width='20'>Logout {{/bs-button}}{{/nav.item}}
      {{else}}
        {{#nav.item}}{{#bs-button onClick=(action "login") class='btn-primary navcenter'}}Login{{/bs-button}}{{/nav.item}}
      {{/if}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}

<div class='container'>
  <div class='alerts'>
    {{#each flashMessages.queue as |flash|}}
      {{flash-message flash=flash}}
    {{/each}}
  </div>
  {{outlet}}
</div>
