<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4>
        {{model.session.nomen}}
      </h4>
    </div>
    <div class='panel-body'>
      <div>
        {{#bs-form
          formLayout="vertical"
          model=model
          onSubmit=(action "saveEntry")
          as |form|
        }}
          {{#form.element property='representing' useIcons=false as |el|}}
            {{#power-select
              options=representingOptions
              selected=el.value
              searchField='name'
              onchange=(action (mut el.value))
              placeholder="Enter District/Division/Affiliate Representation"
              allowClear=true
              renderInPlace=true
              disabled=isDisabled
              as |representing|
            }}
              Representing: {{representing.name}}
            {{/power-select}}
          {{/form.element}}
          {{#form.element property='is_evaluation' as |el|}}
            {{#bs-button-group
              value=el.value
              type='radio'
              onChange=(action (mut el.value))
              disabled=isDisabled
              as |bg|
            }}
              {{#bg.button type='default' value=false disabled=true}}Skip Eval{{/bg.button}}
              {{#bg.button type='default' value=true disabled=true}}Include Eval{{/bg.button}}
            {{/bs-button-group}}
          {{/form.element}}
          {{#form.element property='is_private' as |el|}}
            {{#bs-button-group
              value=el.value
              type='radio'
              onChange=(action (mut el.value))
              as |bg|
            }}
              {{#bg.button type='default' value=false disabled=true}}Make Scores Public{{/bg.button}}
              {{#bg.button type='default' value=true disabled=true}}Keep Scores Private{{/bg.button}}
            {{/bs-button-group}}
          {{/form.element}}
          {{#form.element property='tenor' useIcons=false as |el|}}
            {{#power-select
              search=(perform searchTask)
              selected=el.value
              onchange=(action (mut el.value))
              placeholder="Enter Tenor Name"
              disabled=isDisabled
              allowClear=true
              as |person|
            }}
              Tenor: <strong>{{person.common_name}}</strong>&nbsp;&mdash;&nbsp;{{#if person.isExpiring}}<span class='text-success'>Membership Expires: {{moment-format person.dues_thru 'LL'}}</span>{{else}}<span class='text-danger'>Membership Expires: {{moment-format person.dues_thru 'LL'}}</span>{{/if}}
            {{/power-select}}
          {{/form.element}}
          {{#form.element property='lead' useIcons=false as |el|}}
            {{#power-select
              search=(perform searchTask)
              selected=el.value
              onchange=(action (mut el.value))
              placeholder="Enter Lead Name"
              disabled=isDisabled
              allowClear=true
              as |person|
            }}
              Lead: <strong>{{person.common_name}}</strong>&nbsp;&mdash;&nbsp;{{#if person.isExpiring}}<span class='text-success'>Membership Expires: {{moment-format person.dues_thru 'LL'}}</span>{{else}}<span class='text-danger'>Membership Expires: {{moment-format person.dues_thru 'LL'}}</span>{{/if}}
            {{/power-select}}
          {{/form.element}}
          {{#form.element property='baritone' useIcons=false as |el|}}
            {{#power-select
              search=(perform searchTask)
              selected=el.value
              onchange=(action (mut el.value))
              placeholder="Enter Baritone Name"
              disabled=isDisabled
              allowClear=true
              as |person|
            }}
              Baritone: <strong>{{person.common_name}}</strong>&nbsp;&mdash;&nbsp;{{#if person.isExpiring}}<span class='text-success'>Membership Expires: {{moment-format person.dues_thru 'LL'}}</span>{{else}}<span class='text-danger'>Membership Expires: {{moment-format person.dues_thru 'LL'}}</span>{{/if}}
            {{/power-select}}
          {{/form.element}}
          {{#form.element property='bass' useIcons=false as |el|}}
            {{#power-select
              search=(perform searchTask)
              selected=el.value
              onchange=(action (mut el.value))
              placeholder="Enter Bass Name"
              disabled=isDisabled
              allowClear=true
              as |person|
            }}
              Bass: <strong>{{person.common_name}}</strong>&nbsp;&mdash;&nbsp;{{#if person.isExpiring}}<span class='text-success'>Membership Expires: {{moment-format person.dues_thru 'LL'}}</span>{{else}}<span class='text-danger'>Membership Expires: {{moment-format person.dues_thru 'LL'}}</span>{{/if}}
            {{/power-select}}
          {{/form.element}}
          {{#if model.permissions.write}}
            {{#if isEditing}}
                {{#bs-button onClick=(action 'cancelEntry')}}Cancel{{/bs-button}}
                {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
                {{#bs-button onClick=(action 'deleteEntry') class='pull-right btn-danger'}}Delete{{/bs-button}}
            {{else}}
              {{#bs-button onClick=(action 'editEntry')}}Edit{{/bs-button}}
            {{/if}}
          {{/if}}
        {{/bs-form}}
      </div>
    </div>
  </div>
  <div>
    <p><strong>Note:</strong> By entering this contest you are agreeing/certifying to the following:</p>
    <ul class='list-styled'>
      <li>Agrees to the public exhibition on one or more occasions of motion picture films or a television program or programs using live broadcasts, video tapes, or films, or a combination of two or more of these, which will be made of us and other quartets and/or choruses during the international convention. We agree that all revenues received by the Society, or any of its affiliates, for same may be retained by the Society or affiliate. Agrees that the Society may record our portion of the contest for Society archives and Society use. Included in this agreement is permission to the Society to use available segments of our portion of the contest on recordings to be manufactured and sold by the Society.</li>
      <li>Certifying that each member of the quartet or chorus (including director) holds, or shall hold, a convention registration for said contest.</li>
      <li>Certifying that we have complied with copyright law in the acquisition, arranging, and learning of our contest songs/ arrangements and will perform only legally cleared songs in the contest. We understand that ineligibility or disqualification will be a consequence for violation of this statement.</li>
      <li>Certifying that we will perform a song currently listed in our song Repertory.  Any song performed that does not exist in the Repertory before the performance may result in disqualification.</li>
    </ul>
  </div>
  <div>
    <p>
      You are eligble for the following awards:
    </p>
    {{multiselect-checkboxes
      options=contestOptions
      labelProperty='awardName'
      valueProperty='id'
      selection=model.selectedContests
      disabled=true
      updateSelectionValue=false
      onchange=(action "updateSelection")
    }}
  </div>
</section>
  {{!-- <div class='table-responsive'>
    <table class='table'>
      <caption>Song Submissions</caption>
      <thead>
        <tr>
          <th>Title</th>
          <th>Composer(s)</th>
          <th>Arranger(s)</th>
          <th>Copyright</th>
          <th>Number</th>
          <th>Status</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedSubmissions as |submission|}}
          <tr>
            <td>{{submission.title}}</td>
            <td>{{submission.composers}}</td>
            <td>{{submission.arrangers}}</td>
            <td>{{submission.holders}}</td>
            <td>{{submission.bhs_id}}</td>
            <td>{{submission.status}}</td>
            <td>{{fa-icon 'times-circle' click=(action 'deleteSubmission' submission) class='text-danger'}}</td>
          </tr>
        {{else}}
          <tr>
            <td>(No songs submitted.)</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div> --}}
{{!-- <section>
  {{#bs-button onClick=(action (mut openModal) true) type='success'}}Add Song{{/bs-button}}
</section>
<section>
  {{#bs-modal-simple
    open=openModal
    onHidden=(action "clearSubmission")
    title="Add Submission"
    closeTitle="Cancel"
    submitTitle="Save"
    backdropClose=false
  }}
    {{#bs-form
      model=this
      formLayout='vertical'
      onSubmit=(action 'createSubmission')
      as |form|
    }}
      {{#form.element property='submission' useIcons=false as |el|}}
        {{#power-select
          search=(perform searchChart)
          selected=el.value
          renderInPlace=true
          onchange=(action 'populateSubmission')
          placeholder="Search by Song Name or BHS Chart Number"
          allowClear=true
          as |chart|
        }}
          Song: {{chart.title}} {{chart.bhs_id}}
        {{/power-select}}
      {{/form.element}}
      <div>
        <hr>
      </div>
      <div>
        <p>The search box above will populate these fields automatically;<br>if you can't find your song then enter details below</p>
      </div>
      {{form.element controlType='text' placeholder='Song Title' property='title'}}
      {{form.element controlType='text' placeholder='Composer(s)/Lyricist(s)' property='composers'}}
      {{form.element controlType='text' placeholder='Arranger(s)' property='arrangers'}}
      {{form.element controlType='text' placeholder='Copyright Holders' property='holders'}}
      {{form.element controlType='tel' placeholder='BHS ID (if known)' property='bhs_id'}}
    {{/bs-form}}
  {{/bs-modal-simple}}
</section> --}}