<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4>
        {{model.session.nomen}}
      </h4>
    </div>
    <div class='panel-body'>
      <div>
        {{#bs-form
          formLayout="vertical"
          model=model
          onSubmit=(action "savePerformer")
          as |form|
        }}
          {{#form.element property='representing' useIcons=false as |el|}}
            {{#power-select
              options=representingOptions
              selected=el.value
              searchField='name'
              onchange=(action (mut el.value))
              placeholder="Enter District/Division/Affiliate Representation"
              allowClear=true
              renderInPlace=true
              disabled=isDisabled
              as |representing|
            }}
              Representing: {{representing.name}}
            {{/power-select}}
          {{/form.element}}
          {{#form.element property='is_evaluation' as |el|}}
            {{#bs-button-group
              value=el.value
              type='radio'
              onChange=(action (mut el.value))
              disabled=isDisabled
              as |bg|
            }}
              {{#bg.button type='default' value=false disabled=isDisabled}}Skip Eval{{/bg.button}}
              {{#bg.button type='default' value=true disabled=isDisabled}}Include Eval{{/bg.button}}
            {{/bs-button-group}}
          {{/form.element}}
          {{#form.element property='is_private' as |el|}}
            {{#bs-button-group
              value=el.value
              type='radio'
              onChange=(action (mut el.value))
              as |bg|
            }}
              {{#bg.button type='default' value=false disabled=isDisabled}}Make Scores Public{{/bg.button}}
              {{#bg.button type='default' value=true disabled=isDisabled}}Keep Scores Private{{/bg.button}}
            {{/bs-button-group}}
          {{/form.element}}
          {{#unless (eq model.session.kind 'Chorus')}}
            {{#form.element property='tenor' useIcons=false as |el|}}
              {{#power-select
                search=(perform searchTask)
                selected=el.value
                onchange=(action (mut el.value))
                placeholder="Enter Tenor Name"
                disabled=isDisabled
                allowClear=true
                as |person|
              }}
                Tenor: {{person.common_name}}
              {{/power-select}}
            {{/form.element}}
            {{#form.element property='lead' useIcons=false as |el|}}
              {{#power-select
                search=(perform searchTask)
                selected=el.value
                onchange=(action (mut el.value))
                placeholder="Enter Lead Name"
                disabled=isDisabled
                allowClear=true
                as |person|
              }}
                Lead: {{person.common_name}}
              {{/power-select}}
            {{/form.element}}
            {{#form.element property='baritone' useIcons=false as |el|}}
              {{#power-select
                search=(perform searchTask)
                selected=el.value
                onchange=(action (mut el.value))
                placeholder="Enter Baritone Name"
                disabled=isDisabled
                allowClear=true
                as |person|
              }}
                Baritone: {{person.common_name}}
              {{/power-select}}
            {{/form.element}}
            {{#form.element property='bass' useIcons=false as |el|}}
              {{#power-select
                search=(perform searchTask)
                selected=el.value
                onchange=(action (mut el.value))
                placeholder="Enter Bass Name"
                disabled=isDisabled
                allowClear=true
                as |person|
              }}
                Bass: {{person.common_name}}
              {{/power-select}}
            {{/form.element}}
          {{else}}
            {{#form.element property='director' useIcons=false as |el|}}
                {{#power-select
                  search=(perform searchTask)
                  selected=el.value
                  onchange=(action (mut el.value))
                  placeholder="Enter Director Name"
                  disabled=isDisabled
                  allowClear=true
                  as |person|
                }}
                  {{#if model.codirector}}Co-Director:{{else}}Director:{{/if}} {{person.common_name}}
                {{/power-select}}
            {{/form.element}}
            {{#form.element property='codirector' useIcons=false as |el|}}
                {{#power-select
                  search=(perform searchTask)
                  selected=el.value
                  onchange=(action (mut el.value))
                  placeholder="Enter Co-Director Name (if applicable)"
                  disabled=isDisabled
                  allowClear=true
                  as |person|
                }}
                  Co-Director: {{person.common_name}}
                {{/power-select}}
            {{/form.element}}
          {{/unless}}
          {{#if isEditing}}
              {{#bs-button onClick=(action 'cancelPerformer')}}Cancel{{/bs-button}}
              {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
              {{#bs-button onClick=(action 'deletePerformer') class='pull-right btn-danger'}}Delete{{/bs-button}}
          {{else}}
            {{#bs-button onClick=(action 'editPerformer')}}Edit{{/bs-button}}
          {{/if}}
        {{/bs-form}}
      </div>
    </div>
  </div>
  <div>
  <caption>Awards</caption>
    {{multiselect-checkboxes
      options=contestOptions
      labelProperty='nomen'
      selection=selectedContests
      updateSelectionValue=true
      onchange=(action "updateSelection")
    }}
  </div>
  <div class='table-responsive'>
    <table class='table'>
      <caption>Song Submissions</caption>
      <thead>
        <tr>
          <th>Title</th>
          <th>Composer(s)</th>
          <th>Arranger(s)</th>
          <th>Copyright</th>
          <th>Number</th>
          <th>Status</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedSubmissions as |submission|}}
          <tr>
            <td>{{submission.title}}</td>
            <td>{{submission.composers}}</td>
            <td>{{submission.arrangers}}</td>
            <td>{{submission.holders}}</td>
            <td>{{submission.bhs_id}}</td>
            <td>{{submission.status}}</td>
            <td>{{fa-icon 'times-circle' click=(action 'deleteSubmission' submission) class='text-danger'}}</td>
          </tr>
        {{else}}
          <tr>
            <td>(No songs submitted.)</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
<section>
  {{#bs-button onClick=(action (mut openModal) true) type='success'}}Add Song{{/bs-button}}
</section>
<section>
  {{#bs-modal-simple
    open=openModal
    onHidden=(action "clearSubmission")
    title="Add Submission"
    closeTitle="Cancel"
    submitTitle="Save"
    backdropClose=false
  }}
    {{#bs-form
      model=this
      formLayout='vertical'
      onSubmit=(action 'createSubmission')
      as |form|
    }}
      {{#form.element property='submission' useIcons=false as |el|}}
        {{#power-select
          search=(perform searchCatalog)
          selected=el.value
          renderInPlace=true
          onchange=(action 'populateSubmission')
          placeholder="Search by Song Name or BHS Catalog Number"
          allowClear=true
          as |catalog|
        }}
          Song: {{catalog.title}} {{catalog.bhs_id}}
        {{/power-select}}
      {{/form.element}}
      <div>
        <hr>
      </div>
      <div>
        <p>The search box above will populate these fields automatically;<br>if you can't find your song then enter details below</p>
      </div>
      {{form.element controlType='text' placeholder='Song Title' property='title'}}
      {{form.element controlType='text' placeholder='Composer(s)/Lyricist(s)' property='composers'}}
      {{form.element controlType='text' placeholder='Arranger(s)' property='arrangers'}}
      {{form.element controlType='text' placeholder='Copyright Holders' property='holders'}}
      {{form.element controlType='tel' placeholder='BHS ID (if known)' property='bhs_id'}}
    {{/bs-form}}
  {{/bs-modal-simple}}
</section>