<section>
  <div class='row'>
    <div class='col-md-6'>
      <table class='table'>
        <thead>
          <tr>
            <th class='col-md-4'>Name</th>
            <th class='col-md-2'>Category</th>
            <th class='col-md-1'>Delete</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedAssignments as |assignment|}}
            <tr>
              <td>{{assignment.person.common_name}}</td>
              <td>{{assignment.kind}}</td>
              <td>{{fa-icon 'times-circle' click=(action 'deleteAssignment' assignment) class='text-danger'}}</td>
            </tr>
          {{else}}
            <tr>
              <td colspan=3>No Assignments.</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>
<section>
  {{#bs-button onClick=(action (mut openModal) true) type='success'}}Create New Assignment{{/bs-button}}
</section>
<section>
  {{#bs-modal-simple
    open=openModal
    onHidden=(action "clearAssignment")
    title="Create Assignment"
    closeTitle="Cancel"
    submitTitle="Save"
    backdropClose=false
  }}
    {{#bs-form
      model=this
      formLayout='vertical'
      onSubmit=(action 'createAssignment')
      as |form|
    }}
      {{#form.element property='person' useIcons=false as |el|}}
        {{#power-select
          renderInPlace=true
          options=adminOptions
          selected=el.value
          onchange=(action (mut el.value))
          placeholder="Choose Person for Assignment"
          allowClear=true
          as |person|
        }}
          Person: {{person.common_name}} [{{#each person.officers as |officer|}}
            {{officer.office.name}}{{#unless (eq officer person.officers.lastObject)}}, {{/unless}}
          {{/each}}]
        {{/power-select}}
      {{/form.element}}
      {{#form.element property='kind' useIcons=false as |el|}}
        {{#power-select
          renderInPlace=true
          options=kindOptions
          selected=el.value
          onchange=(action (mut el.value))
          placeholder="Choose Kind"
          allowClear=true
          as |kind|
        }}
          Kind: {{kind}}
        {{/power-select}}
      {{/form.element}}
    {{/bs-form}}
  {{/bs-modal-simple}}
</section>
