<section>
  {{#bs-form
    model=model
    formLayout='vertical'
    onSubmit=(action 'saveConvention')
    as |form|
  }}
    {{form.element
      controlType='text'
      placeholder='Convention Name'
      property='name'
      disabled=isDisabled
    }}
    {{!-- {{#form.element property='status' useIcons=false as |el|}}
        {{#power-select
              options=model.statusOptions
              selected=el.value
              onchange=(action (mut el.value))
              placeholder="Choose Status"
              disabled=isDisabled
              allowClear=true
              as |status|
        }}
          Status: {{status}}
        {{/power-select}}
    {{/form.element}} --}}
    {{#form.element property='kind' useIcons=false as |el|}}
        {{#power-select
              options=model.kindOptions
              selected=el.value
              onchange=(action (mut el.value))
              placeholder="Choose Kind"
              disabled=isDisabled
              allowClear=true
              as |kind|
        }}
          Kind: {{kind}}
        {{/power-select}}
    {{/form.element}}
    {{#form.element property='season' useIcons=false as |el|}}
        {{#power-select
              options=model.seasonOptions
              selected=el.value
              onchange=(action (mut el.value))
              placeholder="Choose Season"
              disabled=isDisabled
              allowClear=true
              as |season|
        }}
          Season: {{season}}
        {{/power-select}}
    {{/form.element}}
    {{form.element
      controlType='text'
      placeholder='Location'
      property='location'
      disabled=isDisabled
    }}
    {{!-- {{form.element
      controlType='tel'
      placeholder='Year'
      property='year'
      disabled=isDisabled
    }} --}}
    {{#form.element property='start_date' useIcons=false as |el|}}
      {{bs-datetimepicker
        date=el.value
        format='YYYY-MM-DD'
        updateDate=(action (mut el.value))
        placeholder="Convention Start Date"
        disabled=isDisabled
      }}
    {{/form.element}}
    {{#form.element property='end_date' useIcons=false as |el|}}
      {{bs-datetimepicker
        date=el.value
        format='YYYY-MM-DD'
        updateDate=(action (mut el.value))
        placeholder="Convention End Date"
        disabled=isDisabled
      }}
    {{/form.element}}
    {{#form.element property='panel' useIcons=false as |el|}}
        {{#power-select
              options=model.panelOptions
              selected=el.value
              onchange=(action (mut el.value))
              placeholder="Choose Panel"
              disabled=isDisabled
              allowClear=true
              as |panel|
        }}
          Panel: {{panel}}
        {{/power-select}}
    {{/form.element}}
    {{#form.element property='risers' useIcons=false as |el|}}
        {{#power-select-multiple
              options=model.riserOptions
              selected=el.value
              onchange=(action (mut el.value))
              placeholder="Choose Riser Options"
              disabled=isDisabled
              allowClear=true
              as |risers|
        }}
          Risers: {{risers}}
        {{/power-select-multiple}}
    {{/form.element}}
    {{#form.element property='participants' useIcons=false as |el|}}
      {{#power-select-multiple
        options=model.participantOptions
        selected=el.value
        onchange=(action (mut el.value))
        placeholder="Choose Participants Options"
        disabled=isDisabled
        allowClear=true
        as |participants|
      }}
        Participants: {{participants.name}}
      {{/power-select-multiple}}
    {{/form.element}}
    {{#form.element}}
      {{#if isEditing}}
        {{#bs-button onClick=(action 'cancelConvention')}}Cancel{{/bs-button}}
        {{#bs-button type="primary" buttonType="submit"}}Save{{/bs-button}}
        {{#bs-button onClick=(action 'deleteConvention') class='pull-right btn-danger'}}Delete{{/bs-button}}
      {{else}}
        {{#bs-button onClick=(action 'editConvention')}}Edit{{/bs-button}}
      {{/if}}
    {{/form.element}}
  {{/bs-form}}
</section>
