<section>
  <div class='row'>
    <div class='col-md-6'>
      <table class='table'>
        <thead>
          <tr>
            <th class='col-md-4'>Name</th>
            <th class='col-md-1'>Delete</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedHosts as |host|}}
            <tr>
              <td>{{host.entity.name}}</td>
              <td>{{fa-icon 'times-circle' click=(action 'deleteHost' host) class='text-danger'}}</td>
            </tr>
          {{else}}
            <tr>
              <td>No hosts</td>
            </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <td>
              {{#power-select
                options=entityCall
                loadingMessage="Waiting for the server...."
                searchField="name"
                selected=entity
                onchange=(action (mut entity))
                placeholder="Enter Host by Name"
                allowClear=true
                as |entity|
              }}
                {{entity.name}}
              {{/power-select}}
            </td>
            <td>{{fa-icon 'plus-circle' click=(action 'createHost') class='text-success'}}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>
