<section>
  <div class='row'>
    <div class='col-md-6'>
      <table class='table'>
        <thead>
          <tr>
            <th class='col-md-4'>Name</th>
            <th class='col-md-1'>Delete</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedHosts as |host|}}
            <tr class="{{if host.isDeleted 'danger' 'default'}}">
              <td>
                {{#if host.isNew}}
                  {{#power-select
                    options=entityOptions
                    search=(perform searchTask)
                    selected=host.entity
                    onchange=(action (mut host.entity))
                    placeholder="Enter Host by Name"
                    allowClear=true
                    as |entity|
                  }}
                    {{entity.name}}
                  {{/power-select}}
                {{else}}
                  {{host.entity.name}}
                {{/if}}
              </td>
              <td>{{#if host.isDeleted}}{{fa-icon 'undo' click=(action 'undoHost' host)}}{{else}}{{fa-icon 'times-circle' click=(action 'deleteHost' host)}}{{/if}}</td>
            </tr>
          {{else}}
            <tr>
              <td>No hosts</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  {{#bs-button type='primary' onClick=(action 'saveHosts')}}Save{{/bs-button}}
  {{#bs-button type='default' onClick=(action 'cancelHosts')}}Cancel{{/bs-button}}
  {{#bs-button type='success' onClick=(action 'newHost')}}New{{/bs-button}}
</section>
