<section>
  <div class='row'>
    <div class='col-md-12'>
      <table class='table'>
        <thead>
          <tr>
            <th class='col-md-2'>Kind</th>
            {{!-- <th class='col-md-2'>Age</th> --}}
            <th class='col-md-2'>Rounds</th>
            <th class='col-md-4'>Contests</th>
            <th class='col-md-1'>Delete</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedSessions as |session|}}
            <tr>
              <td>{{session.kind}}</td>
              {{!-- <td>{{session.age}}</td> --}}
              <td>{{session.num_rounds}}</td>
              <td>{{#if session.contests}}{{#each session.contests as |contest|}}{{contest.award.name}}<br>{{/each}}{{else}}(No contests selected.){{/if}}</td>
              <td>{{fa-icon 'times-circle' click=(action 'deleteSession' session) class='text-danger'}}</td>
            </tr>
          {{else}}
            <tr>
              <td>No Sessions</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>
