<section>
  <div class='row'>
    <div class='col-md-6'>
      <table class='table'>
        <thead>
          <tr>
            <th class='col-md-4'>Name</th>
            <th class='col-md-2'>Rounds</th>
            <th class='col-md-1'>Delete</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedSessions as |session|}}
            <tr class="{{if session.isDeleted 'danger' 'default'}}">
              <td>
                {{#if session.isNew}}
                  {{#power-select
                    options=kindOptions
                    search=(perform searchTask)
                    selected=session.kind
                    onchange=(action (mut session.kind))
                    placeholder="Choose Session Kind"
                    allowClear=true
                    as |kind|
                  }}
                    {{kind}}
                  {{/power-select}}
                {{else}}
                  {{session.kind}}
                {{/if}}
              </td>
              <td>
                {{#if session.isNew}}
                  {{#power-select
                    options=numOptions
                    selected=session.num_rounds
                    onchange=(action (mut session.num_rounds))
                    placeholder="Number Rounds"
                    allowClear=true
                    as |num_rounds|
                  }}
                    {{num_rounds}}
                  {{/power-select}}
                {{else}}
                  {{session.num_rounds}}
                {{/if}}
              </td>
              <td>{{#if session.isDeleted}}{{fa-icon 'undo' click=(action 'undoSession' session)}}{{else}}{{fa-icon 'times-circle' click=(action 'deleteSession' session)}}{{/if}}</td>
            </tr>
          {{else}}
            <tr>
              <td>No Sessions</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  {{#bs-button type='primary' onClick=(action 'saveSessions')}}Save{{/bs-button}}
  {{#bs-button type='default' onClick=(action 'cancelSessions')}}Cancel{{/bs-button}}
  {{#bs-button type='success' onClick=(action 'newSession')}}New{{/bs-button}}
</section>
