<section>
  <div class='row'>
    <div class='col-md-12'>
      <table class='table'>
        <thead>
          <tr>
            <th class='col-md-2'>Kind</th>
            <th class='col-md-2'>Age</th>
            <th class='col-md-2'>Rounds</th>
            <th class='col-md-4'>Awards</th>
            <th class='col-md-1'>Delete</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedSessions as |session|}}
            <tr>
              <td>{{#link-to 'admin.contest-manager.session.details' session}}{{session.kind}}{{/link-to}}</td>
              <td>{{session.age}}</td>
              <td>{{session.num_rounds}}</td>
              <td>{{participants-helper session.participants}}</td>
              <td>{{fa-icon 'times-circle' click=(action 'deleteSession' session) class='text-danger'}}</td>
            </tr>
          {{else}}
            <tr>
              <td>No Sessions</td>
            </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <td>
              {{#power-select
                options=kindOptions
                search=(perform searchTask)
                selected=kind
                onchange=(action (mut kind))
                placeholder="Choose Session Kind"
                allowClear=true
                as |kind|
              }}
                {{kind}}
              {{/power-select}}
            </td>
            <td>
              {{#power-select
                options=ageOptions
                search=(perform searchTask)
                selected=age
                onchange=(action (mut age))
                placeholder="Choose Session Age"
                allowClear=true
                as |age|
              }}
                {{age}}
              {{/power-select}}
            </td>
            <td>
              {{#power-select
                options=numOptions
                selected=num_rounds
                onchange=(action (mut num_rounds))
                placeholder="Number Rounds"
                allowClear=true
                as |num_rounds|
              }}
                {{num_rounds}}
              {{/power-select}}
            </td>
            <td>
              {{#power-select-multiple
                options=participantOptions
                selected=participants
                onchange=(action (mut participants))
                placeholder="Choose Participants Options"
                disabled=isDisabled
                allowClear=true
                as |participants|
              }}
                {{participants.name}}
              {{/power-select-multiple}}
            </td>
            <td>
              {{fa-icon 'plus-circle' click=(action 'createSession') class='text-success'}}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>
