<section>
  <div class='row'>
    <div class='col-md-6'>
      <table class='table'>
        <thead>
          <tr>
            <th class='col-md-4'>Name</th>
            <th class='col-md-2'>Rounds</th>
            <th class='col-md-2'>Prelims</th>
            <th class='col-md-1'>Delete</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedSessions as |session|}}
            <tr>
              <td>{{session.kind}}</td>
              <td>{{session.num_rounds}}</td>
              {{!-- <td>{{#if session.is_prelims}}{{fa-icon 'check-circle' class='text-success'}}{{/if}}</td> --}}
              <td>{{if session.is_prelims "Yes" "No"}}</td>
              <td>{{fa-icon 'times-circle' click=(action 'deleteSession' session) class='text-danger'}}</td>
            </tr>
          {{else}}
            <tr>
              <td>No Sessions</td>
            </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <td>
              {{#power-select
                options=kindOptions
                search=(perform searchTask)
                selected=kind
                onchange=(action (mut kind))
                placeholder="Choose Session Kind"
                allowClear=true
                as |kind|
              }}
                {{kind}}
              {{/power-select}}
            </td>
            <td>
              {{#power-select
                options=numOptions
                selected=num_rounds
                onchange=(action (mut num_rounds))
                placeholder="Number Rounds"
                allowClear=true
                as |num_rounds|
              }}
                {{num_rounds}}
              {{/power-select}}
            </td>
            <td>
              {{#power-select
                options=booleanOptions
                selected=is_prelims
                onchange=(action (mut is_prelims))
                placeholder="Prelims"
                allowClear=true
                as |is_prelims|
              }}
                {{if is_prelims 'Yes' 'No'}}
              {{/power-select}}
            </td>
            <td>{{fa-icon 'plus-circle' click=(action 'createSession') class='text-success'}}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>
