<section>
  <div class='row'>
    <div class='col-md-9'>
      <table class='table'>
        <thead>
          <tr>
            <th class='col-md-2'>Kind</th>
            {{!-- <th class='col-md-2'>Rounds</th> --}}
            {{!-- <th class='col-md-6'>Contests</th> --}}
            <th class='col-md-1'>Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedSessions as |session|}}
            <tr>
              {{#if session.isLoading}}
                <td colspan=2>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
              {{else}}
                <td>
                  {{#link-to 'dashboard.convention-manager.convention.sessions.session' session}}{{session.kind}}{{/link-to}}
                </td>
                <td>{{session.status}}</td>
              {{/if}}
            </tr>
          {{else}}
            <tr>
              <td>No Sessions</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>
{{!-- <section>
  {{#bs-button type='success' onClick=(action 'createSession')}}Create New Session{{/bs-button}}
</section> --}}