<section>
  <div class='row'>
    <div class='col-md-9'>
      <table class='table'>
        <thead>
          <tr>
            <th class='col-md-2'>Kind</th>
            {{!-- <th class='col-md-2'>Age</th> --}}
            <th class='col-md-6'>Contests</th>
            <th class='col-md-1'>Delete</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedSessions as |session|}}
            <tr>
              <td>{{session.kind}}</td>
              {{!-- <td>{{session.age}}</td> --}}
              {{!-- <td>{{session.num_rounds}}</td> --}}
              <td>
                {{sorted-contests session=session}}
              </td>
              <td>{{fa-icon 'times-circle' click=(action 'deleteSession' session) class='text-danger'}}</td>
            </tr>
          {{else}}
            <tr>
              <td>No Sessions</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>
<section>
  {{#bs-button onClick=(action (mut openModal) true) type='success'}}Create New Session{{/bs-button}}
</section>
<section>
  {{#bs-modal-simple
    open=openModal
    onHidden=(action "clearSession")
    title="Create Session"
    closeTitle="Cancel"
    submitTitle="Save"
    backdropClose=false
  }}
    {{#bs-form
      model=this
      formLayout='vertical'
      onSubmit=(action 'createSession')
      as |form|
    }}
      {{#form.element property='kind' useIcons=false as |el|}}
        {{#power-select
          renderInPlace=true
          options=kindOptions
          selected=el.value
          onchange=(action (mut el.value))
          placeholder="Choose Session Kind"
          allowClear=true
          as |kind|
        }}
          Kind: {{kind}}
        {{/power-select}}
      {{/form.element}}
      {{#form.element property='awards' useIcons=false as |el|}}
        {{#if awardOptions}}
          Select Contests for this Session:<br><br>
          {{multiselect-checkboxes
            options=awardOptions
            labelProperty='name'
            selection=el.value
            updateSelectionValue=false
            onchange=(action (mut el.value))
          }}
          <br><br>
          If you need to create new awards, you can do so in the {{#link-to 'dashboard.award-manager'}}Award Manager{{/link-to}}.
        {{/if}}
      {{/form.element}}
    {{/bs-form}}
  {{/bs-modal-simple}}
</section>
