<section>
  <section>
    <div class='panel panel-default'>
      <div class='panel-heading fixed-panel-header'>
        <ul class='list-inline pull-right'>
          {{!-- <li>{{#bs-button disabled=isPrevDisabled onClick=(action 'previousItem' model)}}Previous{{/bs-button}}</li> --}}
          {{!-- <li>{{#bs-button disabled=isNextDisabled onClick=(action 'nextItem' model)}}Next{{/bs-button}}</li> --}}
        </ul>
        <h4>
          {{model.nomen}}
        </h4>
      </div>
      <div class='panel-body'>
        <section>
          <div class='table-responsive'>
            <table class='table'>
              <caption>Available Awards</caption>
              <thead>
                <tr>
                  <th>Include?</th>
                  <th {{action 'sortBy' 'name'}}>Name</th>
                </tr>
              </thead>
              <tbody>
                {{#each filteredAwards as |award|}}
                    <tr>
                      <td>{{contest-checkbox award=award contests=model.contests model=model}}</td>
                      <td>{{award.name}}</td>
                    </tr>
                {{else}}
                  <tr>
                    <td colspan=2>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </section>
      </div>
      <div class='panel-footer fixed-panel-footer'>
        {{#if model.permissions.write}}
          {{#if (eq model.status 'New')}}
            {{#bs-button type='primary' onClick=(perform scheduleSession)}}
              {{#if scheduleSession.isRunning}}
                Scheduling {{fa-icon "spinner" spin=true}}
              {{else}}
                Schedule Session
              {{/if}}
            {{/bs-button}}
          {{/if}}
        {{/if}}
        <div class='pull-right'>
          <h4>
            Session Status: <strong>{{model.status}}</strong>
          </h4>
        </div>
      </div>
    </div>
  </section>
</section>