{{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
<section>
  <div>
    <table class='table'>
      <thead>
        <tr>
          <th {{action 'sortBy' 'name:asc'}}>Name</th>
          <th {{action 'sortBy' 'status:asc'}}>Status</th>
          <th {{action 'sortBy' 'convention.name:asc'}}>Convention</th>
          <th {{action 'sortBy' 'convention.start_date:asc'}}>Date</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedSessions as |session|}}
          <tr>
            <td>{{#link-to 'admin.scoring-manager.session' session}}{{session.name}}{{/link-to}}</td>
            <td>{{session.status}}</td>
            <td>{{session.convention.name}}</td>
            <td>{{moment-format session.convention.start_date 'LL'}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{!-- {{add-convention}} --}}
  </div>
</section>
