<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4>
        {{model.nomen}}: {{model.status}}
      </h4>
      <ul class='list-inline'>
        <li>{{#link-to 'admin.scoring-manager.session.rounds' model}}Rounds{{/link-to}}</li>
        <li>{{#link-to 'admin.scoring-manager.session.reports' model}}Reports{{/link-to}}</li>
      </ul>
    </div>
      <div class='panel-body'>
        {{!-- {{#bs-form-group}}
          {{#bs-button-group as |bg|}}
            {{#bg.button onChange=(action 'validateCurrent') class='form-group'}}Validate {{model.current.kind}}{{/bg.button}}
            {{#bg.button onChange=(action 'startCurrent') class='form-group'}}Start {{model.current.kind}}{{/bg.button}}
            {{#bg.button onChange=(action 'finishCurrent') class='form-group'}}Finish {{model.current.kind}}{{/bg.button}}
            {{#bg.button onChange=(action 'publishCurrent') class='form-group'}}Publish {{model.current.kind}}{{/bg.button}}
          {{/bs-button-group}}
        {{/bs-form-group}} --}}
        {{!-- {{#bs-form-group}} --}}
          {{!-- {{select-round rounds=model.rounds current=model.current model=model}} --}}
        {{!-- {{/bs-form-group}} --}}
      </div>
  </div>
</section>
<section>
  {{outlet}}
</section>
