<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'admin'}}Conventions{{/link-to}}</li>
    <li>{{#link-to 'admin.convention' model.session.convention}}{{model.session.convention.name}}{{/link-to}}</li>
    <li>{{#link-to 'admin.convention.session' model.session}}{{model.session.kind}}{{/link-to}}</li>
    <li class='active'>{{model.group.name}}</li>
  </ol>
</div>
<section class='panel panel-default'>
  <div class='panel-heading'>
    <h3>
      Performer Details
    </h3>
  </div>
  <div class='panel-body'>
      {{performer-status model=model status=model.status class='form-group'}}
      {{select-organization model=model organization=model.organization class='form-group'}}
      {{#bs-button action=(action 'buildPerformer') class='form-group'}}Build{{/bs-button}}
      {{#bs-button action=(action 'scratchPerformer') class='form-group'}}Scratch{{/bs-button}}
      {{#bs-button action=(action 'disqualifyPerformer') class='form-group'}}Disqualify{{/bs-button}}
  </div>
</section>
<section>
 {{#bs-accordion selected=selected collapsed=collapsed}}
     {{#bs-accordion-item value="2" title="Contests"}}
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.contestants as |contestant|}}
              <tr>
                <td>
                  {{#link-to 'admin.convention.session.contest' contestant.contest}}{{contestant.contest.award.name}}{{/link-to}}
                </td>
                <td>
                  {{contestant-status model=contestant status=contestant.status}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li><a href='#' {{action 'deleteContest' judge}}>Delete</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        {{add-contestant-contest performer=model}}

     {{/bs-accordion-item}}
     {{#bs-accordion-item value="3" title="Submissions"}}
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.submissions as |submission|}}
              <tr>
                <td>
                  {{submission.chart.name}}
                </td>
                <td>
                  {{submission.status}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li>{{#link-to "index"}}Something{{/link-to}}</li>
                      <li>{{#link-to "index"}}Something different{{/link-to}}</li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
            {{add-chart performer=model}}
          </tbody>
        </table>
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="1" title="Roles"}}
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Part</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.roles as |role|}}
              <tr>
                <td>
                  {{role.person.name}}
                </td>
                <td>
                  {{role.part}}
                </td>
                <td>
                  {{role.status}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li>{{#link-to "index"}}Something{{/link-to}}</li>
                      <li>{{#link-to "index"}}Something different{{/link-to}}</li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
            {{add-role performer=model}}
          </tbody>
        </table>
     {{/bs-accordion-item}}
 {{/bs-accordion}}
</section>