<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'admin'}}Conventions{{/link-to}}</li>
    <li>{{#link-to 'admin.convention' model.session.convention}}{{model.session.convention.name}}{{/link-to}}</li>
    <li>{{#link-to 'admin.convention.session' model.session}}{{model.session.kind}}{{/link-to}}</li>
    <li class='active'>{{model.group.name}}</li>
  </ol>
</div>
<section class='panel panel-default'>
  <div class='panel-heading'>
    <h3>
      Entrant Details
    </h3>
  </div>
  <div class='panel-body'>
      {{#if isEditing}}
        {{performer-status model=model status=model.status class='form-group'}}
        {{select-organization model=model organization=model.organization class='form-group'}}
        {{#if (eq model.group.kind 'Chorus')}}
          {{select-director model=model role=model.director class='form-group'}}
          {{select-codirector model=model role=model.codirector class='form-group'}}
          {{men-edit model=model men=model.men}}
        {{else}}
          {{select-tenor model=model role=model.tenor class='form-group'}}
          {{select-lead model=model role=model.lead class='form-group'}}
          {{select-baritone model=model role=model.baritone class='form-group'}}
          {{select-bass model=model role=model.bass class='form-group'}}
        {{/if}}
        {{bs-button defaultText="Save" type="primary" buttonType="submit"}}
        {{#bs-button action=(action 'cancelPerformer')}}Cancel{{/bs-button}}
        {{#bs-button action=(action 'deletePerformer') class='pull-right btn-danger'}}Delete{{/bs-button}}
        {{!-- {{#bs-button action=(action 'scratchPerformer') class='form-group'}}Scratch{{/bs-button}} --}}
        {{!-- {{#bs-button action=(action 'disqualifyPerformer') class='form-group'}}Disqualify{{/bs-button}} --}}
      {{else}}
        <p>{{#link-to 'admin.group' model.group class='form-group'}}{{model.group.name}}{{/link-to}}</p>
        <p>{{model.status}}</p>
        <p>{{model.organzation}}</p>
        {{#if (eq model.group.kind 'Chorus')}}
          <p>{{model.director.name}}</p>
          <p>{{model.codirector.name}}</p>
          <p>{{model.men}}</p>
        {{else}}
         <p>{{model.tenor}}</p>
         <p>{{model.lead}}</p>
         <p>{{model.baritone}}</p>
         <p>{{model.bass}}</p>
        {{/if}}
        {{#bs-button action=(action 'editPerformer')}}Edit{{/bs-button}}
        {{#bs-button action=(action 'newPerformer') class='btn-primary pull-right'}}New{{/bs-button}}
      {{/if}}
  </div>
</section>
<section>
 {{#bs-accordion selected=selected collapsed=collapsed}}
     {{#bs-accordion-item value="2" title="Contestants"}}
        <table class='table'>
          <thead>
            <tr>
              <th>Contest</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.contestants as |contestant|}}
              <tr>
                <td>
                  {{#link-to 'admin.convention.session.contest' contestant.contest}}{{contestant.contest.award.name}}{{/link-to}}
                </td>
                <td>
                  {{contestant-status model=contestant status=contestant.status}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li><a href='#' {{action 'deleteContestant' contestant}}>Delete</a></li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        {{add-contestant-contest performer=model}}

     {{/bs-accordion-item}}
     {{#bs-accordion-item value="3" title="Submissions"}}
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.submissions as |submission|}}
              <tr>
                <td>
                  {{submission.chart.name}}
                </td>
                <td>
                  {{submission.status}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li>{{#link-to "index"}}Something{{/link-to}}</li>
                      <li>{{#link-to "index"}}Something different{{/link-to}}</li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        {{add-chart performer=model class='form-group'}}
     {{/bs-accordion-item}}
     {{!-- {{#bs-accordion-item value="1" title="Roles"}}
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Part</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.roles as |role|}}
              <tr>
                <td>
                  {{role.person.name}}
                </td>
                <td>
                  {{role.part}}
                </td>
                <td>
                  {{role.status}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button size='sm'}}Actions <span class="caret"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      <li>{{#link-to "index"}}Something{{/link-to}}</li>
                      <li>{{#link-to "index"}}Something different{{/link-to}}</li>
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        {{add-role performer=model}}
     {{/bs-accordion-item}} --}}
 {{/bs-accordion}}
</section>